<div class="middleContainer">
  <horizontal-collapse :seek="(boolean) false">
    <div class="container" v-if="isSubSourceAvailable">
      <div class="content">
        <div class="row margin">
          <h2 class="title"
            v-debug:sourceListDetailEmissionSourceType>{{ i18n.esDetailTypeTitle(source.getEmissionSourceType()) }}</h2>
          <button-icon v-debug:sourceListDetailButtonClose
            class="buttonClose"
            fontSize="16px"
            :titleText="i18n.ariaLabelClose()"
            @select="close()"
            iconClass="icon-close" />
        </div>
        <component :is="emissionDetailEditorType"
          class="margin"
          @warnings="onDetailEditorWarningChange((boolean) $event)"
          @errors="onDetailEditorErrorChange((boolean) $event)"
          :source="source"
          :subSource="subSource"
          :selectedIndex="selectedIndex" />
      </div>
    </div>
  </horizontal-collapse>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";
@import "../../../horizontal-collapse.scss";

.middleContainer {
  flex-grow: 1;
  display: flex;
}

.container {
  overflow: hidden;
  width: var(--middle-section-width);
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.margin {
  padding: 0px var(--spacer);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  flex-grow: 1;
}

.buttonClose {
  margin-top: var(--spacer);
  height: var(--row-height-generous);
}
</style>
