<horizontal-collapse>
  <div class="iconBarrage" v-if="reveal"
    :class='map(e("icon-error", showError), e("icon-warning", showWarning))'
    role="alert" aria-live="polite" :aria-label="ariaLabel">
    <template v-if="showError || showWarning">
      <div class="text" :aria-disabled="true">{{ errorWarningText }}</div>
      <div class="iconContainer">
        <i class="icon icon-alert"></i>
      </div>
    </template>
  </div>
</horizontal-collapse>

<style lang="scss" scoped>
@import "../../../horizontal-collapse.scss";

.iconBarrage {
  display: flex;
  gap: var(--half-spacer);
  align-items: center;

  &.icon-warning {
    --notice-color: var(--warning-color);
  }
  &.icon-error {
    --notice-color: var(--error-color);
  }
}

.text {
  font-weight: normal !important;
  text-align: right;

  color: var(--notice-color);
}

.iconContainer {
  width: 24px;
  display: flex;
  align-items: center;

  .icon {
    font-size: 24px;
    color: var(--notice-color);
  }
}
</style>
