<div>
  <validation-behaviour :errors="!isGeometryValid || !isGeometryComplete || !isValidGeometryType || selfIntersecting"
    :warnings="isGeometryConcave"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />

  <minimal-input
    :showError="displayProblems && (!isGeometryValid || !isGeometryComplete || !isValidGeometryType) && !isConversionError"
    :errorMessage="geometryValidErrorMessage"
    :class='map(e("error-input", displayProblems && (isConversionError || !isValidGeometryType)), e("warning-input", isGeometryConcave), e("notice-input", isConvertedGeometry))'>
    <input type="text"
      :id="id"
      :placeholder="getPlaceholderText()"
      :value="locationDisplayString"
      v-debug:wktGeometry
      @input="updateFromDirectInput" />
  </minimal-input>
  <vertical-collapse>
    <div class="notice" v-if="isConvertedGeometry">
      <div>
        <span>{{ conversionNotice }}</span> <a href="#"
          :title="i18n.esLocationConfirmConverted()"
          @click.stop.prevent="insertConvertedCoordinates()">{{ conversionResultWkt }}</a>
      </div>
    </div>
  </vertical-collapse>
  <input-warning :showWarning="isGeometryConcave"
    :roundBottom="true"
    :warningMessage="geometryConcaveWarning" />
  <input-warning :showWarning="isGeometryTooLarge"
    :roundBottom="true"
    :warningMessage="geometryToLargeWarning" />
  <input-error :showError="selfIntersecting"
    :roundBottom="true"
    :errorMessage="() -> i18n.geometrySelfIntersects()" />
  <input-error :showError="isConversionError"
    :roundBottom="true"
    :errorMessage="conversionErrorNotice" />
  <slot name="error"></slot>
</div>

<style scoped lang="scss">
@import "../../../vertical-collapse.scss";

.notice {
  background: var(--notice-color);
  border: 1px solid var(--theme-color);
  color: var(--text-color);

  a {
    color: var(--text-color);
  }

  div {
    padding: var(--spacer) var(--half-spacer);
  }
}
</style>
