<vue-gwt:import class="java.util.Arrays" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.calculation.MetDatasetType" />

<div class="met-site-settings-container">
  <validation-behaviour
    :warnings="hasChildWarnings"
    :errors="isInvalid || hasChildErrors"
    @warnings="emitWarnings((boolean) $event)"
    @errors="emitErrors((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <toggle-buttons groupId="datasetTypeSelection"
    :selected="(Object) datasetTypeFlow"
    :options="datasetTypeFlowOptions"
    @select="handleDatasetTypeFlowSelection((String) $event)">
    <template slot-scope="{ String option }">{{ i18n.calculateMetDatasetTypeFlowOption(option) }}</template>
    <template slot="tabs">
      <labeled-input :label="i18n.calculateMeteoDataTypeLabel()"
        name="metDatasetType"
        :gap="false"
        division="1fr 1fr"
        :transparent="true"
        :showError="v.dirty && v.metDatasetType.invalid"
        :errorMessage="() -> i18n.validationRequired()">
        <simple-listbox id="metDatasetType"
          v-debug:metDatasetType
          :options="getMetDatasetTypes(datasetTypeFlow)"
          :selected="metDatasetTypeV"
          :placeholder="i18n.dropdownPlaceholder()"
          @select="selectMetDatasetType((MetDatasetType) $event)">
          <template slot-scope="{ MetDatasetType option }">{{i18n.calculateMetDatasetType(option.name()) }}</template>
        </simple-listbox>
      </labeled-input>
    </template>
  </toggle-buttons>

  <toggle-buttons groupId="metSiteSelection"
    :selected="metSiteFlow"
    :options="metSiteFlowOptions"
    @select="handleMetSiteFlowSelection((String) $event)">
    <template slot-scope="{ String option }">{{ i18n.calculateMetSiteFlowOption(option) }}</template>
    <template slot="tabs">
      <met-site-suggest v-if="isSuggestFlow"
        :composition="composition"
        @errors='trackChildError("met-site-location-select", (boolean) $event)'
        @warnings='trackChildWarning("met-site-location-select", (boolean) $event)'
        :siteLocations="siteLocations"
        :options="options" />
      <met-site-search v-if="isSearchFlow"
        @errors='trackChildError("met-site-location-select", (boolean) $event)'
        @warnings='trackChildWarning("met-site-location-select", (boolean) $event)'
        :siteLocations="siteLocations"
        :options="options" />
    </template>
  </toggle-buttons>

  <labeled-input :label="i18n.calculateMeteoSiteYearsLabel()"
    name="siteYears"
    division="1fr 1fr"
    :gap="false"
    :transparent="true"
    :showError="v.dirty && isMetYearInvalid"
    :errorMessage="() -> i18n.errorMetYearSelectionNotEmpty()">
      <simple-listbox
        id="siteYears"
        v-debug:siteLocation
        :strict="false"
        :options="meteoSiteYears"
        :selected="meteoSiteYear"
        :placeholder="i18n.dropdownPlaceholder()"
        @select="selectSiteYear((String) $event)"
        @select-unknown="selectSiteYear((String) $event)">
        <option slot="optionsBefore" :value="recentYears" v-if="hasMultipleMeteoYears">{{ getRecentYearsText() }}</option>
        <template slot-scope="{ String option }">{{ option }}</template>
      </simple-listbox>
  </labeled-input>
  <input-hint :show-notice="!hasMeteoYears"
    :notice-message='() -> i18n.calculateMetYearSelectionCriteria()'
    :round-bottom="true" />

  <labeled-input :label="i18n.calculateMeteoSiteRemarks()"
    name="remarks"
    division="1fr"
    :gap="true"
    :transparent="true">
    <div>{{ remarks }}</div>
  </labeled-input>
</div>

<style lang="scss" scoped>
.met-site-settings-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: var(--spacer);
  
  h4 {
    margin: 0;
    margin-bottom: var(--half-spacer);
  }
}
</style>
