<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionSourceFeature" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.notice.NoticeRule" />

<div class="development-pressure-search-container">
  <validation-behaviour
    :warnings="hasWarnings"
    :errors="isInvalid"
    @warnings="emitWarnings((boolean) $event)"
    @errors="emitErrors((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <input-warning class="notice-margin"
    :showWarning="hasEmissionSourcesWithoutEmissions()"
    :warningMessage="() -> i18n.calculateSourcesSomeHaveNoEmissions()"
    :round="true" />

  <div v-if="areAlwaysVisibleErrorsShowing()"
    v-for="NoticeRule rule in getAlwaysVisibleErrorsShowing()"
    class="notice-margin" >
    <vertical-collapse>
      <input-error class="margin"
        :noticeRule="rule"
        :round="true" />
    </vertical-collapse>
  </div>
  <div v-if="areSaveOnlyErrorsShowing()"
    v-for="NoticeRule rule in getSaveOnlyErrorsShowing()"
    class="notice-margin" >
    <vertical-collapse>
      <input-error class="margin"
        :noticeRule="rule"
        :round="true" />
    </vertical-collapse>
  </div>

  <div v-if="!areAlwaysVisibleErrorsShowing()">
    <div class="top-text">
      <div>{{ i18n.calculationJobDevelopmentPressureSearchHeader() }}</div>
      <div>{{ i18n.calculationJobDevelopmentPressureSearchAmount(i18n.xOutOfY(selectedEmissionSourceIds.size(), getAllEmissionSources().size())) }}</div>
    </div>
    <div class="sources">
      <vertical-collapse>
        <div v-if="hasRoadEmissionSources">
          <div class="row" @click="toggleRoadNetwork()">
            <collapsible-button class="collapsible" :expanded="roadGroupOpen" />
            <div class="iconColumn"
              v-debug:roadNetworkIcon><i class="icon-traffic-network"></i></div>
            <div class="labelColumn"
              v-debug:roadNetworkDescription>{{ i18n.esRoadNetwork() }}</div>
          </div>
          <div class="roadSources">
            <vertical-collapse-group>
              <aer-emission-source-row :source="source"
                v-for="(EmissionSourceFeature source, index) in roadEmissionSources"
                :key="source.getId()"
                class="roadItem"
                @keyup.enter.space.native="toggleEmissionSource(source)"
                @click.native="toggleEmissionSource(source)"
                :aria-selected="isSelected(source)"
                :class='map("selected", isSelected(source))' />
            </vertical-collapse-group>
            <button v-if="areSourcesLimited"
              class="showAll"
              @click="increaseLimit()">{{ i18n.esRoadNetworkShowMoreSources(limitIncrement) }}</button>
          </div>
        </div>
      </vertical-collapse>

      <vertical-collapse-group>
        <aer-emission-source-row :source="source"
          v-for="EmissionSourceFeature source in emissionSources"
          :key="source.getId()"
          @keyup.enter.space.native="toggleEmissionSource(source)"
          @click.native="toggleEmissionSource(source)"
          class="item"
          :aria-selected="isSelected(source)"
          :class='map("selected", isSelected(source))' />
      </vertical-collapse-group>
    </div>
  </div>
</div>

<style lang="scss" scoped>
@import "../../../../../row-item.scss";
@import "../../../../../vertical-collapse.scss";

.development-pressure-search-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: var(--spacer);
  
  .notice-margin {
    margin: var(--spacer);
    margin-bottom: 0;
  }
  
  .padding {
    padding: var(--spacer);
  }
  
  .top-text {
    padding: var(--spacer);
  }
  
  .highlighted {
    background: var(--theme-color-light);
    color: black;
  }
  
  .collapsible {
    margin: 0px 3px;
  }
  
  .sources {
    .iconColumn {
      font-size: 34px;
      min-width: 34px;
      line-height: 34px;
    }
    
    .labelColumn {
      color: inherit;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    
    .row {
      &:first-child {
        border-top: var(--half-separator);
      }
      &:last-child {
        border-bottom: var(--half-separator);
      }
    }
    
    .roadSources {
      background: white;

      .roadItem {
        margin-left: var(--spacer);
      }
    }
  }
}
</style>
