<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>

<div>
  <validation-behaviour
    :warnings="hasChildWarnings"
    :errors="isInvalid || hasChildErrors"
    @warnings="emitWarnings((boolean) $event)"
    @errors="emitErrors((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <div class="options">
    <div class="flex-with-gap">
      <h4>{{ i18n.calculateDispersionOptionsTitle() }}</h4>
      <vertical-collapse>
        <labeled-input :label="i18n.calculateObukhovLengthLabel()"
          name="minMoninObukhovLength"
          division="1fr 1fr"
          :gap="false"
          :transparent="true"
          :showError="v.minMoninObukhovLength.invalid"
          :errorMessage="this::obukhovLengthError">
          <input-with-unit :unit="i18n.unitSingularMeter()"
            :unitDescription="i18n.unitSingularMeterDescription()">
            <input type="number"
              id="minMoninObukhovLength"
              v-model="minMoninObukhovLength"
              v-debug:minMoninObukhovLength />
          </input-with-unit>
        </labeled-input>
      </vertical-collapse>

      <vertical-collapse>
        <labeled-input :label="i18n.calculateSurfaceAlbedoLabel()"
          name="surfaceAlbedo"
          division="1fr 1fr"
          :gap="false"
          :transparent="true"
          :showError="v.surfaceAlbedo.invalid"
          :errorMessage="this::surfaceAlbedoError">
          <input type="number"
            id="surfaceAlbedo"
            v-model="surfaceAlbedo"
            v-debug:surfaceAlbedo />
        </labeled-input>
      </vertical-collapse>

      <vertical-collapse>
        <labeled-input :label="i18n.calculatePriestleyTaylorLabel()"
          name="priestleyTaylorParameter"
          division="1fr 1fr"
          :gap="false"
          :transparent="true"
          :showError="v.priestleyTaylorParameter.invalid"
          :errorMessage="this::priestleyTaylorError">
          <input type="number"
            id="priestleyTaylorParameter"
            v-model="priestleyTaylorParameter"
            v-debug:priestleyTaylorParameter />
        </labeled-input>
      </vertical-collapse>

      <vertical-collapse>
        <labeled-input :label="getPlumeDepletionLabel(Substance.NH3)"
          name="plumeDepletionNH3"
          division="1fr 1fr"
          :gap="false"
          :transparent="true">
          <checkbox v-model="plumeDepletionNH3"
            id="plumeDepletionNH3"
            v-debug:plumeDepletionNH3 />
        </labeled-input>
      </vertical-collapse>
  
      <vertical-collapse>
        <labeled-input :label="getPlumeDepletionLabel(Substance.NOX)"
          name="plumeDepletionNOX"
          division="1fr 1fr"
          :gap="false"
          :transparent="true">
          <checkbox v-model="plumeDepletionNOX"
            id="plumeDepletionNOX"
            v-debug:plumeDepletionNOX />
        </labeled-input>
      </vertical-collapse>

      <vertical-collapse>
        <labeled-input :label="i18n.calculateComplexTerrainLabel()"
          name="complexTerrain"
          division="1fr 1fr"
          :gap="false"
          :transparent="true">
          <checkbox v-model="complexTerrain"
            id="complexTerrain"
            v-debug:complexTerrain />
        </labeled-input>
      </vertical-collapse>
    </div>

    <divider type="small" />

    <div class="flex-with-gap">
      <h4>{{ i18n.calculatePrimaryfNO2Title() }}</h4>

      <labeled-input :label="i18n.calculatePrimaryfNO2ReceptorPointsLabel()"
        name="roadLocalFractionNO2Receptors"
        :gap="false"
        division="1fr 1fr"
        :transparent="true">
        <simple-listbox id="roadLocalFractionNO2Receptors"
          v-debug:roadLocalFractionNO2Receptors
          :options="roadLocalFractionNO2ReceptorsOptions()"
          :selectedKey="roadLocalFractionNO2ReceptorsOption"
          :nameFunction="nameCalculatePrimaryfNO2Option"
          :placeholder="i18n.dropdownPlaceholder()"
          @select-key='selectRoadLocalFractionNO2ReceptorsOption((String) $event)' />
      </labeled-input>

      <labeled-input :label="i18n.calculatePrimaryfNO2PointsLabel()"
        name="roadLocalFractionNO2Points"
        :gap="false"
        division="1fr 1fr"
        :transparent="true">
        <simple-listbox id="roadLocalFractionNO2Points"
          v-debug:roadLocalFractionNO2Points
          :options="roadLocalFractionNO2PointsOptions()"
          :selectedKey="roadLocalFractionNO2PointsOption"
          :nameFunction="nameCalculatePrimaryfNO2Option"
          :placeholder="i18n.dropdownPlaceholder()"
          @select-key='selectRoadLocalFractionNO2PointsOption((String) $event)' />
      </labeled-input>

      <vertical-collapse>
        <labeled-input :label="i18n.calculatePrimaryfNO2CustomLabel()"
          v-if="roadLocalFractionNO2Visible"
          name="roadLocalFractionNO2"
          division="1fr 1fr"
          :gap="false"
          :transparent="true"
          :showError="v.roadLocalFractionNO2.error && roadLocalFractionNO2Visible"
          :errorMessage="this::roadLocalFractionNO2Error">
          <input type="number"
            id="roadLocalFractionNO2"
            v-model="roadLocalFractionNO2"
            v-debug:roadLocalFractionNO2 />
        </labeled-input>
      </vertical-collapse>
    </div>
  </div>
</div>

<style lang="scss" scoped>
@import "../../../../../vertical-collapse.scss";
@import "../../../../../components/input/inputs.scss";

.checkboxContent {
  columns: 2;
  gap: var(--spacer);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--half-spacer) 0px;
}

.options {
  display: flex;
  flex-direction: column;

  h4 {
    margin: 0;
    margin-bottom: var(--half-spacer);
  }
}

.flex-with-gap {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
  padding: var(--spacer);
}
</style>
