<div>
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.calculateMeteoSiteLocationsLabel()"
    name="siteLocation"
    division="1fr"
    :gap="true"
    :transparent="true">
    <div class="tab-panel">
      <div>
        <input type="text"
          v-model="metSiteFilterText"
          :placeholder="i18n.calculateMetSearchPlaceholder()" />
        <input-warning :show-warning="searchSiteLocations.isEmpty()"
          :warning-message="() -> i18n.calculateMetSearchNoResults()"
          :round-bottom="true" />
      </div>
      <div>
        <simple-listbox v-if="!searchSiteLocations.isEmpty()"
          id="siteLocation"
          class="met-select"
          v-debug:siteLocation
          :size="Math.max(2, searchSize)"
          :options="searchSiteLocations"
          :selectedKey="meteoSiteLocation"
          :keyFunction="v -> ((MetSite) v).getId()"
          :placeholder="i18n.dropdownPlaceholder()"
          @select="toggleSiteLocation((MetSite) $event)">
          <template slot-scope="{ MetSite option }">{{ option.getName() }}</template>
        </simple-listbox>
        <input-error :show-error="displayProblems && isMetSiteInvalid"
          :error-message="() -> i18n.errorMetSiteSelectionNotEmpty()"
          :round-bottom="true" />
      </div>
    </div>
  </labeled-input>
</div>

<style lang="scss" scoped>
.tab-panel {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
.met-select {
  padding: 0;
  background: white;
  outline: 0;
  
  &:focus {
    border-color: black;
  }
}
</style>
