<div>
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.calculateMeteoSiteLocationsLabel()"
    name="siteLocation"
    division="1fr"
    :gap="true"
    :transparent="true"
    :show-error="displayProblems && isMetSiteInvalid"
    :error-message="() -> i18n.errorMetSiteSelectionNotEmpty()">
    <simple-listbox v-if="!suggestSiteLocations.isEmpty()"
      id="siteLocation"
      class="met-select"
      v-debug:siteLocation
      :size="Math.max(2, suggestSiteLocations.size())"
      :options="suggestSiteLocations"
      :selectedKey="meteoSiteLocation"
      :keyFunction="v -> ((MetSiteWithDistance) v).getSite().getId()"
      :placeholder="i18n.dropdownPlaceholder()"
      @select="toggleSiteLocation(((MetSiteWithDistance) $event).getSite())">
      <template slot-scope="{ MetSiteWithDistance option }">{{ formatDistance(option.getDistance()) + " - " + option.getSite().getName() }}</template>
    </simple-listbox>
    <input-warning :show-warning="suggestSiteLocations.isEmpty()"
      :warning-message="() -> i18n.calculateMetSuggestNoResults()"
      :round-bottom="true" />
  </labeled-input>
</div>

<style lang="scss" scoped>
.tab-panel {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
.met-select {
  padding: 0;
  background: white;
  outline: 0;
  overflow: hidden;
  
  &:focus {
    border-color: black;
  }
}
</style>
