table {
  margin: 0;
  font-weight: 400;
  border-collapse: collapse;
}

tr {
  min-height: 12pt;
  line-height: 12pt;
}

th {
  padding: 0;
  font-size: 7pt;
  font-style: normal;
  color: #808183;
  font-weight: 400;
}

td {
  padding: 0;
  font-size: 8pt;
}

p {
  margin: initial !important;
  line-height: initial !important;
}
