<div>
  <validation-behaviour :errors="v.emissionV.invalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />

  <labeled-input :id='"FarmlandEmissionRow_" + substance.name()'
    :label="i18n.pollutant(substance)"
    :name='"emissionInput" + "_" + substance.name()'
    :errorValidation="v.emissionV"
    :unit="i18n.unitSingularKgPerY()"
    :unitDescription="i18n.unitSingularKgPerYDescription()"
    :errorMessage="this::emissionConversionError">
    <input
      :id='"FarmlandemissionInput_" + substance.name()'
      type="number"
      min="0.000000"
      step="any"
      v-validate:emissionV.input
      v-model="emission"
      :placeholder="0"
      v-debug='"emissionRowFarmland_" + substance.name()'>
</labeled-input>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
</style>
