<div>
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />

  <aer-farmland-custom-emission-row v-for="Substance item in substances"
    @errors='trackChildError("housing", (boolean) $event)'
    @warnings='trackChildWarning("housing", (boolean) $event)'
    :substance="item"
    :farmlandActivity="customFarmlandActivity"/>
</div>
<style scoped lang="scss">
</style>
