<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div class="detail-emission-container">
  <div>{{ i18n.esTitle() }}</div>
  <div class="detail-emission-subcontainer">
    <div class="detail-emission-substance" v-for="Substance substance in substances">
      <div class="detail-label" v-debug='"farmlandDetailEmissionSubstance" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
      <div v-debug='"farmlandDetailEmission" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
    </div>
  </div>
</div>
