<div :class='map(e("floatContainer", floating), e("marginContainer", !floating))'
  class="buttons">
  <notification-button
    ref="notificationButton"
    class="notification"
    :eventBus="eventBus" />
  <stateful-icon-button v-show="isLoginEnabled"
    ref="loginButton"
    :title="i18n.ariaLoginPanelLabel()"
    :open="loginContext.isShowing()"
    @toggle="onLoginPanelClick()"
    @reset="onLoginPanelReset()"
    icon="icon-menu-temporary" />
</div>

<style lang="scss" scoped>
.buttons {
  border: 1px solid var(--grey);
  align-self: flex-start;
}

.floatContainer {
  position: absolute;
  top: var(--anchor-top);
  right: var(--anchor-right);
}
.marginContainer {
  margin-top: var(--anchor-top);
  margin-right: var(--anchor-right);
}
</style>
