<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.M"/>
<vue-gwt:import class="nl.aerius.wui.util.Notification"/>

<div v-show="context.isShowing()"
  ref="notificationPanel"
  class="notificationPanel">
  <vertical-collapse>
    <div class="panel">
      <div v-if="context.hasPersistentNotification()"
        class="notificationContainer"
        :key="-1">
        <notification
          :notification="context.getPersistentNotification()"
          :idx="-1" />
      </div>
      <div class="buttonContainer" :class='map("empty", notifications.isEmpty())'>
        <div v-show="notifications.isEmpty()"
          class="text"
          role="region" aria-live="polite" aria-atomic="true">{{ i18n.notificationNoMessages() }}</div>
        <button v-show="!notifications.isEmpty()"
          class="removeAll"
          @click="removeAll()">{{ i18n.notificationRemoveAllMessages() }}</button>
      </div>
      <vertical-collapse-group
        role="region" aria-live="polite" aria-atomic="true">
        <div v-for="(Notification notification, idx) in notifications"
          class="notificationContainer"
          :key="notification.hashCode()">
          <notification
            :eventBus="eventBus"
            :notification="notification"
            :idx="idx" />
        </div>
      </vertical-collapse-group>
    </div>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../vertical-collapse.scss";
@import "../../variables.scss";

.notificationPanel {
  position: fixed;
  top: calc(var(--modal-top) - 1px);
  right: var(--modal-right);

  z-index: 9999;
  width: var(--info-panel-width);
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: calc(100% - var(--modal-top));
  overflow: auto;

  .panel {
    background: white;
    border-radius: var(--default-radius);

    &.active {
      z-index: 10000;
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      padding: 3px var(--spacer);

      &:not(.empty) {
        border-bottom: 1px solid var(--light-grey);
      }

      .text {
        padding: 8px 0px;
      }

      .removeAll {
        flex-grow: 1;

        @include button;
      }
    }
  }
}

.notificationContainer {
  display: block;

  border-bottom: 1px solid var(--light-grey);
  &:last-child {
    border-bottom: none;
  }
}
</style>
