<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.M"/>
<vue-gwt:import class="com.google.gwt.safehtml.shared.SafeHtmlUtils"/>

<div class="notification"
  :class='map(e("error", notification.isError()), e("warning", notification.isWarning()), e("message", notification.isMessage()))'>
  <p v-if="showDate" class="datetime" :aria-label="i18n.ariaNotificationIdx(idx + 1)">
    <span aria-hidden="true">{{ M.formatDateTime(notification.getDateTime()) }}</span>
  </p>
  <p v-if='notification.hasMessage()'
    class="text"
    v-html="sanitize(notification.getMessage())"></p>
  <p v-else class="text"
    v-html="M.getErrorMessage(notification.getException())"></p>
  <p v-if="hasExceptionReference(notification)">{{ i18n.notificationExceptionReference(getExceptionReference(notification)) }}</p>
  <button-icon v-if="canRemove"
    @click.native="remove(notification)"
    iconClass="icon-btn-delete"
    :titleText="i18n.ariaLabelClose()"
    class="removeButton"
    v-debug:removeButton />
</div>

<style scoped lang="scss">
.notification {
  padding: var(--spacer);
  transition: background var(--anim);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  .removeButton {
    position: absolute;
    right: var(--half-spacer);
    top: var(--half-spacer);
    height: var(--row-height);
    min-width: 30px;
  }

  .datetime {
    color: var(--grey);
    margin: 0px;
  }

  .text {
    margin: 0;
    overflow-wrap: break-word;
  }

  &:hover {
    background: var(--theme-color-light);
  }

  &.error {
    border-left: var(--error-color) var(--spacer) solid;

    &:hover {
      background: var(--error-color-light);
    }
  }

  &.warning {
    border-left: var(--warning-color) var(--spacer) solid;

    &:hover {
      background: var(--warning-color-light);
    }
  }

  &.message {
    border-left: var(--theme-color) var(--spacer) solid;
  }
}
</style>
