<stateful-icon-button :title="i18n.notificationButtonLabel()"
  class="notificationButton"
  :open="context.isShowing()"
  @toggle="onNotificationClick()"
  icon="icon-map-notification">
  <div v-if="context.hasPersistentNotification()" class="persistentNotification">&#42;</div>
  <div v-if="context.getNotificationCount() > 0" class="counter">{{ correctedNotificationCount }}</div>
</stateful-icon-button>

<style scoped lang="scss">
.notificationButton {
  position: relative;
}

.persistentNotification {
  --button-size: 17px;
  width: var(--button-size);
  height: var(--button-size);
  top: -5px;
  left: -10px;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  background-color: var(--light-yellow);
  position: absolute;
  font-size: 19px;

  display: grid;
  place-items: center;
}

.counter {
  --button-size: 20px;
  width: var(--button-size);
  height: var(--button-size);
  line-height: var(--button-size);
  top: -5px;
  right: -5px;
  color: white;
  border: 1px solid white;
  background-color: var(--theme-color);
  position: absolute;
  font-size: 12px;

  display: grid;
  place-items: center;
}
</style>
