<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.characteristics.timevarying.TimeVaryingProfileSelectorComponent.TimeVaryingProfileOption" />

<div class="timeVaryingProfileSelectorContainer">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.timeVaryingProfilePanelTitle(util.getType())"
    :errorGaps="true"
    id="timeVaryingProfileTitle"
    :alignTop="true"
    :transparent="true">
    <input-error slot="error"
      :showError="displayProblems && isInvalid"
      :errorMessage="() -> i18n.timeVaryingProfileMissingError()" />
      <complex-listbox
        :id='"timeVaryingProfileSelection-" + util.getType()'
        v-debug:timeVaryingProfileSelection
        :options="listOptions"
        :groupFunction="groupFunction"
        :keyFunction="keyFunction"
        :nameFunction="nameFunction"
        :selectedKey="selectedKey"
        :strict="false"
        :placeholder="i18n.dropdownPlaceholder()"
        :aria-label="i18n.timeVaryingProfilePanelTitle(util.getType())"
        @select="selectKey((Object) $event)"
        @select-unknown="selectNew((Object) $event)">
        <option slot="optionsAfter" value="CREATE_NEW">{{ i18n.sourceTimeVaryingProfileSelectionCreateNew() }}</option>
     </complex-listbox>
  </labeled-input>

  <vertical-collapse>
    <time-varying-profile-graph-component v-if="timeVaryingProfile != null"
      class="graph"
      width="322"
      height="150"
      :locale="locale"
      :data="timeVaryingProfileData"
      :type="timeVaryingProfileType" />
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../../vertical-collapse.scss";

.timeVaryingProfileSelectorContainer {
  padding: var(--spacer);
}

.graph {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
}

h4 {
  margin: var(--half-spacer) 0px;
}
</style>
