<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.util.TimeVaryingProfileUtil" />

<div class="profiles">
  <time-varying-profile-selector
    @errors='trackChildError("timeVaryingProfile", (boolean) $event)'
    @warnings='trackChildWarning("timeVaryingProfile", (boolean) $event)'
    :eventBus="eventBus"
    :source="source"
    :situation="situation"
    :util="TimeVaryingProfileUtil.THREE_DAY_PROFILE_UTIL" />
  <divider type="small" />
  <time-varying-profile-selector
    @errors='trackChildError("timeVaryingProfile", (boolean) $event)'
    @warnings='trackChildWarning("timeVaryingProfile", (boolean) $event)'
    :eventBus="eventBus"
    :source="source"
    :situation="situation"
    :util="TimeVaryingProfileUtil.MONTHLY_PROFILE_UTIL" />
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";

.profiles {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--half-spacer);
}
</style>
