<div class="devPanel print-hidden"
  v-if="flags.hasDeveloperPanel()">
  <button @click="createMockSituation()">Mock sit</button>
  <button @click="createSimpleSource()">Mock src</button>
  <button @click="goToFarmEditor()">Farm editor</button>
  <simple-listbox class="agri-sectors"
    :options="farmSectors"
    :selected="sector"
    @select="selectSector((Sector) $event)">
    <template slot-scope="{ Object option }">{{ ((Sector) option).getName() }}</template>
  </simple-listbox>
  <button @click="createSimpleBuilding()">Mock bld</button>
  <button @click="createSimpleRoad()">Mock road</button>
  <button @click="goToColdStartEditor()">Mock cold start</button>
  <button @click="doSimpleCalculation()">Simple calc</button>
  <button @click="doComplexCalculation()">Complex calc</button>
  <button @click="createTimeVaryingProfile()">Time-varying profile</button>
  <button @click="createStackedScenario()">Stacked scenario</button>
  <button @click="printMock()">Print mock</button>
  <input v-model="email" class="email" placeholder="Email" />
</div>

<style lang="scss" scoped>
@import "../../variables.scss";

.devPanel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--spacer);
  gap: var(--spacer);
  background: var(--theme-color-light);
  border-bottom: 5px solid var(--theme-color);
}

.agri-sectors, .email {
  width: 100px !important;
}

button {
  @include button;
}
</style>
