<div>
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :id='"EmissionFactorRow_" + substance.name()'
    :label="i18n.pollutant(substance)"
    :name='"emissionFactorInput" + "_" + substance.name()'
    :unit="unit"
    :unitDescription="unitDescription"
    :unitMargin="35"
    :errorValidation="v.emissionFactorV"
    :errorMessage="this::emissionFactorConversionError">
    <input :id='"emissionFactorInput" + "_" + substance.name()'
      type="number"
      min="0.000000"
      step="any"
      v-validate:emissionFactorV.input
      v-model="emissionFactor"
      :placeholder="0"
      :aria-label='"emissionFactorInput" + "_" + substance.name()'
      v-debug='"emissionFactorRow_" + substance.name()' />
  </labeled-input>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
</style>
