<vue-gwt:import class="nl.overheid.aerius.wui.application.resources.util.FarmIconUtil.AdditionalIcon"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div class="innerRow"
  tabindex="0"
  @keyup.enter.space="select()"
  @click="select()"
  :class='map("selected", selected)'>
    <div class="iconColumn"
      v-debug:subSourceListIcon>
      <i class="icon" :class="icon" aria-hidden="true"></i>
      <i v-if="AdditionalIcon.ADJUSTED.is(additionalIcon)"
         class="icon-adjusted-small additionalIcon adjustedIconColor"
         aria-hidden="true"></i>
      <i v-if="AdditionalIcon.WARNING.is(additionalIcon)"
         class="icon-warning-small additionalIcon warningIconColor"
         aria-hidden="true"></i>
    </div>
    <div class="amountColumn"
      v-debug:subSourceListAmount>{{ numberOfAnimals }}</div>
    <div class="labelColumn"
      v-debug:subSourceListDescription>{{ description }}</div>
    <div class="emissionColumn"
      v-debug:subSourceListEmission>{{ MessageFormatter.formatEmissionWithUnitSmart(emission) }}</div>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";
@import "../../../row-item.scss";

.additionalIcon {
  position: absolute;
  left: 0;
  font-size: small;
  margin: 5px;
}

.adjustedIconColor {
  color: var(--adjusted-color);
}

.warningIconColor {
  color: var(--warning-color);
}

.innerRow {
  grid-template-columns: 30px 30px 1fr auto;
}

</style>
