@import "../../../variables.scss";

.mainContent {
  flex-grow: 1;
  padding: var(--spacer);

  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.numberInput {
  text-align: right;
  border: 1px solid var(--light-grey);
}

.error-input, .warning-input {
  border-bottom: 1px solid var(--border-color);
}

.detailRow {
  display: grid;
  grid-template-columns: repeat(var(--columns-without-emission), 15fr) 16fr;
}

.input {
  width: 100%;
  height: 100%;
}
