<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmAnimalHousingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.CustomFarmAnimalHousing"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.StandardFarmAnimalHousing"/>

<div v-if="isSourceAvailable()" class="detailContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <toggle-buttons groupId="farmAnimalHousingType"
    :selected="toggleSelect"
    :options="farmAnimalHousingTypes"
    @select="selectTab((FarmAnimalHousingType) $event)">
    <template slot-scope="{ FarmAnimalHousingType option }">{{ i18n.esFarmAnimalHousingSelectType(option) }}</template>
    <template slot="tabs">
      <farm-animal-housing-standard-emission v-if='toggleSelect == FarmAnimalHousingType.STANDARD'
        @errors='trackChildError("housing", (boolean) $event)'
        @warnings='trackChildWarning("housing", (boolean) $event)'
        :standardFarmAnimalHousing="(StandardFarmAnimalHousing) subSource" />
      <farm-animal-housing-custom-emission v-if='toggleSelect == FarmAnimalHousingType.CUSTOM'
        @errors='trackChildError("housing", (boolean) $event)'
        @warnings='trackChildWarning("housing", (boolean) $event)'
        :customFarmAnimalHousing="(CustomFarmAnimalHousing) subSource" />
    </template>
  </toggle-buttons>
</div>

<style scoped lang="scss">
.detailContainer {
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
