<vue-gwt:import class="nl.overheid.aerius.wui.application.context.ExportContext.ClientJobType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext" />

<!-- Note: defaultContentContainer is part of a UK override -->
<div class="singleColumn defaultContentContainer">
  <h1>{{ i18n.exportTitle() }}</h1>
  <div class="mainContent">
    <toggle-buttons groupId="exportType"
      :buttonMargin="true"
      :selected="toggleSelect"
      :options="availableJobTypes"
      @select="setToggle((ClientJobType) $event)">
      <template slot-scope="{ ClientJobType option }">{{ i18n.exportToggleType(theme, option) }}</template>
      <template slot="tabs">
        <div class="tabContent">
          <p class="label">{{ exportDescription }}</p>
          <export-input-view v-if="toggleSelect == ClientJobType.SOURCES"
            @errors='trackChildError("export", (boolean) $event)'
            @warnings='trackChildWarning("export", (boolean) $event)'
            :metaDataEnabled="metaDataEnabled" />
          <export-calculation-view v-if="toggleSelect == ClientJobType.CALCULATION"
            @errors='trackChildError("export", (boolean) $event)'
            @warnings='trackChildWarning("export", (boolean) $event)'
            :eventBus="eventBus"
            :metaDataEnabled="metaDataEnabled" />
          <export-pdf-view v-if="toggleSelect == ClientJobType.REPORT"
            @errors='trackChildError("export", (boolean) $event)'
            @warnings='trackChildWarning("export", (boolean) $event)'
            :eventBus="eventBus"
            :metaDataEnabled="metaDataEnabled" />
          </div>
      </template>
    </toggle-buttons>

    <!--
    <labeled-input v-if="loggedIn"
      label="Bewaar Export"
      name="protectExport"
      :transparent="true">
      <checkbox v-model="protectExport"
        id="protectExport"
        label="Bewaar Export"
        :accessibleLabel="true"
        class="label" />
    </labeled-input>
     -->
    <labeled-input :label="i18n.exportEmailLabel()"
      name="exportEmail"
      :showError="v.emailV.error"
      :errorMessage="this::emailError"
      class="margin">
      <input id="exportEmail"
        v-debug:exportEmail
        type="email"
        v-model="email">
    </labeled-input>

    <p class="margin"
      v-if="showPrivacyStatement">
      <span v-html="i18n.exportPrivacyStatementText()"></span>
      <a v-if="showPrivacyStatement"
        href="javascript:;"
        @click="navigatePrivacyPolicy()">{{ i18n.exportPrivacyStatementLabel() }}</a>.
    </p>

    <div v-if="isWarnings"
      v-for="NoticeRule rule in exportWarningsShowing">
      <vertical-collapse>
        <input-warning class="margin"
          :noticeRule="rule"
          :round="true" />
      </vertical-collapse>
    </div>
    <div v-if="isInvalid"
      v-for="NoticeRule rule in exportErrorsShowing">
      <vertical-collapse>
        <input-error class="margin"
          :noticeRule="rule"
          :round="true" />
      </vertical-collapse>
    </div>

    <modify-cancel-save
      :encumbered="isWarnings || hasChildWarnings"
      :prevented="isInvalid"
      :confirm="displayProblems"
      :hasCancel="false"
      :saveText="i18n.exportButton()"
      debugId="Export"
      @confirm="setExportNotificationState((boolean) $event)"
      @save="startExport()">
      <div class="warningContainer" slot="encumbered"
        role="alert" aria-live="polite">
        <div class="label">{{ i18n.esButtonSaveEncumberedText() }}</div>
        <div @click="closeWarning()" class="close"
          v-vector="img.iconClose()"></div>
      </div>
      <div class="errorContainer"
        slot="prevented"
        role="alert"
        aria-live="polite"
        v-debug:exportErrorContainer>
        <div class="label">{{ i18n.esButtonSavePreventedText() }}</div>
        <div @click="closeError()" class="close"
          v-vector="img.iconClose()"></div>
      </div>
    </modify-cancel-save>
  </div>

  <export-history :history="exportContext.getHistory()"
    :eventBus="eventBus" />
</div>

<style lang="scss" scoped>
@import "../../../components/input/inputs.scss";
@import "../../../components/input/validations.scss";

.singleColumn {
  display: grid;
  grid-template-columns: 100%;
  gap: var(--spacer);
}

.tabContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  .label {
    padding: 0px var(--spacer);
  }
}

h1 {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.margin {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.exportGml {
  margin-top: var(--spacer);
}

.export {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
  margin-top: var(--spacer);

  display: flex;
  justify-content: flex-end;
}

.error {
  padding: 0px var(--half-spacer);
  color: var(--text-color);
  background-color: var(--error-color-light);
  border: 1px solid var(--error-color);

  div {
    padding: var(--spacer) 0px;
  }
}

</style>
