<div class="exportSummaryContainer">
  <situation-summary-view :situationComposition="situationComposition"
    class="summary" />
  <floating-utility :eventBus="eventBus"
    :floating="false" />
</div>

<style lang="scss" scoped>
.exportSummaryContainer {
  display: flex;

  .summary {
    align-self: flex-start;
    flex-grow: 1;
  }
}
</style>
