<div class="historyContainer">
  <history-item v-for="HistoryRecord item in history"
    @remove="removeItem(item)"
    class="item"
    :item="item" />
</div>

<style lang="scss" scoped>
.historyContainer {
  display: flex;
  flex-direction: column;
  padding: var(--spacer) 0px;

  .item {
    border-top: var(--half-separator);
    border-bottom: var(--half-separator);

    &:first-child {
      border-top: var(--separator);
    }

    &:last-child {
      border-bottom: var(--separator);
    }
  }
}
</style>
