<vue-gwt:import class="nl.overheid.aerius.wui.application.components.progress.JobProgressTextUtil" />

<div class="historyItemRow">
  <job-progress-bar
    class="jobProgressBar"
    :jobProgress="item.getJobProgress()" />
  <div class="historyItem">
    <div class="label">{{ datetime }} - {{ historyItemName }}</div>
    <div>
      <button-icon :titleText="i18n.exportHistoryRemoveItem()"
        v-if="cancelable"
        @select="cancelExport()"
        iconClass="icon-btn-delete"
        class="deleteButton"
        v-debug:deleteButton />
      <a v-if="completedState"
        tabindex="0"
        class="downloadButton"
        v-debug:anchor-download
        :href="item.getResultUrl()"
        :title="i18n.exportHistoryDownloadItem()"
        target="_blank">
        <i class="icon icon-download"
          aria-hidden="true"></i>
      </a>
    </div>
    <div class="iconContainer">
      <horizontal-collapse :seek="(boolean) false">
        <tooltip :title="i18n.calculationJobStatusTooltipQueued()">
          <queue-counter v-if="queuingState"
            class="iconContainer" :count="queuePosition" />
        </tooltip>
      </horizontal-collapse>
      <horizontal-collapse :seek="(boolean) false">
        <div v-if="runningState"
          v-debug:icon-running
          class="iconContainer spinner">
          <tooltip :title="JobProgressTextUtil.getJobProgressText(item.getJobProgress(), applicationContext.getTheme())">
            <img :alt="i18n.ariaLabelSpinner()"
              class="icon"
              :src="img.loadingSpinner().getSafeUri().asString()"></img>
          </tooltip>
        </div>
      </horizontal-collapse>
      <horizontal-collapse :seek="(boolean) false">
        <div v-if="errorState"
          v-debug:icon-error
          :title="item.getErrorMessage()"
          class="iconContainer errorIcon">
          <tooltip :title="i18n.calculationJobStatusTooltipFailed(calculationErrorMessage)">
            <i class="icon icon-error"><i class="path1"></i><i class="path2"></i></i>
          </tooltip>
        </div>
      </horizontal-collapse>
      <horizontal-collapse :seek="(boolean) false">
        <div v-if="completedState"
          v-debug:icon-complete
          class="iconContainer">
          <tooltip :title="i18n.calculationJobStatusTooltipCompleted()">
            <icon class="icon" icon="icon-valid" />
          </tooltip>
        </div>
      </horizontal-collapse>
    </div>
  </div>
</div>

<style lang="scss" scoped>
.historyItemRow {
  position: relative;
}

.jobProgressBar {
  position: absolute !important;
  z-index: 1;
  height: 100% !important;
}

.historyItem {
  display: grid;
  position: relative;
  z-index: 2;
  align-items: center;
  grid-template-columns: 1fr auto 30px;
  gap: var(--spacer);
  padding: var(--half-spacer);

  .label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.content {
  padding: var(--spacer);
}

.deleteButton,
.downloadButton {
  height: var(--row-height-generous);
}

.downloadButton {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--icon-color);
  padding: 0;
  outline-offset: 3px;
  min-width: 50px;
  transition: color var(--anim),background var(--anim);
  display: grid;
  place-items: center;
  border-radius: var(--default-radius);
  text-decoration: none;

  &:hover {
    color: white;
    background: var(--theme-color);
  }
}

.icon-download {
  font-size: 1.5em;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  &.spinner {
    width: 24px;
    padding: 0px;
    display: grid;
    place-items: center;

    img {
      width: var(--row-height-generous);
      height: var(--row-height-generous);
    }
  }
  .icon {
    margin: 0px;
    height: 24px;
    width: 24px;
    font-size: 24px;
  }
  .errorIcon {
    background: var(--error-color);
  }
}
</style>
