<vue-gwt:import class="nl.overheid.aerius.wui.application.util.FileUploadStatus" />
<vue-gwt:import class="nl.overheid.aerius.js.exception.AeriusJsExceptionMessage" />

<div class="list">
  <p v-if="hasErrorOverflow" class="overflow">{{ i18n.importErrorOverflow() }}</p>
  <div v-for="(FileUploadStatus file, idx) in filesWithErrors"
    class="item"
    :key="idx">
    <div class="name" :title="file.getFile().name">{{ file.getFile().name }}</div>
    <div class="errors" v-debug:importerFileErrors>
      <div class="error" v-for="(AeriusJsExceptionMessage error, index) in file.getErrors()"
        v-debug='"importerFileError-" + index'>
        <p v-html="textify(error.message)" v-debug='"importerFileErrorMessage-" + index'></p>
      </div>
    </div>
  </div>
</div>

<style lang="scss" scoped>
.list {
  height: 100%;
  min-height: 400px;
  overflow: auto;
  display: flex;
  padding: var(--spacer) 0px;
  margin: 0px var(--spacer);
  flex-direction: column;
  gap: var(--spacer);
  background: white;
  border: 1px dashed var(--grey);

  .overflow {
    padding: var(--spacer);
    margin: 0px;
    background: var(--theme-color-light);
  }

  .item {
    padding: 0px var(--spacer);

    .name {
      line-height: var(--row-height);
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }

    p {
      margin: 0px;
    }

    .errors > .error > p {
      overflow: hidden;
    }
  }
}
</style>
