<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.base.TimeUnit"/>

<div>
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

	<labeled-input :label="i18n.esShippingMovements()"
	  name="maritimeMovementInput"
	  :errorValidation="v.maritimeMovementV"
	  :errorMessage="this::numberOfMaritimeMovementConversionError">
	  <div class="maritimeMovementRow">
	    <input type="number"
        id="maritimeMovementInput"
	      min="0"
	      step="any"
	      v-validate:maritimeMovementV.input
	      v-model="maritimeMovements"
	      :placeholder="0"
	      v-debug:maritimeMovementInput>
	    <select id="timeUnit"
	      v-model="timeUnit"
	      v-debug:timeUnit>
	      <option v-for="TimeUnit tu in TimeUnit.values()" :value="tu.name()">{{ i18n.unitTime(tu) }}</option>
	    </select>
	  </div>
	</labeled-input>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
@import "../../../../variables.scss";

.maritimeMovementRow {
  display: flex;
  flex-direction: row;
  gap: var(--spacer);
  margin: var(--spacer);
  margin-left: 0px;
}
</style>
