<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.adms.BuoyancyType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadTypeMode" />

<div>
  <div class="padding">
    <h3>{{ i18n.esRoadDetailTitle() }}</h3>
    <divider type="small" />
    <detail-stat :label="i18n.esRoadArea()"
      :value="roadArea"
      debugId="roadArea" />
    <detail-stat :label="i18n.esRoadType()"
      :value="roadType"
      debugId="roadType" />
    <detail-stat :label="i18n.esRoadDetailDrivingDirection()"
      :value="i18n.esRoadDrivingDirection(source.getTrafficDirection())"
      debugId="roadTrafficDirection" />
    <detail-stat :label="i18n.sourceRoadWidthLabel()"
      :value="i18n.unitM(i18n.decimalNumberCapped(source.getWidth(), 2))"
      debugId="roadWidth" />
    <detail-stat :label="i18n.sourceRoadElevationLabel()"
      :value="i18n.unitM(i18n.decimalNumberCapped(source.getElevation(), 2))"
      debugId="roadElevation" />
    <detail-stat :label="i18n.sourceRoadGradientLabel()"
      :value="i18n.unitPercentage(i18n.decimalNumberCapped(source.getGradient(), 2))"
      debugId="roadGradient" />

    <div class="detail-grid-row-full padding-top">
      <div class="accent">{{ i18n.esRoadDetailBarrier() }}</div>
      <div class="accent">{{ i18n.sourceRoadBarrierLeftTitle() }}</div>
      <div class="accent">{{ i18n.sourceRoadBarrierRightTitle()}}</div>
    </div>
    <div class="detail-grid-row-full">
      <div class="detail-label">{{ i18n.esRoadDetailBarrierType() }}</div>
      <div v-debug:admsDetailBarrierTypeLeft>{{ i18n.sourceAdmsRoadsideBarrierType(barrierLeftType) }}</div>
      <div v-debug:admsDetailBarrierTypeRight>{{ i18n.sourceAdmsRoadsideBarrierType(barrierRightType) }}</div>
    </div>
    <div class="detail-grid-row-full" :show="hasAnyBarrier">
      <div class="detail-label">{{ i18n.sourceRoadBarrierWidthLabel() }}</div>
      <div v-debug:admsDetailBarrierWidthLeft>{{ barrierLeft(v -> i18n.unitM(i18n.decimalNumberCapped(v.getWidth(), 2))) }}</div>
      <div v-debug:admsDetailBarrierWidthRight>{{ barrierRight(v -> i18n.unitM(i18n.decimalNumberCapped(v.getWidth(), 2))) }}</div>
    </div>
    <div class="detail-grid-row-full" :show="hasAnyBarrier">
      <div class="detail-label">{{ i18n.sourceRoadBarrierMaximumHeightLabel() }}</div>
      <div v-debug:admsDetailBarrierMaxHeightLeft>{{ barrierLeft(v -> i18n.unitM(i18n.decimalNumberCapped(v.getMaximumHeight(), 2))) }}</div>
      <div v-debug:admsDetailBarrierMaxHeightRight>{{ barrierRight(v -> i18n.unitM(i18n.decimalNumberCapped(v.getMaximumHeight(), 2))) }}</div>
    </div>
    <div class="detail-grid-row-full" :show="hasAnyBarrier">
      <div class="detail-label">{{ i18n.sourceRoadBarrierAverageHeightLabel() }}</div>
      <div v-debug:admsDetailBarrierAvgHeightLeft>{{ barrierLeft(v -> i18n.unitM(i18n.decimalNumberCapped(v.getAverageHeight(), 2))) }}</div>
      <div v-debug:admsDetailBarrierAvgHeightRight>{{ barrierRight(v -> i18n.unitM(i18n.decimalNumberCapped(v.getAverageHeight(), 2))) }}</div>
    </div>
    <div class="detail-grid-row-full" :show="hasAnyBarrier">
      <div class="detail-label">{{ i18n.sourceRoadBarrierMinimumHeightLabel() }}</div>
      <div v-debug:admsDetailBarrierMinHeightLeft>{{ barrierLeft(v -> i18n.unitM(i18n.decimalNumberCapped(v.getMinimumHeight(), 2))) }}</div>
      <div v-debug:admsDetailBarrierMinHeightRight>{{ barrierRight(v -> i18n.unitM(i18n.decimalNumberCapped(v.getMinimumHeight(), 2))) }}</div>
    </div>
    <div class="detail-grid-row-full" :show="hasAnyBarrier">
      <div class="detail-label">{{ i18n.sourceRoadBarrierPorosityLabel() }}</div>
      <div v-debug:admsDetailBarrierPorosityLeft>{{ barrierLeft(v -> i18n.unitPercentage(i18n.decimalNumberCapped(v.getPorosity(), 2))) }}</div>
      <div v-debug:admsDetailBarrierPorosityRight>{{ barrierRight(v -> i18n.unitPercentage(i18n.decimalNumberCapped(v.getPorosity(), 2))) }}</div>
    </div>
    <detail-stat :show="hasAnyBarrier"
      class="padding-top"
      :label="i18n.sourceRoadCoverageLabel()"
      :value="i18n.unitPercentage(i18n.decimalNumberCapped(source.getCoverage(), 2))"
      debugId="barrierCoverage" />
  </div>
  <divider type="big" />
  <road-vehicles-detail
    :stagnationEnabled="(boolean) false"
    :mode="RoadTypeMode.ROAD"
    :source="source"
    :substances="substances" />
  <divider type="big" />
  <div class="padding">
    <h3>{{ totalEmissionTitle }}</h3>
    <divider type="small" />
    <div class="detail-emission-container">
      <div>{{ i18n.esTitle() }}</div>
      <div class="detail-emission-subcontainer">
        <div v-for="(Substance substance, index) in substances" class="detail-emission-substance">
          <div class="detail-label" v-debug='"admsDetailRoadStandardSubstance-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
          <div v-debug='"admsDetailRoadStandardEmissionTotalValue-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../vertical-collapse.scss";

.padding {
  padding: 10px;
  padding-top: 0;
}

.padding-top {
  padding-top: 10px;
}

.accent {
  font-weight: bold;
}
</style>
