<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.road.ADMSRoadSideBarrierType" />

<div class="barrierContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input
    :transparent="true"
    :label="i18n.sourceRoadBarrierTitle()">
    <div class="barrierRow">
      <div class="barrierLeftLabel">{{ i18n.sourceRoadBarrierLeftTitle() }}</div>
      <div class="barrierRightLabel">{{ i18n.sourceRoadBarrierRightTitle() }}</div>
    </div>
  </labeled-input>
  <labeled-input
    :label="i18n.sourceRoadBarrierType()"
    name="barrierType"
    :transparent="true">
    <div class="barrierRow">
      <simple-listbox id="roadSideBarrierLeftType"
        v-debug:roadSideBarrierLeftType
        :options="roadBarrierTypes"
        :selected="barrierLeftType"
        :placeholder="i18n.dropdownPlaceholder()"
        @select="selectBarrierLeftType((ADMSRoadSideBarrierType) $event)">
        <template slot-scope="{ Object option }">{{ i18n.sourceAdmsRoadsideBarrierType((ADMSRoadSideBarrierType) option) }}</template>
      </simple-listbox>
      <simple-listbox id="roadSideBarrierRightType"
        v-debug:roadSideBarrierRightType
        :options="roadBarrierTypes"
        :selected="barrierRightType"
        :placeholder="i18n.dropdownPlaceholder()"
        @select="selectBarrierRightType((ADMSRoadSideBarrierType) $event)">
        <template slot-scope="{ Object option }">{{ i18n.sourceAdmsRoadsideBarrierType((ADMSRoadSideBarrierType) option) }}</template>
      </simple-listbox>
    </div>
  </labeled-input>
  <vertical-collapse>
    <labeled-input :label="i18n.sourceRoadBarrierWidthLabel()"
      v-if="hasBarrierLeft || hasBarrierRight"
      name="barrierWidth"
      :transparent="true">
      <div class="barrierRow">
        <input-with-unit
          class="barrierLeft"
          v-show="hasBarrierLeft"
          :unit="i18n.unitSingularMeter()"
          :unitDescription="i18n.unitSingularMeterDescription()"
          :showError="v.barrierLeftWidthV.dirty && isBarrierLeftWidthInvalid()">
          <input id="barrierLeftWidth"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierLeftWidthV.input
            v-model="barrierLeftWidth"
            :placeholder="0.0"
            v-debug:barrierLeftWidth>
        </input-with-unit>
        <input-with-unit
          class="barrierRight"
          v-show="hasBarrierRight"
          :unit="i18n.unitSingularMeter()"
          :unitDescription="i18n.unitSingularMeterDescription()"
          :showError="v.barrierRightWidthV.dirty && isBarrierRightWidthInvalid()">
          <input id="barrierRightWidth"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierRightWidthV.input
            v-model="barrierRightWidth"
            :placeholder="0.0"
            v-debug:barrierRightWidth>
        </input-with-unit>
      </div>
      <template slot="error">
        <input-error
          :showError="hasBarrierLeft && v.barrierLeftWidthV.dirty && isBarrierLeftWidthInvalid()"
          :errorMessage="this::barrierLeftWidthError"
          v-debug:barrierLeftWidthError />
        <input-error
          :showError="hasBarrierRight && v.barrierRightWidthV.dirty && isBarrierRightWidthInvalid()"
          :errorMessage="this::barrierRightWidthError"
          v-debug:barrierRightWidthError />
      </template>
    </labeled-input>
  </vertical-collapse>

  <vertical-collapse>
    <labeled-input :label="i18n.sourceRoadBarrierMaximumHeightLabel()"
      v-if="hasBarrierLeft || hasBarrierRight"
      name="barrierMaximumHeight"
      :transparent="true">
      <div class="barrierRow">
        <input-with-unit
          class="barrierLeft"
          v-show="hasBarrierLeft"
          :unit="i18n.unitSingularMeter()"
          :unitDescription="i18n.unitSingularMeterDescription()"
          :showError="v.barrierLeftMaximumHeightV.error">
          <input id="barrierLeftMaximumHeight"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierLeftMaximumHeightV.input
            v-model="barrierLeftMaximumHeight"
            :placeholder="0.0"
            v-debug:barrierLeftMaximumHeight>
        </input-with-unit>
        <input-with-unit
          class="barrierRight"
          v-show="hasBarrierRight"
          :unit="i18n.unitSingularMeter()"
          :unitDescription="i18n.unitSingularMeterDescription()"
          :showError="v.barrierRightMaximumHeightV.error">
          <input id="barrierRightMaximumHeight"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierRightMaximumHeightV.input
            v-model="barrierRightMaximumHeight"
            :placeholder="0.0"
            v-debug:barrierRightMaximumHeight>
        </input-with-unit>
      </div>
      <template slot="error">
        <input-error
          :showError="hasBarrierLeft && v.barrierLeftMaximumHeightV.error"
          :errorMessage="this::barrierLeftMaximumHeightError" />
        <input-error
          :showError="hasBarrierRight && v.barrierRightMaximumHeightV.error"
          :errorMessage="this::barrierRightMaximumHeightError" />
      </template>
    </labeled-input>
  </vertical-collapse>

  <vertical-collapse>
    <labeled-input :label="i18n.sourceRoadBarrierAverageHeightLabel()"
      v-if="hasBarrierLeft || hasBarrierRight"
      name="barrierAverageHeight"
      :transparent="true">
      <div class="barrierRow">
        <input-with-unit
          class="barrierLeft"
          v-show="hasBarrierLeft"
          :unit="i18n.unitSingularMeter()"
          :unitDescription="i18n.unitSingularMeterDescription()"
          :showError="v.barrierLeftAverageHeightV.dirty && isBarrierLeftAverageHeightInvalid()">
          <input id="barrierLeftAverageHeight"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierLeftAverageHeightV.input
            v-model="barrierLeftAverageHeight"
            :placeholder="0.0"
            v-debug:barrierLeftAverageHeight>
        </input-with-unit>
        <input-with-unit
          class="barrierRight"
          v-show="hasBarrierRight"
          :unit="i18n.unitSingularMeter()"
          :unitDescription="i18n.unitSingularMeterDescription()"
          :showError="v.barrierRightAverageHeightV.dirty && isBarrierRightAverageHeightInvalid()">
          <input id="barrierRightAverageHeight"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierRightAverageHeightV.input
            v-model="barrierRightAverageHeight"
            :placeholder="0.0"
            v-debug:barrierRightAverageHeight>
        </input-with-unit>
      </div>
      <template slot="error">
        <input-error
          :showError="hasBarrierLeft && v.barrierLeftAverageHeightV.dirty && isBarrierLeftAverageHeightInvalid()"
          :errorMessage="this::barrierLeftAverageHeightError" />
        <input-error
          :showError="hasBarrierRight && v.barrierRightAverageHeightV.dirty && isBarrierRightAverageHeightInvalid()"
          :errorMessage="this::barrierRightAverageHeightError" />
      </template>
    </labeled-input>
  </vertical-collapse>

  <vertical-collapse>
    <labeled-input :label="i18n.sourceRoadBarrierMinimumHeightLabel()"
      v-if="hasBarrierLeft || hasBarrierRight"
      name="barrierMinimumHeight"
      :transparent="true">
      <div class="barrierRow">
        <input-with-unit
          class="barrierLeft"
          v-show="hasBarrierLeft"
          :unit="i18n.unitSingularMeter()"
          :unitDescription="i18n.unitSingularMeterDescription()"
          :showError="v.barrierLeftMinimumHeightV.error">
          <input id="barrierLeftMinimumHeight"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierLeftMinimumHeightV.input
            v-model="barrierLeftMinimumHeight"
            :placeholder="0.0"
            v-debug:barrierLeftMinimumHeight>
        </input-with-unit>
        <input-with-unit
          class="barrierRight"
          v-show="hasBarrierRight"
          :unit="i18n.unitSingularMeter()"
          :unitDescription="i18n.unitSingularMeterDescription()"
          :showError="v.barrierRightMinimumHeightV.error">
          <input id="barrierRightMinimumHeight"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierRightMinimumHeightV.input
            v-model="barrierRightMinimumHeight"
            :placeholder="0.0"
            v-debug:barrierRightMinimumHeight>
        </input-with-unit>
      </div>
      <template slot="error">
        <input-error
          :showError="hasBarrierLeft && v.barrierLeftMinimumHeightV.error"
          :errorMessage="this::barrierLeftMinimumHeightError" />
        <input-error
          :showError="hasBarrierRight && v.barrierRightMinimumHeightV.error"
          :errorMessage="this::barrierRightMinimumHeightError" />
      </template>
    </labeled-input>
  </vertical-collapse>

  <vertical-collapse>
    <labeled-input :label="i18n.sourceRoadBarrierPorosityLabel()"
      v-if="hasBarrierLeft || hasBarrierRight"
      name="barrierPorosity"
      :transparent="true">
      <div class="barrierRow">
        <input-with-unit
          class="barrierLeft"
          v-show="hasBarrierLeft"
          :unit="i18n.unitSingularPercentage()"
          :unitDescription="i18n.unitSingularPercentageDescription()"
          :showError="v.barrierLeftPorosityV.error">
          <input id="barrierLeftPorosity"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierLeftPorosityV.input
            v-model="barrierLeftPorosity"
            :placeholder="0.0"
            v-debug:barrierLeftPorosity>
        </input-with-unit>
        <input-with-unit
          class="barrierRight"
          v-show="hasBarrierRight"
          :unit="i18n.unitSingularPercentage()"
          :unitDescription="i18n.unitSingularPercentageDescription()"
          :showError="v.barrierRightPorosityV.error">
          <input id="barrierRightPorosity"
            type="number"
            min="0.0"
            :step="0.1"
            v-validate:barrierRightPorosityV.input
            v-model="barrierRightPorosity"
            :placeholder="0.0"
            v-debug:barrierRightPorosity>
        </input-with-unit>
      </div>
      <template slot="error">
        <input-error
          :showError="hasBarrierLeft && v.barrierLeftPorosityV.error"
          :errorMessage="this::barrierLeftPorosityError" />
        <input-error
          :showError="hasBarrierRight && v.barrierRightPorosityV.error"
          :errorMessage="this::barrierRightPorosityError" />
      </template>
    </labeled-input>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
@import "../../../../vertical-collapse.scss";

.barrierContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.barrierLeftLabel, .barrierRightLabel {
  padding: 0px var(--half-spacer);
}

.barrierRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--half-spacer);

  .barrierLeft {
    grid-column: 1;
  }

  .barrierRight {
    grid-column: 2;
  }
}
</style>
