<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.adms.ADMSLimits"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.ADMSCharacteristics"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.adms.BuoyancyType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.adms.EffluxType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.adms.SourceType"/>

<div class="mainContent">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input
    :label="i18n.sourceRoadWidthLabel()"
    name="roadWidth"
    :class='map("error-input", v.widthV.error)'
    :unit="i18n.unitSingularMeter()"
    :unitDescription="i18n.unitSingularMeterDescription()"
    :transparent="true"
    :errorValidation="v.widthV"
    :errorMessage="() -> getWidthError()">
    <input
      id="roadWidth"
      type="number"
      min="0.0"
      :step="0.1"
      v-validate:widthV.input
      v-model="width"
      :placeholder="0.0"
      v-debug:roadWidth>
  </labeled-input>
  <labeled-input
    :label="i18n.sourceRoadElevationLabel()"
    name="roadElevation"
    :class='map("error-input", v.elevationV.error)'
    :unit="i18n.unitSingularMeter()"
    :unitDescription="i18n.unitSingularMeterDescription()"
    :transparent="true"
    :errorValidation="v.elevationV"
    :errorMessage="() -> getElevationError()">
    <input
      id="roadElevation"
      type="number"
      min="0.0"
      :step="0.1"
      v-validate:elevationV.input
      v-model="elevation"
      :placeholder="0.0"
      v-debug:roadElevation>
  </labeled-input>
  <labeled-input
    :label="i18n.sourceRoadGradientLabel()"
    name="roadGradient"
    :class='map("error-input", v.gradientV.error)'
    :transparent="true"
    :unit="i18n.unitSingularPercentage()"
    :unitDescription="i18n.unitSingularPercentageDescription()"
    :errorValidation="v.gradientV"
    :errorMessage="() -> getGradientError()">
    <input
      id="roadGradient"
      type="number"
      min="0.0"
      :step="0.1"
      v-validate:gradientV.input
      v-model="gradient"
      :placeholder="0.0"
      v-debug:roadGradient>
  </labeled-input>

  <!-- Hidden to prevent users thinking this functionality works currently
  <labeled-input :label="i18n.sourceRoadTunnelLabel()"
    name="roadTunnel"
    :transparent="true">
    <checkbox :label="i18n.sourceRoadTunnelLabel()"
      v-model="roadTunnel"
      id="roadTunnel"
      v-debug:roadTunnel
      class="label" />
  </labeled-input>
   -->

  <vertical-collapse>
    <adms-barrier-editor
      v-if="barriersEnabled"
      :source="source"
      :roadWidth="source.getWidth()"
      @errors='trackChildError("barrier", (boolean) $event)'
      @warnings='trackChildWarning("barrier", (boolean) $event)' />
  </vertical-collapse>

  <vertical-collapse>
    <labeled-input
      v-if="hasAnyBarrier"
      :label="i18n.sourceRoadCoverageLabel()"
      name="roadCoverage"
      :class='map("error-input", v.coverageV.error)'
      :transparent="true"
      :unit="i18n.unitSingularPercentage()"
      :unitDescription="i18n.unitSingularPercentageDescription()"
      :errorValidation="v.coverageV"
      :errorMessage="() -> getCoverageError()">
      <input
        id="roadCoverage"
        type="number"
        min="0.0"
        :step="0.1"
        v-validate:coverageV.input
        v-model="coverage"
        :placeholder="0.0"
        v-debug:roadCoverage>
    </labeled-input>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
@import "../../../../vertical-collapse.scss";

.mainContent {
  flex-grow: 1;
  padding: var(--spacer);

  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
