<div>
  <h3>{{ i18n.calculationJobDetailAdvancedSettings() }}</h3>
  <divider type="small" />
  
  <h4 class="subheader">{{ i18n.calculateDispersionOptionsTitle() }}</h4>
  <detail-stat debugId="calculation-job-detail-min-monin-obukhov-length"
    :label="i18n.calculateObukhovLengthLabel()"
    :value="obukhovLengthValue" />
  <detail-stat debugId="calculation-job-detail-surface-albedo"
    :label="i18n.calculateSurfaceAlbedoLabel()"
    :value="surfaceAlbedoValue" />
  <detail-stat debugId="calculation-job-detail-priestley-taylor-parameter"
    :label="i18n.calculatePriestleyTaylorLabel()"
    :value="priestleyTaylorParameterValue" />
  <detail-stat debugId="calculation-job-detail-plume-depletion-nh3"
    :label="plumeDepletionNH3Label"
    :value="plumeDepletionNH3Value" />
  <detail-stat debugId="calculation-job-detail-plume-depletion-nox"
    :label="plumeDepletionNOxLabel"
    :value="plumeDepletionNOxValue" />
  <detail-stat debugId="calculation-job-detail-complex-terrain"
    :label="i18n.calculateComplexTerrainLabel()"
    :value="complexTerrainValue" />
  <divider type="small" />
  
  <h4 class="subheader">{{ i18n.calculatePrimaryfNO2Title() }}</h4>
  <detail-stat debugId="calculation-job-detail-automatic-receptor-points"
    :label="i18n.calculatePrimaryfNO2ReceptorPointsLabel()"
    :value="primaryfNO2ReceptorPointsValue" />
  <detail-stat debugId="calculation-job-detail-custom-receptor-points"
    :label="i18n.calculatePrimaryfNO2PointsLabel()"
    :value="primaryfNO2PointsValue" />
  <detail-stat v-if="roadLocalFractionNO2Visible"
    debugId="calculation-job-detail-custom-primary-no2-fraction"
    :label="i18n.calculatePrimaryfNO2CustomLabel()"
    :value="roadLocalFractionNO2" />
</div>

<style lang="scss" scoped>
.subheader {
  margin: var(--half-spacer) 0;
}

</style>
