<div>
  <detail-stat debugId="calculation-job-detail-job-type"
    :label="i18n.calculationJobTypeLabel()"
    :value="i18n.calculationJobType(calculationSetOptions.getCalculationJobType())" />
  <detail-stat debugId="calculation-job-detail-method"
    :label="i18n.calculateType()"
    :value="i18n.calculationMethod(theme, calculationSetOptions.getCalculationMethod())" />
  <detail-stat v-if="hasPermitArea()"
    debugId="calculation-job-detail-permit-area"
    :label="i18n.calculatePermitAreaLabel()"
    :value="permitArea" />
  <detail-stat v-if="hasProjectCategory()"
    debugId="calculation-job-detail-project-category"
    :label="i18n.calculationJobProjectCategory()"
    :value="projectCategory" />
  <detail-stat v-if="hasZoneOfInfluenceOption"
    debugId="calculation-job-detail-zone-of-influence"
    :label="i18n.calculateZoneOfInfluenceLabel()"
    :value="i18n.unitM(i18n.decimalNumberFixed(calculationSetOptions.getCalculateMaximumRange(), 0))" />
</div>

<style lang="scss" scoped>
</style>
