<div>
  <h3>{{ i18n.calculationJobDetailDevelopmentPressureSearch() }}</h3>
  <divider type="small" />

  <detail-stat debugId="calculation-job-detail-selected-sources"
    :label="i18n.calculationJobDetailDPSSelectedSources()"
    :value="i18n.xOutOfY(selectedSources, totalSources)" />
</div>

<style lang="scss" scoped>
</style>
