<vue-gwt:import class="nl.overheid.aerius.shared.domain.scenario.SituationType" />

<div>
  <h3>{{ i18n.calculationJobDetailScenarios() }}</h3>
  <divider type="small" />

  <detail-stat v-for="SituationType st in singleSelectSituationTypes"
    :debugId='"calculation-job-detail-" + st.name().toLowerCase() + "-situation"'
    :label="i18n.calculateSituationSelectorLabel(st)"
    :value="getSituationName(st)" />
    
  <detail-stat v-for="SituationType st in pluralSelectSituationTypes"
    :debugId='"calculation-job-detail-" + st.name().toLowerCase() + "-situation"'
    :label="i18n.calculateSituationSelectorLabel(st)"
    :value="getSituationNames(st)" />
</div>

<style lang="scss" scoped>
</style>
