<div>
  <h3>{{ i18n.calculationJobDetailMeteorologicalSettings() }}</h3>
  <divider type="small" />

  <detail-stat debugId="calculation-job-detail-met-site-type"
    :label="i18n.calculateMeteoSiteTypeLabel()"
    :value="metSiteType" />
  <detail-stat debugId="calculation-job-detail-met-site-data-type"
    :label="i18n.calculateMeteoDataTypeLabel()"
    :value="metSiteDataType" />
  <detail-stat debugId="calculation-job-detail-met-site-location"
    :label="i18n.calculateMeteoSiteLocationsLabel()"
    :value="metSiteLocation" />
  <detail-stat debugId="calculation-job-detail-met-years"
    :label="i18n.calculateMeteoSiteYearsLabel()"
    :value="metYears" />
</div>

<style lang="scss" scoped>
</style>
