<vue-gwt:import class="nl.overheid.aerius.shared.domain.Theme" />

<div class="calculation-job-detail-container">
  <horizontal-collapse :seek="false">
    <div class="content" role="alert" aria-live="polite" v-if="hasDetailJob">
      <button-icon v-debug:calculationJobDetailButtonClose
        class="buttonClose"
        fontSize="16px"
        :titleText="i18n.ariaLabelClose()"
        @select="close()"
        iconClass="icon-close" />
      <!-- Note: defaultContentContainer is part of a UK override -->
      <div class="calculation-job-container defaultContentContainer">
        <h2 class="section" v-debug:CalculationJobDetailTitle>{{ detailJob.getName() }}</h2>

        <div class="section">
          <input-warning class="padding-horizontally" :showWarning="hasJobDuplicates"
            :warningMessage="() -> i18n.resultsJobDuplicateWarningText(getSimilars())"
            :round="true" />
          <input-warning class="padding-horizontally" :showWarning="isCalculationSourceDiscrepancy"
            :warningMessage="() -> i18n.resultsDiscrepancyWarningText()"
            :round="true" />
        </div>

        <calculation-job-detail-header-view
          class="section"
          :calculationSetOptions="calculationSetOptions"
          :theme="theme" />
        <divider type="big" />

        <calculation-job-detail-scenarios-view
          class="section"
          :situationComposition="situationComposition"
          :calculationSetOptions="calculationSetOptions" />
        <divider type="big" />

        <calculation-job-detail-development-pressure-search-view
          v-if="isShowDevelopmentPressureSearch"
          class="section"
          :calculationSetOptions="calculationSetOptions"
          :situationComposition="situationComposition" />
        <divider type="big" />

        <calculation-job-detail-meteorological-settings-view
          v-if="theme == Theme.NCA"
          class="section"
          :calculationSetOptions="calculationSetOptions"
          :situationComposition="situationComposition"
          :theme="theme" />
        <divider type="big" />

        <calculation-job-detail-advanced-settings-view
          v-if="theme == Theme.NCA"
          class="section"
          :calculationSetOptions="calculationSetOptions"
          :theme="theme" />
      </div>
    </div>
  </horizontal-collapse>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../horizontal-collapse.scss";

.calculation-job-detail-container {
  position: relative;
  
  .content {
    position: relative;
    width: var(--middle-section-width);
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    height: var(--content-height);
  }
  
  .buttonClose {
    position: absolute;
    right: var(--spacer);
    top: var(--spacer);
    height: var(--row-height-generous);
  }
  
  h2 {
    margin-right: 60px;
  }
  
  .calculation-job-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    
    .section {
      padding: 10px;
      padding-top: 0px;
    }
  }
}
</style>
