<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.FarmlandActivity"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.FarmlandActivityType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>

<div>
  <table :aria-label="i18n.pdfEmissionSourceDetailsFarmlandTableDescription()">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">{{ i18n.esFarmlandTypeLabel() }}</th>
      <th scope="col">{{ i18n.esSubstance() }}</th>
      <th scope="col">{{ i18n.esTitle() }}</th>
    </tr>
    </thead>
    <tbody class="farmland" v-for="FarmlandActivity activity in source.getSubSources()">
    <tr v-if="activity.getActivityType() == FarmlandActivityType.CUSTOM"
      v-for="(Substance substance, index) in substances">
      <td v-if="index == 0"><i class="icon" :class="getIcon(activity)" aria-hidden="true"></i></td>
      <td v-else></td>

      <td v-if="index == 0">{{ getDescription(activity) }}</td>
      <td v-else></td>

      <td>{{ i18n.pollutant(substance) }}</td>
      <td class="numberColumn">{{ formatEmission(activity.getEmission(substance)) }}</td>
    </tr>
    </tbody>
  </table>
</div>

<style lang="scss" scoped>
  @import "../../pdf-table.scss";

  table {
    width: var(--page-max-width);
  }

  tbody.farmland tr {
    border-bottom: none;
  }

  tbody {
    border-bottom: 2px solid $pdf-table-background-color;
  }

  .icon {
    font-size: 25px;
  }
</style>
