<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.CustomCalculationPointResult"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.pages.results.custompoints.CustomPointsSortColumn"/>

<div>
  <div class="collapsible-container">
    <div class="table">
      <div class="header">
        <div class="row">
          <div class="cell-id" @click="clickId()">
            {{ i18n.calculationPointId() }}
            <span v-if="sortColumn == CustomPointsSortColumn.ID"
              :class='map(e("sort-arrow", true), e("asc", sortAscending), e("desc", !sortAscending))'></span>
          </div>
          <div class="cell-name">
            {{ i18n.calculationPointName() }}
          </div>
          <div class="cell-value" @click="clickValue()">
            {{ i18n.resultsScenarioResultType(getResultContext().getGeneralizedEmissionResultType(), getResultContext().getResultType(), depositionType) }}
            <span v-if="sortColumn == CustomPointsSortColumn.VALUE"
              :class='map(e("sort-arrow", true), e("asc", sortAscending), e("desc", !sortAscending))'></span>
          </div>
        </div>
      </div>

      <div class="body">
        <div class="row"
           v-for="CustomCalculationPointResult p in getCalculationPoints()"
           :key="p.getCustomPointId()"
           @click="clickPoint(p)"
           :ref="refForPoint(p)"
           :class='map(e("selected", isSelected(p)), e("selectable", p.hasResult()))'>
          <div class="cell cell-id">{{ p.getCustomPointId() }}</div>
          <div class="cell cell-name">{{ getCustomPointName(p.getCustomPointId()) }}</div>
          <div class="cell cell-value">
            {{ formatValueFor(p.getResult()) }}
            <div class="cell-range-indicator" v-if="p.hasResult()" :style='map(e("background", getColorForValue(p.getResult())))'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss" scoped>
  @import "../result-view.scss";
  @import "../../../../variables.scss";

  .table {
    margin-top: var(--spacer);
  }

  .header {
    margin-bottom: 6px;
  }

  .header .row {
    align-items: end;
    font-weight: bold;
    user-select: none;
  }

  .row {
    display: flex;
    margin-left: 10px;
  }

  .body .row {
    scroll-margin-top: 10px;

    .cell {
      background: white;
    }
    &.selectable:hover .cell {
      background: var(--theme-color-light);
      cursor: pointer;
    }
    &.selected .cell {
      background: var(--theme-color-light);
    }
  }

  .cell-id {
    flex-basis: 100px;
    padding: 5px;
  }

  .cell-name {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 5px 0;
  }

  .cell-value {
    width: 140px;
    text-align: center;
    padding: 5px 0;
  }

  .cell-range-indicator {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid black;
    margin: 1px 1px 1px 5px;
  }

  .sort-arrow {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 2px solid black;
    border-left: 0;
    border-top: 0;
    transition: transform var(--animation-time);
  }
  .sort-arrow.asc {
    transform: translate(3px, 1px) rotate(225deg);
  }
  .sort-arrow.desc {
    transform: translate(3px, -3px) rotate(45deg);
  }
</style>
