<div class="loginContainer">
  <template v-if="isLoggedIn">
    <p class="pad">{{ i18n.loginLinkedKey(apiKey) }}</p>
    <button class="logoutButton"
      @click="logout()">{{ i18n.logoutButtonLabel() }}</button>
  </template>
  <template v-else>
    <labeled-input :label="i18n.loginApiKeyLabel()"
      :showError="showValidations && (!validApiKeyFormat || authenticationError)"
      :errorMessage="() -> i18n.loginApiKeyInvalid()"
      class="loginKey"
      division="3fr 7fr"
      name="apiKey">
      <input type="text"
        id="apiKey"
        v-debug:apiKey
        v-model="apiKey"
        @change="showValidations = true"/>
    </labeled-input>
    <div class="loginBar">
      <checkbox v-model="persistent"
        :label="i18n.loginRememberMe()" />
      <button class="submitButton"
        :disabled="!validApiKeyFormat"
        @click="login()">{{ i18n.loginSubmit() }}</button>
    </div>
  </template>
  <!--
  <collapsible-panel :title="i18n.loginRequestNewKey()">
    <p>TODO</p>
  </collapsible-panel>
   -->
</div>

<style scoped lang="scss">
@import "../../variables.scss";

.loginContainer {
  padding-top: var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.loginKey, .pad {
  padding: 0px var(--spacer);
}

.loginBar {
  padding: 0px var(--spacer);
  display: flex;
  justify-content: space-between;
}

.submitButton, .logoutButton {
  @include button;
}
.logoutButton {
  margin: 0px var(--spacer);
}
</style>
