<div class="main">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasWarnings || hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.scenarioMetaDataCorporation()"
    :transparent="true"
    :showError="isShowError(v.corporationV)"
    :errorMessage="i18n::validationRequired"
    name="scenarioMetaDataCorporation">
    <input id="scenarioMetaDataCorporation"
      v-model="corporation"
      v-validate:corporationV.input
      type="text"
      v-debug:scenarioMetaDataCorporation>
  </labeled-input>
  <labeled-input :label="i18n.scenarioMetaDataProjectName()"
    :transparent="true"
    :showError="isShowError(v.projectNameV)"
    :errorMessage="i18n::validationRequired"
    name="scenarioMetaDataProjectName">
    <input id="scenarioMetaDataProjectName"
      v-model="projectName"
      v-validate:projectNameV.input
      type="text"
      v-debug:scenarioMetaDataProjectName>
  </labeled-input>
  <p class="title">{{ i18n.scenarioMetaDataLocation() }}</p>
  <labeled-input :label="i18n.scenarioMetaDataStreetAddress()"
    :transparent="true"
    :showError="isShowError(v.streetAddressV)"
    :errorMessage="i18n::validationRequired"
    name="scenarioMetaDataStreetAddress">
    <input id="scenarioMetaDataStreetAddress"
      v-model="streetAddress"
      v-validate:streetAddressV.input
      type="text"
      v-debug:scenarioMetaDataStreetAddress>
  </labeled-input>
  <labeled-input :label="i18n.scenarioMetaDataPostcode()"
    :transparent="true"
    :showError="isShowError(v.postcodeV)"
    :errorMessage="i18n::validationRequired"
    name="scenarioMetaDataPostcode">
    <input id="scenarioMetaDataPostcode"
      v-model="postcode"
      v-validate:postcodeV.input
      type="text"
      v-debug:scenarioMetaDataPostcode>
  </labeled-input>
  <labeled-input :label="i18n.scenarioMetaDataCity()"
    :transparent="true"
    :showError="isShowError(v.cityV)"
    :errorMessage="i18n::validationRequired"
    name="scenarioMetaDataCity">
    <input id="scenarioMetaDataCity"
      v-model="city"
      v-validate:cityV.input
      type="text"
      v-debug:scenarioMetaDataCity>
  </labeled-input>
  <label for="scenarioMetaDataDescription"
    class="visually-hidden">{{ i18n.scenarioMetaDataDescription() }}</label>
  <minimal-input :showError="isShowError(v.descriptionV)"
    :errorMessage="i18n::validationRequired">
    <textarea :aria-label="i18n.scenarioMetaDataDescription()"
      id="scenarioMetaDataDescription"
      v-model="description"
      v-validate:descriptionV.input
      v-debug:scenarioMetaDataDescription
      :placeholder="i18n.scenarioMetaDataDescription()" />
  </minimal-input>
  <labeled-input :label="i18n.exportAgreeMetaDataInclusionText()"
    division="1fr 30px"
    :showError="v.dirty && validationRequired && !agreed"
    :errorMessage="i18n::validationRequired"
    :showWarning="v.dirty && !empty && !validationRequired && !agreed"
    :warningMessage="i18n::exportAgreeMetaDataInclusionWarning"
    name="agreeDataInclusion">
    <checkbox :value="agreeDataInclusion"
      id="agreeDataInclusion"
      @input="toggleIncludeScenarioMetaData((boolean) $event)" />
  </labeled-input>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../../application/components/input/inputs.scss";

.main {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
  flex-grow: 1;

  p.title {
    margin: 0;
    margin-top: var(--spacer);
    font-weight: bold;
  }
}
</style>
