<div class="manureStorageContainer">
  <detail-stat
    :label="i18n.esManureStorageDetailType()"
    :value="source.getDescription()"
    :debugId='"manureStorageCustomDetailDescription" + idx' />
  <detail-stat
    :show="source.getTonnes() != null"
    :label="i18n.esManureStorageDetailTonnes()"
    :value="source.getTonnes()"
    :debugId='"manureStorageCustomDetailTonnes" + idx' />
  <detail-stat
    :show="source.getMetersSquared() != null"
    :label="i18n.esManureStorageDetailMetersSquared()"
    :value="source.getMetersSquared()"
    :debugId='"manureStorageCustomDetailMetersSquared" + idx' />
  <detail-stat
    :show="source.getNumberOfDays() != null"
    :label="i18n.esManureStorageDetailNumberOfDays()"
    :value="source.getNumberOfDays()"
    :debugId='"manureStorageCustomDetailNumberOfDays" + idx' />
  <detail-stat
    :label="i18n.esManureStorageDetailFactor()"
    :value="emissionFactor"
    :debugId='"manureStorageCustomDetailEmissionFactorNH3" + idx' />
  <div v-for="Substance substance in substances">
    <detail-stat
      :show="source.getEmission(substance) > 0"
      :label='i18n.esManureStorageDetailEmission() + " " + i18n.pollutant(substance)'
      :value="emission(substance)"
      :debugId='"manureStorageStandardDetailEmission" + substance.name() + idx' />
  </div>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";
</style>
