<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.AnimalType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.emissions.FarmEmissionFactorType"/>

<div class="manureStorageCustomContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.esManureStorageCustomDescription()"
    name="emissionSourceManureStorageCustomDescription"
    v-validate:descriptionV.input
    :showError="v.descriptionV.error"
    :errorMessage="() -> i18n.validationRequired()">
    <input id="emissionSourceManureStorageCustomDescription"
      type="text"
      v-model="description"
      :aria-label="i18n.ariaDescription()"
      v-debug:emissionSourceManureStorageCustomDescription/>
  </labeled-input>
  <labeled-input :label="i18n.esAnimalTypeLabel()"
    name="animalType">
    <select id="animalType"
      v-model="animalType"
      v-debug:animalType>
      <option v-for="AnimalType at in AnimalType.values()"
        :value="at.getAnimalCode()">{{ i18n.esAnimalType(at) }}
      </option>
    </select>
  </labeled-input>
  <labeled-input :label="i18n.esFarmEmissionFactorTypeLabel()"
    name="farmEmissionFactorType">
    <select id="farmEmissionFactorType"
      v-model="farmEmissionFactorType"
      v-debug:farmEmissionFactorType>
      <option v-for="FarmEmissionFactorType type in farmEmissionFactorTypes"
        :value="type.name()">{{ i18n.esFarmEmissionFactorType(type) }}
      </option>
    </select>
  </labeled-input>
  <labeled-input :label="i18n.esManureStorageCustomFactor()"
    name="emissionFactorInput"
    :unit="i18n.esFarmEmissionFactorType(farmEmissionFactorTypeV)"
    :unitDescription="i18n.esFarmEmissionFactorTypeDescription(farmEmissionFactorTypeV)"
    :errorValidation="v.emissionFactorV"
    :errorMessage="this::emissionFactorConversionError">
    <input id="emissionFactorInput"
      type="number"
      min="0.0"
      step="any"
      v-validate:emissionFactorV.input
      v-model="emissionFactor"
      :placeholder="0.0"
      v-debug:emissionFactorInput>
  </labeled-input>
  <manure-storage-base-emission
      :manureStorage="customManureStorage"
      :emissionFactorType="farmEmissionFactorTypeV"
      @errors='trackChildError("manureStorage", (boolean) $event)'
      @warnings='trackChildWarning("manureStorage", (boolean) $event)' />
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";

.manureStorageCustomContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
