<vue-gwt:import class="nl.overheid.aerius.shared.domain.info.HabitatSurfaceType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey"/>

<div class="infoContainer" v-if="habitatTypePopupShowing">
  <div class="header"
  v-debug:habitatInfoPanelTitle>{{ habitatInfo.getCode() }} - {{ habitatInfo.getName() }}</div>
  <basic-info-row
    :label="i18n.habitatInfoPanelSurfaceRelevantMapped()"
    :value="i18n.unitHa(i18n.decimalNumberFixed(getRelevantMapped(), 1))"
    v-debug:habitatInfoPanelSurfaceRelevantMapped />
  <basic-info-row
    v-if="showAllFields"
    :label="i18n.habitatInfoPanelSurfaceRelevantCartographic()"
    :value="i18n.unitHa(i18n.decimalNumberFixed(getRelevantCartographic(), 1))"
    v-debug:habitatInfoPanelSurfaceRelevantCartographic />
  <basic-info-row
    v-if="showAllFields"
    :label="i18n.habitatInfoPanelSurfaceExtentGoal()"
    :value="i18n.habitatsTableHabitatGoal(habitatInfo.getExtentGoal())"
    v-debug:habitatInfoPanelSurfaceExtentGoal />
  <basic-info-row
    v-if="showAllFields"
    :label="i18n.habitatInfoPanelAreaInfoQualityGoal()"
    :value="i18n.habitatsTableHabitatGoal(habitatInfo.getQualityGoal())"
    v-debug:habitatInfoPanelAreaInfoQualityGoal />
  <basic-info-row
    v-for="(EmissionResultKey criticalLevelKey, index) in getCriticalLevelKeys()"
    :label="i18n.criticalLevel(criticalLevelKey)"
    :value="getCriticalLevel(criticalLevelKey)"
    v-debug:habitatInfoPanelAreaInfoKDW />
</div>

<style scoped lang="scss">

.infoContainer {
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: bold;
  padding: 0px var(--spacer) var(--spacer);
}

</style>
