<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.WaterwayDirection"/>

<div class="waterwayContainer">
  <labeled-input class="waterwayCategories"
    :label="i18n.esWaterwayCategory()"
    name="waterwayCategory">
    <select id="waterwayCategory"
      v-model="waterwayCode"
      v-debug:emissionSourceWaterwayCategory>
      <option value="">{{ i18n.dropdownPlaceholder() }}</option>
      <option v-for="InlandWaterwayCategory ww in waterwayCategories" :value="ww.getCode()">{{ ww.getDescription() }}</option>
    </select>
  </labeled-input>
  <div v-if="isDirectionRelevant">
    <div class="waterwayLabel">{{ i18n.esWaterwayDirection() }}</div>
    <div class="toggleButtons" groupId="waterwayDirection">
      <div class="toggleButton"
        tabindex="0"
        :class='map("active", toggleSelect == WaterwayDirection.UPSTREAM)'
        v-debug:emissionSourceShipDirectionToggleDirectionUpstream
        @keyup.enter.space="setToggle(WaterwayDirection.UPSTREAM)"
        @click='setToggle(WaterwayDirection.UPSTREAM)'>{{ i18n.esWaterwayDirectionType(WaterwayDirection.UPSTREAM) }}</div>
      <div class="toggleButton"
        tabindex="0"
        :class='map("active", toggleSelect == WaterwayDirection.DOWNSTREAM)'
        v-debug:emissionSourceShipDirectionToggleDirectionDownstream
        @keyup.enter.space="setToggle(WaterwayDirection.DOWNSTREAM)"
        @click='setToggle(WaterwayDirection.DOWNSTREAM)'>{{ i18n.esWaterwayDirectionType(WaterwayDirection.DOWNSTREAM) }}</div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
@import "../../../../variables.scss";

.waterwayContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);

  .waterwayCategories {
    padding: 0 var(--spacer);
  }
}

.waterwayLabel {
  margin-bottom: var(--spacer);
}

.toggleButtons {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  height: var(--row-height);

  .toggleButton {
    @include button-toggle;
    align-items: center;
    align-self: center;
    text-align: center;
  }
}

</style>
