<input-warning :showWarning="!prefs.isHideSectorWarning()"
  :warningMessage="() -> i18n.validationSectorRequiredHint()"
  v-debug:sector-hint-warning>
  <a slot="after"
    v-debug:closeSectorHintWarning
    class="remove"
    tabindex="0"
    @keyup.enter.space="dontShowWarningAgain((Event) $event)"
    @click="dontShowWarningAgain((Event) $event)"
    :title="i18n.ariaLabelDontShowAgain()">{{ i18n.ariaLabelDontShowAgain() }}</a>
</input-warning>

<style scoped lang="scss">
@import "../input/inputs.scss";
@import "../input/validations.scss";

a {
  cursor: pointer;
  text-decoration: underline;
  width: max-content;
  align-self: flex-end;
}
</style>
