<vue-gwt:import class="nl.overheid.aerius.shared.domain.context.InputTypeViewMode" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext" />

<!-- Note: defaultContentContainer is part of a UK override -->
<div class="singleColumn defaultContentContainer">
  <h1>{{ i18n.titleScenarioInput() }}</h1>
  <div class="situationSelect">
    <simple-listbox
      id="situationSelector"
      v-debug:situationSelectort
      :aria-label="i18n.ariaSelectSituation()"
      class="situationSelector"
      :options="situations"
      :keyFunction="situationToKey"
      :selected="activeSituation"
      :placeholder="i18n.dropdownPlaceholder()"
      @select="selectSituation((SituationContext) $event)">
      <template slot-scope="{ Object option }">{{ SituationContext.formatName((SituationContext) option) }}</template>
    </simple-listbox>
    <div class="icons">
      <div class="iconContainer">
        <tooltip :title="i18n.navigationSituationNew()">
          <button-icon
            :aria-label="i18n.navigationSituationNew()"
            @select="newSituation()"
            class="btn"
            iconClass="icon-btn-new"
            v-debug:createNewSituation />
        </tooltip>
      </div>
      <div class="iconContainer">
        <tooltip
          :title="i18n.navigationSituationDuplicate()"
          :disabled="!hasActiveSituation">
          <button-icon
            :aria-label="i18n.navigationSituationDuplicate()"
            :disabled="!hasActiveSituation"
            @select="duplicateSituation()"
            iconClass="icon-btn-duplicate"
            class="duplicate"
            v-debug:duplicateButton />
        </tooltip>
      </div>
      <div class="iconContainer">
        <tooltip
          :title="i18n.situationDeleteTitle()"
          :disabled="!hasActiveSituation">
          <button-icon
            :aria-label="i18n.situationDeleteTitle()"
            :disabled="!hasActiveSituation"
            @select="removeSituation()"
            iconClass="icon-btn-delete"
            class="deleteButton"
            v-debug:deleteButton />
        </tooltip>
      </div>
    </div>
  </div>

  <template v-if="hasActiveSituation">
    <div class="divider" />

    <situation-editor-view
      :eventBus="eventBus"
      :situation="activeSituation" />
    <p
      v-if="!hasAnySituationInput"
      class="noInputsText">
      {{ i18n.inputViewModeNoInputs() }}
    </p>
    <div class="collapsibles">
      <collapsible-panel
        v-if="hasType(InputTypeViewMode.EMISSION_SOURCES)"
        debugId="collapsible-panel-EMISSION_SOURCES"
        :title="i18n.inputViewMode(InputTypeViewMode.EMISSION_SOURCES)"
        :open="isOpen(InputTypeViewMode.EMISSION_SOURCES)"
        @user-open="selectViewMode(InputTypeViewMode.EMISSION_SOURCES)"
        @user-close="selectViewMode(null)"
        class="collapsible-item">
        <emission-source-list
          class="collapsible-content"
          :situation="activeSituation"
          :eventBus="eventBus" />
      </collapsible-panel>
      <collapsible-panel
        v-if="hasType(InputTypeViewMode.BUILDING)"
        debugId="collapsible-panel-BUILDING"
        :title="i18n.inputViewMode(InputTypeViewMode.BUILDING)"
        :open="isOpen(InputTypeViewMode.BUILDING)"
        @user-open="selectViewMode(InputTypeViewMode.BUILDING)"
        @user-close="selectViewMode(null)"
        class="collapsible-item">
        <building-list
          class="collapsible-content"
          :situation="activeSituation"
          :eventBus="eventBus" />
      </collapsible-panel>
      <collapsible-panel
        v-if="hasType(InputTypeViewMode.TIME_VARYING_PROFILES)"
        debugId="collapsible-panel-TIME_VARYING_PROFILES"
        :title="i18n.inputViewMode(InputTypeViewMode.TIME_VARYING_PROFILES)"
        :open="isOpen(InputTypeViewMode.TIME_VARYING_PROFILES)"
        @user-open="selectViewMode(InputTypeViewMode.TIME_VARYING_PROFILES)"
        @user-close="selectViewMode(null)"
        class="collapsible-item">
        <time-varying-profile-list
          class="collapsible-content"
          :situation="activeSituation"
          :eventBus="eventBus" />
      </collapsible-panel>
    </div>
  </template>
</div>

<style
  scoped
  lang="scss">
  .singleColumn {
    display: flex;
    flex-direction: column;
    gap: var(--half-spacer);
  }

  .divider {
    border-bottom: 2px solid white;
  }

  h1 {
    margin-left: var(--spacer);
    margin-right: var(--spacer);
  }

  .situationSelect {
    display: flex;
    gap: var(--spacer);
    padding: 0px var(--spacer);
    align-items: center;

    .situationSelector {
      height: var(--row-height);
    }
  }

  .icons {
    display: flex;
    gap: var(--half-spacer);
    height: var(--row-height-generous);

    .iconContainer {
      display: flex;

      .btn--icon {
        min-width: var(--row-height-generous);
      }
    }
  }

  .noInputsText {
    padding: var(--half-spacer) var(--spacer);
  }

  .collapsibles {
    overflow: auto;

    .collapsible-item {
      border-top: var(--half-separator);
      border-bottom: var(--half-separator);

      &:first-child {
        border-top: var(--separator);
      }
      &:last-child {
        border-bottom: var(--separator);
      }

      .collapsible-content {
        padding: var(--half-spacer) 0px;
        flex-grow: 1;
      }
    }
  }
</style>
