<div class="list-detail-container">
  <horizontal-collapse :seek="false">
    <div class="content" v-if="isEmissionSources || isBuildings || isTimeVaryingProfiles"
      role="alert" aria-live="polite">
      <button-icon v-debug:sourceListDetailButtonClose
        class="buttonClose"
        fontSize="16px"
        :titleText="i18n.ariaLabelClose()"
        @select="close()"
        iconClass="icon-close" />
      <emission-source-list-detail-view v-if="isEmissionSources"
        :source="emissionSourceListContext.getLooseSelection()" />
      <building-detail-view v-if="isBuildings"
        :building="buildingListContext.getLooseSelection()" />
      <time-varying-profile-detail-view v-if="isTimeVaryingProfiles"
        :timeVaryingProfile="timeVaryingProfileListContext.getLooseSelection()" />
    </div>
  </horizontal-collapse>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";
@import "../../../horizontal-collapse.scss";

.list-detail-container {
  position: relative;
}

.content {
  position: relative;
  width: var(--middle-section-width);
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  height: var(--content-height);
}

.buttonClose {
  position: absolute;
  right: var(--spacer);
  top: var(--spacer);
  height: var(--row-height-generous);
}
</style>
