<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.manure.base.ManureStorageBaseValidators" />

<div class="manureStorageContainer">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <vertical-collapse>
    <labeled-input
      v-if="expectsTonnes()"
      :label="i18n.esManureStorageTonnes()"
      :unit="i18n.unitSingularTonnes()"
      :unitDescription="i18n.unitSingularTonnesDescription()"
      name="tonnesInput"
      :showError="v.tonnesV.error"
      :errorMessage="this::tonnesConversionError">
      <input id="tonnesInput"
        type="number"
        :min="ManureStorageBaseValidators.MIN_TONNES"
        :max="ManureStorageBaseValidators.MAX_TONNES"
        step="0.01"
        v-validate:tonnesV.input
        v-model="tonnes"
        :placeholder="0"
        v-debug:tonnesInput>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input
      v-if="expectsMetersSquared()"
      :label="i18n.esManureStorageMetersSquared()"
      :unit="i18n.unitSingularMetersSquared()"
      :unitDescription="i18n.unitSingularMetersSquaredDescription()"
      name="metersSquaredInput"
      :showError="v.metersSquaredV.error"
      :errorMessage="this::metersSquaredConversionError">
      <input id="metersSquaredInput"
        type="number"
        :min="ManureStorageBaseValidators.MIN_METERS_SQUARED"
        :max="ManureStorageBaseValidators.MAX_METERS_SQUARED"
        step="0.01"
        v-validate:metersSquaredV.input
        v-model="metersSquared"
        :placeholder="0"
        v-debug:metersSquaredInput>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input
      v-if="expectsNumberOfDays()"
      :label="i18n.esManureStorageNumberOfDays()"
      name="numberOfDaysInput"
      :showError="v.numberOfDaysV.error"
      :errorMessage="this::numberOfDaysConversionError">
      <input id="numberOfDaysInput"
        type="number"
        :min="ManureStorageBaseValidators.MIN_NUMBER_OF_DAYS"
        :max="ManureStorageBaseValidators.MAX_NUMBER_OF_DAYS"
        step="1"
        v-validate:numberOfDaysV.input
        v-model="numberOfDays"
        :placeholder="0"
        v-debug:numberOfDaysInput>
    </labeled-input>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";

.manureStorageContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
