<vue-gwt:import class="elemental2.dom.MouseEvent" />

<main id="main-content"
  class="fullContentContainer"
  :class='map("with-manual", hasManual)'
  tabindex="-1">
  <div ref="contexts"
    class="contexts"
    :class='map(e("right-view", isRightView), e("hard-middle", !softMiddle || hardMiddleLingering), e("split-view", isSplitView), e("only-left", !hasRight), e("only-right", !hasLeft))'>
    <horizontal-collapse :seek="(boolean) false">
      <div class="aer-selector-menu" v-if="navigationContext.isPopoutComponentActive()"
        id="popout-component">
        <component :is="navigationContext.getActivePopout()"
          :eventBus="eventBus" />
      </div>
    </horizontal-collapse>

    <section class="aer-left" ref="leftPanel" v-if="hasLeft">
      <div class="contentContainer">
        <div class="content"
          :class='map("grow", isRightView)'>
          <component :is="left"
            slot="left"
            :isLeft="(boolean) true"
            :eventBus="eventBus"
            ref="leftComponent" />
        </div>
      </div>
      <div class="width-slider" tabindex="0"
        ref="sliderLeft"
        @pointerdown="startResizeDragLeft((MouseEvent) $event)"></div>
    </section>

    <horizontal-collapse :seek="(boolean) false">
      <section class="aer-middle"
        v-if="hasMiddle">
        <component :is="middle" :eventBus="eventBus" />
      </section>
    </horizontal-collapse>

    <section class="aer-right"
      v-show="hasRight">
      <div class="content">
        <component :is="right"
          slot="right"
          :eventBus="eventBus"
          ref="rightComponent" />
      </div>
    </section>
  </div>

  <section class="aer-manual" ref="manualPanel" v-if="hasManual">
    <div class="width-slider" tabindex="0"
      ref="sliderManual"
      @pointerdown="startResizeDragManual((MouseEvent) $event)"></div>
    <component :is="manual"
      slot="manual"
      class="manualComponent"
      :eventBus="eventBus"
      ref="manualComponent" />
  </section>

  <login-panel-modal
    :eventBus="eventBus" />
  <layer-panel-modal
    :eventBus="eventBus" />
  <labels-panel-modal
    :eventBus="eventBus" />
  <info-panel-modal
    :eventBus="eventBus" />
  <hot-key-panel
    :eventBus="eventBus" />
  <notification-panel
    :eventBus="eventBus" />
</main>

<style lang="scss" scoped>
@import "../../variables.scss";
@import "../../horizontal-collapse.scss";

.aer-selector-menu {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--column-left-width-user-setting) - var(--slider-width));
  max-width: calc(var(--column-left-max-width) - var(--slider-width));
  overflow: auto;
  bottom: 0;
  background: var(--back-color);
  border-right: 1px solid white;
  overflow-y: auto;
}

.fullContentContainer {
  grid-area: content;
  height: 100%;
  --slider-width: 6px;
  position: relative;
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr;

  &.with-manual {
    grid-template-columns: 1fr calc(min(min(var(--column-manual-width-user-setting, 500px), calc(100% - var(--column-left-actual-width, var(--column-left-width-user-setting)))), 1100px));
  }
}

.contexts {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-areas: "left middle right";
  overflow: auto;

  &.right-view {
    grid-template-columns: auto auto 1fr;
  }
  &.split-view {
    grid-template-areas: "left right";
    grid-template-columns: var(--split-ratio-user-preference-left, 1fr) var(--split-ratio-user-preference-right, 1fr);

    .aer-left {
      .contentContainer {
        flex-grow: 1;
        display: flex;
        width: initial;
        max-width: initial;
        .content {
          min-width: initial;
          position: relative;
        }
      }
    }
  }
  &.only-left {
    grid-template-columns: 1fr;
    grid-template-areas: "left";
  }
  &.only-right {
    grid-template-columns: 1fr;
    grid-template-areas: "right";
  }
  &.hard-middle {
    .aer-middle {
      position: static;
    }
  }
}

.width-slider {
  width: var(--slider-width);
  height: 100%;
  flex-shrink: 0;
  background: var(--light-grey);
  cursor: col-resize;
  border-radius: 0px !important;
  /* A slight delay to prevent visual effects when quickly moving the mouse */
  transition: background 0.05s linear 0.01s;

  &:hover, &:active, &:focus {
    background: var(--theme-color);
  }
}

.aer-left {
  grid-area: left;
  position: relative;
  background: var(--back-color);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  transition: max-width 0.15s ease-out;
  max-height: 100%;
  overflow: auto;

  .contentContainer {
    width: calc(var(--column-left-width-user-setting) - var(--slider-width));
    max-width: calc(var(--column-left-max-width) - var(--slider-width));
    overflow: auto;

    .content {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      min-width: var(--column-left-min-width);
    }
  }
}

.aer-middle {
  grid-area: middle;
  flex-shrink: 0;
  position: absolute;
  background: var(--back-color);
  height: 100%;
  grid-row: 1;
  flex-grow: 0;
  z-index: 1;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  left: var(--column-left-actual-width, var(--column-left-width-user-setting));

  &:has(div div) {
    border-right: 1px solid var(--light-grey);
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}

.aer-right {
  grid-area: right;
  display: flex;
  position: relative;
  overflow: auto;
  background: var(--back-color);
  height: 100%;

  .content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: var(--column-left-width);
  }
}

.aer-manual {
  position: relative;
  background: var(--back-color);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  transition: max-width 0.15s ease-out;
  max-height: 100%;
  overflow: auto;

  .manualComponent {
    flex-grow: 1;
  }
}
</style>
