<div class="app"
  :class='map("with-auxpanel", withAuxPanel)'>
  <div class="aer-aux">
    <system-info-panel class="system-info-panel" />
    <developer-panel v-if="flags.hasDeveloperPanel()"
      :eventBus="eventBus" />
  </div>

  <div class="main">
    <navigation class="aer-nav"
      :eventBus="eventBus"
      :aria-hidden="ariaHidden" />

    <content-view :aria-hidden="ariaHidden"
      :eventBus="eventBus"

      :left="left"
      :middle="middle"
      :right="right"
      :manual="contentManual"

      :softMiddle="softMiddle"
      :flexView="flexView"

      :hasLeft="hasLeft"
      :hasMiddle="hasMiddle"
      :hasRight="hasRight"
      :hasManual="hasManual" />
  </div>
  <cookie-notice
    v-if="cookiePopupEnabled"
    :eventBus="eventBus" />
</div>

<style scoped lang="scss">
.app {
  display: grid;
  grid-template-areas: "main";
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: calc(100% - var(--external-header));
  width: 100%;

  .main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "nav content";
    grid-area: main;
    position: relative;
  }

  &.with-auxpanel {
    grid-template-areas: "aux aux"
                         "main main";
    grid-template-rows: var(--aux-panel-height) calc(100% - var(--aux-panel-height));
  }

  .system-info-panel {
    justify-self: center;
    z-index: 1;
  }

  .aer-aux {
    grid-area: aux;
  }

  .aer-nav {
    grid-area: nav;
    border-right: 1px solid white;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

    &:hover {
      z-index: 10;
    }
  }

  .notification {
    position: absolute;
    top: var(--anchor-top);
    right: var(--anchor-right);
    z-index: 9999;

    &.with-closed-right-panel {
      top: 55px;
      right: 5px;
    }
  }
}

@supports (-ms-ime-align:auto) {
  #app { display: flex; }
}
</style>