<horizontal-collapse :seek="false">
  <map-search v-show="isShowing && dock != null"
    class="search"
    ref="modal"
    :eventBus="eventBus" />
</horizontal-collapse>

<style lang="scss" scoped>
@import "../../horizontal-collapse.scss";

.search {
  position: fixed;
  z-index: 9998;
  background-color: #fff;
  width: var(--info-panel-width);
  --height: var(--row-height-generous);
  --modal-top: 170px;
  --modal-right: 80px;
  top: var(--modal-top);
  right: var(--modal-right);

  &:active {
    z-index: 9999;
  }

  &:hover {
    z-index: 10000;
  }

  &:active {
    z-index: 10001;
  }
}
</style>
