<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>

<tbody class="custom-animal-housing">
<tr>
  <td>
    <div>{{ i18n.esAnimalType(animalType) }}</div>
    <div><i class="icon" :class="icon" aria-hidden="true"></i></div>
  </td>
  <td>{{ source.getDescription() }}</td>
  <td>{{ source.getNumberOfAnimals() }}</td>
  <td>{{ i18n.pollutant(Substance.NH3) }}</td>
  <td>{{ source.getEmissionFactor(Substance.NH3) }}</td>
  <td></td>
  <td class="numberColumn">{{ getFormattedEmission(source, Substance.NH3) }}</td>
</tr>
</tbody>

<style lang="scss" scoped>
  @import "../../pdf-table.scss";
</style>
