<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.AdditionalHousingSystem"/>

<tbody class="grouped">
<tr>
  <td>
    <div>{{ i18n.esAnimalType(animalType) }}</div>
    <div><i class="icon" :class="icon" aria-hidden="true"></i></div>
  </td>
  <td>{{ source.getAnimalHousingCode() }} - {{ detail }}</td>
  <td>{{ source.getNumberOfAnimals() }}</td>
  <td>{{ i18n.pollutant(Substance.NH3) }}</td>
  <td>{{ farmAnimalHousingEmissionFactor }}</td>
  <td></td>
  <td class="numberColumn">{{ emission }}</td>
</tr>
<tr v-for="(AdditionalHousingSystem row, index) in source.getAdditionalSystems()">
  <td></td>
  <td>{{ additionalNameExtended(row) }}</td>
  <td></td>
  <td></td>
  <td></td>
  <td>{{ additionalReductionPercentage(row) }}</td>
  <td class="numberColumn">{{ additionalEmission(row) }}</td>
</tr>
</tbody>


<style lang="scss" scoped>
  @import "../../pdf-table.scss";

  tbody.grouped {
    tr {
      &:not(:last-child) td:last-child {
        text-decoration: line-through;
      }

      td:last-child {
        min-width: 1.5cm;
      }
    }
  }
</style>
