<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmAnimalHousing"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmAnimalHousingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.CustomFarmAnimalHousing"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.StandardFarmAnimalHousing"/>

<div>
  <table class="details" :aria-label="i18n.pdfEmissionSourceDetailsAnimalHousingTableDescription()">
    <thead>
    <tr>
      <th scope="col">{{ i18n.esAnimalTypeLabel() }}</th>
      <th scope="col">{{ i18n.esFarmAnimalHousingStandardCode() }} - {{ i18n.esFarmAnimalHousingCustomDescription() }}</th>
      <th scope="col">{{ i18n.esFarmAnimalHousingCustomNumberOfAnimals() }}</th>
      <th scope="col">{{ i18n.esSubstance() }}</th>
      <th scope="col">{{ i18n.esFarmAnimalHousingDetailEmissionFactor() }}</th>
      <th scope="col">{{ i18n.esFarmAnimalHousingDetailReductionFactor() }}</th>
      <th scope="col">{{ i18n.esFarmAnimalHousingDetailEmission() }}</th>
    </tr>
    </thead>

    <template v-for="FarmAnimalHousing farmAnimalHousing in subSources">
      <farm-animal-housing-details-standard-print v-if="farmAnimalHousing.getAnimalHousingType() == FarmAnimalHousingType.STANDARD"
          :source="(StandardFarmAnimalHousing) farmAnimalHousing"/>
      <farm-animal-housing-details-custom-print v-if="farmAnimalHousing.getAnimalHousingType() == FarmAnimalHousingType.CUSTOM"
          :source="(CustomFarmAnimalHousing) farmAnimalHousing"/>
    </template>
  </table>
</div>

<style lang="scss" scoped>
  @import "../../pdf-table.scss";
</style>
