<div>
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input
    :label="vehicleType.getDescription()"
    :name='"numberOfVehicles" + "_" + vehicleType.getCode()'>
    <div class="roadTypeRow">
      <input
        :id='"numberOfVehiclesRow_" + vehicleType.getCode()'
        type="number"
        min="0.000000"
        step="any"
        v-validate:numberOfVehiclesV.input
        :class='map(e("error-input", isNumberOfVehiclesInvalid))'
        v-model="numberOfVehicles"
        :placeholder="0"
        :aria-label='"numberOfVehiclesInput" + "_" + vehicleType.getCode()'>
    </div>
  </labeled-input>
  <input-error
    :errorValidation="v.numberOfVehiclesV"
    :errorMessage="this::errorNumberOfVehicles" />
</div>

<style scoped lang="scss">
@import "../../road.scss";
@import "../../../../components/input/inputs.scss";

.error-input {
  border: solid 1px var(--border-color);
}

.roadTypeRow {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--half-spacer);
}
</style>
