<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.SimpleCategory" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.road.TrafficDirection" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.base.TimeUnit" />

<div class="standardEmissionsContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="false"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.esColdStartVehicles()"
    :transparent="true">
    <div class="timeUnitHeader">
      <select slot="label" id="timeUnit"
        v-model="timeUnit">
        <option v-for="TimeUnit tu in TimeUnit.values()" :value="tu.name()">{{ i18n.unitTime(tu) }}</option>
      </select>
    </div>
  </labeled-input>
  <cold-start-standard-vehicle-type-row v-for="SimpleCategory item in vehicleTypes"
    @errors='trackChildError("vehicleType-" + item.getCode(), (boolean) $event)'
    @warnings='trackChildWarning("vehicleType-" + item.getCode(), (boolean) $event)'
    :vehicleType="item"
    :valuesPerVehicleType="valuesPerVehicleType"
    :timeUnit="TimeUnit.valueOf(timeUnit)" />
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
@import "../../road.scss";

.timeUnitHeader {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--back-color);
  gap: var(--half-spacer);

  div {
    padding: 0px var(--half-spacer);
  }
}

.speedCategories {
  margin-bottom: var(--spacer);
}

.standardEmissionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.bothDirectionWarning {
  font-style: italic;
}

</style>
