<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OPSLimits"/>

<div class="innerContainer">
  <validation-behaviour
    :errors="isHeatContentInvalid"
    @warnings="emitWarnings((boolean) $event)"
    @errors="emitErrors((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input
    :label="i18n.sourceHeatContentLabel()"
    name="emissionHeatContent"
    :transparent="true"
    :unit="isBuildingInfluence ? null : i18n.unitSingularMW()"
    :unitDescription="isBuildingInfluence ? null : i18n.unitSingularMWDescription()"
    :showError="isHeatContentInvalid"
    :errorMessage="() -> getHeatContentError()"
    :showWarning="isHeatContentWarning"
    :warningMessage="() -> getHeatContentWarning()">
    <input id="emissionHeatContent"
      v-debug:emissionHeatContent
      type="number"
      :min="OPSLimits.SOURCE_HEAT_CONTENT_MINIMUM"
      :max="OPSLimits.SOURCE_HEAT_CONTENT_MAXIMUM"
      step="any"
      v-model="heatContent"
      :placeholder="0.0">
  </labeled-input>
</div>

<style scoped lang="scss">
@import "../ops-characteristics.scss"
</style>
