<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OPSLimits"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.HeatContentType"/>

<div class="outflowContainer">
  <validation-behaviour
    :errors="isEmissionHeightError || hasChildErrors"
    :warnings="isEmissionHeightWarning || hasChildWarnings"
    @warnings="emitWarnings((boolean) $event)"
    @errors="emitErrors((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <building-selector :eventBus="eventBus"
    @errors='trackChildError("building", (boolean) $event)'
    @warnings='trackChildWarning("building", (boolean) $event)'
    :show="true"
    :source="source" />

  <labeled-input
    :label="i18n.sourceHeatContentType()"
    name="heatContentType"
    :transparent="true">
    <select id="heatContentType"
      v-model="heatContentType"
      v-debug:heatContentType>
      <option v-for="HeatContentType hct in HeatContentType.values()"
        :value="hct.name()">{{ i18n.heatContentType(hct) }}</option>
    </select>
  </labeled-input>
  <labeled-input
    :label="i18n.sourceEmissionHeightLabel()"
    name="emissionHeight"
    :transparent="true"
    :unit="i18n.unitSingularMeter()"
    :unitDescription="i18n.unitSingularMeterDescription()"
    :showWarning="isEmissionHeightWarning"
    :warningMessage="() -> getEmissionHeightWarning()"
    :showError="isEmissionHeightError"
    :errorMessage="() -> getEmissionHeightError()">
    <input id="emissionHeight"
      type="number"
      :min="OPSLimits.SOURCE_EMISSION_HEIGHT_MINIMUM"
      :max="OPSLimits.SOURCE_EMISSION_HEIGHT_MAXIMUM"
      step="any"
      v-model="emissionHeight"
      :placeholder="OPSLimits.SOURCE_EMISSION_HEIGHT_MINIMUM"
      v-debug:emissionHeight>
  </labeled-input>
  <vertical-collapse>
    <outflow-forced-editor v-if="isForcedHeat()"
      @errors='trackChildError("outflow", (boolean) $event)'
      @warnings='trackChildWarning("outflow", (boolean) $event)'
      :source="source"
      :buildingInfluence="isBuildingInfluence()"
      ref="outflowForcedComponent" />
  </vertical-collapse>
  <vertical-collapse>
    <outflow-not-forced-editor v-if="!isForcedHeat()"
      @errors='trackChildError("outflow", (boolean) $event)'
      @warnings='trackChildWarning("outflow", (boolean) $event)'
      :source="source"
      :buildingInfluence="isBuildingInfluence()"
      ref="outflowNotForcedComponent" />
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../../vertical-collapse.scss";
@import "../ops-characteristics.scss";

.outflowContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
