<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OPSLimits"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OutflowDirectionType"/>

<div class="innerContainer">
  <validation-behaviour
    :warnings="isEmissionTemperatureWarning || isOutflowDiameterWarning || isOutflowVelocityWarning"
    :errors="isEmissionTemperatureInvalid || isOutflowDiameterInvalid || isOutflowVelocityInvalid"
    @warnings="emitWarnings((boolean) $event)"
    @errors="emitErrors((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input
    :label="i18n.sourceEmissionTemperatureLabel()"
    name="emissionTemperature"
    :showWarning="isEmissionTemperatureWarning"
    :warningMessage="() -> getEmissionTemperatureWarning()"
    :showError="isEmissionTemperatureError"
    :errorMessage="() -> getEmissionTemperatureError()"
    :transparent="true"
    :unit="buildingInfluence ? null : i18n.unitSingularCelsius()"
    :unitDescription="buildingInfluence ? null : i18n.unitSingularCelsiusDescription()">
    <input id="emissionTemperature"
      type="number"
      :min="0"
      :max="OPSLimits.SOURCE_EMISSION_TEMPERATURE_MAXIMUM"
      step="any"
      v-validate:emissionTemperatureV.input
      v-model="emissionTemperature"
      :placeholder="OPSLimits.AVERAGE_SURROUNDING_TEMPERATURE"
      v-debug:emissionTemperature>
  </labeled-input>
  <labeled-input
    :label="i18n.sourceOutflowDiameterLabel()"
    name="outflowDiameter"
    :showWarning="isOutflowDiameterWarning"
    :warningMessage="() -> getOutflowDiameterWarning()"
    :showError="isOutflowDiameterError"
    :errorMessage="() -> getOutflowDiameterError()"
    :transparent="true"
    :unit="i18n.unitSingularMeter()"
    :unitDescription="i18n.unitSingularMeterDescription()">
    <input
      id="outflowDiameter"
      type="number"
      :min="OPSLimits.SOURCE_OUTFLOW_DIAMETER_MINIMUM"
      :max="OPSLimits.SCOPE_NO_BUILDING_OUTFLOW_DIAMETER_MAXIMUM"
      step="any"
      v-validate:outflowDiameterV.input
      v-model="outflowDiameter"
      :placeholder="0.0"
      v-debug:outflowDiameter>
  </labeled-input>
  <labeled-input :label="i18n.sourceOutflowDirectionLabel()"
    name="outflowDirectionType"
    :transparent="true">
    <select id="outflowDirectionType"
      class="outflowDirectionType"
      v-model="outflowDirectionType"
      v-debug:outflowDirectionType>
      <option v-for="OutflowDirectionType od in OutflowDirectionType.values()"
        :value="od.name()">{{ i18n.sourceOutflowDirectionType(od) }}</option>
    </select>
  </labeled-input>
  <labeled-input :label="i18n.sourceOutflowVelocityLabel()"
    name="outflowVelocity"
    :showWarning="isOutflowVelocityWarning"
    :warningMessage="() -> getOutflowVelocityWarning()"
    :showError="isOutflowVelocityError"
    :errorMessage="() -> getOutflowVelocityError()"
    :transparent="true"
    :unit="i18n.unitSingularMeterPerSecond()"
    :unitDescription="i18n.unitSingularMeterPerSecondDescription()">
    <input id="outflowVelocity"
      type="number"
      :min="OPSLimits.SOURCE_OUTFLOW_VELOCITY_MINIMUM"
      :max="OPSLimits.SCOPE_NO_BUILDING_OUTFLOW_VELOCITY_MAXIMUM"
      step="any"
      v-validate:outflowVelocityV.input
      v-model="outflowVelocity"
      :placeholder="0.0"
      v-debug:outflowVelocity>
  </labeled-input>
</div>

<style scoped lang="scss">
@import "../ops-characteristics.scss";

.row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.outflowDirectionType {
  flex-basis: 50%;
  margin-right: 5px;
}

.outflowVelocity {
  flex-basis: 50%;
}
</style>
