<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadStandardVehicleType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadTypeMode" />

<div>
  <divider type="big" v-if="!source.isVehicleBasedCharacteristics()" />
  <road-vehicles-detail
    :stagnationEnabled="(boolean) false"
    :mode="RoadTypeMode.COLD_START"
    :source="source"
    :substances="substances" />
  <divider type="big" />
  <div class="padding">
    <h3>{{ totalEmissionTitle }}</h3>
    <divider type="small" />
    <div class="detail-emission-container">
      <div>{{ i18n.esTitle() }}</div>
      <div class="detail-emission-subcontainer">
        <div v-for="(Substance substance, index) in substances" class="detail-emission-substance">
          <div class="detail-label" v-debug='"coldStartDetailRoadStandardSubstance-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
          <div v-debug='"coldStartDetailRoadStandardEmissionTotalValue-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../road.scss";
@import "../../../../vertical-collapse.scss";

.padding {
  padding: 10px;
  padding-top: 0;
}

.padding-top {
  padding-top: 10px;
}
</style>
