<div>
  <detail-stat :label="i18n.timeVaryingProfileTotal()"
    division="23fr 15fr"
    debugId="timeVaryingProfileTotalMonthly"
    :value="total"
    :alignRight="true" />
  <detail-stat :label="i18n.timeVaryingProfileAverage()"
    division="23fr 15fr"
    debugId="timeVaryingProfileAverageMonthly"
    :value="average"
    :alignRight="true" />
</div>
