<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.util.ThreeDayProfileUtil" />

<div>
  <detail-stat :label="i18n.timeVaryingProfileTotalWeekday()"
    division="23fr 15fr"
    debugId="diurnalTimeVaryingProfileTotalWeekday"
    :value="calculateTotal(ThreeDayProfileUtil.WEEKDAY)"
    :alignRight="true" />
  <detail-stat :label="i18n.timeVaryingProfileTotalSaturday()"
    division="23fr 15fr"
    debugId="diurnalTimeVaryingProfileTotalSaturday"
    :value="calculateTotal(ThreeDayProfileUtil.SATURDAY)"
    :alignRight="true" />
  <detail-stat :label="i18n.timeVaryingProfileTotalSunday()"
    division="23fr 15fr"
    debugId="diurnalTimeVaryingProfileTotalSunday"
    :value="calculateTotal(ThreeDayProfileUtil.SUNDAY)"
    :alignRight="true" />
  <detail-stat :label="i18n.timeVaryingProfileTotal()"
    division="23fr 15fr"
    debugId="diurnalTimeVaryingProfileTotal"
    :value="total"
    :alignRight="true" />
  <detail-stat :label="i18n.timeVaryingProfileAverageWeekday()"
    division="23fr 15fr"
    debugId="diurnalTimeVaryingProfileAverageWeekday"
    :value="calculateAverage(ThreeDayProfileUtil.WEEKDAY)"
    :alignRight="true" />
  <detail-stat :label="i18n.timeVaryingProfileAverageSaturday()"
    division="23fr 15fr"
    debugId="diurnalTimeVaryingProfileAverageSaturday"
    :value="calculateAverage(ThreeDayProfileUtil.SATURDAY)"
    :alignRight="true" />
  <detail-stat :label="i18n.timeVaryingProfileAverageSunday()"
    division="23fr 15fr"
    debugId="diurnalTimeVaryingProfileAverageSunday"
    :value="calculateAverage(ThreeDayProfileUtil.SUNDAY)"
    :alignRight="true" />
  <detail-stat :label="i18n.timeVaryingProfileAverage()"
    division="23fr 15fr"
    debugId="diurnalTimeVaryingProfileAverage"
    :value="average"
    :alignRight="true" />
</div>
