<div class="row" v-debug='"profile-" + profile.getGmlId()'
  :tabindex="0">
  <div class="iconColumn"><i :class="profileFontClass()"></i></div>
  <div class="labelColumn">{{ profile.getLabel() }}</div>
</div>

<style scoped lang="scss">
@import "../../../../../row-item.scss";

.row {
  grid-template-columns: 36px 1fr;
}
</style>
