<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.util.TimeVaryingProfileUtil" />

<div class="timeVaryingProfileContainer" v-if="timeVaryingProfile != null">
  <h2 v-if="headingLevel == 2"
    v-debug='getDebugId("timeVaryingProfileTitle")'>{{ i18n.timeVaryingProfilePanelTitle(timeVaryingProfile.getType()) }}</h2>
  <h3 v-else
    v-debug='getDebugId("timeVaryingProfileTitle")'>{{ i18n.timeVaryingProfilePanelTitle(timeVaryingProfile.getType()) }}</h3>
  <divider type="small" />
  <detail-stat
    :debugId='getDebugId("timeVaryingProfileName")'
    :label="i18n.timeVaryingProfileNameLabel()"
    :value="timeVaryingProfile.getLabel()" />
  <detail-stat
    :debugId='getDebugId("timeVaryingProfileType")'
    :label="i18n.timeVaryingProfileTypeLabel()"
    :value="i18n.timeVaryingProfileTypeValue(timeVaryingProfile.isSystemProfile())" />

  <three-day-profile-stats-view v-if="stats && threeDayProfile" :timeVaryingProfile="timeVaryingProfile" />
  <monthly-profile-stats-view v-if="stats && monthlyProfile" :timeVaryingProfile="timeVaryingProfile" />

  <vertical-collapse>
    <time-varying-profile-graph-component
      class="graph"
      width="342"
      height="150"
      :locale="locale"
      :data="timeVaryingProfileData"
      :type="timeVaryingProfileType"
      v-debug='getDebugId("timeVaryingProfileGraph")' />
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../../../vertical-collapse.scss";

.timeVaryingProfileContainer {
  display: flex;
  flex-direction: column;

  h2 {
    margin-right: 60px;
  }

  .graph {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    margin-left: calc(var(--spacer) * -0.5);
    width: 400px;
  }
}

.timeVaryingProfileContainer {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}
</style>
