<vue-gwt:import class="elemental2.dom.MouseEvent" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.CustomTimeVaryingProfileType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.characteristics.timevarying.TimeVaryingProfileSelectorComponent.TimeVaryingProfileViewMode" />

<div>
  <h2>{{ i18n.timeVaryingProfiles(TimeVaryingProfileViewMode.CUSTOM) }}</h2>

  <modify-list
    class="toolbox"
    debugId="time-varying-"
    @new-entity="createNewDiurnalProfile()"
    @duplicate-entity="duplicateTimeVaryingProfile()"
    @delete-entity="deleteTimeVaryingProfile()"
    @edit-entity="editTimeVaryingProfile()"
    :typeText="i18n.timeVaryingProfileTitle(CustomTimeVaryingProfileType.THREE_DAY)"
    newIconClass="icon-btn-new-diurnal-profile"
    :selected="listContext.hasSelection()"
    :singleSelected="listContext.hasSingleSelection()"
    :multiSelected="listContext.hasMultiSelection()"
    :enableNameLabels="false"
    :disableDelete="isSystemProfileSelected"
    :enableEdit="true"
    :customButtonsLeft="customButtons()" />

  <vertical-collapse>
    <div v-if="hasTimeVaryingProfiles">
      <div class="profiles">
        <vertical-collapse-group>
          <time-varying-profile-row :profile="profile"
            v-for="TimeVaryingProfile profile in timeVaryingProfiles"
            :key="profile.getGmlId()"
            @mouseenter.native="peekTimeVaryingProfile(profile)"
            @mouseleave.native="unpeekTimeVaryingProfile(profile)"
            @keyup.enter.space.native="selectTimeVaryingProfile(profile)"
            @click.native="clickTimeVaryingProfile(profile, (MouseEvent) $event)"
            :aria-selected="listContext.isSelected(profile)"
            :class='map("selected", listContext.isSelected(profile))' />
        </vertical-collapse-group>
      </div>

      <button v-debug:profileListButtonDeleteAllProfiles
        class="buttonDeleteAll"
        @click="deleteAllTimeVaryingProfiles()">{{ i18n.timeVaryingProfileButtonDeleteAll() }}</button>
    </div>
  </vertical-collapse>

  <vertical-collapse>
    <div v-if="!hasTimeVaryingProfiles" class="emptyProfiles">
      <p>{{ i18n.timeVaryingProfileCustomNoProfiles() }}</p>

      <div class="buttons">
        <button-icon class="button"
          :hardBorder="true"
          @select="createNewDiurnalProfile()"
          iconClass="icon-btn-new-diurnal-profile"
          v-debug:calculationLaunchButtonNewProfile>
          <span class="label">{{ i18n.clButtonNewDiurnalProfile() }}</span>
        </button-icon>
        <button-icon class="button"
          :hardBorder="true"
          @select="createNewMonthlyProfile()"
          iconClass="icon-btn-new-monthly-profile"
          v-debug:calculationLaunchButtonNewMontlyProfile>
          <span class="label">{{ i18n.clButtonNewMonthlyProfile() }}</span>
        </button-icon>
      </div>
    </div>
  </vertical-collapse>

  <h2>{{ i18n.timeVaryingProfiles(TimeVaryingProfileViewMode.STANDARD) }}</h2>

  <div class="standardProfiles">
    <vertical-collapse-group>
      <time-varying-profile-row :profile="profile"
        v-for="TimeVaryingProfile profile in standardTimeVaryingProfiles"
        :key="profile.getGmlId()"
        @mouseenter.native="peekStandardTimeVaryingProfile(profile)"
        @mouseleave.native="unpeekStandardTimeVaryingProfile(profile)"
        @keyup.enter.space.native="selectStandardTimeVaryingProfile(profile)"
        @click.native="selectStandardTimeVaryingProfile(profile)"
        :aria-selected="listContext.isSelected(profile)"
        :class='map("selected", listContext.isSelected(profile))' />
    </vertical-collapse-group>
  </div>
</div>

<style lang="scss" scoped>
@import "../../../../../variables.scss";
@import "../../../../../vertical-collapse.scss";

h2 {
  padding: 0px var(--spacer);
  font-size: 1.3em;
}

.toolbox {
  padding: 0px var(--spacer);
}

.profiles {
  max-height: calc(100vh - var(--scenario-input-list-buffer, 465px));
  overflow: auto;
}

.selected {
  background-color: var(--theme-color-light);
}

.emptyProfiles {
  padding: var(--spacer);
  color: var(--text-color);

  .buttons {
    display: flex;

    gap: var(--spacer);
    justify-content: center;
    margin-top: 20px;

    .button {
      padding: var(--spacer);
      height: initial;

      display: flex;
      align-items: center;

      .label {
        padding: 0px var(--spacer);
      }
    }
  }
}

.buttonDeleteAll {
  @include button;
  flex-grow: 3;
  align-self: center;
  margin: var(--spacer);
}
</style>
