<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsAreaSummary"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsEdgeReceptor"/>

<div>
  <h2 id="results-edge-effects">{{ i18n.resultsEdgeEffectsTitle() }}</h2>
  <div class="collapsible-container">
    <vertical-collapse-group>
      <collapsible-panel
          class="collapsible-panel"
          v-for="SituationResultsAreaSummary d in context.getActiveResultSummary().getAreaStatistics()"
          :key="d.getAssessmentArea().getId()"
          :title="d.getAssessmentArea().getName()"
          :open="isOpen(d.getAssessmentArea().getId())"
          @user-open="openPanel(d)"
          @user-close="closePanel()">
        <button-icon slot="aux"
          :titleText="i18n.resultsZoomToAreaTitle()"
          class="zoomToArea"
          @click.native.stop='zoomToArea(d)'
          iconClass="icon-map-zoom-to-extend"/>

        <table aria-describedby="results-edge-effects">
          <thead>
          <tr>
            <th>{{ i18n.resultsEdgeEffectReceptorId() }}</th>
            <th>{{ i18n.resultsScenarioResultType(getResultContext().getGeneralizedEmissionResultType(), getResultContext().getResultType(), depositionType) }}</th>
            <th>{{ i18n.resultsEdgeEffectReceptorReference(depositionType) }}</th>
            <th v-if="showOffSiteReductionResultsColumn">{{ i18n.resultsEdgeEffectReceptorOffSiteReduction(depositionType) }}</th>
            <th>{{ i18n.resultsEdgeEffectReceptorProposed(getResultContext().getResultType(), depositionType) }}</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="SituationResultsEdgeReceptor receptor in d.getEdgeReceptors()">
            <td v-debug:edgeEffectReceptorId>{{ receptor.getReceptorId() }}</td>
            <td v-debug:edgeEffectReceptorResult>{{ formatValueFor(receptor.getResult()) }}</td>
            <td v-debug:edgeEffectReceptorReferenceResult>{{ formatValueFor(receptor.getReferenceResult()) }}</td>
            <td v-debug:edgeEffectReceptorOffSiteReductionResult v-if="showOffSiteReductionResultsColumn">{{ formatValueFor(receptor.getOffSiteReductionResult()) }}</td>
            <td v-debug:edgeEffectReceptorProposedResult>{{ formatValueFor(receptor.getProposedResult()) }}</td>
          </tr>
          </tbody>
        </table>

      </collapsible-panel>
    </vertical-collapse-group>
  </div>
</div>

<style lang="scss" scoped>
  @import "../result-view.scss";

  h4 {
    padding: 0 var(--spacer);
  }

  table {
    width: 100%;
    margin: 0 var(--spacer);
  }

  tr {
    padding: var(--half-spacer) 0;
  }

  th {
    text-align: left;
  }
</style>
