<div>
  <calculation-job-edit-view v-if="getTemporaryJob() != null"
    :eventBus="eventBus"
    :temporaryJob="getTemporaryJob()"
    :temporaryJobId="prepContext.getTemporaryJobId()" />

  <calculation-job-list-empty-view v-if="getTemporaryJob() == null && jobs.isEmpty()" :eventBus="eventBus" />

  <calculation-job-list-view v-if="getTemporaryJob() == null && !jobs.isEmpty()" :eventBus="eventBus" />
</div>

<style lang="scss" scoped>

</style>
