<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.calculation.JobState" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.pages.calculate.CalculationJobEditPanel" />

<div>
  <div class="title-container">
    <h1>{{ i18n.calculationJobsTitle() }}</h1>
    <button-icon v-debug:calculationJobZoomToButton
      class="zoom-to-button"
      :titleText="i18n.zoomToCalculationJob()"
      @select="zoomToCalculationJob()"
      iconClass="icon-map-zoom-to-extend" />
  </div>

  <div>
    <div class="padding">
      <input-warning :showWarning="hasJobDuplicates"
        :warningMessage="() -> i18n.resultsJobDuplicateWarningText(getSimilars())"
        :round="true" />
      <input-warning :showWarning="isCalculationSourceDiscrepancy"
        :warningMessage="() -> i18n.resultsDiscrepancyWarningText()"
        :round="true" />
    </div>

    <div class="padding">
      <labeled-input :label="i18n.esLabelName()"
        name="label"
        :showError="v.labelV.invalid"
        :errorNotices="v.labelV">
        <input type="text" v-debug:label
          v-model="label"
          :placeholder="i18n.esLabelName()"
          maxlength="128" />
      </labeled-input>
    </div>

    <div class="collapsibles">
      <collapsible-panel class="collapsible-item"
        :title="i18n.calculationJobPanelCalculationJobSettings()"
        debugId="collapsible-panel-CalculationJobSettings"
        :open="isOpen(CalculationJobEditPanel.CALCULATION_JOB_SETTINGS)"
        @user-open="selectPanel(CalculationJobEditPanel.CALCULATION_JOB_SETTINGS)"
        @user-close="selectPanel(null)">
        <error-warning-icon
          slot="aux"
          :title="i18n.calculationJobPanelCalculationJobSettings()"
          :reveal="displayFormProblems && !isOpen(CalculationJobEditPanel.CALCULATION_JOB_SETTINGS)"
          :showError="validationContext.hasCalculationJobSettingsError()" />
        <calculation-job-settings
          :calculationOptions="temporaryJob.getCalculationOptions()"
          :composition="temporaryJob.getSituationComposition()"
          :eventBus="eventBus"
          @warnings='onCalculationJobSettingsWarningChange((boolean) $event)'
          @errors='onCalculationJobSettingsErrorChange((boolean) $event)' />
      </collapsible-panel>

      <collapsible-panel v-if="isShowDevelopmentPressureSearch" class="collapsible-item"
        :title="i18n.calculationJobPanelDevelopmentPressureSearch()"
        debugId="collapsible-panel-DevelopmentPressureSearch"
        :open="isOpen(CalculationJobEditPanel.DEVELOPMENT_PRESSURE_SEARCH)"
        @user-open="selectPanel(CalculationJobEditPanel.DEVELOPMENT_PRESSURE_SEARCH)"
        @user-close="selectPanel(null)">
        <error-warning-icon
          slot="aux"
          :title="i18n.calculationJobPanelDevelopmentPressureSearch()"
          :reveal="displayFormProblems && !isOpen(CalculationJobEditPanel.DEVELOPMENT_PRESSURE_SEARCH)"
          :showError="validationContext.hasDevelopmentPressureSearchError()" />
        <calculation-job-development-pressure-search
          :job-context="temporaryJob"
          @selectionModified="developmentPressureSearchSelectionModified()"
          @warnings='onDevelopmentPressureSearchWarningChange((boolean) $event)'
          @errors='onDevelopmentPressureSearchErrorChange((boolean) $event)' />
      </collapsible-panel>

      <collapsible-panel v-if="isNCA" class="collapsible-item"
        :title="i18n.calculationJobPanelMeteorologicalSettings()"
        debugId="collapsible-panel-MeteorologicalSettings"
        :open="isOpen(CalculationJobEditPanel.METEOROLOGICAL_SETTINGS)"
        @user-open="selectPanel(CalculationJobEditPanel.METEOROLOGICAL_SETTINGS)"
        @user-close="selectPanel(null)">
        <error-warning-icon
          slot="aux"
          :title="i18n.calculationJobPanelMeteorologicalSettings()"
          :reveal="displayFormProblems && !isOpen(CalculationJobEditPanel.METEOROLOGICAL_SETTINGS)"
          :showError="validationContext.hasMeteorologicalSettingsError()" />
        <calculation-job-meteorological-settings
          :options="temporaryJob.getCalculationOptions()"
          :composition="temporaryJob.getSituationComposition()"
          @warnings='onMeteorologicalSettingsWarningChange((boolean) $event)'
          @errors='onMeteorologicalSettingsErrorChange((boolean) $event)' />
      </collapsible-panel>

      <collapsible-panel v-if="isNCA" class="collapsible-item"
        :title="i18n.calculationJobPanelAdvancedSettings()"
        debugId="collapsible-panel-AdvancedSettings"
        :open="isOpen(CalculationJobEditPanel.ADVANCED_SETTINGS)"
        @user-open="selectPanel(CalculationJobEditPanel.ADVANCED_SETTINGS)"
        @user-close="selectPanel(null)">
        <error-warning-icon
          slot="aux"
          :title="i18n.calculationJobPanelAdvancedSettings()"
          :reveal="displayFormProblems && !isOpen(CalculationJobEditPanel.ADVANCED_SETTINGS)"
          :showError="validationContext.hasAdvancedSettingsError()" />
        <calculation-job-advanced-settings
          :options="temporaryJob.getCalculationOptions()"
          @warnings='onAdvancedSettingsWarningChange((boolean) $event)'
          @errors='onAdvancedSettingsErrorChange((boolean) $event)' />
      </collapsible-panel>
    </div>

    <modify-cancel-save
      class="bottomButtons"
      debugId="CalculationJobBottomButtons"
      :encumbered="hasValidationWarnings"
      :prevented="hasValidationErrors"
      :confirm="displayFormProblems"
      :saveText="i18n.esButtonSave()"
      @confirm="setNotificationState((boolean) $event)"
      @cancel="cancel()"
      @try-save="trySave()"
      @save="save()">
      <div class="warningContainer"
        slot="encumbered"
        role="alert"
        aria-live="polite">
        <div class="label">{{ i18n.esButtonSaveEncumberedText() }}</div>
        <div class="close"
          @click="closeWarning()"
          v-vector="img.iconClose()"></div>
      </div>
    </modify-cancel-save>

    <vertical-collapse>
      <div v-if="isInvalid && genericValidationContext.isDisplayFormProblems()"
        class="errorContainer"
        role="alert"
        aria-live="polite"
        v-debug:calculationCompositionErrorContainer>
        <div class="label">{{ i18n.esButtonSavePreventedText() }}</div>
        <div @click="closeError()" class="close"
          tabindex="0"
          v-vector="img.iconClose()"></div>
      </div>
    </vertical-collapse>
  </div>
</div>

<style scoped lang="scss">
@import "../../../components/input/inputs.scss";
@import "../../../components/input/validations.scss";
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";

.title-container {
  display: flex;
  justify-content: space-between;

  h1 {
    margin-left: var(--spacer);
    margin-right: var(--spacer);
  }
  
  .zoom-to-button {
    height: 32px;
    width: 32px;
    min-width: 32px;
    margin: var(--half-spacer);
  }
}

.warningContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: var(--spacer) 0px;

  .alert {
    display: flex;
    flex-direction: column;
  }

  button {
    margin-right: auto;
  }
}

.iconContainer {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--half-spacer);

  .btn--icon {
    min-width: 30px;
  }
}

button {
  @include button;
}

.bottomButtons {
  padding: var(--spacer);
}

.cancel {
  align-self: flex-start;
}

.settingsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.padding {
  padding: var(--spacer);
}

.discrepancyWarning {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: var(--spacer);
  color: var(--text-color);
  border: 1px solid;
  border-color: var(--warning-color);
  background-color: var(--warning-color-light);
}

.warningContainer, .errorContainer {
  margin: 0px;
  padding: 0 var(--spacer);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: var(--half-spacer);

  .name {
    flex-grow: 1;
  }
}

.collapsibles {
  overflow: auto;

  .collapsible-item {
    border-top: var(--half-separator);
    border-bottom: var(--half-separator);

    &:first-child {
      border-top: var(--separator);
    }
    &:last-child {
      border-bottom: var(--separator);
    }

    .collapsible-content {
      padding: var(--half-spacer) 0px;
      flex-grow: 1;
    }
  }
}
</style>
