<div class="calculate-summary-container"
  :class='map("show-map", isShowMap)'>
  <situation-summary-view :situationComposition="situationComposition"
    :eventBus="eventBus"
    :showZoomButton="true"
    class="summary" />
  <div v-if="isShowMap" class="divider" />
  <calculation-job-map-view v-if="isShowMap"
    :eventBus="eventBus"
    class="map" />
  <floating-utility class="icons"
    :eventBus="eventBus"
    :floating="false" />
</div>

<style lang="scss" scoped>
.calculate-summary-container {
  height: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: "summary icons";

  &.show-map {
    grid-template-rows: fit-content(40%) auto 1fr;
    grid-template-areas: "summary"
                         "divider"
                         "map";
  }

  .divider {
    grid-area: divider;

    height: var(--slider-width);
    flex-shrink: 0;
    background: var(--light-grey);
    /*cursor: col-resize;*/
    border-radius: 0 !important;
  }

  .summary {
    grid-area: summary;
  }

  .icons {
    grid-area: icons;
    position: absolute;
    right: 0;
  }

  .map {
    grid-area: map;
  }
}
</style>
