<!-- Note: defaultContentContainer is part of a UK override -->
<div>
  <h1>{{ i18n.calculationJobsTitle() }}</h1>

  <div class="empty">{{ i18n.calculateEmptyJobs() }}</div>
  
  <div class="buttons">
    <button-icon class="button"
      :hardBorder="true"
      @select="addCalculationJob()"
      iconClass="icon-btn-new-calculation-job"
      v-debug:buttonAddJob>
      <span class="label">{{ i18n.calculationAddJob() }}</span>
    </button-icon>
  </div>
</div>

<style lang="scss" scoped>
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";

h1, .empty {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.buttons {
  display: flex;

  gap: var(--spacer);
  justify-content: center;
  
  padding-top: var(--spacer);

  .button {
    padding: var(--spacer);
    height: initial;

    display: flex;
    align-items: center;

    .label {
      padding: 0px var(--spacer);
    }
  }
}
</style>
