<vue-gwt:import class="nl.overheid.aerius.wui.application.context.calculation.SituationHandle" />

<div>
  <collapsible-panel
    v-for="CalculationExecutionContext calculation in calculations"
    :open="isActiveCalculation(calculation) && isNotUndefined(calculation)"
    @user-open="setActiveCalculation(calculation)"
    class="panel">
    <div slot="title" class="title">
      <div class="name">{{ getJobName(calculation) }}</div>
      <horizontal-collapse :seek="(boolean) false">
        <div>{{ i18n.calculationStatus(calculation.getJobState()) }}</div>
      </horizontal-collapse>
      <horizontal-collapse :seek="(boolean) false">
        <div v-if="isErrorState(calculation)"
          class="iconContainer">
          <i class="icon icon-error"><i class="path1"></i><i class="path2"></i></i>
        </div>
      </horizontal-collapse>
      <horizontal-collapse :seek="(boolean) false">
        <div v-if="isCancelState(calculation)"
        class="iconContainer cancel">
          <icon class="icon" icon="icon-warning-small" />
        </div>
      </horizontal-collapse>
      <horizontal-collapse :seek="(boolean) false">
        <div v-if="isFinishedState(calculation)"
        class="iconContainer complete">
          <icon class="icon" icon="icon-valid" />
        </div>
      </horizontal-collapse>
      <horizontal-collapse :seek="(boolean) false">
        <div v-if="isRunning(calculation)"
          class="iconContainer">
          <img class="icon"
            :alt="i18n.ariaLabelSpinner()"
            :src="img.loadingSpinner().getSafeUri().asString()"></img>
        </div>
      </horizontal-collapse>
    </div>
    <div class="calculationContent">
    <!--
      <div class="table">
        <div class="situationRow">
          <div>{{ i18n.calculateScenarioIndexHeader() }}</div>
          <div>{{ i18n.calculateScenarioHeader() }}</div>
          <div>{{ i18n.calculateScenarioTypeHeader() }}</div>
          <div class="row-right">{{ i18n.calculateEmissionSourcesHeader() }}</div>
        </div>
        <div v-for="SituationHandle handle in calculation.getSituations()"
          class="situationRow">
          <div>{{ handle.getCode() }}</div>
          <div>{{ handle.getName() }}</div>
          <div>{{ i18n.situationType(handle.getType()) }}</div>
          <div class="row-right">{{ handle.getSources() }}</div>
        </div>
      </div>
       -->
      <div>{{ i18n.calculateSummaryCalculated(getCalculatedHa(calculation)) }}</span></div>
      <button @click="goToResults()"
        class="resultsButton">{{ i18n.calculateSummaryViewResults() }}</button>

      <button @click="removeCalculation(calculation)" v-if="isInitialized(calculation) || isErrorState(calculation)"
        class="resultsButton">{{ i18n.calculateSummaryRemoveCalculation() }}</button>

      <button @click="cancelCalculation(calculation)" v-if="isInitialized(calculation) && isNotFinished(calculation)"
        class="resultsButton">{{ i18n.calculateSummaryCancelCalculation() }}</button>
    </div>
  </collapsible-panel>
</div>

<style lang="scss" scoped>
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";
@import "../../../horizontal-collapse.scss";

.row-right {
  text-align: right;
}

.calculationContent {
  padding: var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
  flex-grow: 1;
}

.table {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: var(--half-spacer);
}

.situationRow {
  display: contents;
}

.panel {
  border-top: var(--half-separator);
  border-bottom: var(--half-separator);

  &:first-child {
    border-top: var(--separator);
  }
  &:last-child {
    border-bottom: var(--separator);
  }
}

.iconContainer {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    height: 24px;
    width: 24px;
    margin: 6px;
    font-size: 24px;
  }
}

.cancel {
  color: var(--error-color);
  .icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}

.complete {
}

.resultsButton {
  @include button;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: var(--half-spacer);

  .name {
    flex-grow: 1;
  }
}
</style>
