<vue-gwt:import class="elemental2.dom.MouseEvent" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.context.calculation.CalculationJobContext" />

<!-- Note: defaultContentContainer is part of a UK override -->
<div class="listContainer defaultContentContainer">
  <h1>{{ i18n.calculationJobsTitle() }}</h1>

  <collapsible-panel :title="i18n.calculationJobsTitle()" class="collapsible-item" :open="true">
    <div class="collapsible-content">
      <div class="calculationJobsContainer">
        <div>
          <modify-list
            class="toolbox"
            debugId="calculation-job-"
            @new-entity="addCalculationJob()"
            @duplicate-entity="duplicateCalculationJob()"
            @delete-entity="deleteCalculationJob()"
            @edit-entity="editCalculationJob()"
            :typeText="i18n.calculationJob()"
            newIconClass="icon-btn-new-calculation-job"
            :selected="prepContext.getActiveJob() != null"
            :enableDelete="prepContext.getActiveJob() != null"
            :enableEdit="true"
            :customButtonsRight="customListButtons()" />
          <div class="jobs">
            <vertical-collapse-group>
              <calculation-job-row v-for="(CalculationJobContext job, idx) in jobs"
                class="item"
                :aria-selected="prepContext.isActiveJob(job)"
                :class='map("selected", prepContext.isActiveJob(job))'
                :key="idx"
                :job="job"
                :index="idx + 1"
                :eventBus="eventBus"
                :selected="prepContext.isActiveJob(job)"
                @mouseenter.native="peekCalculationJob(job)"
                @mouseleave.native="unpeekCalculationJob(job)"
                @keyup.enter.space.native="selectCalculationJob(job)"
                @click.native="selectCalculationJob(job)" />
            </vertical-collapse-group>
          </div>
        </div>
        <button v-debug:calculationJobsListButtonDeleteAll
          class="buttonDeleteAll"
          @click="deleteAllCalculationJobs()">{{ i18n.calculationJobsDeleteButton() }}
        </button>
      </div>
    </div>
  </collapsible-panel>

  <div v-if="flags.hasDeveloperPanel()"
    class="devList">
    <calculation-summary-list
      :eventBus="eventBus" />
  </div>
</div>

<style lang="scss" scoped>
@import "../../../variables.scss";
@import "../../../components/input/inputs.scss";
@import "../../../components/input/validations.scss";
@import "../../../vertical-collapse.scss";

h1 {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.collapsible-item {
  .collapsible-content {
    padding: var(--half-spacer) 0px;
    flex-grow: 1;

    .calculationJobsContainer {
      display: flex;
      flex-direction: column;
      gap: var(--half-spacer);

      .toolbox {
        border-top: var(--separator);
        padding: var(--quarter-spacer);
      }

      .jobs {
        overflow: auto;

        border-top: var(--half-separator);
        border-bottom: var(--half-separator);

        .item {
          width: calc(var(--column-left-width-user-setting) - var(--slider-width));
        }

        .selected {
          background-color: var(--theme-color);
          color: white;
        }
      }

      .buttonDeleteAll {
        @include button;
        align-self: start;
        margin: 0 var(--spacer);
      }
    }
  }
}

.devList {
  border: 5px solid red;
}
</style>
