<div class="row-container">
  <div
    class="row"
    :class='map("selected", selected)'
    v-debug='"calculationJob-" + index'
    :tabindex="0">
    <styled-point
      :displayId="index"
      backColor="white"
      foreColor="black"
      v-debug='"calculationJobListButtonZoomToPoint-" + index' />
    <div
      class="labelColumn"
      v-debug='"calculationJob-" + index + "-name"'>
      {{ job.getName() }}
    </div>
    <button
      v-if="isInitialized() && isNotFinished()"
      @click.stop="cancelCalculation()"
      class="cancelButton">
      {{ i18n.calculateSummaryCancelCalculation() }}
    </button>
    <button
      v-if="(!isInitialized() && !isNotFinished()) || staleState"
      @click.stop="startCalculation()"
      class="startButton">
      {{ i18n.calculateSummaryStartCalculation() }}
    </button>
    <div class="status">
      <calculation-job-status
        :jobContext="job"
        :highlight="selected" />
    </div>
  </div>
  <job-progress-bar
    class="progress-bar"
    :jobProgress="jobProgress"
    :selected="selected" />
</div>

<style
  scoped
  lang="scss">
  @import "../../../variables.scss";
  @import "../../../row-item.scss";

  .row-container {
    position: relative;

    .row {
      position: relative;
      display: flex;
      background: none;
      color: black;
      z-index: 2;
      height: var(--row-height-generous);
      border-top: var(--half-separator);
      border-bottom: var(--half-separator);

      &.selected {
        color: white;

        .status {
          background-color: var(--theme-color);
        }
        
        .cancelButton,
        .startButton {
          &:hover {
            border-color: white;
          }
          
          &:focus:enabled:not(.active) {
            outline-color: white;
          }
        }
      }

      &:hover {
        z-index: 3;
      }

      .labelColumn {
        flex: 1;
      }

      .cancelButton,
      .startButton {
        @include button;

        &:empty {
          display: none;
        }
      }

      .status {
        display: flex;
        align-items: center;
        margin-left: var(--half-spacer);
        height: 100%;

        &:empty {
          display: none;
        }
      }
    }

    .progress-bar {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
</style>
