<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsAreaSummary" />
<vue-gwt:import class="elemental2.dom.CustomEvent" />

<div>
  <h2 class="tab-content-title">{{ getResultsPercentageCLTitle() }}</h2>
  <vertical-collapse>
    <div class="collapsible-container" v-if="isPercentageCriticalLoadSupported">
      <vertical-collapse-group>
        <collapsible-panel
          class="collapsible-panel"
          v-for="(SituationResultsAreaSummary d, idx) in context.getActiveResultSummary().getAreaStatistics()"
          :key="d.getAssessmentArea().getId()"
          :title="getTitle(d)"
          :open="isOpen(d.getAssessmentArea().getId())"
          @user-open="openPanel(d)"
          @user-close="closePanel()">
          <button-icon v-debug='"results-area-zoom-" + idx'
            slot="aux"
            :titleText="i18n.resultsZoomToAreaTitle()"
            class="zoomToArea"
            @click.native.stop='zoomToArea(d)'
            iconClass="icon-map-zoom-to-extend" />
          <deposition-graph-component
            class="graph-container"
            v-if="hasDistributionData(d)"
            :locale="locale"
            :xaxislabel="i18n.resultsCriticalLoadXAxisLabel()"
            :yaxislabel="i18n.resultsCriticalLoadYAxisLabel(surfaceType)"
            :yaxisfactor="yAxisFactor"
            :data="getDistributionData(d)"
            :selectedranges="selectionContext.getSelectedLowerBoundValues().toString()"
            :colorRangeDefinition="getColorRangeDefinition()"
            @onBarSelect="selectBar((CustomEvent) $event)"
            @onBarDeselect="deselectBar((CustomEvent) $event)" />
          <div v-else-if="d.isSensitive()"
            class="info">{{ i18n.resultsPercentageCriticalLoadNoLoadSpecified() }}</div>
          <div v-else
            class="info">{{ i18n.resultsPercentageCriticalLoadNotSensitive() }}</div>
        </collapsible-panel>
      </vertical-collapse-group>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="!isPercentageCriticalLoadSupported"
      class="info">{{ i18n.resultsPercentageCriticalLoadNotSupported() }}</div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../result-view.scss";

.graph-container {
  width: 100%;
  height: 400px;
  background: white;
}

.info {
  padding: var(--spacer);
  background-color: var(--theme-color-light);
}
</style>
