<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.Vehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadTypeMode" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.OnRoadMobileSourceCategory" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />

<div class="customContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="false"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.esRoadEuroClass()"
    name="onRoadMobileSourceCategories">
    <select v-model="vehicleCode"
      v-debug:onRoadMobileSourceCategories>
      <option value="">{{ i18n.esRoadMobileSourceCategoriesPlaceHolder() }}</option>
      <option v-for="OnRoadMobileSourceCategory rms in categories" :value="rms.getCode()">{{ rms.getDescription() }}</select>
    </select>
  </labeled-input>
  <road-number-of-vehicles ref="roadNumberOfVehiclesComponent"
    :mode="RoadTypeMode.ROAD"
    @errors='trackChildError("roadNumberOfVehicles", (boolean) $event)'
    @warnings='trackChildWarning("roadNumberOfVehicles", (boolean) $event)'
    :vehicles="(Vehicles) specificVehicles" />
  <div>{{ i18n.esRoadCustomEmissionFactorTitle() }}</div>
  <div v-for="Substance substance in substances">
    <emission-factor-row
      @errors='trackChildError("roadEmissionFactor-" + substance.name(), (boolean) $event)'
      @warnings='trackChildWarning("roadEmissionFactor-" + substance.name(), (boolean) $event)'
      :substance="substance"
      :emissionFactors="emissionFactors"
      @valueModified="valueModified()" />
  </div>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";

.customContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.label {
  padding: 0 5px;
}
</style>
