<div>
  <!-- Replacement instructions:
    - move the marked section (or its parent if more appropriate) to a separate component and expand/finish in there
    - leave the class name in place
    - remove the placeholder class
    - headings that should be able to span multiple pages must be in a table's thead (i.e. print-section heading)
  -->
  <print-section class="avoid placeholder-1">
    <template slot="thead">
      <tr>
        <th><h3>Area name 1</h3></th>
      </tr>
      <tr>
        <th>Feature</th><th>Critical level (CL)</th>
      </tr>
    </template>
    <template slot="tbody">
      <tr v-for="String paragraph in getShortDummyContent(2)">
        <td>{{ paragraph }}</td><td>{{ paragraph }}</td>
      </tr>
    </template>
  </print-section>
  <print-section class="avoid placeholder-2">
    <template slot="thead">
      <tr>
        <th><h3>Area name 2</h3></th>
      </tr>
      <tr>
        <th>Feature</th><th>Critical level (CL)</th>
      </tr>
    </template>
    <template slot="header-row">
      <th>Feature</th><th>Critical level (CL)</th>
    </template>
    <template slot="tbody">
      <tr v-for="String paragraph in getShortDummyContent(6)">
        <td>{{ paragraph }}</td><td>{{ paragraph }}</td>
      </tr>
    </template>
  </print-section>
  <print-section class="avoid placeholder-3">
    <template slot="thead">
      <tr>
        <th><h3>Area name 3</h3></th>
      </tr>
      <tr>
        <th>Feature</th><th>Critical level (CL)</th>
      </tr>
    </template>
    <template slot="header-row">
      <th>Feature</th><th>Critical level (CL)</th>
    </template>
    <template slot="tbody">
      <tr v-for="String paragraph in getShortDummyContent(4)">
        <td>{{ paragraph }}</td><td>{{ paragraph }}</td>
      </tr>
    </template>
  </print-section>
</div>

<style lang="scss" scoped>
.table {
  background: red;
}

.avoid {
  page-break-inside: avoid;
}
</style>
