<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey" />

<template>
  <div>
    <h1>3. Modelling results</h1>

    <div class="calculation-settings placeholder-1">
      <h2>Calculation settings</h2>
      <div>{{ getLongDummyContent(1) }}</div>
      <!-- <nca-print-calculation-settings />-->
    </div>

    <div class="scenario-overview placeholder-2">
      <h2>Scenario overview</h2>
      <div>{{ getLongDummyContent(1) }}</div>
      <!-- <nca-print-scenario-overview /> -->
    </div>

    <template v-for="EmissionResultKey key in resultKeys">
      <div class="site-results-table">
        <!-- TODO Replace -->
        <print-section class="placeholder-1">
          <template slot="header">
            <h2>{{ i18n.calculateEmissionResultKey(key) }}</h2>
          </template>
          <nca-print-area-results :substance="key" />
          <!--
          <template slot="footer">
            <td>Footer</td>
          </template> -->
        </print-section>
      </div>

      <!-- TODO Replace -->
      <div class="site-results-map placeholder-2">
        <h2>{{ i18n.calculateEmissionResultKey(key) }}</h2>
        <div>Result Map</div>
      </div>

      <!-- TODO Replace -->
      <div class="site-results-map placeholder-3">
        <h2>{{ i18n.calculateEmissionResultKey(key) }}</h2>
        <div>% of CL Result Map</div>
      </div>
    </template>
  </div>
</template>

<style lang="scss" scoped>
.calculation-settings {
  width: var(--page-max-width);
}

.scenario-overview {
  width: var(--page-max-width);
  page-break-after: always;
}

.site-results-table {
  width: var(--page-max-width);
  page-break-after: always;
}
.site-results-map {
  width: var(--page-max-width);
  height: var(--page-max-height);
  page-break-before: always;
  page-break-after: always;
}

.site-results-map:last-child {
  page-break-after: avoid;
}
</style>
