<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.FarmAnimalHousingCategory"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.AdditionalHousingSystem" />

<div class="mainContent">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.esFarmAnimalHousingStandardCode()"
    name="farmAnimalHousingStandardCode"
    :errorValidation="v.farmAnimalHousingCodeV"
    :errorMessage="i18n::validationRequired">
    <suggest-listbox
      :modal-width="350"
      :modal-offset="0"
      :options="farmAnimalHousingCodes"
      :selectedValue="standardFarmAnimalHousing.getAnimalHousingCode()"
      :placeholder="i18n.esFarmAnimalHousingStandardCodePlaceholder()"
      labelledBy="farmAnimalHousingStandardCode"
      debugId="farmlandStandardCategoryCode"
      @empty-select="unselectFarmAnimalHousingCode()"
      @select-value='selectFarmAnimalHousingCode((String) $event)' />
  </labeled-input>
  <labeled-input :label="i18n.esFarmAnimalHousingStandardNumberOfAnimals()"
    name="farmAnimalHousingStandardNumberOfAnimals"
    :errorValidation="v.numberOfAnimalsV"
    :errorMessage="this::numberOfAnimalsError">
    <div :class='map(e("error-input", v.numberOfAnimalsV.error))'>
      <input class="input"
        id="farmAnimalHousingStandardNumberOfAnimals"
        type="number"
        aria-labelledby="farmAnimalHousingStandardNumberOfAnimals"
        v-validate:numberOfAnimalsV.input
        min="0"
        v-model="numberOfAnimals" />
    </div>
  </labeled-input>
  <labeled-input v-if="isNumberOfDaysEnabled"
    :label='i18n.esFarmAnimalHousingStandardNumberOfDays()'
    name="farmAnimalHousingStandardNumberOfDays"
    :errorValidation="v.numberOfDaysV"
    :errorMessage="this::numberOfDaysError">
    <div :class='map(e("error-input", v.numberOfDaysV.error))'>
      <input v-debug:numberOfDays
        class="input"
        id="farmAnimalHousingStandardNumberOfDays"
        type="number"
        aria-labelledby="farmAnimalHousingStandardNumberOfDays"
        v-validate:numberOfDaysV.input
        min="0"
        v-model="numberOfDays" />
    </div>
  </labeled-input>
  <animal-standard-additional-row
    v-for="(AdditionalHousingSystem row, idx) in additionalSystems"
    v-debug='"additionalStandardHousing-" + idx'
    :farmAnimalHousingCode="standardFarmAnimalHousing.getAnimalHousingCode()"
    :system="row"
    :index="idx"
    @errors='trackChildError("additional-" + idx, (boolean) $event)'
    @warnings='trackChildWarning("additional-" + idx, (boolean) $event)'
    @delete="deleteAdditional(idx)" />

  <labeled-input :label="i18n.esFarmAnimalHousingStandardAdditionalTechnique()"
    name="additionalHousingCode"
    :showError="v.dirty && hasLingeringAdditionalValue"
    :errorMessage='this::lingeringAdditionalTechniqueError' >
    <suggest-listbox
      ref="additionalTechniqueSuggestListBox"
      :modal-width="350"
      :modal-offset="0"
      :options="additionalSystemsCodes"
      :placeholder="i18n.esFarmAnimalHousingStandardCodePlaceholder()"
      :aria-label="i18n.ariaFarmAHAdditionalTechniqueLabel()"
      labelledBy="farmAnimalHousingAdditionalStandardCategoryCode"
      debugId="farmAnimalHousingAdditionalCodes"
      @select-value='selectAdditionalCode((String) $event)' />
  </labeled-input>

  <minimal-input>
    <template slot="error">
      <div class="problemsContainer">
        <input-warning
          :showWarning="standardCodeWarningEnabled"
          :warningMessage="() -> i18n.esFarmAnimalHousingStandardCodeCheckWarning()" />
      </div>
    </template>
  </minimal-input>

  <div class="detailHeader">{{ i18n.esFarmAnimalHousingDetailEmission() }}</div>
  <aer-farmanimalhousing-detail-header :hasNumberOfDaysColumn="hasNumberOfDays()"
    :hasReductionFactorColumn="hasAdditionalHousingSystems()" />
  <aer-farmanimalhousing-detail-standard :source="standardFarmAnimalHousing"
    :hasNumberOfDaysColumn="hasNumberOfDays()"
    :hasReductionFactorColumn="hasAdditionalHousingSystems()"
    :farmAnimalHousingCategories="getCategories()" />
</div>

<style scoped lang="scss">
@import "../farmanimalhousing.scss";

.detailHeader {
  margin-top: 12px;
  font-weight: bold;
}

.problemsContainer {
  padding: var(--spacer) 0px;
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--half-spacer);
}

</style>
