<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmAnimalHousing"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.AdditionalHousingSystem"/>

<div>
  <div class="detailRows" v-debug:farmAnimalHousingDetailStandardRows>
    <div class="detailRow"
      :style='map("--columns-without-emission", columnsWithoutEmission)'
      v-debug='"farmAnimalHousingDetailStandardRow-" + index'>
      <div v-debug:farmAnimalHousingDetailStandardCode>{{ source.getAnimalHousingCode() }}</div>
      <div v-debug:farmAnimalHousingDetailStandardNumberOfAnimals>{{ source.getNumberOfAnimals() }}</div>
      <div v-debug:farmAnimalHousingDetailStandardEmissionFactor>
        <div v-if="constrained" class="unconstrained">{{ farmAnimalHousingUnconstrainedEmissionFactor }}{{ i18n.footNoteRef() }}</div>
        <div>{{ farmAnimalHousingEmissionFactor }}</div>
      </div>
      <div v-if="hasReductionFactorColumn"
        v-debug:farmAnimalHousingDetailStandardReduction>-</div>
      <div v-if="hasNumberOfDaysColumn"
        v-debug:farmAnimalHousingDetailStandardNumberOfDays>{{ hasNumberOfDays() ? farmAnimalHousingNumberOfDays : "-" }}</div>
      <div class="emission" v-debug:farmAnimalHousingDetailStandardEmission>
        <div v-if="constrained" class="unconstrained">{{ unconstrainedEmission }}</div>
        <div>{{ emission }}</div>
      </div>
    </div>
    <div class="detailRow"
      :style='map("--columns-without-emission", columnsWithoutEmission)'
      v-for="(AdditionalHousingSystem row, index) in source.getAdditionalSystems()"
      v-debug='"farmAdditionalHousingSystemRow-" + index'>
      <div v-debug:farmAdditionalHousingSystemDetailName>{{ additionalName(row) }}</div>
      <div v-debug:farmAdditionalHousingSystemDetailNumberOfAnimals>-</div>
      <div v-debug:farmAdditionalHousingSystemDetailFactor>-</div>
      <div v-debug:farmAdditionalHousingSystemDetailReduction>{{ additionalReductionPercentage(row) }}</div>
      <div v-debug:farmAdditionalHousingSystemDetailNumberOfDays
        v-if="hasNumberOfDaysColumn">-</div>
      <div class="emission" v-debug:farmAdditionalHousingSystemDetailEmission>{{ additionalEmission(row) }}</div>
    </div>
  </div>

  <div class="detail-description" v-if="detail != null"
    v-debug:farmAnimalHousingDetailDescription>{{ source.getAnimalHousingCode() }} {{ detail }}</div>
  <div class="detail-description" v-if="constrained"
    v-debug:farmAnimalHousingConstrainedFootNote>{{ i18n.footNoteRef() }}{{ i18n.esFarmAnimalHousingConstrainedFootNote() }}</div>
  <div class="detail-description" v-for="(AdditionalHousingSystem row, index) in source.getAdditionalSystems()"
    v-debug='"farmAnimalHousingAdditionalFootNote-" + index'>{{ additionalNameExtended(row) }}</div>
</div>
<style scoped lang="scss">
@import "../farmanimalhousing.scss";

div.detailRows {
  :not(:last-child) .emission, .unconstrained {
    text-decoration: line-through;
  }
}

.detail-description {
  font-size: 11px;
}
</style>
