<div class="rowContainer"
  :class='map("selected", selected)'>
  <slot></slot>
  <error-warning-icon
    class="icons"
    :title="title"
    :reveal="warnings || errors"
    :showWarning="warnings"
    :showError="errors" />
</div>

<style lang="scss" scoped>
@import "../../../row-item.scss";

.rowContainer {
  position: relative;
  overflow: hidden;

  &:hover, &.selected {
    .icons {
      height: 0px !important;
      margin: 0px 2px !important;
      background-color: var(--theme-color) !important;
    }
  }
}

.icons {
  position: absolute;
  right: 0px;
  top: 0px;
  justify-self: center;
  height: calc(var(--row-height-generous) - 4px);
  margin: 2px;
  padding: 0px var(--half-spacer);
  overflow: hidden;

  background: var(--theme-color-light);
  background: linear-gradient(90deg, rgba(208,229,239,0) 0%, var(--theme-color-light) var(--spacer), var(--theme-color-light) 100%);
  pointer-events: none;
  transition: height 0.1s ease-out, background var(--anim);
  opacity: 1;
}
</style>
