<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.calculation.ArchiveProject" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />

<!-- Note: defaultContentContainer is part of a UK override -->
<div class="archiveProjectsContainer defaultContentContainer"
  v-if="metaData != null">
  <h2>{{ i18n.resultsArchiveProjects() }}</h2>
  <div>{{ i18n.resultsArchiveRetrieval(retrievalDateTime) }}</div>
  <div v-if="hasRegisterLink()">
    {{ i18n.resultsArchiveResultsLinkDescription() }}
    <a :href="getRegisterLink()" target="_blank">{{ i18n.resultsArchiveResultsLinkText() }}</a>
  </div>
  <table class="grid"
    :aria-label="i18n.ariaArchiveProjectsTable()"
    v-debug:archiveProjectsTable
    v-if="archiveProjects != null && archiveProjects.length > 0">
    <thead>
      <tr>
        <th scope="col">{{ i18n.resultsArchiveId() }}</th>
        <th scope="col">{{ i18n.resultsArchiveName() }}</th>
        <th scope="col">{{ i18n.resultsArchiveType() }}</th>
        <th scope="col">{{ i18n.resultsArchivePermitReference() }}</th>
        <th scope="col">{{ i18n.resultsArchivePlanningReference() }}</th>
        <th scope="col">{{ i18n.resultsArchiveNetEmissions(i18n.pollutant(Substance.NOX)) }}</th>
        <th scope="col">{{ i18n.resultsArchiveNetEmissions(i18n.pollutant(Substance.NH3)) }}</th>
        <th scope="col">{{ i18n.calculateApplicationVersion() }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="ArchiveProject project in archiveProjects" v-debug:archiveProjectRow>
        <td v-debug:archiveProjectId>
          <styled-point
            :displayId="displayId(project)"
            backColor="#f15b29"
            foreColor="#ffffff"
            borderRadius="50%"
            width="30px"
            class="archiveId"
            :title="project.getId()" />
        </td>
        <td v-debug:archiveProjectName>{{ project.getName() }}</td>
        <td v-debug:archiveProjectType>{{ project.getType() }}</td>
        <td v-debug:archiveProjectPermitReference>{{ formatNullableString(project.getPermitReference()) }}</td>
        <td v-debug:archiveProjectPlanningReference>{{ formatNullableString(project.getPlanningReference()) }}</td>
        <td v-debug:archiveProjectNetEmissionsNOx>{{ formatEmission(project.getNetEmissions(Substance.NOX)) }}</td>
        <td v-debug:archiveProjectNetEmissionsNH3>{{ formatEmission(project.getNetEmissions(Substance.NH3)) }}</td>
        <td v-debug:archiveProjectVersion>{{ project.getAeriusVersion() }}</td>
      </tr>
    </tbody>
  </table>
  <div class="noProjectsContainer warning"
    role="alert" aria-live="polite"
    v-else>{{ i18n.resultsArchiveProjectsNonFound() }}</div>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";

.grid {
  background-color: white;

  display: grid;
  grid-template-rows: var(--row-height-generous) repeat(auto-fill, minmax(var(--row-height), auto));
  grid-template-columns: repeat(8, auto);

  align-items: center;
}

.archiveProjectsContainer {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.archiveId {
  cursor: auto;
}

.warning {
  background: var(--notice-color-light);
  border: 1px solid var(--notice-color);
  color: var(--text-color);
  padding: var(--spacer);
}

tr, tbody, thead {
  display: contents;
}

tr {
  th {
    background-color: var(--lighter-grey);
    text-align: left;
  }

  td, th {
    padding: var(--half-spacer) var(--spacer);
    display: flex;
    align-items: center;
    align-self: stretch;
    transition: all var(--anim);
  }

  &:not(:last-child)
  &:not(.header) {
    td {
      border-bottom: 1px solid var(--light-grey);
    }
  }
}

</style>
