<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.calculation.SituationCalculation" />

<!-- Note: defaultContentContainer is part of a UK override -->
<div class="situationsContainer defaultContentContainer">
  <h2>{{ i18n.resultsCalculatedSituations() }}</h2>
  <table class="grid"
    :aria-label="i18n.ariaCalculatedScenariosTable()"
    v-debug:calculatedScenariosTable>
    <thead>
      <tr>
        <th scope="col">{{ i18n.calculateScenarioHeader() }}</th>
        <th scope="col">{{ i18n.calculateScenarioTypeHeader() }}</th>
        <th scope="col">{{ i18n.calculateApplicationVersion() }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="SituationCalculation situation in situations" v-debug:situationRow>
        <td v-debug:situationName>{{ situation.getSituationName() }}</td>
        <td v-debug:situationType>{{ i18n.situationType(situation.getSituationType()) }}</td>
        <td v-debug:situationVersion>{{ situation.getSituationVersion() }}</td>
      </tr>
    </tbody>
  </table>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";

.grid {
  background-color: white;

  display: grid;
  grid-template-rows: var(--row-height-generous) repeat(auto-fill, minmax(var(--row-height), auto));
  grid-template-columns: repeat(3, auto);

  align-items: center;
}

.situationsContainer {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

tr, tbody, thead {
  display: contents;
}

tr {
  th {
    background-color: var(--lighter-grey);
  }

  td, th {
    padding: var(--half-spacer) var(--spacer);
    display: flex;
    align-items: center;
    align-self: stretch;
    transition: all var(--anim);
  }

  &:not(:last-child)
  &:not(.header) {
    td {
      border-bottom: 1px solid var(--light-grey);
    }
  }
}

</style>
