@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: normal;
  src:
    url("light-94a07e06a1-v2.woff2") format("woff2"),
    url("light-f591b13f7d-v2.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: bold;
  src:
    url("bold-b542beb274-v2.woff2") format("woff2"),
    url("bold-affa96571d-v2.woff") format("woff");
  font-display: fallback;
}

* {
  font-family: var(--font-family, "GDS Transport", arial, sans-serif);
}
