<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.CharacteristicsType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.EmissionSourceType"/>

<!-- Note: defaultContentContainer is part of a UK override -->
<div class="sourceContainer defaultContentContainer" v-if="source != null">
  <h2 class="section"
    v-debug:sourceListDetailTitle>{{ source.getLabel() }}</h2>

  <div class="section">
    <detail-stat debugId="sourceListDetailSectorGroup"
      :label="i18n.esLabelSectorGroupName()"
      :value="i18n.sectorGroup(sectorGroup)" />
    <detail-stat :show="hasSectors(sectorGroup)"
      debugId="sourceListDetailSector"
      :label="i18n.esLabelSectorName()"
      :value="sector.getDescription()" />
    <detail-stat :show="location != null"
      debugId="sourceListDetailLocation"
      :label="i18n.esLabelSourceLocation()"
      :value="location" />
    <detail-stat :show="location != null && locationStatisticLabel != null && locationStatisticValue != null"
      debugId="sourceListDetailLocationStatistic"
      :label="locationStatisticLabel"
      :value="locationStatisticValue" />
  </div>
  <divider type="big" />

  <vertical-collapse>
    <ops-characteristics v-if="isCType(CharacteristicsType.OPS) && !isESType(EmissionSourceType.SRM2_ROAD) && !isVehicleBasedCharacteristics"
      class="section"
      :source="source" />
  </vertical-collapse>

  <vertical-collapse>
    <adms-characteristics v-if="isCType(CharacteristicsType.ADMS) && !isESType(EmissionSourceType.ADMS_ROAD) && !isVehicleBasedCharacteristics"
      class="section"
      :source="source" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-generic-detail v-if="isESType(EmissionSourceType.GENERIC)"
      :source="source"
      :substances="substances"
      :totalEmissionTitle="getTotalEmissionTitle(sector, sectorGroup)" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-farmanimalhousing-detail v-if="isESType(EmissionSourceType.FARM_ANIMAL_HOUSING)"
      :farmAnimalHousingCategories="applicationContext.getConfiguration().getSectorCategories().getFarmAnimalHousingCategories()"
      :source="(FarmAnimalHousingESFeature) source"
      :substances="substances"
      :totalEmissionTitle="getTotalEmissionTitle(sector, sectorGroup)" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-farmlodging-detail v-if="isESType(EmissionSourceType.FARM_LODGE)"
      :farmLodgingCategories="applicationContext.getConfiguration().getSectorCategories().getFarmLodgingCategories()"
      :hasFarmReductiveLodgingSystemCategories="!applicationContext.getConfiguration().getSectorCategories().getFarmLodgingCategories().getFarmReductiveLodgingSystemCategories().isEmpty()"
      :source="(FarmLodgingESFeature) source"
      :substances="substances"
      :totalEmissionTitle="getTotalEmissionTitle(sector, sectorGroup)" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-farmland-detail v-if="isESType(EmissionSourceType.FARMLAND)"
      :source="(FarmlandESFeature) source"
      :substances="substances"
      :totalEmissionTitle="getTotalEmissionTitle(sector, sectorGroup)" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-manure-storage-detail v-if="isESType(EmissionSourceType.MANURE_STORAGE)"
      :source="(ManureStorageESFeature) source"
      :substances="substances"
      :totalEmissionTitle="getTotalEmissionTitle(sector, sectorGroup)" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-srm2road-detail v-if="isESType(EmissionSourceType.SRM2_ROAD)"
      :source="(SRM2RoadESFeature) source"
      :substances="substancesRoad"
      :totalEmissionTitle="getTotalEmissionTitle(sector, sectorGroup)" />
  </vertical-collapse>

  <vertical-collapse>
    <cold-start-detail v-if="isESType(EmissionSourceType.COLD_START)"
      :source="(ColdStartESFeature) source"
      :substances="substances"
      :totalEmissionTitle="getTotalEmissionTitle(sector, sectorGroup)" />
  </vertical-collapse>

  <vertical-collapse>
    <adms-road-characteristics v-if="isESType(EmissionSourceType.ADMS_ROAD)"
      :source="(ADMSRoadESFeature) source"
      :substances="substancesRoad"
      :totalEmissionTitle="getTotalEmissionTitle(sector, sectorGroup)" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-inland-shipping-detail v-if="isESType(EmissionSourceType.SHIPPING_INLAND) || isESType(EmissionSourceType.SHIPPING_INLAND_DOCKED)"
      :source="(EmissionSourceFeature) source"
      :sector="sector.getDescription()"
      :totalEmissionTitle="getTotalEmissionTitle(sector, sectorGroup)" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-maritime-shipping-detail v-if="isESType(EmissionSourceType.SHIPPING_MARITIME_DOCKED) || isESType(EmissionSourceType.SHIPPING_MARITIME_INLAND) || isESType(EmissionSourceType.SHIPPING_MARITIME_MARITIME)"
      :source="(EmissionSourceFeature) source"
      :sector="sector.getDescription()"
      :totalEmissionTitle="getTotalEmissionTitle(sector, sectorGroup)" />
  </vertical-collapse>

  <vertical-collapse>
    <combustion-plant-detail v-if="isESType(EmissionSourceType.MEDIUM_COMBUSTION_PLANT)"
      :source="(CombustionPlantESFeature) source" />
  </vertical-collapse>

  <vertical-collapse>
    <aer-offroad-detail v-if="isESType(EmissionSourceType.OFFROAD_MOBILE)"
      :source="(OffRoadMobileESFeature) source"
      :sector="sector.getDescription()"
      :totalEmissionTitle="getTotalEmissionTitle(sector, sectorGroup)" />
  </vertical-collapse>

  <divider v-if="hasBuilding" type="big" />

  <vertical-collapse>
    <building-detail-view v-if="hasBuilding"
      :headingLevel="(int) 3"
      :building="building" />
  </vertical-collapse>

  <divider v-if="showTimeVaryingProfile" type="big" />

  <vertical-collapse v-if="showTimeVaryingProfile">
    <time-varying-profile-detail-view
      :stats="false"
      :headingLevel="(int) 3"
      :timeVaryingProfile="threeDayProfile" />
  </vertical-collapse>

  <divider v-if="showTimeVaryingProfile" type="big" />

  <vertical-collapse v-if="showTimeVaryingProfile">
    <time-varying-profile-detail-view
      :stats="false"
      :headingLevel="(int) 3"
      :timeVaryingProfile="monthlyProfile" />
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../vertical-collapse.scss";

.height-enter-active,
.height-leave-active,
.list-enter-active,
.list-leave-active {
  transition: height var(--animation-time) ease-out;
}

.sourceContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    margin-right: 60px;
  }
}

.section {
  padding: 10px;
  padding-top: 0px;
}

.detail {
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.title {
  flex-grow: 1;
}

.header {
  margin-top: 12px;
  font-weight: bold;
}
</style>
