<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />
<vue-gwt:import class="elemental2.dom.MouseEvent" />

<div>
  <vertical-collapse>
    <div v-if="hasEmissionSources" class="sourcesContainer">
      <div>
        <modify-list
          class="toolbox"
          @new-entity="createNewSource()"
          @duplicate-entity="duplicateSource()"
          @delete-entity="deleteSource()"
          @edit-entity="editSource()"
          :typeText="i18n.esModifyTypeSource()"
          :selected="listContext.hasSelection()"
          :singleSelected="listContext.hasSingleSelection()"
          :multiSelected="listContext.hasMultiSelection()"
          :enableDelete="roadNetworkSelected || listContext.hasSelection()"
          :enableEdit="true"/>
        <div class="sources">
          <vertical-collapse>
            <aer-road-network-row
              :situation="situation"
              @select="selectRoadNetwork((boolean) $event)" />
          </vertical-collapse>
          <vertical-collapse-group>
            <aer-emission-source-row :source="source"
              v-for="EmissionSourceFeature source in emissionSources"
              :key="source.getId()"
              @mouseenter.native="peekSource(source)"
              @mouseleave.native="unpeekSource(source)"
              @keyup.enter.space.native="selectSource(source)"
              @click.native="clickSource(source, (MouseEvent) $event)"
              class="item"
              :aria-selected="listContext.isSelected(source)"
              :class='map("selected", listContext.isSelected(source))' />
          </vertical-collapse-group>
        </div>
      </div>
      <div class="sourceSummary">
        <button v-debug:sourceListButtonDeleteAllSources
          class="buttonDeleteAll"
          @click="deleteAllEmissionSources()">{{ i18n.esButtonDeleteAllSources() }}</button>
        <div>
          <div class="sourcesSummaryHeader">{{ i18n.pollutant(Substance.NOX) }}</div>
          <emission-value>
            <div class="sourcesSummaryTotalValue"
              v-debug:sourceListTotalNOX>{{ totalNOXEmission }}</div>
          </emission-value>
        </div>
        <div>
          <div class="sourcesSummaryHeader">{{ i18n.pollutant(Substance.NH3) }}</div>
          <emission-value>
            <div class="sourcesSummaryTotalValue"
              v-debug:sourceListTotalNH3>{{ totalNH3Emission }}</div>
          </emission-value>
        </div>
      </div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="!hasEmissionSources" class="emptySources">
      <p v-html="i18n.esEmissionSourceEmptyInfo()"></p>

      <div class="buttons">
        <button-icon class="button"
          :hardBorder="true"
          @select="createNewSource()"
          iconClass="icon-btn-new-source"
          v-debug:calculationLaunchButtonNewsource>
          <span class="label">{{ i18n.clButtonNewSource() }}</span>
        </button-icon>
      </div>
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";

.toolbox {
  border-top: var(--separator);
  padding: var(--quarter-spacer);
}

p {
  margin: 0px;
}

.margin {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.sourcesContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
.sources {
  max-height: calc(100vh - var(--scenario-input-list-buffer, 465px));
  overflow: auto;
  border-top: var(--half-separator);
  border-bottom: var(--half-separator);
}

.selected {
  background-color: var(--theme-color-light);
}

.buttonDeleteAll {
  @include button;
  flex-grow: 3;
  align-self: center;
}

.sourceSummary {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: var(--spacer);
  padding: 0px var(--spacer);
}

.spacer {
  flex-grow: 3;
}

.sourcesSummaryHeader {
  font-weight: bold;
  text-align: left;
}

.sourcesSummaryTotalValue {
  font-weight: bold;
  text-align: left;
}

.emptySources {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 0px var(--spacer);
  gap: var(--spacer);

  .buttons {
    display: flex;

    gap: var(--spacer);
    justify-content: center;

    .button {
      padding: var(--spacer);
      height: initial;

      display: flex;
      align-items: center;

      .label {
        padding: 0px var(--spacer);
      }
    }
  }
}
</style>
