<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.summary.JobSummaryProjectRecord" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.pages.results.summary.ProjectSummaryTable.Column" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType" />

<table class="table-container"
  :aria-label="i18n.ariaSituationSummaryTable()"
  :style='map("--statistic-type-size", supportedStatisticTypes.size())'>
  <thead>
    <tr>
      <th @click="sort(v -> getSiteName(v), Column.SITE)"
        @keyup.enter.space="sort(v -> getSiteName(v), Column.SITE)"
        tabindex="0"
        role="button">
        <span>{{ i18n.resultsSummarySite() }}</span>
        <sort-indicator :active="isActive(Column.SITE)"
          :asc="asc" />
      </th>
      <th @click="sort(v -> getSituationName(v), Column.SITUATION)"
        @keyup.enter.space="sort(v -> getSituationName(v), Column.SITUATION)"
        tabindex="0"
        role="button">
        <span>{{ i18n.resultsSummaryScenario() }}</span>
        <sort-indicator :active="isActive(Column.SITUATION)"
          :asc="asc" />
      </th>
      <th @click="sort(v -> getPollutant(v), Column.POLLUTANT)"
        @keyup.enter.space="sort(v -> getPollutant(v), Column.POLLUTANT)"
        tabindex="0"
        role="button">
        <span>{{ i18n.resultsSummaryPollutant() }}</span>
        <sort-indicator :active="isActive(Column.POLLUTANT)"
          :asc="asc" />
      </th>
      <th v-for="ResultStatisticType stat in supportedStatisticTypes"
        class="header-right"
        @click="sortNumber(v -> getStatistic(v, stat), stat)"
        @keyup.enter.space="sortNumber(v -> getStatistic(v, stat), stat)"
        tabindex="0"
        role="button">
        <span>{{ i18n.resultsStatisticWithoutUnit(stat, i18n.resultsTotalName(applicationContext.getTheme())) }}</span>
        <sort-indicator :active="isActive(stat)"
          :asc="asc" />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(JobSummaryProjectRecord record, idx) in projectsData" class="record">
      <td :title="getSiteName(record)" v-debug='"sitename-" + idx'>{{ getSiteName(record) }}</td>
      <td :title="getSituationName(record)" v-debug='"situationname-" + idx'>{{ getSituationName(record) }}</td>
      <td :title="getPollutant(record)" v-debug='"pollutant-" + idx'>{{ getPollutant(record) }}</td>
      <td v-if="isStatisticSupported(ResultStatisticType.MAX_INCREASE)"
        :title="formatDepositionValue(record, ResultStatisticType.MAX_INCREASE)"
        class="divided unit"
        v-debug='"max_increase-" + idx'>
        <div class="left">{{ formatDepositionValue(record, ResultStatisticType.MAX_INCREASE) }}</div>
        <div class="right">{{ getRecordUnit(record) }}</div>
      </td>
      <td v-if="isStatisticSupported(ResultStatisticType.MAX_PERCENTAGE_CRITICAL_LEVEL)"
        :title="formatDepositionValue(record, ResultStatisticType.MAX_PERCENTAGE_CRITICAL_LEVEL)"
        class="divided"
        v-debug='"max_percentage_CL-" + idx'>
        <div class="left">{{ formatDepositionValue(record, ResultStatisticType.MAX_PERCENTAGE_CRITICAL_LEVEL) }}</div>
        <div class="right box"
          :style='map("background", getProcessContributionPercCLColor(record))'></div>
      </td>
      <td v-if="isStatisticSupported(ResultStatisticType.MAX_TOTAL)"
        :title="formatDepositionValue(record, ResultStatisticType.MAX_TOTAL)"
        class="divided unit"
        v-debug='"max_total-" + idx'>
        <div class="left">{{ formatDepositionValue(record, ResultStatisticType.MAX_TOTAL) }}</div>
        <div class="right">{{ getRecordUnit(record) }}</div>
      </td>
      <td v-if="isStatisticSupported(ResultStatisticType.MAX_TOTAL_PERCENTAGE_CRITICAL_LEVEL)"
        :title="formatDepositionValue(record, ResultStatisticType.MAX_TOTAL_PERCENTAGE_CRITICAL_LEVEL)"
        class="divided"
        v-debug='"max_total_percentage_CL-" + idx'>
        <div class="left">{{ formatDepositionValue(record, ResultStatisticType.MAX_TOTAL_PERCENTAGE_CRITICAL_LEVEL) }}</div>
        <div class="right circle"
          :style='map("background", getMaxTotalPercCLColor(record))'></div>
      </td>
    </tr>
  </tbody>
</table>

<style lang="scss" scoped>
@import "table.scss";

.table-container {
  display: grid;
  grid-template-columns: repeat(calc(3 + var(--statistic-type-size)), auto);
}

.header-right {
  justify-content: flex-end;
}

.divided {
  display: grid;
  grid-template-columns: 1fr 24px;
  padding-right: 0;
  gap: var(--half-spacer);

  &.unit {
    grid-template-columns: 1fr 10ch;
  }

  .left {
    text-align: right;
  }

  .box, .circle {
    width: 24px;
    height: 24px;
  }

  .circle {
    border-radius: 50%;
  }
}
</style>
