<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.summary.JobSummarySituationRecord" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.pages.results.summary.SituationSummaryTable.Column" />

<table class="table-container"
  :aria-label="i18n.ariaSituationSummaryTable()"
  :style='map("--result-columns", resultColumnSize)'>
  <thead>
    <tr>
      <th @click="sort(v -> getSiteName(v), Column.SITE)"
        @keyup.enter.space="sort(v -> getSiteName(v), Column.SITE)"
        tabindex="0"
        role="button">
        <span>{{ i18n.resultsSummarySite() }}</span>
        <sort-indicator :active="isActive(Column.SITE)"
          :asc="asc" />
      </th>
      <th @click="sort(v -> getSituationName(v), Column.SITUATION)"
        @keyup.enter.space="sort(v -> getSituationName(v), Column.SITUATION)"
        tabindex="0"
        role="button">
        <span>{{ i18n.resultsSummaryScenario() }}</span>
        <sort-indicator :active="isActive(Column.SITUATION)"
          :asc="asc" />
      </th>
      <th @click="sort(v -> getSituationType(v), Column.TYPE)"
        @keyup.enter.space="sort(v -> getSituationType(v), Column.TYPE)"
        tabindex="0"
        role="button">
        <span>{{ i18n.resultsSummaryScenarioType() }}</span>
        <sort-indicator :active="isActive(Column.TYPE)"
          :asc="asc" />
      </th>
      <th v-for="EmissionResultKey substance in supportedSummaryTypes"
        @click="sortNumber(v -> getResultNum(v, substance), substance)"
        @keyup.enter.space="sortNumber(v -> getResultNum(v, substance), substance)"
        tabindex="0"
        role="button"
        class="right">
        <span>{{ i18n.resultsSummaryMaxContribution(substance, displayType) }}</span>
        <sort-indicator :active="isActive(substance)"
          :asc="asc" />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(JobSummarySituationRecord record, idx) in situationsData" class="record">
      <td :title="getSiteName(record)" v-debug='"sitename-" + idx'>{{ getSiteName(record) }}</td>
      <td :title="getSituationName(record)" v-debug='"situationname-" + idx'>{{ getSituationName(record) }}</td>
      <td :title="getSituationType(record)" v-debug='"situationtype-" + idx'>{{ getSituationType(record) }}</td>
      <td v-for="EmissionResultKey substance in supportedSummaryTypes"
          v-debug='"result-" + idx + "-substance-" + substance.getSubstance().getName() + "-resulttype-" + substance.getEmissionResultType().toString()'
          class="right">
          {{ getResult(record, substance) }}
      </td>
    </tr>
  </tbody>
</table>

<style lang="scss" scoped>
@import "table.scss";

.table-container {
  display: grid;
  grid-template-columns: auto auto auto repeat(var(--result-columns, 0), minmax(auto, 250px));
}

.right {
  text-align: right;
}
</style>
