<div class="arrowContainer"
  :class='map(e("desc", !asc && active), e("active", active))'>
  <i class="icon-open-close-map-data-layer"></i>
</div>

<style lang="scss" scoped>
.arrowContainer {
  transition: transform var(--anim);
  transform: rotate(-90deg);
  padding-left: var(--spacer);
  display: none;

  &.active {
    display: block;
  }

  &.desc {
    transform: rotate(90deg);
  }
}
</style>
