thead, tbody, tr {
  display: contents;
}

thead {
  font-weight: bold;
}

th {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: background var(--anim);
  text-align: left;

  &:hover {
    background: var(--light-grey);
  }
}

th, td {
  padding: var(--half-spacer);
}

td {
  background-color: white;
  padding: var(--half-spacer);
  border-bottom: 1px solid var(--back-color);
  border-top: 1px solid var(--back-color);
}
