<vertical-collapse>
  <div class="row print-detail-stat-row"
    v-if="show"
    :style='map("grid-template-columns", division)'>
    <slot name="label">
      <div class="detail-label">{{ label }}</div>
    </slot>
    <slot>
      <div v-debug="debugId"
        :style='map("text-align", alignRight ? "right" : "left")'>{{ value }}</div>
    </slot>
  </div>
</vertical-collapse>

<style scoped lang="scss">
@import "../../vertical-collapse.scss";

.row {
  display: grid;

  .label {
    align-self: flex-start;
  }
}

</style>
