<div class="row" v-debug='"sourcelistRow" + source.getId()'
  :tabindex="0">
  <styled-point :feature="source"
    :backColor="sectorColor()"
    v-debug='"sourceListButtonZoomToPoint-" + source.getId()' />
  <div class="iconColumn"><i :class="sectorFontClass()"></i></div>
  <div class="labelColumn">{{ source.getLabel() }}</div>
</div>

<style scoped lang="scss">
@import "../../variables.scss";
@import "../../row-item.scss";

.row {
  &:first-child {
    border-top: var(--half-separator);
  }

  &:last-child {
    border-bottom: var(--half-separator);
  }
}
</style>
