<template>
  <div>
    <h4>{{ i18n.pdfCalculationBaseLabel() }}</h4>
    <p>{{ i18n.pdfCalculationBase() }}</p>
    <div class="calculation-base-versions">
      <div>{{ i18n.pdfCalculationBaseAeriusVersion() }}</div>
      <div>{{ aeriusVersion }}</div>
      <div>{{ i18n.pdfCalculationBaseDatabaseVersion() }}</div>
      <div>{{ databaseVersion }}</div>
    </div>
    <p>{{ i18n.pdfCalculationBaseMoreInfo() }}<br /><a :href="releaseDetailsUrl">{{ releaseDetailsUrl }}</a></p>
  </div>
</template>

<style lang="scss" scoped>
.calculation-base {
  margin-top: var(--spacer);
  page-break-inside: avoid;

  h4 {
    margin-bottom: 0;
  }

  &-versions {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: var(--spacer);
  }
}
</style>
