<div class="page">
  <div class="banner">
    <div class="ribbon"></div>
    <div class="banner-inner">
      <div class="title">GOV.UK</div>
      <div class="subtitle">Get an Air Pollution Assessment</div>
      </div>
  </div>
  <div class="page-content">
    <h1>Air pollution assessment application final report PDF</h1>
    <div class="sections">
      <section>
        <h2>Introduction</h2>
        <p>This report has been created, and then exported as a PDF, by the Get an Air Pollution Assessment service. The following pages give a
          final summary of your assessment results.</p>
        <p>This PDF report will have been created by an air quality consultant, or someone with similar specialist knowledge. This would be as part
          of an air pollution assessment application, which requires submitting for approval by the appropriate regulatory body.</p>
        <p>Regulators will use this report to check the details of the specific air pollution assessment to help them make a decision. To assist in
          this, regulators may also upload this PDF into to the Get an Air Pollution Assessment service, to view and check, in more detail, that the
          assessment has been carried out correctly.</p>
        <h2>Application approval</h2>
        <p>Regulators, once they have approved this application, will then add this PDF file to the Get an Air Pollution Assessment service archive,
          so it may be included as part of in combination assessments for future applications.</p>
      </section>
      <section>
        <h3>Help</h3>
        <p>If you require help with this report you can contact our support team through the help section in the service.</p>
        <h3>Accessibility</h3>
        <p>This report contains maps and tables which may not be accessible. To view in a more accessible web format, please upload this PDF into
          the Get an Air Pollution Assessment service.</p>
      </section>
    </div>
  </div>
</div>

<style lang="scss" scoped>
$nca-color: #194474;

$side-margin: 48mm;

.page {
  position: relative;
  width: var(--page-size-width);
  height: var(--page-max-height);
  page-break-after: always;
}

.banner {
  position: relative;

  .ribbon {
    width: 100%;
    height: calc(100% - 2mm);
    position: absolute;
    background: black;
    z-index: -1;
  }

  .banner-inner {
    margin: 0px $side-margin 0px $side-margin;
    padding: var(--spacer) 0px var(--spacer) 0px;

    border-bottom: 2mm solid var(--theme-color);
    display: flex;

    .title, .subtitle {
      color: white;
    }

    .subtitle {
      flex-grow: 1;
      text-align: center;
    }
  }
}

.page-content {
  padding: 0mm $side-margin 0mm $side-margin;
}

.sections {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--spacer);
}
</style>
