<div class="page">
  <div class="page-content">
    <div class="placeholder-1">Graphic</div>
    <div class="content-face">
      <div class="info-section">
        <h1>{{ i18n.printTableOfContentsTitle() }}</h1>

        <section class="info" v-if="hasSituation">
          <div class="line">
            <div>{{ i18n.printTableOfContentsName() }}</div>
            <div>{{ name }}</div>
          </div>
          <!--
          <div class="line">
            <div>Calculation type</div>
            <div>{{ calculationType }}</div>
          </div>
           -->
          <div class="line">
            <div>{{ i18n.printTableOfContentsYear() }}</div>
            <div>{{ year }}</div>
          </div>
        </section>
      </div>

      <section class="table-of-contents">
        <div v-for="TableOfContentsItem item in items" class="line">
          <div class="bold-blue">{{ item.getOrdinal() }}</div>
          <div class="bold-blue">{{ item.getName() }}</div>
          <div class="align-right">{{ item.getPageKey() }}</div>
        </div>
        <div class="warn">NOTE: The contents of this PDF are currently under construction and may be incomplete or inaccurate.</div>
      </section>
    </div>

    <div class="versions">
      <div class="line">{{ i18n.hotkeyPanelApplicationVersion(applicationVersion) }}</div>
      <div class="line">{{ i18n.hotkeyPanelDatabaseVersion(databaseVersion) }}</div>
    </div>
  </div>
</div>

<style lang="scss" scoped>
.page {
  position: relative;
  width: var(--page-max-width);
  height: 100vh;
  page-break-after: always;

  display: flex;
  align-items: center;
}

.warn {
  background: var(--hint-color);
  font-weight: bold;
  border: 1mm solid black;
  grid-column: span 2;
  padding: var(--spacer);
  margin-top: var(--spacer);
  margin-left: -1mm;
}

.page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: var(--page-max-width);
  page-break-after: always;
  align-items: center;

  .content-face {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "."
                         "info"
                         "toc";

    h1 {
      color: white;
    }
  }

  .info-section {
    grid-area: info;
    background: var(--theme-color);
    color: white;
    display: flex;
    flex-direction: column;
    padding: var(--spacer);
    padding-left: 1cm;
  }

  .table-of-contents {
    grid-area: toc;
    display: grid;
    grid-template-columns: 1cm 1fr 1cm;
    gap: var(--quarter-spacer) var(--spacer);
    padding: var(--spacer);
    padding-left: 1cm;

    .line {
      display: contents;
    }
  }

  .info {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: var(--quarter-spacer) var(--spacer);

    .line {
      display: contents;
    }
  }
}

.align-right {
  text-align: right;
}
.bold-blue {
  color: var(--theme-color);
  font-weight: bold;
}

.versions {
  position: absolute;
  bottom: 0px;
  left: 0px;

  .line {
    color: var(--theme-color);
  }
}
</style>
