<div>
  <print-view>
    <nca-project-calculation-cover-page :printContext="context"/>
    <nca-table-of-contents-page />
    <nca-scenario-overview :eventBus="eventBus" />
    <nca-meteo-info :eventBus="eventBus" />
    <nca-scenario-results :eventBus="eventBus" />
  </print-view>
</div>
