<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadStandardVehicleType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadTypeMode" />

<div>
  <div class="padding">
    <h3>{{ i18n.esRoadDetailTitle() }}</h3>
    <divider type="small" />
    <detail-stat v-if="showArea"
      debugId="srm2DetailArea"
      :label="i18n.esRoadArea()"
      :value="roadAreaDescription" />
    <detail-stat
      debugId="srm2DetailRoadType"
      :label="i18n.esRoadDetailRoadType()"
      :value="roadTypeDescription" />
    <detail-stat
      debugId="srm2DetailTunnelFactor"
      :label="i18n.esRoadDetailTunnelFactor()"
      :value="source.getTunnelFactor()" />
    <detail-stat
      debugId="srm2DetailElevation"
      :label="i18n.esRoadDetailElevation()"
      :value="i18n.sourceRoadElevationType(source.getElevation())" />
    <detail-stat
      debugId="srm2DetailElevationHeight"
      :label="i18n.esRoadDetailElevationHeight()">
      <min-max-label v-debug:srm2DetailElevationHeightCorrected
        :label="i18n.unitM(i18n.decimalNumberFixed(source.getElevationHeight(), 0))"
        :correctionLabel="elevationHeightCorrected(source.getElevationHeight())"/>
    </detail-stat>
    <detail-stat
      debugId="srm2DetailDrivingDirection"
      :label="i18n.esRoadDetailDrivingDirection()"
      :value=" i18n.esRoadDrivingDirection(source.getTrafficDirection())" />
    <div class="detail-grid-row-full padding-top">
      <div class="accent">{{ i18n.esRoadDetailBarrier() }}</div>
      <div class="accent">{{ i18n.sourceRoadBarrierLeftTitle() }}</div>
      <div class="accent">{{ i18n.sourceRoadBarrierRightTitle()}}</div>
    </div>
    <div class="detail-grid-row-full">
      <div class="detail-label">{{ i18n.esRoadDetailBarrierType() }}</div>
      <div v-debug:srm2DetailBarrierTypeLeft>{{ barrierType(source.getBarrierLeft()) }}</div>
      <div v-debug:srm2DetailBarrierTypeRight>{{ barrierType(source.getBarrierRight()) }}</div>
    </div>
    <div class="detail-grid-row-full">
      <div class="detail-label">{{ i18n.esRoadDetailBarrierHeight() }}</div>
      <min-max-label v-debug:srm2DetailBarrierHeightLeft
        :label="barrierHeight(source.getBarrierLeft())"
        :correctionLabel="barrierHeightCorrected(source.getBarrierLeft())"
        :isSingleColumn="(boolean) true" />
      <min-max-label v-debug:srm2DetailBarrierHeightRight
        :label="barrierHeight(source.getBarrierRight())"
        :correctionLabel="barrierHeightCorrected(source.getBarrierRight())"
        :isSingleColumn="(boolean) true" />
    </div>
    <div class="detail-grid-row-full">
      <div class="detail-label">{{ i18n.esRoadDetailBarrierDistanceToRoad() }}</div>
      <min-max-label v-debug:srm2DetailBarrierDistanceLeft
        :label="barrierDistance(source.getBarrierLeft())"
        :correctionLabel="barrierDistanceCorrected(source.getBarrierLeft())"
        :isSingleColumn="(boolean) true" />
      <min-max-label v-debug:srm2DetailBarrierDistanceRight
        :label="barrierDistance(source.getBarrierRight())"
        :correctionLabel="barrierDistanceCorrected(source.getBarrierRight())"
        :isSingleColumn="(boolean) true" />
    </div>
  </div>
  <divider type="big" />
  <road-vehicles-detail
    :stagnationEnabled="(boolean) true"
    :mode="RoadTypeMode.ROAD"
    :source="source"
    :substances="substances" />
  <divider type="big" />
  <div class="padding">
    <h3>{{ totalEmissionTitle }}</h3>
    <divider type="small" />
    <div class="detail-emission-container">
      <div>{{ i18n.esTitle() }}</div>
      <div class="detail-emission-subcontainer">
        <div v-for="(Substance substance, index) in substances" class="detail-emission-substance">
          <div class="detail-label" v-debug='"srm2DetailRoadStandardSubstance-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
          <div v-debug='"srm2DetailRoadStandardEmissionTotalValue-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../road.scss";
@import "../../../../vertical-collapse.scss";

.padding {
  padding: 10px;
  padding-top: 0;
}

.padding-top {
  padding-top: 10px;
}
</style>
