<div class="row" v-debug='"building-" + building.getId()'
  :tabindex="0">
  <styled-point :feature="building"
    backColor="white"
    foreColor="black"
    v-debug='"buildingListButtonZoomToPoint-" + building.getId()' />
  <div class="labelColumn" v-debug='"building-" + building.getId() + "-label"'>{{ building.getLabel() }}</div>
</div>

<style scoped lang="scss">
@import "../../../../row-item.scss";

.row {
  grid-template-columns: 30px 1fr;
}
</style>
