<vue-gwt:import class="elemental2.dom.MouseEvent" />

<div>
  <vertical-collapse>
    <div v-if="hasBuildings" class="buildingsContainer" v-debug:buildingsContainer>
      <div>
        <modify-list
          class="toolbox"
          debugId="building-"
          @new-entity="createNewBuilding()"
          @duplicate-entity="duplicateBuilding()"
          @delete-entity="deleteBuilding()"
          @edit-entity="editBuilding()"
          :typeText="i18n.esModifyTypeBuilding()"
          newIconClass="icon-btn-new-building"
          :selected="listContext.hasSelection()"
          :singleSelected="listContext.hasSingleSelection()"
          :multiSelected="listContext.hasMultiSelection()"
          :enableEdit="true"/>
        <div class="buildings" v-debug:buildings>
          <vertical-collapse-group>
            <building-row :building="building"
              v-for="(BuildingFeature building, index) in buildings"
              :key="building.getId()"
              @mouseenter.native="peekBuilding(building)"
              @mouseleave.native="unpeekBuilding(building)"
              @keyup.enter.space.native="selectBuilding(building)"
              @click.native="clickBuilding(building, (MouseEvent) $event)"
              :aria-selected="listContext.isSelected(building)"
              :class='map("selected", listContext.isSelected(building))'
              v-debug='"buildingRow-" + index' />
          </vertical-collapse-group>
        </div>
      </div>

      <button v-debug:buildingListButtonDeleteAllBuildings
        class="buttonDeleteAll"
        @click="deleteAllBuildings()">{{ i18n.buildingButtonDeleteAll() }}</button>
    </div>
  </vertical-collapse>

  <vertical-collapse>
    <div v-if="!hasBuildings" class="emptyBuildings" v-debug:emptyBuildings>
      <p v-html="i18n.buildingInfo()"></p>

      <div class="buttons">
        <button-icon class="button"
          :hardBorder="true"
          @select="createNewBuilding()"
          iconClass="icon-btn-new-building"
          v-debug:calculationLaunchButtonNewBuilding>
          <span class="label">{{ i18n.clButtonNewBuilding() }}</span>
        </button-icon>
      </div>
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";

.toolbox {
  border-top: var(--separator);
  padding: var(--quarter-spacer);
}
.buildingsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
.buildings {
  max-height: calc(100vh - var(--scenario-input-list-buffer, 465px));
  overflow: auto;
}

.selected {
  background-color: var(--theme-color-light);
}

p {
  margin: 0px;
}

.buttonDeleteAll {
  @include button;
  margin-right: auto;
  margin-left: var(--spacer);
}

.emptyBuildings {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 0px var(--spacer);
  gap: var(--spacer);

  .buttons {
    display: flex;

    gap: var(--spacer);
    justify-content: center;

    .button {
      padding: var(--spacer);
      height: initial;

      display: flex;
      align-items: center;

      .label {
        padding: 0px var(--spacer);
      }
    }
  }
}
</style>
