<!-- Note: defaultContentContainer is part of a UK override -->
<div class="buildingContainer defaultContentContainer" v-if="building != null">
  <h2 v-if="headingLevel == 2" v-debug:buildingDetailTitle>{{ building.getLabel() }}</h2>
  <h3 v-else v-debug:buildingDetailTitle>{{ building.getLabel() }}</h3>

  <building-envelope
    :buildingLimits="appContext.getConfiguration().getBuildingLimits()"
    :height="building.getHeight()"
    :diameter="building.getDiameter()"
    :geometry="building.getGeometry()" />
</div>

<style lang="scss" scoped>
.buildingContainer {
  display: flex;
  flex-direction: column;

  margin: 10px;
  margin-top: 0;

  h2 {
    margin-right: 60px;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--half-spacer);

  .label {
    width: 50%;
  }
}
</style>
