<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.SituationType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.ApplicationLimits"/>

<div class="situationContainer">
  <h3>{{ situation.getName() }} ({{ i18n.situationType(situation.getType()) }}), {{ i18n.pdfSituationRekenjaarLabel() }} {{ situation.getYear()
    }}</h3>

  <p v-if="maxNumberOfSourcesExceeded">{{ maxNumberOfSourcesExceededMessage }}</p>
  <table v-else aria-describedby="pdfSituationOverviewEmissionSources">
    <thead>
    <tr>
      <th scope="col" colspan="2"><h4 id="pdfSituationOverviewEmissionSources">{{ i18n.pdfSituationOverviewEmissionSources() }}</h4></th>
      <th scope="col" class="headingBack emission">{{ i18n.pdfSituationOverviewEmissionNH3Header() }}</th>
      <th scope="col" class="headingBack emission">{{ i18n.pdfSituationOverviewEmissionNOxHeader() }}</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="EmissionSourceFeature source in emissionSources">
      <td>
        <div class="label-icon">
          <styled-point
            class="source-id-box"
            :feature="source"
            :backColor="sectorColor(source)"
            borderWidth='1pt'
            borderRadius='3pt'
            height='8t'
            width='17pt'
            style="font-size: 7pt; line-height: 8pt; box-sizing: initial; padding: 1pt 1pt 2pt 0;"/>
        </div>
      </td>
      <td class="label">{{ getSectorGroup(source) }} | {{ getSector(source) }} | {{ source.getLabel() }}</td>
      <td class="emission">{{ formatEmission(source, Substance.NH3) }}</td>
      <td class="emission">{{ formatEmission(source, Substance.NOX) }}</td>
    </tr>
    <tr v-if="hasRoadNetwork()">
      <td>
        <div class="label-icon"><i class="icon icon-traffic-network"></i></div>
      </td>
      <td class="label">{{ i18n.esRoadNetwork() }}</td>
      <td class="emission">{{ getRoadNetworkEmission(Substance.NH3) }}</td>
      <td class="emission">{{ getRoadNetworkEmission(Substance.NOX) }}</td>
    </tr>
    </tbody>
  </table>

  <table v-if="situation.getBuildings().size() > 0" aria-describedby="pdfSituationOverviewBuildings" class="buildings-table">
    <thead>
    <tr>
      <th scope="col" colspan="2"><h4 id="pdfSituationOverviewBuildings">{{ i18n.pdfSituationOverviewBuildings() }}</h4></th>
      <th scope="col" class="headingBack envelop">{{ i18n.pdfSituationOverviewBuildingsEnvelopeHeader() }}</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="BuildingFeature building in buildings">
      <td>
        <div class="label-icon">
          <styled-point :feature="building"
            foreColor="#000"
            backColor="#fff"
            borderWidth='1pt'
            borderRadius='3pt'
            height='8t'
            width='17pt'
            style="font-size: 7pt; line-height: 8pt; box-sizing: initial; padding: 1pt 1pt 2pt 0;"/>
        </div>
      </td>
      <td class="label">{{ building.getLabel() }}</td>
      <td class="envelop"> {{ formatDimensions(building) }}</td>
    </tr>
    </tbody>
  </table>
</div>

<style lang="scss" scoped>
.situationContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  page-break-before: avoid;

  h3 {
    font-size: 9pt;
    font-weight: 500;
    margin-bottom: 12pt;
  }
}

table {
  page-break-inside: avoid;
  page-break-before: avoid;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;

  tr {
    height: 24pt;

    td {
      font-size: 9pt;
    }

    td:first-child {
      width: 18pt;
    }
  }
}

thead {
  > tr {
    > th:first-child {
      text-align: left;
    }

    > th {

      > h4 {
        color: black;
        font-size: 9pt;
        font-weight: 500;
      }
    }
  }
}

.buildings-table {
  tr {
    td:last-child,
    th:last-child {
      text-align: right;
    }
  }
}

.label-icon {
  width: fit-content;
  height: fit-content;
  margin: auto 0;
}

.label {
  padding-left: 6pt;
}

.source-id-box {
  font-size: 7.5pt;

}

.headingBack {
  color: var(--dark-grey);
}

.emission {
  text-align: right;
  min-width: 80px;
}

.icon {
  font-size: 12pt;
}
</style>
