<div class="mainContent">
  <validation-behaviour :errors="isInvalid"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.esFarmAnimalHousingStandardAdditionalReductionPercentage()"
    class="label"
    :name='"farmAnimalHousingStandardAddReduction-" + index'
    :transparent="true"
    :unit="i18n.unitSingularPercentage()"
    :unitDescription="i18n.unitSingularPercentageDescription()"
    :showError="v.reductionV.error"
    :errorMessage="i18n::esFarmAnimalHousingStandardAdditionalReductionError">
    <input :id='"farmAnimalHousingStandardAddReduction-" + index'
      class="input"
      type="number"
      aria-labelledby="esFarmAnimalHousingStandardAdditionalReductionPercentage"
      v-validate:reductionV.input
      min="0"
      max="100"
      v-model="reduction" />
  </labeled-input>
  <labeled-input :label="i18n.esFarmAnimalHousingStandardAdditionalExplanation()"
    class="label"
    :name='"farmAnimalHousingStandardAddExplanation-" + index'
    :transparent="true"
    :alignTop="true"
    :showError="v.explanationV.error"
    :errorMessage="i18n::esFarmAnimalHousingStandardAdditionalExplanationError">
    <div class="textarea">
      <textarea :id='"farmAnimalHousingStandardAddExplanation-" + index'
        class="input"
        :class='map(e("error-input", v.explanationV.error))'
        rows="4"
        columns="50"
        aria-labelledby="esFarmAnimalHousingStandardAdditionalExplanation"
        v-validate:explanationV.input
        v-model="explanation" />
    </div>
  </labeled-input>
</div>

<style scoped lang="scss">
@import "../../farmanimalhousing.scss";

.mainContent {
  padding-right: var(--half-spacer);
  padding-left: var(--half-spacer);
  background: #0000000e;
}

.textarea {
  height: 8em;

  textarea {
    resize: none;
  }
}

 .label label {
   padding-left: var(--half-spacer);
 }
</style>
