<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.CustomAdditionalHousingSystem" />

<div>
  <validation-behaviour :errors="isIncompatible || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.esFarmAnimalHousingStandardAdditionalTechnique()">
    <div class="additional-name">
      <div :id='"additionalName-" + index'>{{ additionalTechniqueName() }}</div>
      <tooltip :title="i18n.esFarmAnimalHousingStandardAdditionalSystemDelete()">
        <button-icon @select="deleteRow()"
          :aria-label="i18n.esFarmAnimalHousingStandardAdditionalSystemDelete()"
          class="deleteButton"
          iconClass="icon-btn-delete"
          :id='"additionalDelete-" + index' />
      </tooltip>
    </div>
  </labeled-input>
  <animal-standard-additional-custom-row v-if="isCustom"
    :index="index"
    :system="(CustomAdditionalHousingSystem) system"
    @errors='trackChildError("additional-custom-" +  index , (boolean) $event)'
    @warnings='trackChildWarning("additional-custom-" + index, (boolean) $event)' />
  <vertical-collapse>
    <input-error v-if="isIncompatible"
      :id='"additionalIncompatibleError-" + index'
      :attached="true"
      :showError="isIncompatible"
      :errorMessage="() -> i18n.esFarmAnimalHousingWarningStacking()" />
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../farmanimalhousing.scss";

.additional-name {
  display: grid;
  grid-template-columns: 1fr 36px;
}

.deleteButton {
  min-width: 0px;
}
</style>
