<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.offroad.OffRoadMobileSource"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.offroad.OffRoadType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.offroad.StandardOffRoadMobileSource"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<table :aria-label="i18n.pdfEmissionSourceDetailsOffroadTableDescription()" class="details">
  <thead>
  <tr>
    <th scope="col">{{ i18n.esLabelName() }}</th>
    <th scope="col">{{ i18n.esOffRoadMobileCategoryLabel()}}</th>
    <th scope="col">{{ i18n.esOffRoadMobileStandardLiterFuel() }}</th>
    <th scope="col">{{ i18n.esOffRoadMobileStandardOperatingHours() }}</th>
    <th scope="col">{{ i18n.esOffRoadMobileStandardLiterAdBlue() }}</th>
    <th scope="col">{{ i18n.esSubstance() }}</th>
    <th scope="col">{{ i18n.esTitle() }}</th>
  </tr>
  </thead>
  <tbody v-for="OffRoadMobileSource subSource in source.getSubSources()" class="grouped">
  <tr v-for="(Substance substance, index) in substances" v-if="source.getEmission(substance) > 0">
    <td v-if="index == 0">{{ subSource.getDescription() }}</td>
    <td v-else></td>
    <td v-if="index == 0 && isStandard(subSource)">{{ getOffRoadMobileSourceCode(subSource) }}</td>
    <td v-else></td>
    <td v-if="index == 0 && isStandard(subSource) && hasFuel(subSource)">{{ getFuel(subSource) }} {{ i18n.unitSingularLiterPerYear() }}</td>
    <td v-else></td>
    <td v-if="index == 0 && isStandard(subSource) && hasOperatingHours(subSource)">{{ getOperatingHours(subSource) }} {{ i18n.unitSingularHourPerYear() }}</td>
    <td v-else></td>
    <td v-if="index == 0 && isStandard(subSource) && hasAdBlue(subSource)">{{ getAdBlue(subSource) }} {{ i18n.unitSingularLiterPerYear() }}{{ getCorrectedAdBlueTotal(subSource) }}</td>
    <td v-else></td>
    <td>{{ i18n.pollutant(substance) }}</td>
    <td class="numberColumn">{{ MessageFormatter.formatEmissionWithUnitSmart(subSource.getEmission(substance)) }}</td>
  </tr>
  </tbody>
</table>

<style lang="scss" scoped>
@import "../../pdf-table.scss";

table {
  font-size: .8em;
}
</style>
