<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.pages.language.Language" />

<div ref="main">
  <button-icon class="exit"
    fontSize="16px"
    :titleText="i18n.ariaLabelClose()"
    @select="closePopout()"
    iconClass="icon-close" />
  <h2 class="title" id="language-header">{{ i18n.titleLanguage() }}</h2>
  <ul aria-labelledby="language-header">
    <li v-for="Language language in Language.values()"
      tabindex="0"
      class="row"
      :lang="language.getLocale()"
      :aria-label="language.getName()"
      :class='map("selected", language.getLocale() == locale)'
      @keyup.enter.space="selectLanguage(language)"
      @click="selectLanguage(language)">{{ language.getName() }}</li>
  </ul>
</div>

<style scoped lang="scss">
@import "../../../row-item.scss";

.title {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

ul {
  padding: 0px;
}

.exit {
  position: absolute;
  right: 5px;
  top: 5px;
  height: var(--row-height-generous);
}
</style>
