<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionSourceFeature"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.ApplicationLimits"/>

<div v-if="render">
  <span :id="this.ID" class="hide"/>
  <div class="situations">
    <div v-for="SituationContext situation in situations" class="situation-sources-overview" v-if="render(situation)">
      <h3>{{ situation.getName() }}, {{ i18n.scenarioPreferenceLabelYear() }} {{ situation.getYear() }}</h3>

      <p v-if="maxNumberOfSourcesExceeded(situation)">{{ maxNumberOfSourcesExceededMessage }}</p>
      <template v-else>
        <p v-if="maxNumberOfSRM2SourcesExceeded(situation)">{{ maxNumberOfSRM2SourcesExceededMessage }}</p>
        <template v-for="EmissionSourceFeature source in getEmissionSources(situation)">
          <emission-source-ops-details
            v-if="!isSRM2RoadSource(source) || isSRM2RoadSource(source) && !maxNumberOfSRM2SourcesExceeded(situation)"
            :source="source"
            :situation="situation"/>
        </template>
      </template>
    </div>
  </div>
</div>

<style lang="scss" scoped>
.hide {
  visibility: hidden;
}

div.situations > :not(:first-child) {
  page-break-before: always;
}

.situation-sources-overview {
  > :not(:last-child) {
    margin-bottom: var(--spacer);
  }
}

h3 {
  font-size: 9pt;
  font-weight: 500;
  margin-bottom: 12pt;
}
</style>
