<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsKey"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsSummary"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ProcurementPolicy"/>

<div class="overview">
  <span :id="this.ID"/>
  <template v-if="scenarioContext.hasSituations()">
    <template v-if="!isScenarioMetaDataEmpty">
      <h3 id="pdfOverviewContactDetails">{{ i18n.pdfOverviewContactDetails() }}</h3>
      <table aria-describedby="pdfOverviewContactDetails">
        <tr>
          <th scope="row">{{ i18n.pdfOverviewContactDetailsCorporation() }}</th>
          <td>{{ scenarioMetaData.getCorporation() }}</td>
        </tr>
        <tr>
          <th scope="row">{{ i18n.pdfOverviewContactDetailsLocation() }}</th>
          <td>{{ scenarioMetaData.getStreetAddress()}},</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>{{ scenarioMetaData.getPostcode()}} {{ scenarioMetaData.getCity()}}</td>
        </tr>
      </table>

      <h3 id="pdfOverviewAppendix" v-if="includeAppendix">{{ i18n.pdfOverviewAppendix() }}</h3>
      <table aria-describedby="pdfOverviewAppendix" v-if="includeAppendix">
        <tr>
          <th scope="row">{{ i18n.pdfOverviewAppendixDescription() }}</th>
          <td>{{ scenarioMetaData.getProjectName() }}</td>
        </tr>
        <tr>
          <th scope="row">{{ i18n.pdfOverviewAppendixReference() }}</th>
          <td>{{ reference }}</td>
        </tr>
        <tr>
          <th scope="row">{{ i18n.pdfOverviewAppendixDate() }}</th>
          <td>{{ timestamp }}</td>
        </tr>
      </table>

      <h3 id="pdfOverviewActivity" v-if="includeActivity">{{ i18n.pdfOverviewActivity() }}</h3>
      <table aria-describedby="pdfOverviewActivity" v-if="includeActivity">
        <tr>
          <th scope="row">{{ i18n.pdfOverviewActivityTitle() }}</th>
          <td>{{ scenarioMetaData.getProjectName() }}</td>
        </tr>
        <tr>
          <th scope="row">{{ i18n.pdfOverviewActivityDescription() }}</th>
          <td>{{ scenarioMetaData.getDescription() }}</td>
        </tr>
      </table>
    </template>

    <h3 id="pdfOverviewCalculation" v-if="includeActivity">{{ i18n.pdfOverviewCalculation() }}</h3>
    <table aria-describedby="pdfOverviewCalculation" v-if="includeActivity">
      <tr>
        <th scope="row">{{ i18n.pdfOverviewCalculationReference() }}</th>
        <td>{{ reference }}</td>
      </tr>
      <tr>
        <th scope="row">{{ i18n.pdfOverviewCalculationDate() }}</th>
        <td>{{ timestamp }}</td>
      </tr>
      <tr>
        <th scope="row">{{ i18n.pdfOverviewCalculationConfiguration() }}</th>
        <td>{{ calculationConfiguration }}</td>
      </tr>
    </table>

    <table aria-describedby="pdfOverviewTotalEmission" class="with-header">
      <tr>
        <td><h3 id="pdfOverviewTotalEmission">{{ i18n.pdfOverviewTotalEmission() }}</h3></td>
        <th scope="col">{{ i18n.pdfOverviewTotalEmissionCalculationYear() }}</th>
        <th scope="col">{{ i18n.pdfOverviewTotalEmissionEmissionNH3() }}</th>
        <th scope="col">{{ i18n.pdfOverviewTotalEmissionEmissionNOx() }}</th>
      </tr>
      <tr v-for="SituationContext situationContext in situations">
        <th scope="row">{{ getLongSituationName(situationContext) }}</th>
        <td>{{ situationContext.getYear() }}</td>
        <td>{{ formatEmission(situationContext.getTotalEmission(Substance.NH3)) }}</td>
        <td>{{ formatEmission(situationContext.getTotalEmission(Substance.NOX)) }}</td>
        <td></td>
      </tr>
    </table>

    <table aria-describedby="pdfOverviewResults" class="with-header" v-if="includeResults">
      <tr>
        <td><h3 id="pdfOverviewResults">{{ i18n.pdfOverviewResults() }}</h3></td>
        <th scope="col">{{ i18n.resultsStatisticWithoutUnit(ResultStatisticType.MAX_CONTRIBUTION, i18n.resultsTotalName(appContext.getTheme())) }}</th>
        <th scope="col">{{ i18n.pdfOverviewResultsHexagon() }}</th>
        <th scope="col">{{ i18n.pdfOverviewResultsArea() }}</th>
      </tr>
      <tr v-for="SituationContext situationContext in situations">
        <th scope="row">{{ getLongSituationName(situationContext) }}</th>
        <td>{{ formatDepositionValue(situationResultsSummaries.get(situationContext.getId()), ResultStatisticType.MAX_CONTRIBUTION) }}</td>
        <td>{{ getHexagonId(situationResultsSummaries.get(situationContext.getId()), ResultStatisticType.MAX_CONTRIBUTION) }}</td>
        <td>{{ getAreaName(situationResultsSummaries.get(situationContext.getId()), ResultStatisticType.MAX_CONTRIBUTION) }}</td>
      </tr>
    </table>

    <table aria-describedby="pdfOverviewResults" v-if="includeResults">
      <tr v-if="showAreaCalculated">
        <th scope="row">{{ i18n.pdfOverviewResultsAreaCartographic() }}</th>
        <td class="numberColumn">{{ formatDepositionValue(currentSituationSummary, ResultStatisticType.SUM_CARTOGRAPHIC_SURFACE) }}</td>
      </tr>
      <tr v-if="showIncreases">
        <th scope="row">{{ i18n.pdfOverviewResultsAreaWithIncrease() }}</th>
        <td class="numberColumn">{{ getFormattedProjectResultStatistic(ResultStatisticType.SUM_CARTOGRAPHIC_SURFACE_INCREASE) }}</td>
      </tr>
      <tr v-if="showDecreases">
        <th scope="row">{{ i18n.pdfOverviewResultsAreaWithDecrease() }}</th>
        <td class="numberColumn">{{ getFormattedProjectResultStatistic(ResultStatisticType.SUM_CARTOGRAPHIC_SURFACE_DECREASE) }}</td>
      </tr>
      <tr v-if="showIncreases">
        <th scope="row">{{ i18n.resultsStatisticWithoutUnit(ResultStatisticType.MAX_INCREASE, i18n.resultsTotalName(appContext.getTheme())) }}</th>
        <td class="numberColumn">{{ getFormattedProjectResultStatistic(ResultStatisticType.MAX_INCREASE) }}</td>
      </tr>
      <tr v-if="showDecreases">
        <th scope="row">{{ i18n.resultsStatisticWithoutUnit(ResultStatisticType.MAX_DECREASE, i18n.resultsTotalName(appContext.getTheme())) }}</th>
        <td class="numberColumn">{{ getFormattedProjectResultStatistic(ResultStatisticType.MAX_DECREASE) }}</td>
      </tr>
    </table>

    <procurement-policy-overview :resultsSummaries="depositionSumResultsSummaries" v-if="includePolicyResults"/>

    <template v-if="formattedNettingFactor != null">
      <h3 id="pdfOverviewOffSiteReduction">{{ i18n.pdfOverviewOffSiteReduction() }}</h3>
      <table aria-describedby="pdfOverviewOffSiteReduction">
        <tr>
          <th scope="row">{{ i18n.pdfOverviewNettingFactor() }}</th>
          <td class="numberColumn">{{ formattedNettingFactor }}</td>
        </tr>
      </table>
    </template>
  </template>
</div>

<style lang="scss" scoped>
div.overview {
  page-break-after: always;
  page-break-before: always;
}

h3 {
  margin-bottom: 0;
  font-size: 9pt;
  font-weight: 500;
}

h3:not(:first-child) {
  margin-top: 1em;
}

table {
  max-width: var(--page-max-width);

  &.with-header {
    margin-top: 1em;
  }

  tr {
    min-height: 12pt;
    line-height: 12pt;
  }

  th {
    color: #808183;
    text-align: left;

    &[scope='row'] {
      min-width: 65mm;
      vertical-align: top;
    }

    &[scope='col'] {
      width: 3.3cm;
      vertical-align: bottom;
    }
  }

  td {
    text-align: left;
    word-wrap: normal;
  }
}

.numberColumn {
  text-align: right
}

</style>
