$pdf-table-background-color: #f5f5f5;
$pdf-table-border-color: lightgray;

table {
  border-collapse: collapse;

  .details {
    width: var(--page-max-width);
    font-size: 0.8em;
  }

  i.icon {
    font-size: 25px;
  }
}

thead {
  background: $pdf-table-background-color;

  th {
    vertical-align: top;
    text-align: left;
    padding: 0 var(--half-spacer) 0 0;
  }
}

tbody {
  tr {
    border-bottom: 2px solid $pdf-table-background-color;
  }
}

tbody.grouped {
  tr {
    border-bottom: none;
  }

  border-bottom: 2px solid $pdf-table-background-color;
}

td {
  padding: 0 var(--half-spacer) 0 0;
  vertical-align:top;
}

.numberColumn {
  text-align: right;
}
