<vue-gwt:import class="nl.overheid.aerius.shared.domain.PdfProductType"/>

<div>
  <print-view>
    <print-ow-n2000-calculator-view
      v-if="context.getPdfProductType() == PdfProductType.OWN2000_CALCULATOR || context.getPdfProductType() == PdfProductType.OWN2000_PERMIT"
      :eventBus="eventBus"
    />
    <print-ow-n2000-edge-effect-appendix-view
      v-if="context.getPdfProductType() == PdfProductType.OWN2000_EDGE_EFFECT_APPENDIX"
      :eventBus="eventBus"
    />
    <print-ow-n2000-extra-assessment-appendix-view
      v-if="context.getPdfProductType() == PdfProductType.OWN2000_EXTRA_ASSESSMENT_APPENDIX"
      :eventBus="eventBus"
    />
    <print-ow-n2000-lbv-policy-view
      v-if="context.getPdfProductType() == PdfProductType.OWN2000_LBV_POLICY"
      :eventBus="eventBus"
    />
    <print-ow-n2000-single-scenario-view
      v-if="context.getPdfProductType() == PdfProductType.OWN2000_SINGLE_SCENARIO"
      :eventBus="eventBus"
    />
    <div class="disclaimer">
      <h4>{{ i18n.pdfDisclaimerLabel() }}</h4>
      <p>{{ i18n.pdfDisclaimer(context.getPdfProductType()) }}</p>
    </div>
    <application-version />
  </print-view>
</div>

<style lang="scss" scoped>
  .disclaimer {
    margin-top: var(--spacer);
    page-break-inside: avoid;

    h4 {
      margin-bottom: 0;
    }
  }
</style>
