<div class="page">
  <div class="column column-left">
    <img class="splash-graph" :src="coverIllustration" alt=""/>
  </div>
  <div class="column column-right">
    <div class="top">
      <p>{{ i18n.pdfProjectCalculationCoverPageDescription(printOwN2000Context.getPdfProductType()) }}</p>
    </div>

    <div class="bottom">
      <ul>
        <li v-for="Chapter chapter in chapters"><a :href="'#' + chapter.getId()">
          <span class="link">{{ chapter.getName() }}</span> {{ chapter.getNamePostfix() }}</a>
        </li>
      </ul>
      <p v-html="i18n.pdfProjectCalculationCoverPageNote(printOwN2000Context.getPdfProductType())"></p>
    </div>
  </div>
</div>

<style lang="scss" scoped>
.page {
  position: relative;
  width: var(--page-max-width);
  height: var(--page-max-height);
  page-break-after: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

p {
  font-size: 9pt;
}

.column {
  height: 100%;

  &-left {
    width: calc(105mm - var(--page-margin-left));
    display: block;
    position: relative;


    img {
      position: absolute;
      top: calc(var(--page-max-height) / 2 - 6cm);
      right: -5.2cm;
      width: 10.4cm;
    }
  }

  &-right {
    width: calc(105mm - var(--page-margin-right));
    display: block;
    position: relative;

    .top {
      padding-top: 10mm;
      p {
        word-wrap: break-word;
        margin: 0;
      }
    }

    .bottom {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-content: end;
      gap: 10mm;

      ul {
        list-style: square;
        padding-inline-start: 20px;
        margin: 0;
        color: var(--theme-color);
      }

      a {
        color: var(--theme-color);
      }

      .link {
        text-decoration: underline;
      }

      p {
        font-family: 'Noto Sans Italic', sans-serif;
        font-style: italic;
      }
    }
  }
}
</style>
