<div>
  <span :id="this.ID"/>
  <result-summary-map :eventBus="eventBus" v-if="includeMap"/>
  <result-summary-table :eventBus="eventBus"/>
  <result-summary-calculation-points-table :eventBus="eventBus" v-if="includeCalculationPoints"/>
</div>

<style scoped>
div {
  page-break-after: always;
}
</style>
