<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType" />

<div class="statistics-container">
  <horizontal-collapse-group class="collapse-group">
    <div v-for="ResultStatisticType type of scenarioResultTypes"
      :key="type.name()"
      class="item">
      <div class="header">{{ i18n.resultsStatistic(emissionResultType, type, displayType, i18n.resultsTotalName(applicationContext.getTheme())) }}</div>
      <div class="value" v-debug='type.getJsonKey()'>{{ formatValueFor(type) }}</div>
    </div>
  </horizontal-collapse-group>
</div>

<style scoped lang="scss">
@import "../../../../horizontal-collapse.scss";

.statistics-container {
  background: white;
  padding: var(--spacer);
}

.collapse-group {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.item {
  text-align: center;

  div {
    font-weight: bold;
    min-height: var(--row-height-generous);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    font-size: 1.1em;
  }

  .value {
    color: var(--theme-color);
    font-size: 1.7em;
  }
}
</style>
