<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsAreaSummary"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType"/>

<table :aria-label="i18n.resultsProcurementPolicyDescription()">
  <thead>
    <tr>
      <th v-if="showAreas">
        {{ i18n.resultsProcurementPolicyArea() }}
      </th>
      <th/>
      <th>
        {{ i18n.resultsProcurementPolicyPercentage() }}
      </th>
      <th>
        {{ i18n.resultsStatistic(generalizedEmissionResultType, ResultStatisticType.PROCUREMENT_POLICY_THRESHOLD_VALUE, displayType, i18n.resultsTotalName(applicationContext.getTheme())) }}
      </th>
      <th>
        {{ i18n.resultsStatistic(generalizedEmissionResultType, ResultStatisticType.SUM_CONTRIBUTION, displayType, i18n.resultsTotalName(applicationContext.getTheme())) }}
      </th>
    </tr>
  </thead>
  <tbody v-debug:procurement-policy-row-container>
    <tr
      v-if="showOverall">
      <td v-if="showAreas"/>
      <td class="align-center"
        v-debug:procurement-policy-overall-checked>
        <i v-if="isOverOverallThreshold()"
          class="icon-checked"/>
        <i v-else
          class="icon-close"/>
      </td>
      <td>
        <threshold-indicator-component
          :percentage="getOverallPercentage()"
          :locale="locale"/>
      </td>
      <td class="align-right"
        v-debug:procurement-policy-overall-threshold>
        {{ getOverallThreshold() }}
      </td>
      <td class="align-right"
        v-debug:procurement-policy-overall-value>
        {{ getOverallSum() }}
      </td>
    </tr>
    <tr
      v-if="showAreas"
      v-for="(SituationResultsAreaSummary area, idx) in situationResultsSummary.getAreaStatistics()"
      v-debug="area.getAssessmentArea().getId()">
      <td v-debug='"procurement-policy-area-" + area.getAssessmentArea().getId() + "-name"'>
        {{ getAreaTitle(area) }}
      </td>
      <td class="align-center"
        v-debug='"procurement-policy-area-" + area.getAssessmentArea().getId() + "-check"'>
        <template v-if="isAreaOverThreshold(area).isPresent()">
          <i v-if="isAreaOverThreshold(area).get()"
            class="icon-checked"></i>
          <i v-else
            class="icon-close"></i>
        </template>
      </td>
      <td>
        <threshold-indicator-component v-if="getAreaPercentage(area).isPresent()"
          :percentage="getAreaPercentage(area).get()"
          :locale="locale" />
      </td>
      <td class="align-right"
        v-debug='"procurement-policy-area-" + area.getAssessmentArea().getId() + "-threshold"'>
        {{ getAreaThreshold(area) }}
      </td>
      <td class="align-right"
        v-debug='"procurement-policy-area-" + area.getAssessmentArea().getId() + "-value"'>
        {{ getAreaSum(area) }}
      </td>
    </tr>
  </tbody>
</table>

<style lang="scss" scoped>
@import "../result-view.scss";

table {
  margin: var(--spacer);
  border-collapse: collapse;
}

thead {
  background: #0000000e;
}

thead tr {
  font-weight: bold;
  user-select: none;
}

tbody tr:nth-child(odd) {
  background: white;
}

th, td {
  padding: var(--quarter-spacer) var(--half-spacer);
}

th {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

</style>
