<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>

<div class="detailRow"
  v-debug='"farmLodgingCustomRow-" + index'>
  <div v-debug:farmLodgingCustomDescription>{{ source.getDescription() }}</div>
  <div v-debug:farmLodgingCustomNumberOfAnimals>{{ source.getNumberOfAnimals() }}</div>
  <div v-debug:farmLodgingCustomEmissionFactor>{{ farmLodgingEmissionFactor }}</div>
  <div v-if="hasFarmReductiveLodgingSystemCategories"
    v-debug:farmLodgingCustomReduction>-</div>
  <div v-else
    v-debug:farmLodgingDetailCustomNumberOfDays>{{ numberOfDays }}</div>
  <div v-debug:farmLodgingCustomEmission>{{ emission }}</div>
</div>

<style scoped lang="scss">
@import "../farmlodging.scss";
</style>
