<div class="lineContainer">
  <div class="headerLine">
    <h3>{{ label }}</h3>
    <checkbox v-if="toggleMode"
      :id="name"
      v-model="preferenceValue" />
  </div>
  <slot></slot>
  <p v-if="showNotice">{{ notice }}</p>
</div>

<style lang="scss" scoped>
.lineContainer {
  padding-bottom: var(--spacer);

  .headerLine {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: var(--row-height-generous);
    align-items: center;
  }
}
</style>
