<!-- Note: defaultContentContainer is part of a UK override -->
<div class="settingsContainer defaultContentContainer"
  ref="main">
  <button-icon class="exit"
    fontSize="16px"
    :titleText="i18n.ariaLabelClose()"
    @select="closePopout()"
    iconClass="icon-close" />

  <h2 class="title">{{ i18n.titlePreferences() }}</h2>

  <div class="dividers">
    <preference-line v-if="hasProjectionSetting"
      :toggleMode="false"
      :label="i18n.preferencesProjectionTitle()"
      :showNotice="preferencesContext.getSelectedProjection() != null && !preferencesContext.getSelectedProjection().isEmpty()"
      :notice="i18n.preferencesProjectionExplain(preferencesContext.getSelectedProjection(), nativeProjection)">
      <simple-listbox id="projectionSelect"
        v-debug:inputViewMode
        :strict="false"
        :options="availableProjections"
        :selected="preferencesContext.getSelectedProjection()"
        @select='setSelectedProjection((String) $event)'
        @select-unknown="removeSelectedProjection()">
        <template slot-scope="{ String option }">{{ i18n.preferencesProjection(option.replace(":", "")) }}</template>
        <option slot="optionsAfter" value="">{{ i18n.preferencesProjectionNone() }}</option>
      </simple-listbox>
    </preference-line>
    <preference-line :label="i18n.preferencesAdvancedImport()"
      name="advancedImport"
      :notice="i18n.preferencesImportModeExplain()"
      :value="advancedImport"
      @change="setAdvancedImport((boolean) $event)" />
    <preference-line :label="i18n.preferencesLayerAutoSwitch()"
      name="layerAutoSwitch"
      :notice="i18n.preferencesLayerAutoSwitchExplain()"
      :value="layerAutoSwitch"
      @change="setLayerAutoSwitch((boolean) $event)" />
    <preference-line v-if="loginEnabledEnabled"
      :label="i18n.loginWithApiKeyPreferenceTitle()"
      name="credentialedWorkspace"
      :notice="i18n.loginWithApiKeyPreferenceDescription()"
      :value="loginEnabled"
      @change="setLoginEnabled((boolean) $event)" />
    <preference-line v-if="manualEnabled"
      :label="i18n.preferencesManualAutoSwitch()"
      name="manualAutoSwitch"
      :notice="i18n.preferencesManualAutoSwitchExplain()"
      :value="manualAutoSwitch"
      @change="setManualAutoSwitch((boolean) $event)" />
  </div>
</div>

<style lang="scss" scoped>
.title {
  margin-left: 0px;
  margin-right: 0px;

  padding: 0px var(--spacer);
}

.dividers {
  div {
    border-top: var(--half-separator);
    border-bottom: var(--half-separator);

    padding: 0px var(--spacer) var(--spacer);
  }

  div:first-child {
    border-top: var(--separator);
  }
  div:last-child {
    border-bottom: none;
  }
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.exit {
  position: absolute;
  right: 5px;
  top: 5px;
  height: var(--row-height-generous);
}
</style>
