<vue-gwt:import class="nl.overheid.aerius.wui.application.context.ExternalContentContext" />

<div class="contentContainer">
  <!-- Note: textContentContainer is part of a UK override -->
  <div
    v-if="introductionText.isPresent()"
    class="introductionContainer textContentContainer">
    <h1>{{ i18n.clPageTitle() }}</h1>
    <div
      v-html="introductionText.get()"
      class="paragraphs"></div>
  </div>
  <external-content
    v-else
    :href="ExternalContentContext.INTRODUCTION"
    :eventBus="eventBus" />
</div>

<style
  scoped
  lang="scss">
  .introductionContainer {
    display: flex;
    flex-direction: column;
    padding: 0px var(--spacer);
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
  }

  h2 {
    margin: 0px;
    font-size: 1em;
    font-weight: bold;
  }

  .paragraphs {
    display: contents;
    font-size: 1.1em;
  }

  .paragraph {
    font-size: 1.1em;
  }
</style>
