<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.base.TimeUnit"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.MaritimeShippingCategory"/>

<div v-if="standardMooringMaritimeShipping != null" class="container">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.esMooringMaritimeShippingDescription()"
    name="mooringMaritimeShippingStandardDescription"
    :errorValidation="v.descriptionV"
    :errorMessage="this::descriptionError">
    <input id="mooringMaritimeShippingStandardDescription"
      type="text"
      v-validate:descriptionV.input
      v-model="description"
      v-debug:mooringMaritimeShippingStandardDescription />
  </labeled-input>
  <labeled-input :label="i18n.esMaritimeStandardShipCode()"
    name="mooringMaritimeStandardShippingType"
    :errorValidation="v.shipCodeV"
    :errorMessage="this::shipCategoryRequiredError">
    <select id="mooringMaritimeStandardShippingType"
      v-model="maritimeShippingCategory"
      v-debug:mooringMaritimeStandardShippingType>
      <option v-for="MaritimeShippingCategory ship in shipCategories"
        :value="ship.getCode()">{{ ship.getDescription() }}</option>
    </select>
  </labeled-input>
  <labeled-input :label="i18n.esShippingVisits()"
    name="mooringMaritimeShippingStandardAmountOfVisits"
    :errorValidation="v.shipsPerTimeUnitV"
    :errorMessage="this::shipsPerTimeUnitError">
    <div class="sub-grid">
      <input id="mooringMaritimeShippingStandardAmountOfVisits"
        type="number"
        :placeholder="0"
        v-model="shipsPerTimeUnit"
        min="0"
        step="any"
        v-validate:shipsPerTimeUnitV.input
        v-debug:mooringMaritimeShippingStandardAmountOfVisits />
      <select id="timeUnit"
        v-model="timeUnit"
        v-debug:mooringMaritimeShippingStandardTimeUnit>
        <option v-for="TimeUnit tu in TimeUnit.values()"
          :value="tu.name()">{{ i18n.unitTime(tu) }}</option>
      </select>
    </div>
  </labeled-input>
  <labeled-input :label="i18n.esMooringMaritimeShippingAverageResidenceTime()"
    name="mooringMaritimeShippingStandardAverageResidenceTime"
    :unit="i18n.unitSingularHour()"
    :unitDescription="i18n.unitSingularHourDescription()"
    :errorValidation="v.averageResidenceTimeV"
    :errorMessage="this::averageResidenceTimeError">
    <input id="averageResidenceTimeInput"
      type="number"
      :placeholder="0"
      v-validate:averageResidenceTimeV.input
      v-model="averageResidenceTime"
      v-debug:mooringMaritimeShippingStandardAverageResidenceTime />
  </labeled-input>
  <labeled-input :label="i18n.esMooringMaritimeShippingShorePowerFactor()"
    name="mooringMaritimeShippingStandardShorePowerFactor"
    :unit="i18n.unitSingularPercentage()"
    :unitDescription="i18n.unitSingularPercentageDescription()"
    :errorValidation="v.shorePowerFactorV"
    :errorMessage="this::shorePowerFactorError">
    <input id="mooringMaritimeShippingStandardShorePowerFactor"
      type="number"
      :placeholder="0"
      min="0.0"
      max="100"
      step="0.1"
      v-validate:shorePowerFactorV.input
      v-model="shorePowerFactor"
      v-debug:mooringMaritimeShippingStandardShorePowerFactor />
  </labeled-input>
</div>

<style scoped lang="scss">
@import "../../../../../components/input/inputs.scss";

.container {
  margin-top: var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.sub-grid {
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 4px;
}

</style>
