<div class="item">
  <icon
    icon="icon-queue"
    :class='map("highlight", highlight)'
    class="icon" />
  <div class="counter">{{ count }}</div>
</div>

<style
  scoped
  lang="scss">
  .item {
    width: var(--row-height);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: var(--icon-color);

    .icon {
      color: inherit;
      font-size: 30px;
      transition: color var(--anim);
    }
  }

  .counter {
    --button-size: 13px;
    height: var(--button-size);
    line-height: 10px;
    top: 0px;
    right: 0px;
    color: white;
    border: 1px solid white;
    background-color: var(--theme-color);
    position: absolute;
    font-size: 10px;
    padding: 1px 3px;
    display: grid;
    place-items: center;
  }

  .highlight {
    mix-blend-mode: plus-lighter;
    filter: contrast(0.1) brightness(2);
  }
</style>
