<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.EmissionSourceType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.shipping.MooringType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MaritimeShippingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MooringMaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.MooringMaritimeShippingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.StandardMaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.maritime.StandardMooringMaritimeShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div>
  <div class="margin">
    <h3>{{ i18n.esMaritimeShippingDetailTitle() }}</h3>
    <vertical-collapse>
      <div v-if="isESType(EmissionSourceType.SHIPPING_MARITIME_INLAND) || isESType(EmissionSourceType.SHIPPING_MARITIME_MARITIME)">
        <div>
          <vertical-collapse>
            <div v-if="maritimeSource.getMooringAId() != null"
              class="detail-grid-row">
              <div class="detail-label">{{ i18n.mooringType(MooringType.A) }}</div>
              <div v-debug:maritimeShippingMooringAId>{{ getSourceLabel(maritimeSource.getMooringAId()) }}</div>
            </div>
          </vertical-collapse>
          <vertical-collapse>
            <div v-if="maritimeSource.getMooringBId() != null"
              class="detail-grid-row">
              <div class="detail-label">{{ i18n.mooringType(MooringType.B) }}</div>
              <div v-debug:maritimeShippingMooringBId>{{ getSourceLabel(maritimeSource.getMooringBId()) }}</div>
            </div>
          </vertical-collapse>
        </div>
        <vertical-collapse-group>
          <div v-for="(MaritimeShipping row, index) in maritimeSource.getSubSources()"
            :key="index">
            <div v-if="row.getMaritimeShippingType() == MaritimeShippingType.STANDARD">
              <divider type="small" />
              <h4 v-debug='"maritimeStandardShippingCode-" + index'>{{ getDescriptionFromCode(((StandardMaritimeShipping) row).getShipCode()) }}</h4>
              <div class="detail-grid-row-full">
                <div class="detail-label">{{ i18n.esShipDescription() }}</div>
                <div class="detail-label">{{ i18n.esShipsMovementsPerTimeUnit() }}</div>
                <div class="detail-label">{{ i18n.esShipTimeunit() }}</div>
              </div>
              <div class="detail-grid-row-full">
                <div v-debug='"maritimeStandardShippingDescription-" + index'>{{ row.getDescription() }}</div>
                <div v-debug='"maritimeStandardShippingMovements-" + index'>{{ row.getMovementsPerTimeUnit() }}</div>
                <div v-debug='"maritimeStandardShippingTimeUnit-" + index'>{{ i18n.unitTime(row.getTimeUnit()) }}</div>
              </div>
              <divider type="sub" />
              <div class="detail-emission-container">
                <div>{{ i18n.esTitle() }}</div>
                <div class="detail-emission-subcontainer">
                  <div class="detail-emission-substance" v-for="Substance substance in substances">
                    <div class="detail-label" v-debug='"maritimeStandardShippingSubstance-" + index + "-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
                    <div v-debug='"maritimeStandardShippingEmission-" + index + "-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </vertical-collapse-group>
      </div>
    </vertical-collapse>
    <vertical-collapse>
      <div v-if="isESType(EmissionSourceType.SHIPPING_MARITIME_DOCKED)">
        <vertical-collapse-group>
          <div v-for="(MooringMaritimeShipping row, index) in mooringMaritimeSource.getSubSources()"
            :key="index">
            <div v-if="row.getMooringMaritimeShippingType() == MooringMaritimeShippingType.STANDARD">
              <divider type="small" />
              <h4 v-debug='"maritimeDockedShippingCode-" + index'>{{ getDescriptionFromCode(((StandardMooringMaritimeShipping) row).getShipCode()) }}</h4>
              <div class="detail-grid-row-full">
                <div class="detail-label">{{ i18n.esShipDescription() }}</div>
                <div class="detail-label">{{ i18n.esShipsVisitsPerTimeUnit() }}</div>
                <div class="detail-label">{{ i18n.esShipTimeunit() }}</div>
                <div class="detail-label">{{ i18n.esShipAverageResidenceTime() }}</div>
              </div>
              <div class="detail-grid-row-full">
                <div v-debug='"maritimeDockedShippingDescription-" + index'>{{ row.getDescription() }}</div>
                <div v-debug='"maritimeDockedShippingMovements-" + index'>{{ row.getShipsPerTimeUnit() }}</div>
                <div v-debug='"maritimeDockedShippingTimeUnit-" + index'>{{ i18n.unitTime(row.getTimeUnit()) }}</div>
                <div v-debug='"maritimeDockedShippingAverageResidenceTime-" + index'>{{ row.getAverageResidenceTime() }} {{ i18n.unitSingularHour() }}</div>
              </div>
              <div class="detail-grid-row">
                <div></div>
                <div>
                  <div class="detail-grid-row-right">
                    <div class="detail-label">{{ i18n.esShipShorePowerFactor() }}</div>
                  </div>
                  <div class="detail-grid-row-right">
                    <div v-debug='"maritimeDockedShippingShorePowerFactor-" + index'>{{ i18n.unitPercentage(i18n.decimalNumberFixed(row.getShorePowerFactor() * 100.0, 1)) }}</div>
                  </div>
                </div>
              </div>
              <divider type="sub" />
              <div class="detail-emission-container">
                <div>{{ i18n.esTitle() }}</div>
                <div class="detail-emission-subcontainer">
                  <div class="detail-emission-substance" v-for="Substance substance in substances">
                    <div class="detail-label" v-debug='"maritimeDockedShippingSubstance-" + index + "-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
                    <div v-debug='"maritimeDockedShippingEmission-" + index + "-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </vertical-collapse-group>
      </div>
    </vertical-collapse>
  </div>
  <divider type="big" />
  <div class="margin">
    <h3>{{ totalEmissionTitle }}</h3>
    <divider type="small" />
    <div class="detail-emission-container">
      <div>{{ i18n.esTitle() }}</div>
      <div class="detail-emission-subcontainer">
        <div class="detail-emission-substance" v-for="Substance substance in substances">
          <div class="detail-label" v-debug='"maritimeShippingDetailTotalSubstance-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
          <div v-debug='"maritimeShippingDetailTotalEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../../vertical-collapse.scss";

.margin {
  margin: 10px;
  margin-top: 0px;
}
</style>
