<div class="innerContainer" v-show="show">
  <validation-behaviour
    :errors="isBuildingInfluenceInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @warnings="emitWarnings((boolean) $event)"
    @errors="emitErrors((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input v-if="show"
    :label="i18n.sourceBuildingInfluenceLabel()"
    name="buildingInfluence"
    :transparent="true">
    <checkbox v-model="buildingInfluence"
      id="buildingInfluence"
      :label="i18n.sourceBuildingInfluenceLabel()"
      :accessibleLabel="true"
      class="label" />
  </labeled-input>

  <vertical-collapse>
    <template v-if="show && buildingInfluence">
      <labeled-input v-if="!hasBuildings"
        :label="i18n.sourceBuildingEmptyLabel()"
        :transparent="true">
        <button class="addNewButton"
          v-debug:addNewButton
          @click="createNew()">{{ i18n.sourceBuildingSelectionCreateNew() }}</button>
      </labeled-input>
      <labeled-input v-if="hasBuildings"
        :label="i18n.sourceBuildingSelectionLabel()"
        name="buildingSelection"
        :transparent="true">
        <div class="buildingRow">
          <simple-listbox id="buildingSelection"
            v-debug:buildingSelection
            class="sectorTypeFieldSelect"
            :options="buildings"
            :keyFunction='v -> v == null ? "" : ((BuildingFeature) v).getGmlId()'
            :selectedKey="selectedBuildingId"
            :strict="false"
            :placeholder="i18n.sourceBuildingSelectionPlaceholder()"
            @select='selectBuilding((BuildingFeature) $event)'
            @select-unknown="createNew()">
            <template slot-scope="{ BuildingFeature option }">{{ option.getLabel() }}</template>
            <option slot="optionsAfter" value="CREATE_NEW">{{ i18n.sourceBuildingSelectionCreateNew() }}</option>
          </simple-listbox>
          <horizontal-collapse :seek="true">
            <tooltip v-if="hasBuildingSelected"
              class="editButton"
              :title="i18n.buildingButtonEdit()">
              <button-icon :aria-label="i18n.buildingButtonEdit()"
                class="btn"
                @click.native="editSelectedBuilding()"
                iconClass="icon-btn-edit"
                v-debug:buildingEditSelected />
            </tooltip>
          </horizontal-collapse>
        </div>
      </labeled-input>
    </template>
  </vertical-collapse>

  <input-error
    :showError="isBuildingInfluenceError"
    :errorMessage="() -> i18n.validationBuildingInfluenceNoneSelected()" />
</div>

<style scoped lang="scss">
@import "../ops-characteristics.scss";
@import "../../../../vertical-collapse.scss";
@import "../../../../horizontal-collapse.scss";
@import "../../../../variables.scss";

.buildingRow {
  display: flex;
}

.suggestionWarning {
  display: flex;
  color: var(--warning-color);
}

.suggestionWarning i {
  padding-top: 5px;
  padding-right: 5px;
}

.addNewButton {
  @include button;
}

.editButton {
  flex-shrink: 0;
  width: 38px;
  margin-left: var(--half-spacer);
}
.btn {
  min-width: 38px;
}
</style>
