<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.AdditionalLodgingSystem" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.FarmLodgingSystemDefinition" />

<div>
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <minimal-input>
    <div class="row measure-row">
      <tooltip :title="i18n.esFarmLodgingStandardAdditionalSystemDelete()">
        <button-icon @select="deleteRow()"
          :aria-label="i18n.esFarmLodgingStandardAdditionalSystemDelete()"
          class="deleteButton"
          iconClass="icon-btn-delete"
          v-debug:delete />
      </tooltip>

      <suggest-listbox
        :class='map(e("error-input", v.farmLodgingCodeV.error))'
        :modal-offset="-40"
        :modal-width="350"
        :title="i18n.esFarmLodgingStandardAdditionalSystemPlaceholder()"
        :options="lodgingSystemOptions"
        labelledBy="farmLodgingStandardLodgingCode"
        debugId="additionalSystem"
        :selectedValue="lodgingSystem.getLodgingSystemCode()"
        :placeholder="i18n.esFarmLodgingStandardAdditionalSystemPlaceholder()"
        @select-value='selectLodgingSystemCode((String) $event)'/>
      <div :class='map(e("error-input", v.numberOfAnimalsV.error))'>
        <input id="numberOfAnimals"
          class="input"
          type="number"
          min="0"
          aria-labelledby="farmLodgingStandardNumberOfAnimals"
          v-validate:numberOfAnimalsV
          v-model="numberOfAnimals"
          v-debug:numberOfAnimals />
      </div>
      <div :class='map(e("error-input", systemDefinitionCodeError))'>
        <simple-listbox :id='"bwlCodeListBox-additional-" + idx'
          class="input"
          v-if="!systemDefinitionOptions.isEmpty()"
          :options="systemDefinitionOptions"
          :keyFunction="func(v -> ((FarmLodgingSystemDefinition) v).getCode())"
          :selectedKey="lodgingSystem.getSystemDefinitionCode()"
          labelledBy="farmLodgingStandardSystemDefinitionCode"
           @select='selectSystemDefinitionCode((FarmLodgingSystemDefinition) $event)'>
          <template slot-scope="{ FarmLodgingSystemDefinition option }">{{ option.getName() }}</template>
        </simple-listbox>
        <p v-else
          class="bwlUnavailable">{{ i18n.esFarmLodgingBWLUnavailable() }}</p>
      </div>
    </div>
    <template slot="error">
      <input-error
        :showError="v.farmLodgingCodeV.error"
        :errorMessage="() -> i18n.validationRequired()" />
      <input-error
        :showError="v.numberOfAnimalsV.error"
        :errorMessage="() -> numberOfAnimalsError()" />
      <input-error
        :showError="systemDefinitionCodeError"
        :errorMessage="() -> i18n.validationRequired()" />
    </template>
  </minimal-input>
</div>

<style scoped lang="scss">
@import "../../farmlodging.scss";
</style>
