<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.ReductiveLodgingSystem"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.FarmLodgingSystemDefinition" />

<minimal-input>
  <div class="row measure-row">
    <validation-behaviour :errors="isInvalid || hasChildErrors"
      :warnings="hasChildWarnings"
      @errors="emitErrors((boolean) $event)"
      @warnings="emitWarnings((boolean) $event)"
      @display-problems="displayProblems((boolean) $event)" />

    <tooltip :title="i18n.esFarmLodgingStandardReductiveSystemDelete()">
      <button-icon @select="deleteRow()"
        :aria-label="i18n.esFarmLodgingStandardReductiveSystemDelete()"
        class="deleteButton"
        iconClass="icon-btn-delete"
        v-debug:delete />
    </tooltip>
    <suggest-listbox
      :class='map(e("error-input", farmReductiveLodgingSystemCategoryInvalid && displayProblems))'
      class="measure"
      :modal-offset="-40"
      :modal-width="350"
      :options="lodgingSystemOptions"
      :selectedValue="lodgingSystem.getLodgingSystemCode()"
      :title="i18n.esFarmLodgingStandardReductiveSystemPlaceholder()"
      :placeholder="i18n.esFarmLodgingStandardReductiveSystemPlaceholder()"
      labelledBy="farmLodgingStandardLodgingCode"
      debugId="reductiveSystem"
      @empty-select="unselectLodgingSystem()"
      @select-value='selectLodgingSystemCode((String) $event)'/>
    <div :class='map(e("error-input", systemDefinitionCodeError))'>
      <simple-listbox :id='"bwlCodeListBox-reductive-" + idx'
        class="input"
        v-if="!systemDefinitionOptions.isEmpty()"
        :options="systemDefinitionOptions"
        :keyFunction="func(v -> ((FarmLodgingSystemDefinition) v).getCode())"
        :selectedKey="lodgingSystem.getSystemDefinitionCode()"
        labelledBy="farmLodgingStandardSystemDefinitionCode"
        @select='selectSystemDefinitionCode((FarmLodgingSystemDefinition) $event)'>
        <template slot-scope="{ FarmLodgingSystemDefinition option }">{{ option.getName() }}</template>
      </simple-listbox>
      <p v-else
        class="bwlUnavailable">{{ i18n.esFarmLodgingBWLUnavailable() }}</p>
    </div>
  </div>
  <template slot="error">
    <input-error
      :showError="farmReductiveLodgingSystemCategoryInvalid && displayProblems"
      :errorMessage="() -> i18n.validationRequired()" />
    <input-error
      :showError="systemDefinitionCodeError"
      :errorMessage="() -> i18n.validationRequired()" />
  </template>
</minimal-input>

<style scoped lang="scss">
@import "../../farmlodging.scss";

.measure {
  grid-column: 2/4;
}
</style>
