<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.ReductiveLodgingSystem"/>

<minimal-input>
  <div class="row measure-row">
    <validation-behaviour :errors="isInvalid || hasChildErrors"
      :warnings="hasChildWarnings"
      @errors="emitErrors((boolean) $event)"
      @warnings="emitWarnings((boolean) $event)"
      @display-problems="displayProblems((boolean) $event)" />

    <tooltip :title="i18n.esFarmLodgingStandardFodderMeasureDelete()">
      <button-icon @select="deleteRow()"
        :aria-label="i18n.esFarmLodgingStandardFodderMeasureDelete()"
        class="deleteButton"
        iconClass="icon-btn-delete"
        v-debug:delete />
    </tooltip>
    <suggest-listbox
      :class='map(e("error-input", fodderMeasureCodeInvalid && displayProblems))'
      class="measure"
      :modal-offset="-40"
      :modal-width="350"
      :options="fodderMeasureOptions"
      labelledBy="farmLodgingStandardLodgingCode"
      debugId="fodderMeasure"
      :selectedValue="lodgingSystem.getFodderMeasureCode()"
      :title="i18n.esFarmLodgingStandardFodderMeasurePlaceholder()"
      :placeholder="i18n.esFarmLodgingStandardFodderMeasurePlaceholder()"
      @empty-select="unselectFodderMeasureCode()"
      @select-value='selectFodderMeasureCode((String) $event)' />
  </div>
  <template slot="error">
    <input-error
      :showError="fodderMeasureCodeInvalid && displayProblems"
      :errorMessage="() -> i18n.validationRequired()" />
  </template>
</minimal-input>

<style scoped lang="scss">
@import "../../farmlodging.scss";

.row {
  .measure {
    grid-column: 2/5;
  }
}
</style>
