<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.road.RoadElevation" />

<div class="mainContent">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="isElevationHeightWarning || hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input
    :label="i18n.sourceRoadTunnelFactorCheckboxLabel()"
    name="tunnelFactorApplied"
    :transparent="true">
    <checkbox v-model="tunnelFactorApplied"
      v-debug:InputSRM2RoadTunnelFactorCheckbox
      class="label"></checkbox>
  </labeled-input>

  <vertical-collapse>
    <labeled-input v-if="tunnelFactorApplied"
      :label="i18n.sourceRoadTunnelFactorLabel()"
      name="tunnelFactor"
      :transparent="true"
      :errorValidation="v.tunnelFactorV"
      :errorMessage="() -> tunnelFactorError()">
      <input
        id="tunnelFactor"
        type="number"
        min="0.0"
        :step="0.1"
        v-validate:tunnelFactorV.input
        v-model="tunnelFactor"
        :placeholder="0.0"
        v-debug:InputSRM2RoadTunnelFactor>
    </labeled-input>
  </vertical-collapse>
  <labeled-input
    v-if="porosityEnabled"
    :label="i18n.sourceRoadPorositeit()"
    name="porosity"
    :transparent="true"
    :errorValidation="v.porosityV"
    :errorMessage="() -> porosityError()">
    <input
      id="porosity"
      type="number"
      min="0.0"
      :step="0.1"
      v-validate:porosityV.input
      v-model="porosity"
      :placeholder="0.0"
      v-debug:InputSRM2PorosityFactor>
  </labeled-input>
  <labeled-input
    :label="i18n.sourceRoadElevationTypeLabel()"
    name="elevation"
    :transparent="true">
    <select
      id="roadElevationType"
      v-model="roadElevationType"
      v-debug:InputSRM2RoadElevationListBox>
      <option v-for="RoadElevation re in RoadElevation.values()" :value="re.name()">{{ i18n.sourceRoadElevationType(re) }}</option>
    </select>
  </labeled-input>
  <labeled-input
    :label="i18n.sourceRoadHeight()"
    name="elevationHeight"
    :unit="i18n.unitSingularMeter()"
    :unitDescription="i18n.unitSingularMeterDescription()"
    :transparent="true"
    :showWarning="isElevationHeightWarning"
    :warningMessage="() -> getElevationHeightWarning()"
    :errorValidation="v.elevationHeightV"
    :errorMessage="() -> elevationHeightError()">
    <input
      id="elevationHeight"
      type="number"
      :step="1"
      v-model="elevationHeight"
      v-validate:elevationHeightV.input
      :placeholder="0"
      v-debug:InputSRM2RoadHeight
      :disabled="isElevationHeightEnabled">
  </labeled-input>
  <aer-srm2-barrier-editor
    :source="source"
    @errors='trackChildError("barrier", (boolean) $event)'
    @warnings='trackChildWarning("barrier", (boolean) $event)' />
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";

.mainContent {
  padding: var(--spacer);
  width: var(--column-left-width);

  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

</style>
