<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.manure.ManureStorageType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.manure.CustomManureStorage"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.manure.StandardManureStorage"/>

<div v-if="isSourceAvailable()" class="detailContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />

  <toggle-buttons groupId="manureStorageType"
    :selected="toggleSelect"
    :options="manureStorageTypes"
    @select="selectTab((ManureStorageType) $event)">
    <template slot-scope="{ ManureStorageType option }">{{ i18n.esManureStorageSelectType(option) }}</template>
    <template slot="tabs">
      <manure-storage-standard-emission v-if='toggleSelect == ManureStorageType.STANDARD'
        @errors='trackChildError("manureStorage", (boolean) $event)'
        @warnings='trackChildWarning("manureStorage", (boolean) $event)'
        :standardManureStorage="(StandardManureStorage) subSource"
        :farmSourceCategories="farmSourceCategories" />
      <manure-storage-custom-emission v-if='toggleSelect == ManureStorageType.CUSTOM'
        @errors='trackChildError("manureStorage", (boolean) $event)'
        @warnings='trackChildWarning("manureStorage", (boolean) $event)'
        :customManureStorage="(CustomManureStorage) subSource" />
    </template>
  </toggle-buttons>
</div>

<style scoped lang="scss">
.detailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
