<vue-gwt:import class="nl.aerius.geo.domain.IsLayer" />

<layer-item
  :item="item"
  :eventBus="eventBus">
  <select
    class="select"
    @click.stop="dummy()"
    @change="onChange((Event) $event)"
    v-model="selectedLayer">
    <option
      v-for="IsLayer layer in item.getLayers()"
      :value="layer.info().getName()">
      {{ layer.info().getTitle() }}
    </option>
  </select>
</layer-item>

<style
  scoped
  lang="scss">
  .select {
    font-family: inherit;
    font-size: inherit;
    color: var(--dark-grey);
    padding: 5px 0;
    background: var(--back-color);
    border: 1px solid transparent;
    outline: 0;
    transition: border 0.15s ease-out;
    flex-grow: 1;
    margin: 0px calc(var(--half-spacer) * -0.5);

    &:hover {
      border: 1px solid #aaa;
    }
  }
</style>
