<vue-gwt:import class="nl.aerius.geo.domain.LayerItem" />

<layer-item :item="item"
  :eventBus="eventBus"
  :title="item.getLayer().getInfo().getTitle()"
  :debugId="item.getLayer().getInfo().getName()">
</layer-item>

<style scoped>
span {
  color: var(--dark-grey);
  flex-grow: 1;
  padding: 0px 5px;
}
</style>
