<vue-gwt:import class="nl.aerius.geo.domain.LayerItem" />
<vue-gwt:import class="nl.aerius.geo.domain.LayerOptions" />

<collapsible-panel
  :title="item.getLayer().getInfo().getTitle()"
  :debugId="item.getLayer().getInfo().getName()">
  <slot slot="title"></slot>
  <template slot="aux">
    <div @click.stop="onLayerItemClick()"
      @keyup.enter.space="onLayerItemClick()"
      tabindex="0"
      class="toggle"
      :class='map("clustered", item.isClustered())'>
      <div v-show="item.isVisible()"
        :title="i18n.layerTitleOn()"
        v-vector="img.toggleLayerOn()"></div>
      <div v-show="!item.isVisible()"
        :title="i18n.layerTitleOff()"
        v-vector="img.toggleLayerOff()"></div>
    </div>
  </template>
  <template>
    <div class="inner">

      <div v-for="LayerOptions options in layerOptions">
        <simple-listbox :options="options.getOptions()"
          :selected="options.getSelected()"
          class="options"
          @select='options.select((Object) $event)'>
          <template slot-scope="{ Object option }">{{ getNameOfLayerOption(options, option) }}</template>
        </simple-listbox>
      </div>

      <input type="range"
        class="range"
        @change="updateOpacity(((Event) $event))"
        @input="updateOpacity(((Event) $event))"
        :value="opacity" />

      <layer-legend v-if="legend != null"
        class="legend"
        :legend="legend" />
    </div>
  </template>
</collapsible-panel>

<style scoped lang="scss">
@import "../../../vertical-collapse.scss";
@import "../../../variables.scss";

.toggle {
  width: 34px;
  height: 34px;
  padding: 2px 0px;
  padding-right: 10px;
  outline-offset: -2px;
  margin-right: -10px;

  div {
    width: 34px;
    height: 34px;
    svg {
      fill: var(--theme-color);
    }
  }
}

.content {
  display: flex;

  .inner {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    .range {
      box-sizing: border-box;
    }

    .options {
      border-color: #e0e0e0;
    }
  }

  .clustered {
    background: #e0e0e0;
  }
}
</style>