<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmAnimalHousing"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmAnimalHousingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.StandardFarmAnimalHousing"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.CustomFarmAnimalHousing"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div>
  <divider type="big" />
  <div class="margin">
    <h3>{{ i18n.esFarmAnimalHousingDetailTitle() }}</h3>
    <divider type="small" />
    <aer-farmanimalhousing-detail-header :hasReductionFactorColumn="hasAdditionalHousingSystems()"
      :hasNumberOfDaysColumn="hasNumberOfDays()" />
    <div class="subSources" v-debug:farmAnimalHousingSubSources>
      <div class="subSource" v-for="(FarmAnimalHousing row, index) in source.getSubSources()" v-debug='"farmAnimalHousingSubSource-" + index'>
        <divider v-if="index != 0" type="small" />
        <aer-farmanimalhousing-detail-standard v-if="row.getAnimalHousingType() == FarmAnimalHousingType.STANDARD"
          :source="(StandardFarmAnimalHousing) row"
          :hasReductionFactorColumn="hasAdditionalHousingSystems()"
          :hasNumberOfDaysColumn="hasNumberOfDays()"
          :hideDescription="true"
          :index="index"
        />
        <aer-farmanimalhousing-detail-custom v-if="row.getAnimalHousingType() == FarmAnimalHousingType.CUSTOM"
          :source="(CustomFarmAnimalHousing) row"
          :hasReductionFactorColumn="hasAdditionalHousingSystems()"
          :hasNumberOfDaysColumn="hasNumberOfDays()"
          :index="index" />
      </div>
    </div>
  </div>
  <divider type="big" />
  <div class="margin">
    <h3>{{ totalEmissionTitle }}</h3>
    <divider type="small" />
    <div class="detail-emission-container">
      <div>{{ i18n.esTitle() }}</div>
      <div class="detail-emission-subcontainer">
        <div class="detail-emission-substance" v-for="Substance substance in substances">
          <div class="detail-label" v-debug='"farmAnimalHousingTotalSubstance-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
          <div v-debug='"farmAnimalHousingTotalEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../farmanimalhousing.scss";

.subSources {
  display: flex;
  flex-direction: column;
}

.subSource {
  margin: 0 0 1em 0;
}

.margin {
  margin: 10px;
  margin-top: 0;
}
</style>
