<div class="detailRow"
    :style='map("--columns-without-emission", columnsWithoutEmission)'>
  <div class="detail-label">{{ i18n.esFarmAnimalHousingDetailFarmSystem() }}</div>
  <div class="detail-label">{{ i18n.esFarmAnimalHousingDetailAmount() }}</div>
  <div class="detail-label">{{ i18n.esFarmAnimalHousingDetailFactor() }}</div>
  <div v-if="hasReductionFactorColumn"
    class="detail-label">{{ i18n.esFarmAnimalHousingDetailReductionFactor() }}</div>
  <div v-if="hasNumberOfDaysColumn"
    class="detail-label">{{ i18n.esFarmAnimalHousingDetailNumberOfDays() }}</div>
  <div class="detail-label">{{ i18n.esFarmAnimalHousingDetailReductionReduction() }}</div>
</div>

<style scoped lang="scss">
@import "../farmanimalhousing.scss";

</style>
