<vue-gwt:import class="nl.overheid.aerius.shared.domain.context.EmissionResultValueDisplaySettings.DepositionValueDisplayType" />

<labeled-input :id='"emissionLabel" + substance.name()'
  :label="i18n.esEmissionLabel(i18n.pollutant(substance))"
  :name='"emissionRow_" + substance.name()'
  :transparent="true"
  :errorValidation="v.emissionV"
  :unit="i18n.unitSingularKgPerY()"
  :unitDescription="i18n.unitSingularKgPerYDescription()"
  :errorMessage="this::emissionConversionError">
  <template>
    <validation-behaviour
      :errors="v.invalid || hasChildErrors"
      :warnings="hasChildWarnings"
      @errors="emitErrors((boolean) $event)"
      @warnings="emitWarnings((boolean) $event)"
      @display-problems="displayProblems((boolean) $event)" />
    <input type="number"
      :id='"emissionRow_" + substance.name()'
      v-debug='"emissionRow_" + substance.name()'
      min="0.000000"
      step="any"
      v-validate:emissionV.input
      v-model="emission"
      :placeholder="0">
  </template>
</labeled-input>

<style scoped lang="scss">
@import "../../../components/input/inputs.scss";
</style>
