<div>
  <div class="tableContainer">
    <div class="months legend">
      <div v-for="int month in 12"
        class="month">{{ month(month - 1) }}</div>
      <div class="month">{{ i18n.timeVaryingProfileLegendTotal() }}</div>
    </div>
    <div class="months">
      <template v-for="int month in 12">
        <div v-if="profile.isSystemProfile()"
          class="monthInput text">{{ getMonthInput(month - 1) }}</div>
        <input v-else
          class="monthInput"
          :value="getMonthInput(month - 1)"
          @change="setMonthInput(month - 1, (Event) $event)"
          step="0.0001"
          min="0"
          type="number"
          v-debug="getDebugId(month)">
      </template>
      <div class="monthTotal">{{ getMonthTotal() }}</div>
    </div>
  </div>
</div>

<style lang="scss" scoped>
.tableContainer {
  --table-gap: 2px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  gap: var(--table-gap);
  padding: var(--spacer);

  .months {
    display: grid;
    grid-template-rows: var(--row-height);
    gap: var(--table-gap);

    .monthInput, .monthTotal {
      min-height: var(--row-height);
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      &.text {
        background: var(--back-color);
      }
    }
  }

  .legend {
    .month {
      display: flex;
      align-items: center;
    }
  }
}

.summary {
  padding: 0px var(--spacer);
}
</style>
