<div>
  <div class="tableContainer">
    <div class="header">
      <div class="legend">{{ i18n.timeVaryingProfileTimeOfDay() }}</div>
      <div>{{ i18n.timeVaryingProfileWeekDay() }}</div>
      <div>{{ i18n.timeVaryingProfileSaturday() }}</div>
      <div>{{ i18n.timeVaryingProfileSunday() }}</div>
    </div>

    <div class="day legend">
      <div v-for="int hour in hours"
        class="hour">{{ formatLegendHour(hour) }}</div>
      <div class="hour">{{ i18n.timeVaryingProfileLegendTotal() }}</div>
    </div>
    <div v-for="int day in days"
      class="day">
      <template v-for="int hour in hours">
        <div v-if="profile.isSystemProfile()"
          class="hourInput text">{{ getHourInput(day, hour) }}</div>
        <input v-else
          class="hourInput"
          :value="getHourInput(day, hour)"
          @change="setHourInput(day, hour, (Event) $event)"
          step="0.0001"
          min="0"
          type="number"
          v-debug="getDebugId(day, hour)">
      </template>
      <div class="hourTotal">{{ getHourTotal(day) }}</div>
    </div>
  </div>
</div>

<style lang="scss" scoped>
.tableContainer {
  --table-gap: 2px;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr;
  gap: var(--table-gap);
  padding: var(--spacer);

  .header {
    display: contents;
    text-align: center;

    div {
      min-height: var(--row-height-generous);
      align-self: center;
    }

    .legend {
      text-align: left;
    }
  }

  .day {
    display: grid;
    grid-template-rows: var(--row-height);
    gap: var(--table-gap);

    .hourInput, .hourTotal {
      min-height: var(--row-height);
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      &.text {
        background: var(--back-color);
      }
    }
  }

  .legend {
    .hour {
      display: flex;
      align-items: center;
    }
  }
}

.summary {
  padding: 0px var(--spacer);
}
</style>
