<div class="rawContainer">
  <textarea rows="26"
    :disabled="profile.isSystemProfile()"
    v-model="inputData"
    :placeholder="i18n.timeVaryingProfileRawInputPasteExplain()"
    v-debug='getDebugId("timeVaryingProfileRawInput")'></textarea>

  <template v-if="!profile.isSystemProfile()">
    <p v-if="error == null" v-debug='getDebugId("timeVaryingProfileImportSummary")'>{{ i18n.timeVaryingProfileImportSummary(total, max) }}</p>
    <p v-if="error != null" class="error" v-debug='getDebugId("timeVaryingRawInputError")'>{{ errorMessage }}</p>
    <p v-if="canFlush && !isImportSameAsCurrent" class="notice"
      v-debug='getDebugId("timeVaryingImportWellFormed")' >{{ i18n.timeVaryingProfileImportWellFormed() }}</p>
    <div class="buttons">
      <button @click="flushToProfile()"
        :disabled="!canFlush || isImportSameAsCurrent"
        v-debug='getDebugId("timeVaryingProfileImport")'>{{ i18n.timeVaryingProfileImportText() }}</button>
      <button @click="flushToText()"
        :disabled="isImportSameAsCurrent"
        v-debug='getDebugId("timeVaryingProfileExport")'>{{ i18n.timeVaryingProfileExportText() }}</button>
    </div>
  </template>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";

button {
  @include button;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.error {
  padding: var(--spacer);
  color: var(--text-color);
  background: var(--error-color-light);
  border: 1px solid var(--error-color);
  margin: var(--spacer) 0px;
}

.notice {
  padding: var(--spacer);
  color: white;
  background: var(--theme-color);
  margin: var(--spacer) 0px;
}

.rawContainer {
  padding: var(--spacer);
}
</style>
