<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.nca.pages.timevarying.TimeVaryingProfileView.InputMode" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.CustomTimeVaryingProfileType" />

<!-- Note: defaultContentContainer is part of a UK override -->
<div class="timeVaryingProfileContainer defaultContentContainer" v-if="isTimeVaryingProfileAvailable">
  <h1>{{ timeVaryingProfileTitle }}</h1>

  <p class="notice" v-if="timeVaryingProfile.isSystemProfile()">{{ i18n.timeVaryingProfileSystemProfileNotice() }}</p>
  <labeled-input :label="i18n.timeVaryingProfileNameLabel()"
    v-if="!timeVaryingProfile.isSystemProfile()"
    class="section"
    name=timeVaryingProfileLabel
    :showError="hasInvalidName"
    :errorMessage='() -> i18n.validationRequired()'>
    <input type="text" id="timeVaryingProfileLabel"
      v-debug:timeVaryingProfileLabel
      v-model="label"
      :placeholder="i18n.timeVaryingProfileNameLabel()" />
  </labeled-input>
  <collapsible-panel :title="i18n.timeVaryingProfilePanelTitle(profileType)"
    class="timeVaryingProfileSpecification"
    :open="(boolean) true"
    debugId="collapsibleTimeVaryingProfileSpecification">
    <toggle-buttons groupId="timeVaryingProfileInputMode"
      class="toggles"
      :buttonMargin="true"
      :selected="selectedInputMode"
      :options="inputModes"
      @select="setToggle((InputMode) $event)">
      <template slot-scope="{ InputMode option }">{{ i18n.timeVaryingProfileInputMode(option) }}</template>
      <template slot="tabs">
        <keep-alive>
          <time-varying-raw-input v-if="selectedInputMode == InputMode.RAW_CSV"
            :profile="timeVaryingProfile" />
        </keep-alive>
        <three-day-table-input v-if="selectedInputMode == InputMode.TABLE && profileType == CustomTimeVaryingProfileType.THREE_DAY"
          :profile="timeVaryingProfile" />
        <monthly-table-input v-if="selectedInputMode == InputMode.TABLE && profileType == CustomTimeVaryingProfileType.MONTHLY"
          :profile="timeVaryingProfile" />
        <input-error
          :showError="!isTotalSatisfactory"
          :errorMessage="() -> getTotalErrorMessage()" />
        <input-warning
          :showWarning="isTotalSatisfactory && !isTotalExact"
          :warningMessage="() -> getTotalWarningMessage()" />
        <input-error
          :showError="!isAllValuesValid"
          :errorMessage="() -> getAllValuesValidErrorMessage()" />
      </template>
    </toggle-buttons>
  </collapsible-panel>
  <modify-cancel-save
    class="modifyBar"
    :encumbered="hasValidationWarnings"
    :prevented="hasValidationErrors"
    :confirm="confirmState"
    :hideSaveButton="timeVaryingProfile.isSystemProfile()"
    @confirm="setConfirmState((boolean) $event)"
    @cancel="cancel()"
    @save="save()">
    <div class="warningContainer" slot="encumbered">
      <div v-debug:timeVaryingSaveEncumberedText>{{ i18n.esButtonSaveEncumberedText() }}</div>
    </div>
  </modify-cancel-save>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";
@import "../../../../components/input/inputs.scss";

.toggles {
  flex-grow: 1;
  padding: var(--spacer) 0px;
}

.notice {
  margin: 0px var(--spacer);
  padding: var(--spacer);
  background: var(--theme-color-light);
}

h1, .section {
  padding: 0px var(--spacer);
}

.timeVaryingProfileSpecification {
  border-top: var(--separator);
  border-bottom: var(--separator);
}

.warningContainer {
  background: var(--warning-color);

  div {
    padding: var(--spacer) var(--half-spacer);
    color: white;
  }
}

.timeVaryingProfileContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.modifyBar {
  padding-bottom: var(--spacer);
}
</style>
