<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.base.TimeUnit"/>

<div>
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

	<labeled-input :label="i18n.esShippingVisits()"
	  name="inlandMooringVisitsInput"
	  :errorValidation="v.inlandVisitsV"
	  :errorMessage="this::inlandVisitsError">
	  <div class="inlandMooringVisitsRow">
	    <input id="inlandVisitsInput"
	      type="number"
	      min="0"
	      step="any"
	      v-model="inlandVisits"
	      v-validate:inlandVisitsV.input
	      :placeholder="0"
	      aria-label="inlandVisits"
	      v-debug:inlandVisitsInput />
	    <select id="timeUnit"
	      v-model="timeUnit"
	      aria-label="timeUnit"
	      v-debug:timeUnit>
	      <option v-for="TimeUnit tu in TimeUnit.values()" :value="tu.name()">{{ i18n.unitTime(tu) }}</option>
	    </select>
	  </div>
	</labeled-input>
</div>

<style scoped lang="scss">
@import "../../../../../components/input/inputs.scss";
@import "../../../../../variables.scss";

.inlandMooringVisitsRow {
  display: flex;
  flex-direction: row;
  gap: var(--spacer);
  margin: var(--spacer);
  margin-left: 0px;
}
</style>
