<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext" />

<div>
  <!-- Replacement instructions:
    - move the marked section (or its parent if more appropriate) to a separate component and expand/finish in there
    - leave the class name in place
    - remove the placeholder class
    - headings that should be able to span multiple pages must be in a table's thead (i.e. print-section heading)
  -->
  <h1>1. Overview</h1>
  <div class="location-page">
    <h2>Location</h2>
    <div class="content">
      <div class="location-zoomed-out placeholder-1">
        <p>Zoomed out location map</p>
      </div>
      <div class="location-zoomed-in placeholder-2">
        <p>Zoomed in location map</p>
      </div>
    </div>
  </div>
  <div class="scenario-pages">
    <div class="column-1">
      <h2>{{ i18n.printOverviewSummarizedSourcesTitle() }}</h2>
      <print-scenario-summarized-sources
        v-for="SituationContext situation in scenarioContext.getSituations()"
        :situation="situation" />
    </div>
    <div class="column-2">
      <h2>{{ i18n.printOverviewSummarizedBuildingsTitle() }}</h2>
      <print-scenario-summarized-buildings
        v-for="SituationContext situation in scenarioContext.getSituations()"
        :situation="situation" />
      <h2>{{ i18n.printOverviewSummarizedProfilesTitle() }}</h2>
      <print-scenario-time-varying-profiles
        v-for="SituationContext situation in scenarioContext.getSituations()"
        :situation="situation" />
    </div>
  </div>

  <div class="details-pages">
    <print-section :headingTitle="i18n.printOverviewDetailsSourcesTitle()" :borders="false" :avoid="true">
      <print-scenario-sources v-for="SituationContext situation in scenarioContext.getSituations()"
        :situation="situation" />
    </print-section>
    <print-section :headingTitle="i18n.printOverviewDetailsBuildingsTitle()" :borders="false" :avoid="true">
      <print-scenario-buildings v-for="SituationContext situation in scenarioContext.getSituations()"
        :situation="situation" />
    </print-section>
  </div>

  <div class="designated-sites-page placeholder-2">
    <h2>Designated sites</h2>
    <div class="content">
      <div class="designated-sites-map placeholder-3">
        <p>Designated sites map</p>
      </div>
      <!-- This section will wrap on the right-hand side of the page, however that's probably fine because the content is not long enough to wrap (probably).
           If that assumption is mistaken, then this section should be moved to the left-hand side of the page.
      -->
      <print-section class="placeholder-1" headingTitle="Designated sites table">
        <template slot="header-row">
          <th>Name</th><th>Designation</th>
        </template>
        <template slot="tbody">
          <tr v-for="String paragraph in getLongDummyContent(2)">
            <td>{{ paragraph }}</td><td>{{ paragraph }}</td>
          </tr>
        </template>
      </print-section>
    </div>
  </div>

  <!-- TODO: Replace -->
  <div class="in-combination-sources-map placeholder-2">
    <h2>In combination sources from archive</h2>
    <div>Sources + sites + site location map</div>
  </div>

  <!-- TODO: Replace -->
  <print-section class="in-combination-sources-table placeholder-3">
    <template slot="pre">
      <h2>In combination sources from archive</h2>
    </template>
    <template slot="header-row">
      <th>Column 1</th><th>Column 2</th>
    </template>
    <template slot="tbody">
      <tr v-for="String paragraph in getLongDummyContent(3)">
        <td>{{ paragraph }}</td><td>{{ paragraph }}</td>
      </tr>
    </template>
  </print-section>
</div>

<style lang="scss" scoped>

.location-page {
  position: relative;
  page-break-after: always;
  width: var(--page-max-width);

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacer);
  }
}

.scenario-pages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: var(--page-max-width);
  gap: var(--spacer);

  page-break-inside: auto;
  page-break-after: always;
}

.details-pages {
  width: var(--page-max-width);
  page-break-inside: auto;
  page-break-after: always;
}

.designated-sites-page {
  width: var(--page-max-width);
  page-break-after: always;
  page-break-inside: avoid;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacer);
  }
}

.in-combination-sources-map {
  width: var(--page-max-width);
  height: var(--page-max-height);
  page-break-after: always;
}

.in-combination-sources-table {
  width: var(--page-max-width);
  page-break-after: always;
}
</style>
