<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.road.TrafficDirection" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.Vehicles" />
<vue-gwt:import class="java.util.Map" />

<div class="singleRoadEmissionColumn">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <sub-source-validation-behaviour
    :errors="false"
    :warnings="false"
    :selectedIndex="selectedIndex"
    :subSources="roadSource.getSubSources()"
    @subSourceErrors="setSubSourceErrors((Map) $event)"
    @subSourceWarnings="setSubSourceWarnings((Map) $event)"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input class="roadAreaCategories"
    v-if="!hasOnePossibleArea"
    :label="i18n.esRoadArea()"
    name="roadAreaCategory"
    :errorValidation="v.roadAreaCodeV"
    :errorMessage="() -> roadAreaRequiredError()">
    <select id="roadAreaCategory"
      v-model="area"
      v-debug:roadAreaCategory
      v-validate:roadAreaCodeV.input>
      <option :value="null" hidden disabled>{{ i18n.dropdownPlaceholder() }}</option>
      <option v-for="SimpleCategory area in areas" :value="area.getCode()">{{ area.getDescription() }}</option>
    </select>
  </labeled-input>

  <labeled-input class="roadTypeCategories"
    v-if="area != null"
    :label="i18n.esRoadType()"
    name="roadTypeCategory"
    :errorValidation="v.roadTypeCodeV"
    :errorMessage="() -> roadTypeRequiredError()">
    <select id="roadTypeCategory"
      v-model="roadType"
      v-debug:roadTypeCategory
      v-validate:roadTypeCodeV.input>
      <option :value="null" hidden disabled>{{ i18n.dropdownPlaceholder() }}</option>
      <option v-for="SimpleCategory roadType in roadTypes" :value="roadType.getCode()">{{ roadType.getDescription() }}</option>
    </select>
  </labeled-input>

  <toggle-buttons groupId="trafficDirection"
    v-if="roadType != null"
    :selected="toggleSelect"
    :options="trafficDirections"
    @select="setToggle((TrafficDirection) $event)">
    <template slot-scope="{ TrafficDirection option }">{{ i18n.esRoadDrivingDirection(option) }}</template>
    <template slot="tabs">
      <i class="directionIcon" :class="directionIconName"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i><i class="path5"></i><i class="path6"></i><i class="path7"></i></i>
    </template>
  </toggle-buttons>

  <modify-list
    v-if="roadType != null"
    :presenter="presenter"
    :selected="selected()"
    :enableNameLabels="false"
    :enableEdit="false"
    :typeText="i18n.esModifyTypeSubSource()"
    class="modifyToolbox" />

  <sub-source-empty-error
    :displayProblems="displayProblems"
    :subSources="source.getSubSources()" />

  <div v-if="roadType != null">
    <vertical-collapse-group>
      <sub-source-validated-row v-for="(Vehicles source, idx) in roadSource.getSubSources()"
        :key="idx"
        :title="i18n.esModifyTypeSubSourceNumbered(idx + 1)"
        :selected="isSelected(idx)"
        :errors="hasErrors(idx)"
        :warnings="hasWarnings(idx)">
        <aer-road-emission-row-editor @select="selectSource(idx, source)"
          :selected="isSelected(idx)"
          :source="source"
          :sectorId="roadSource.getSectorId()"
          v-debug='"sourcelistRow" + idx' />
       </sub-source-validated-row>
     </vertical-collapse-group>
  </div>
</div>

<style scoped lang="scss">
@import "../road.scss";
@import "../../../vertical-collapse.scss";
@import "../../modify/styles.scss";

.singleRoadEmissionColumn {
  width: var(--column-left-width);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: var(--spacer);
}

.roadAreaCategories, .roadTypeCategories, .tabContainer, .modifyToolbox {
  margin: 0 var(--spacer);
  margin-bottom: var(--spacer);
}

.directionIcon {
  font-size: 50px;
  text-align: center;
}
</style>
