<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.Vehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.VehicleType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.CustomVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.StandardVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.SpecificVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionFactors" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadTypeMode" />

<div v-if="isSourceAvailable()" class="roadDetailContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <toggle-buttons groupId="vehicleType"
    :selected="correctedSelectedVehicleType"
    :options="vehicleTypes"
    @select="selectTab((VehicleType) $event)">
    <template slot-scope="{ VehicleType option }">{{ i18n.esRoadSelectType(option) }}</template>
    <template slot="tabs">
      <vertical-collapse>
        <road-custom-emission
          v-if='selectedVehicleType == VehicleType.CUSTOM'
          :mode="RoadTypeMode.ROAD"
          @errors='trackChildError("detail", (boolean) $event)'
          @warnings='trackChildWarning("detail", (boolean) $event)'
          :customVehicles="(CustomVehicles) subSource"
          @switchVehicleType="switchVehicleTypeSpecific((String) $event)" />
      </vertical-collapse>
      <vertical-collapse>
        <road-specific-emission
          v-if='selectedVehicleType == VehicleType.SPECIFIC'
          :mode="RoadTypeMode.ROAD"
          @errors='trackChildError("detail", (boolean) $event)'
          @warnings='trackChildWarning("detail", (boolean) $event)'
          :specificVehicles="(SpecificVehicles) subSource"
          :year="year"
          :roadTypeCode="source.getRoadTypeCode()"
          @switchVehicleType="switchVehicleTypeCustom((EmissionFactors) $event)" />
      </vertical-collapse>
      <vertical-collapse>
        <road-standard-emission
          v-if='selectedVehicleType == VehicleType.STANDARD'
          :stagnationEnabled="stagnationEnabled"
          :maximumSpeedDropDown="maximumSpeedDropDown"
          @errors='trackChildError("detail", (boolean) $event)'
          @warnings='trackChildWarning("detail", (boolean) $event)'
          :standardVehicles="(StandardVehicles) subSource"
          :trafficDirection="source.getTrafficDirection()"
          :roadAreaCode="source.getRoadAreaCode()"
          :roadTypeCode="source.getRoadTypeCode()" />
      </vertical-collapse>
    </template>
  </toggle-buttons>
</div>

<style scoped lang="scss">
@import "../road.scss";
@import "../../../vertical-collapse.scss";

.roadDetailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.toggleButtons {
  margin-bottom: var(--spacer);
}
</style>
