<vue-gwt:import class="nl.overheid.aerius.wui.application.context.ExternalContentContext" />

<div class="nextStepsContainer">
  <!-- Note: textContentContainer is part of a UK override -->
  <external-content
    :href="ExternalContentContext.NEXT_STEPS"
    :eventBus="eventBus" />
  <a
    v-if="nextStepLink.isPresent()"
    :href="nextStepLink.get()"
    class="nextStepsButton"
    rel="noreferrer noopener"
    target="_blank">
    {{ i18n.nextStepsButtonText() }}
    <i
      class="icon-arrow-new-window"
      aria-hidden="true"></i>
  </a>
  <a
    v-if="nextStepSecondaryLink.isPresent()"
    :href="nextStepSecondaryLink.get()"
    class="nextStepsButton"
    rel="noreferrer noopener"
    target="_blank">
    {{ i18n.nextStepsSecondaryButtonText() }}
    <i
      class="icon-arrow-new-window"
      aria-hidden="true"></i>
  </a>
</div>

<style
  scoped
  lang="scss">
  @import "../../../../variables.scss";

  .nextStepsContainer {
    display: flex;
    flex-direction: column;
    padding: 0px var(--spacer);
    gap: var(--spacer);
  }

  .nextStepTexts {
    display: contents;
  }

  .nextStepsButton {
    @include button-anchor;
    margin-left: auto;
    display: flex;
    gap: var(--spacer);
    align-items: center;
  }
</style>
