<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.HabitatInfo"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.context.EmissionResultValueDisplaySettings.DepositionValueDisplayType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.HabitatInfo.HabitatSurfaceType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.HabitatGoal"/>

<div class="areaInfoContainer" v-if="natura2000Info != null">
  <basic-info-row
    v-if="showAllFields"
    :label="i18n.infoPanelAreaInfoContractor()"
    :value="natura2000Info.getContractor()"
    v-debug:infoPanelContractor />
  <basic-info-row
    v-if="showAllFields"
    :label="i18n.infoPanelAreaInfoSurface()"
    :value="natura2000Info.getSurface()"
    v-debug:infoPanelSurface />
  <basic-info-row
    :label="i18n.infoPanelAreaInfoProtection()"
    :value="natura2000Info.getProtection()"
    v-debug:infoPanelProtection />
  <basic-info-row
    v-if="showAllFields"
    :label="i18n.infoPanelAreaInfoStatus()"
    :value='natura2000Info.getStatus() == null ? "-" : natura2000Info.getStatus()'
    v-debug:infoPanelStatus />
  <basic-info-row
    :label="i18n.infoPanelAreaInfoCode()"
    :value="natura2000Info.getCode()"
    v-debug:infoPanelNatura2000AreaId />
  <div class="divider" />
  <div class="habitatTypeListTitle">{{ i18n.infoPanelAreaInfoHabitat() }}</div>
  <div ref="habitatTypeList"
    v-for="(HabitatInfo habitatInfo, index) in natura2000Info.getHabitats()"
    class="select-view-row"
    :class='map("selected", isSelected(habitatInfo))'
    tabindex="0"
    @click="habitatRowToggle(habitatInfo)"
    @keyup.enter.space="habitatRowToggle(habitatInfo)"
    @mouseover="showHabitatInfoPanel(true, index, habitatInfo)"
    @mouseleave="showHabitatInfoPanel(false, index, habitatInfo)">
    <div>{{ habitatInfo.getCode() }} - {{ habitatInfo.getName() }}</div>
  </div>
  <div v-if="natura2000Info.getHabitats().length == 0">
    <div class="noResults">{{ i18n.infoPanelNoHabitatTypes() }}</div>
  </div>
  <habitat-info-panel v-if="habitatTypePopupShowing"
    class="habitatTypePopup"
    :style='map(e("top", popupTop), e("left", popupLeft))'
    :habitatInfo="selectedHabitatInfo"
    :habitatTypePopupShowing="habitatTypePopupShowing"
    :showAllFields="showAllFields"
    ref="habitatTypePopup" />
  </div>
</div>

<style scoped lang="scss">
@import "../../vertical-collapse.scss";

.areaInfoContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: var(--spacer) 0px;
}

.noResults {
  padding: 0px var(--spacer);
}

.select-view-row {
  display: flex;
  flex-direction: column;
  background: white;
  cursor: pointer;
  padding: var(--half-spacer);

  &.selected {
    background: var(--theme-color-light);
  }

  &:hover {
    background: var(--theme-color-light);
  }
}

.extra {
  width: 100%;
  margin-top: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  justify-content: space-between;
}

.divider {
  padding-top: var(--spacer);
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: var(--spacer);
}

.habitatTypeListTitle {
  font-weight: bold;
  padding: 0px var(--half-spacer);
}

.habitatTypePopup {
  width: 350px;
  position: fixed;
  border-radius: 4px;
  border: 1px solid #ccc;
  z-index: 9998;
  background-color: #fff;
  overflow: hidden;
}

</style>

