<vue-gwt:import class="nl.overheid.aerius.shared.domain.context.EmissionResultValueDisplaySettings.DepositionValueDisplayType" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.context.calculation.SituationHandle" />

<div
  class="emission-result-info-container"
  v-debug:infoPanelEmissionResults>
  <vertical-collapse>
    <div v-if="isCalculationSourceDiscrepancy">
      <div class="discrepancyWarning">
        <div>{{ i18n.resultsDiscrepancyWarningText() }}</div>
      </div>
    </div>
  </vertical-collapse>

  <div
    v-if="hasEmissionResults || isComplete"
    v-debug:infoPanelResultsSource>
    <div
      v-for="ScenarioResultType type in scenarioResultTypes"
      v-debug='"infoPanelResultScenarioType-" + type'>
      <div class="padding-top padding-sides">{{ i18n.resultsDropdown(type) }}</div>
      <div class="results-container">
        <basic-info-row
          class="bold results-row"
          :label="i18n.infoPanelSubstance()"
          :value="i18n.infoPanelResultsSource()"
          :rightLabelRightAligned="true" />
        <basic-info-row
          v-for="(EmissionResultKey key, emissionResultIndex) in emissionResultKeys"
          v-debug='"infoPanelResultRow-" + emissionResultIndex'
          class="results-row"
          :label="i18n.calculateEmissionResultKey(key)"
          :value="getScenarioResult(type, key)"
          :rightLabelRightAligned="true" />
      </div>
      
      <div
        v-if="scenarioTotalResultType == type"
        v-debug='"infoPanelResultScenarioTypeTotal-" + type'>
        <div class="padding-top padding-sides">{{ scenarioTotalResultHeader }}</div>
        <div class="results-container">
          <basic-info-row
            class="bold results-row"
            :label="i18n.infoPanelSubstance()"
            :value="i18n.infoPanelResultsSource()"
            :rightLabelRightAligned="true" />
          <basic-info-row
            v-for="(EmissionResultKey key, emissionResultIndex) in emissionResultKeys"
            v-debug='"infoPanelResultRowTotal-" + emissionResultIndex'
            class="results-row"
            :label="i18n.calculateEmissionResultKey(key)"
            :value="getScenarioTotalResult(type, key)"
            :rightLabelRightAligned="true" />
        </div>
      </div>
    </div>
    
    <div
      v-for="(SituationHandle situation, scenarioIndex) in scenarios"
      v-debug='"infoPanelResultScenario-" + scenarioIndex'>
      <div class="padding-top padding-sides">{{ situation.getName() }} - {{ i18n.situationType(situation.getType()) }}</div>
      <div class="results-container">
        <basic-info-row
          class="bold results-row"
          :label="i18n.infoPanelSubstance()"
          :value="i18n.infoPanelResultsSource()"
          :rightLabelRightAligned="true" />
        <basic-info-row
          v-for="(EmissionResultKey key, emissionResultIndex) in emissionResultKeys"
          v-debug='"infoPanelResultRow-" + emissionResultIndex'
          class="results-row"
          :label="i18n.calculateEmissionResultKey(key)"
          :value="getSituationResult(situation.getId(), key)"
          :rightLabelRightAligned="true" />
      </div>
    </div>
  </div>
  <div
    v-else
    class="no-results content">
    {{ i18n.infoPanelNoResultsYet() }}
  </div>
</div>

<style
  scoped
  lang="scss">
  @import "../../vertical-collapse.scss";

  .discrepancyWarning {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
    padding: var(--spacer);
    margin: var(--spacer);
    color: var(--text-color);
    border: 1px solid;
    border-color: var(--warning-color);
    background-color: var(--warning-color-light);
  }

  .no-results {
    padding: var(--spacer);
  }

  .emission-result-info-container {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacer);
    width: var(--info-panel-width);

    .padding-top {
      padding-top: var(--spacer);
    }

    .padding-sides {
      padding-left: var(--spacer);
      padding-right: var(--spacer);
    }

    .results-container {
      display: flex;
      flex-direction: column;

      .results-row {
        div {
          pointer-events: none;
        }
      }
    }
  }

  .bold {
    font-weight: bold;
  }
</style>
