<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.HabitatInfo" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey" />

<div class="habitatInfoContainer">
  <div v-if="showCriticalLevelSelector"
    class="criticalLevelKeySelectorRow">
    <simple-listbox
      :options="criticalLevelKeys"
      :selected="selectedCriticalLevelKey"
      @select='selectCriticalLevelKey((EmissionResultKey) $event)'>
      <template slot-scope="{ EmissionResultKey option }">{{ i18n.criticalLevel(option) }}</template>
    </simple-listbox>
  </div>
  <div class="habitatRow strong">
    <div class="habitatDescription">{{ i18n.infoPanelHabitatTypeCode() }}</div>
    <div class="right">{{ criticalLevelHeader }}</div>
    <div class="right">{{ i18n.infoPanelHabitatOverlap() }}</div>
  </div>
  <div
    v-if="habitatTypeInfo == null || habitatTypeInfo.isEmpty()"
    class="noResults">
    {{ i18n.infoPanelNoHabitatTypes() }}
  </div>
  <div v-else>
    <div
      v-for="(HabitatInfo habitatInfo, index) in habitatTypeInfo"
      class="habitatRow select-view-row"
      :class='map("selected", isSelected(habitatInfo))'
      @click="rowToggle(habitatInfo)"
      @mouseover="showHabitatInfoPanel(true, habitatInfo)"
      @mouseout="showHabitatInfoPanel(false, habitatInfo)">
      <div class="habitatDescription">{{ habitatInfo.getCode() }} - {{ habitatInfo.getName() }}</div>
      <div class="right">{{ getCriticalLevel(habitatInfo) }}</div>
      <div class="right">{{ i18n.decimalNumberFixed(getOverlap(habitatInfo), 1) }}</div>
    </div>
  </div>
</div>

<style
  scoped
  lang="scss">
  @import "../../variables.scss";
  @import "../../vertical-collapse.scss";

  .habitatInfoContainer {
    display: flex;
    flex-direction: column;
    padding: var(--spacer) 0px;
    width: var(--info-panel-width);
  }
  
  .criticalLevelKeySelectorRow {
    padding: 0 var(--spacer) var(--spacer);
  }

  .habitatRow {
    display: grid;
    grid-template-columns: 1fr 80px 90px;
    padding: 0px var(--spacer);

    div {
      pointer-events: none;
    }
  }

  .noResults {
    padding: 0px var(--spacer);
  }

  .select-view-row {
    background: white;
    cursor: pointer;

    &.selected {
      background: var(--theme-color-light);
    }

    &:hover {
      background: var(--theme-color-light);
    }
  }

  .strong {
    font-weight: bold;
  }

  .right {
    text-align: right;
  }
  
  .habitatDescription {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .habitatTypePopup {
    width: 350px;
    position: fixed;
    border-radius: 4px;
    border: 1px solid #ccc;
    z-index: 9998;
    background-color: #fff;
    overflow: hidden;
  }
</style>
