<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.Natura2000Info" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.HabitatInfo" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.context.calculation.CalculationExecutionContext" />
<vue-gwt:import class="nl.overheid.aerius.shared.config.AppFlag" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.SummaryHexagonType" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Theme" />

<div class="infoContainer">
  <vertical-collapse>
    <div v-if="!context.hasSelection()">
      <div class="noSelectionText">{{ i18n.infoPanelNoSelectionText() }}</div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="context.hasSelection()">
      <basic-info-row
        :label="i18n.infoPanelReceptorIdLabel()"
        :value="context.getReceptor()"
        v-debug:infoPanelReceptorId />
      <basic-info-row
        :label="i18n.infoPanelCoordinateLabel()"
        :value="coordinate"
        v-debug:infoPanelCoordinate />
      <vertical-collapse>
        <div v-if="context.hasStaticReceptorInfo() && applicationContext.isAppFlagEnabled(AppFlag.SHOW_HEXAGON_INDICATORS)">
          <basic-info-row
            :label="i18n.infoPanelHexagonInformation(SummaryHexagonType.RELEVANT_HEXAGONS)"
            :value="isHexagonType(SummaryHexagonType.RELEVANT_HEXAGONS)"
            v-debug:infoPanelRelevantHexagon />
          <basic-info-row
            :label="i18n.infoPanelHexagonInformation(SummaryHexagonType.EXCEEDING_HEXAGONS)"
            :value="isHexagonType(SummaryHexagonType.EXCEEDING_HEXAGONS)"
            v-debug:infoPanelExceedingHexagon />
          <basic-info-row
            :label="i18n.infoPanelHexagonInformation(SummaryHexagonType.ABOVE_CL_HEXAGONS)"
            :value="isHexagonType(SummaryHexagonType.ABOVE_CL_HEXAGONS)"
            v-debug:infoPanelAboveCriticalLevel />
          <basic-info-row
            :label="i18n.infoPanelHexagonInformation(SummaryHexagonType.EXTRA_ASSESSMENT_HEXAGONS)"
            :value="isHexagonType(SummaryHexagonType.EXTRA_ASSESSMENT_HEXAGONS)"
            v-debug:infoPanelExtraAssessment />
        </div>
      </vertical-collapse>
      <div class="divider"></div>
      <vertical-collapse>
        <div v-if="context.isLoading()">
          <div class="loading">{{ i18n.infoPanelLoadingText() }}</div>
        </div>
      </vertical-collapse>
      <collapsible-panel
        :title="i18n.infoPanelBackgroundTitle()"
        class="collapsible"
        v-if="context.hasStaticReceptorInfo()"
        :contentVisible="!context.isLoading()"
        debugId="collapsibleResults">
        <background-info
          class="content"
          :receptor-info="context.getStaticReceptorInfo()" />
      </collapsible-panel>
      <collapsible-panel
        v-for="CalculationExecutionContext calculation in calculationContext.getCalculations()"
        class="collapsible"
        :title="i18n.infoPanelCalculationTitle(calculation.getJobContext().getName())">
        <emission-result
          v-if="context.hasJobReceptorInfo(calculation.getJobKey())"
          class="content"
          :calculation="calculation"
          :is-complete="calculation.getCalculationInfo().getJobProgress().getState().isSuccessState()"
          :job-receptor-info="context.getJobReceptorInfo(calculation.getJobKey())" />
        <div
          v-else
          class="no-results content">
          {{ i18n.infoPanelNoResults() }}
        </div>
      </collapsible-panel>
      <collapsible-panel
        :title="i18n.infoPanelHabitatTypeTitle()"
        class="collapsible"
        v-if="context.hasStaticReceptorInfo()"
        :contentVisible="!context.isLoading()"
        debugId="collapsibleHabitatType">
        <habitat-type
          class="content"
          :eventBus="eventBus"
          :habitat-type-info="context.getStaticReceptorInfo().getHabitatTypeInfo()" />
      </collapsible-panel>
      <vertical-collapse>
        <div v-if="!context.isLoading() && context.hasStaticReceptorInfo() && hasAreas">
          <div class="areaLabel">{{ i18n.infoPanelAreaInfoTitle() }}</div>
        </div>
      </vertical-collapse>
      <template v-if="context.hasStaticReceptorInfo() && hasNaturaInfo">
        <vertical-collapse-group>
          <collapsible-panel
            v-for="Natura2000Info natura2000Info in context.getStaticReceptorInfo().getNaturaInfo()"
            :key="natura2000Info.getId()"
            class="collapsible"
            v-if="context.hasStaticReceptorInfo()"
            :contentVisible="!context.isLoading()"
            :title="getTitle(natura2000Info)"
            @user-open="onOpenNatureArea(natura2000Info)"
            @user-close="onCloseNatureArea(natura2000Info)"
            debugId="collapsibleNaturaInfo">
            <area-info
              class="content"
              :eventBus="eventBus"
              :natura2000Info="natura2000Info" />
          </collapsible-panel>
        </vertical-collapse-group>
      </template>
    </div>
  </vertical-collapse>
</div>

<style
  scoped
  lang="scss">
  @import "../../vertical-collapse.scss";

  .noSelectionText {
    padding: 0px var(--spacer) var(--spacer);
  }

  .collapsible {
    background-color: var(--back-color);
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);

    &.results {
      border-bottom: none;
    }
  }

  .areaLabel {
    padding: var(--spacer);
  }

  .loading {
    padding: var(--spacer);
    background: var(--theme-color-light);
    margin-bottom: var(--spacer);
  }

  .no-results {
    padding: var(--spacer);
    width: var(--info-panel-width);
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    padding: var(--spacer) 0px 0px;
    gap: var(--half-spacer);
  }

  .divider {
    padding-top: var(--spacer);
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: var(--spacer);
  }

  .content {
    background: white;
  }
</style>
