<panelized-modal
  :visible="dock != null"
  ref="modal"
  debugId="info-panel-modal"
  :context="infoPanelContext"
  :eventBus="eventBus"
  :title="i18n.infoPanelTitle()"
  :inactiveText="getInactiveText()"
  :canResize="infoMarkerContext.hasStaticReceptorInfo()"
  class="modal"
  @close="close()">
  <info-panel
    :eventBus="eventBus">
  </info-panel>
</panelized-modal>

<style scoped lang="scss">
.modal {
  width: var(--info-panel-width);

  --modal-top: 120px;
  --modal-right: 70px;

  top: var(--modal-top);
  right: var(--modal-right);
}
</style>
