<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmLodging"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmLodgingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.CustomFarmLodging"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.StandardFarmLodging"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>

<div>
  <table class="details" :aria-label="i18n.pdfEmissionSourceDetailsLodgingTableDescription()">
    <thead>
    <tr>
      <th scope="col">{{ i18n.esAnimalTypeLabel() }}</th>
      <th scope="col">{{ i18n.esFarmLodgingStandardLodgingCode() }} - {{ i18n.esFarmLodgingCustomDescription() }}</th>
      <th scope="col">{{ i18n.esFarmLodgingStandardSystemDefinitionCode() }}</th>
      <th scope="col">{{ i18n.esFarmLodgingCustomNumberOfAnimals() }}</th>
      <th scope="col">{{ i18n.esSubstance() }}</th>
      <th scope="col">{{ i18n.esFarmLodgingEmissionFactor() }}</th>
      <th scope="col">{{ i18n.esLodgingDetailReductionFactor() }}</th>
      <th scope="col">{{ i18n.esLodgingDetailEmission() }}</th>
    </tr>
    </thead>

    <template v-for="FarmLodging farmLodging in subSources">
      <farm-lodging-details-standard-print v-if="farmLodging.getFarmLodgingType() == FarmLodgingType.STANDARD"
                                           :source="(StandardFarmLodging) farmLodging"/>
      <farm-lodging-details-custom-print v-if="farmLodging.getFarmLodgingType() == FarmLodgingType.CUSTOM"
                                         :source="(CustomFarmLodging) farmLodging"/>
    </template>
  </table>
</div>

<style lang="scss" scoped>
  @import "../../pdf-table.scss";
</style>
