<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.EmissionSourceType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.InlandShippingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.StandardInlandShipping"/>

<div v-if="isSourceAvailable()" class="shippingDetailContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <aer-inland-standard
    v-if='isESType(EmissionSourceType.SHIPPING_INLAND) && toggleSelect == InlandShippingType.STANDARD'
    @errors='trackChildError("shippingInland", (boolean) $event)'
    @warnings='trackChildWarning("shippingInland", (boolean) $event)'
    :standardInland="(StandardInlandShipping) subSource"
    :waterwayCode='source.getWaterway() == null ? "" : source.getWaterway().getWaterwayCode()' />
</div>

<style scoped lang="scss">
.shippingDetailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
