<vue-gwt:import class="elemental2.dom.FocusEvent" />

<!-- Note: defaultContentContainer is part of a UK override -->
<div class="buildingContainer defaultContentContainer" v-if="isBuildingAvailable">
  <feature-heading
    :feature="building"
    backColor="white"
    foreColor="black"
    :eventBus="eventBus"
    :title="buildingTitle" />
  <labeled-input :label="i18n.buildingLabelName()"
    class="section"
    tabindex="-1"
    @focusout.native="onLabelNameFocusOut((FocusEvent) $event)"
    name="label"
    :showError="hasValidationErrors && hasInvalidName"
    :errorMessage='() -> i18n.validationRequired()'>
    <input type="text" v-debug:buildingNameInput
      @focus="onLabelNameFocus()"
      v-model="label"
      :placeholder="i18n.buildingLabelName()"
      :aria-label="i18n.buildingLabelName()" />
    <privacy-warning slot="warning"
      :eventBus="eventBus"
      v-if="nameLabelFocused" />
  </labeled-input>
  <collapsible-panel :title="i18n.buildingLocationPanelTitle()"
    class="locationSpecification"
    :open="(boolean) true"
    debugId="collapsibleLocationSpecification">
    <building-location-editor
      @errors="onBuildingErrorsChange((boolean) $event)"
      @warnings="onBuildingWarningsChange((boolean) $event)"
      :eventBus="eventBus"
      :buildingLimits="appContext.getConfiguration().getBuildingLimits()"
      :building="building" />
  </collapsible-panel>
  <modify-cancel-save
    class="modifyBar"
    debugId="Building"
    :encumbered="hasValidationWarnings"
    :prevented="hasValidationErrors"
    :confirm="confirmState"
    @confirm="setNotificationState((boolean) $event)"
    @cancel="cancel()"
    @save="save()">
    <div class="warningContainer" slot="encumbered"
      role="alert" aria-live="polite">
      <div class="label">{{ i18n.esButtonSaveEncumberedText() }}</div>
      <div @click="closeWarning()" class="close"
        v-vector="img.iconClose()"></div>
    </div>
    <div class="errorContainer"
      slot="prevented"
      role="alert"
      aria-live="polite"
      v-debug:buildingErrorContainer>
      <div class="label">{{ i18n.esButtonSavePreventedText() }}</div>
      <div @click="closeError()" class="close"
        v-vector="img.iconClose()"></div>
    </div>
  </modify-cancel-save>
</div>

<style scoped lang="scss">
@import "../../../components/input/inputs.scss";
@import "../../../components/input/validations.scss";
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";

.section {
  padding: 0px var(--spacer);
}

.locationSpecification {
  border-top: var(--separator);
  border-bottom: var(--separator);
}

.buildingContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.modifyBar {
  padding-bottom: var(--spacer);
}
</style>
