<div class="locationContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings || hasHeightWarning"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <div class="explain">{{ i18n.buildingLocationDrawExplain() }}</div>
  <div class="row tools">
    <div class="grow">{{ i18n.buildingLocationToolLabel()}}</div>
    <tooltip :title="i18n.buildingLocationPolygonLabel()">
      <button-icon :aria-label="i18n.buildingLocationPolygonLabel()"
        @select="addPolygonBuilding()"
        v-bind:class='map("active", isPolygonBuilding)'
        iconClass="icon-btn-draw-polygone"
        fontSize="26px"
        :inline="true"
        v-debug:polygonButton />
    </tooltip>
    <tooltip v-if="isCircularBuildingSupported"
      :title="i18n.buildingLocationCircleLabel()">
      <button-icon :aria-label="i18n.buildingLocationCircleLabel()"
        @select="addCircleBuilding()"
        v-bind:class='map("active", isCircularBuilding)'
        iconClass="icon-btn-building-circular"
        fontSize="26px"
        :inline="true"
        v-debug:circleButton />
    </tooltip>
  </div>

  <!-- Enable for bag search -->
  <template v-if="false">
    <div class="explain">{{ i18n.buildingLocationGeometryBAGLabel() }}</div>
    <input type="text"
      v-model="bagSearchQuery"
      :placeholder="i18n.buildingLocationGeometryBAGPlaceholder()">
  </template>

  <label v-if="isPolygonBuilding"
    for="buildingGeometryInput"
    class="explain"
    v-html="i18n.buildingLocationGeometryWKTLabel()" />
  <label v-else-if="isCircularBuilding"
    for="buildingGeometryInput"
    class="explain"
    v-html="i18n.buildingLocationGeometryCenterLabel()" />
  <div>
    <smart-wkt-input :geometry="wktInputGeometry"
      :geometryType="wktInputGeometryType"
      :showErrors="displayProblems"
      :validGeometryTypes="validGeometryTypes"
      id="buildingGeometryInput"
      @errors='trackChildError("geometry", (boolean) $event)'
      @warnings='trackChildWarning("geometry", (boolean) $event)'
      @geometry-change="setWktInputGeometry((Geometry) $event)" />
    <vertical-collapse>
      <div class="error" v-if="showGeometryError" v-debug:buildingLocationGeometryError>
        <div>{{ geometryInvalidErrorMessage }}</div>
      </div>
    </vertical-collapse>
  </div>

  <vertical-collapse>
    <labeled-input v-if="isCircularBuilding"
      :label="i18n.buildingLocationDiameter()"
      name="buildingDiameter"
      :transparent="true"
      :unit="i18n.unitSingularMeter()"
      :unitDescription="i18n.unitSingularMeterDescription()"
      :showError="displayProblems && isDiameterInvalid "
      :errorMessage="() -> getDiameterValidationError()">
      <input
        type="number"
        :step="buildingDiameterPrecision"
        v-model="diameter"
        :placeholder="0"
        v-validate:diameterV.input
        v-debug:buildingDiameter>
    </labeled-input>
  </vertical-collapse>

  <labeled-input :label="i18n.buildingLocationHeight()"
    name="buildingHeight"
    :transparent="true"
    :unit="i18n.unitSingularMeter()"
    :unitDescription="i18n.unitSingularMeterDescription()"
    :showWarning="displayProblems && hasHeightWarning"
    :warningMessage="() -> getHeightValidationWarning()"
    :showError="displayProblems && isHeightInvalid"
    :errorMessage="() -> getHeightValidationError()">
    <input
      type="number"
      :min="buildingLimits.buildingHeightMinimum()"
      :step="buildingHeightPrecision"
      v-model="buildingHeight"
      :placeholder="buildingLimits.buildingHeightDefault()"
      v-validate:heightV.input
      v-debug:buildingHeightInput>
  </labeled-input>

  <building-envelope v-if="isPolygonBuilding"
    @errors='trackChildError("envelope", (boolean) $event)'
    @warnings='trackChildWarning("envelope", (boolean) $event)'
    backgroundColor="var(--theme-color-light)"
    :buildingLimits="buildingLimits"
    :height="building.getHeight()"
    :diameter="building.getDiameter()"
    :forgiveHeightWarning="false"
    :geometry="drawGeometry"/>
</div>

<style lang="scss" scoped>
@import "../../../vertical-collapse.scss";

.row {
  display: flex;
  align-items: center;
}

.tools {
  min-height: var(--row-height-generous);
}

.grow {
  flex-grow: 1;
}

.locationContainer {
  padding: var(--half-spacer) var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  flex-grow: 1;
}

.explain {
  font-style: italic;
}

.error {
  color: var(--text-color);
  background-color: var(--error-color-light);
  border: 1px solid var(--error-color);

  div {
    padding: var(--spacer) var(--half-spacer);
  }
}
</style>
