<div>
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasEnvelope && (isBuildingRatioViolated || isBuildingDimensionViolated)"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <vertical-collapse>
    <div v-if="isInvalidGeometry()" class="error" v-debug:buildingEnvelopeGeometryError>
      <div>{{ i18n.buildingLocationEnvelopeInvalid() }}</div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="envelope != null" class="envelopeContainer">
      <detail-stat :show="isPolygon()"
        :label="i18n.buildingLocationDimensionsLength()">
        <min-max-label v-debug:buildingLength
          :label="buildingLength"
          :correctionLabel="usedBuildingLengthStr"
          :correctionTitle="i18n.buildingLocationDimensionLengthCorrectedMessage()" />
      </detail-stat>
      <detail-stat :show="isPolygon()"
        :label="i18n.buildingLocationDimensionsWidth()">
        <min-max-label v-debug:buildingWidth
          :label="buildingWidth"
          :correctionLabel="usedBuildingWidthStr"
          :correctionTitle="i18n.buildingLocationDimensionWidthCorrectedMessage()" />
      </detail-stat>
      <detail-stat :show="isPoint()"
        v-debug:buildingDiameter
        :label="i18n.buildingLocationDimensionsWidth()"
        :value="buildingDiameter" />
      <detail-stat :label="i18n.buildingLocationDimensionsHeight()">
        <min-max-label v-debug:buildingHeight
          :label="buildingHeight"
          :correctionLabel="usedBuildingHeightStr"
          :correctionTitle="buildingHeightValidationMessage" />
      </detail-stat>
      <detail-stat :show="isPolygon()"
        debugId="buildingOrientation"
        :label="i18n.buildingLocationDimensionsOrientation()"
        :value="buildingOrientation" />

      <vertical-collapse v-if="isPolygon()">
        <div v-if="isBuildingRatioViolated" aria-live="polite" class="warningContainer">
          <div class="warning">{{ i18n.buildingLocationRatioViolationWarning(formattedBuildingRatio) }}</div>
        </div>
      </vertical-collapse>

      <vertical-collapse v-if="isPolygon()">
        <div v-if="isBuildingDimensionViolated" aria-live="polite" class="warningContainer">
          <div class="warning">{{ i18n.buildingLocationDimensionsExceededWarning() }}</div>
        </div>
      </vertical-collapse>

      <building-preview v-if="isPolygon()"
        :buildingLimits="buildingLimits"
        :envelope="envelope"
        :backgroundColor="backgroundColor" />
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../vertical-collapse.scss";

.warning {
  background: var(--warning-color-light);
  border: 1px solid var(--warning-color);
  color: var(--text-color);
  padding: var(--spacer);
  margin-top: var(--spacer);
}

.correctionWarning {
  color: var(--warning-color);
  text-decoration: underline;
}

.envelopeContainer {
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--text-color);
  background-color: var(--error-color-light);
  border: 1px solid var(--error-color);

  div {
    padding: var(--spacer) var(--half-spacer);
  }
}
</style>
