<vertical-collapse>
  <div class="envelopeContainer" v-if="envelope.isRectangular()"
    :style='map("--angle", envelope.getOrientation())'>
    <div class="envelope graphic"
      :style='map("aspect-ratio", aspectRatio)'>
    </div>
    <div class="axis">
      <div class="northsouth">
        <div class="indicator">N</div>
      </div>
      <div class="eastwest"></div>
    </div>
    <div class="envelope labels"
      :style='map("aspect-ratio", aspectRatio)'>
      <div class="length">
        <div class="label"
          :style='map("background", backgroundColor)'>{{ length }}</div>
      </div>
      <div class="width"
        :class='map("flip", envelope.getOrientation() > 90)'>
        <div class="label"
          :style='map("background", backgroundColor)'>{{ width }}</div>
      </div>
    </div>
    <div class="rotation">
      <div class="back"></div>
      <div class="lineContainer">
        <div class="line"></div>
      </div>
    </div>
  </div>
</vertical-collapse>

<style lang="scss" scoped>
@import "../../../vertical-collapse.scss";

.rotation {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 50%);

  .back {
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    position: absolute;
    border: 2px dotted #888;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transition: all 0.15s ease-in-out;
    transform: rotate(calc(180deg + var(--angle) * 1deg + 45deg));
  }

  .lineContainer {
    position: absolute;
    left: 50%;
    width: 0px;
    height: 50%;
    transition: all 0.15s ease-in-out;
    transform: rotate(calc(var(--angle) * 1deg));
    transform-origin: 50% 100%;

    .line {
      border-left: 2px dotted #888;
      position: absolute;
      top: 30%;
      height: 70%;
    }
  }
}

.envelopeContainer {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;

  width: 100%;
  aspect-ratio: 1/1;

  .envelope {
    transform: rotate(calc(var(--angle) * 1deg + 90deg));
    width: 50%;
    position: absolute;
    transition: all 0.15s ease-in-out;

    &.graphic {
      border: 2px solid black;
      background: white;
    }

    .width {
      position: absolute;
      left: calc(50% + 13px);
      transform: rotate(270deg);
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: center;

      &.flip {
        transform: rotate(90deg);
      }
    }

    .length {
      position: absolute;
      top: -22px;
      width: 100%;
      display: flex;
      justify-content: center;
      transform: rotate(180deg);
    }
  }

  .axis {
    pointer-events: none;
    position: absolute;
    width: 80%;
    height: 80%;

    .northsouth {
      position: absolute;
      left: calc(50% - 1px);
      width: 0px;
      height: 100%;
      border-right: 1px dotted var(--grey);

      .indicator {
        color: var(--grey);
        position: absolute;
        bottom: 0px;
        top: -20px;
        left: -4px;
      }
    }

    .eastwest {
      position: absolute;
      height: calc(50% - 1px);
      width: 100%;
      border-bottom: 1px dotted var(--grey);
    }
  }
}
</style>
