<vue-gwt:import class="nl.overheid.aerius.shared.domain.scenario.SituationType" />
<vue-gwt:import class="elemental2.dom.FocusEvent" />

<div class="sourceListSituation" v-if="situation != null">
  <div class="situationColumn"
    :class='map("active", editMode)'>
    <labeled-input :label="i18n.situationNameLabel()"
      tabindex="-1"
      @focusout.native="onSituationNameFocusOut((FocusEvent) $event)"
      division="calc(25% - var(--spacer) / 4) calc(75% + var(--spacer) / 4)"
      :showError="v.situationName.invalid"
      :errorNotices="v.situationName"
      name="sourceListSituationName">
      <input class="situationInputName" type="text"
        @focus="onSituationNameFocus()"
        v-model="situationName"
        :aria-label="i18n.ariaSituationNameLabel()"
        name="sourceListSituationName"
        maxlength="128"
        v-debug:sourceListSituationName />
      <privacy-warning slot="warning"
        :eventBus="eventBus"
        v-if="nameLabelFocused" />
    </labeled-input>

    <div class="situationRow">
      <labeled-input :label="i18n.situationTypeLabel()"
        name="sourceListSituationType">
        <simple-listbox id="sourceListSituationType"
          v-debug:sourceListSituationType
          :options="applicationContext.getConfiguration().getAvailableSituationTypes()"
          :selected="situationType"
          @select='selectSituationType((SituationType) $event)'>
          <template slot-scope="{ SituationType option }">{{ i18n.situationType(option) }}</template>
        </simple-listbox>
      </labeled-input>
      <labeled-input :label="i18n.situationYearLabel()" name="sourceListSituationYear">
        <simple-listbox id="sourceListSituationYear"
          v-debug:sourceListSituationYear
          :options="applicationContext.getConfiguration().getCalculationYears()"
          :selected="situationYear"
          @select='selectSituationYear((Integer) $event)'>
          <template slot-scope="{ Integer option }">{{ option }}</template>
        </simple-listbox>
      </labeled-input>
    </div>

    <vertical-collapse>
      <labeled-input v-if="offSiteReductionSituation"
        :label="i18n.situationNettingFactorLabel()"
        name="sourceListSituationNettingFactor"
        :errorValidation="v.situationNettingFactor"
        :errorMessage="this::nettingFactorError">
        <input type="number"
          step="0.01"
          min="0"
          max="1"
          id="sourceListSituationNettingFactor"
          v-model="situationNettingFactor"
          v-validate:situationNettingFactor
          v-debug:sourceListSituationNettingFactor />
      </labeled-input>
    </vertical-collapse>

    <vertical-collapse>
      <div v-if="editMode" class="buttons">
        <button v-debug:sourceListSituationCancel class="button" @click="cancelEdit()">{{ i18n.esButtonCancel() }}</button>
        <button v-debug:sourceListSituationApply class="button" @click="applyEdit()">{{ i18n.esButtonSave() }}</button>
      </div>
    </vertical-collapse>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../vertical-collapse.scss";
@import "../../../../variables.scss";

.sourceListSituation {
  display: flex;
  flex-direction: row;
}

.buttons {
  display: flex;
  gap: var(--spacer);
}

.situationColumn {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
  padding: 0px var(--spacer);
  transition: all var(--anim);
  flex-grow: 1;

  &.active {
    padding: var(--spacer);
    background: var(--theme-color-light);
  }
}

.situationRow {
  display: flex;
  gap: var(--spacer);

  >* {
    flex: 1;
  }
}

.nameField {
  display: flex;
  align-items: center;
  gap: var(--spacer);

  .name {
    flex-grow: 1;
  }
}

.button {
  @include button;
  flex: 1;
}
</style>
