@page {
  size: A4 landscape;

  /* Keep these margins consistent with variables below, since we can't use variables in @page directive */
  margin: 16mm;
}

@page:first {
  margin: 16mm 0mm 16mm 0mm;
}

:root {
  /* Redefine page margin left, because we can't use variables in @page directive. */
  --page-margin-left: 16mm;
  --page-margin-right: 16mm;

  /* A4 landscape width (297mm) minus left and right margins */
  --page-size-width: 297mm;
  --page-max-width: 265mm;

  /* A4 height (210mm) minus top and bottom margins */
  --page-size-height: 210mm;
  --page-max-height: 178mm;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  page-break-inside: avoid;
}

tr > td {
  padding: 2mm 0;
}

th {
  text-align: left;
}

table:not(.no-border) tbody > tr {
  border-top: 2px solid var(--light-grey);
}

table:not(.no-border) tbody > tr:last-child {
  border-bottom: 2px solid var(--light-grey);
}

.print-detail-stat-row {
  border-top: 2px solid var(--light-grey);
  padding: 1mm 0px;
}

.print-detail-stat-row:last-child {
  border-bottom: 2px solid var(--light-grey);
}
