:root {
  --theme-color: #9bb7d9;
  --theme-color-light: #c7dced;

  /* TODO: Use an alternative to instead lighten (unselected) or darken (selected) the theme colors */
  --progress-bar-color: #0B5982;
  --progress-bar-color-light: #A5C5D4;

  --text-color: #0b0c0c;
  --icon-color: var(--text-color);

  --error-color: #d4351c;
  --warning-color: #f47738;
  --notice-color: #1579A0;
  --notice-color-light: #D0E5EF;
  --hint-color: #ffdd00;
  --success-color: #00703C;

  --font-size: 14px;
  --font-family: "GDS Transport", Arial, Sans-Serif;

  --scenario-input-list-buffer: 560px;
  --calculation-points-list-buffer: 365px;

  --content-height:calc(100vh - 106px);
}

.atlwdg-trigger {
  background: #1d70b8 !important;
}

h1, h2 {
  color: #0b0c0c;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 1.09375;
  display: block;
  margin-top: 17px;
  margin-bottom: 17px;
}

h3 {
  color: #0b0c0c;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: block;
  margin: 0;
  margin-top: var(--spacer);
  margin-bottom: 15px;
}

h4 {
  color: #0b0c0c;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

h1.title {
  margin: 17px 0 !important;
}

p, a, li, label {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
  margin-top: 0;
  margin-bottom: 15px;
}
body, button, input, textarea, select {
  font-size: 16px;
  font-size: 1rem;
}

li, label, a {
  margin-bottom: 0px;
}

.defaultContentContainer {
  padding-top: 0 !important;
}

.textContentContainer {
  padding: 0 30px 30px !important;
}

/* Override of line height for GOV UK header */
.govuk-header__link{
  line-height:1
}
