<select class="select" :disabled="!enabled"
  :name="id" :id="id"
  @click.stop="dummy()"
  v-model="selectedData" @change="onUserChange()">
  <slot name="optionsBefore"></slot>
  <option v-if="placeholder != null" value="" disabled hidden>{{ placeholder }}</option>
  <template v-if="hasGroups">
    <template
      v-for="GroupItem item in groupItems">
      <optgroup v-if="item.hasGroup()"
        :label="item.getLabel()">
        <option v-for="Object option in item.getValues()"
          :value="formatKey(option)">
          <slot v-bind:option="option">{{ formatName(option) }}</slot>
        </option>
      </optgroup>
      <option v-else
        v-for="Object option in item.getValues()"
        :value="formatKey(option)">
        <slot v-bind:option="option">{{ formatName(option) }}</slot>
      </option>
    </template>
  </template>
  <template v-else>
    <option v-for="Object option in optionsData.values()"
      :value="formatKey(option)">
      <slot v-bind:option="option">{{ formatName(option) }}</slot>
    </option>
  </template>
  <slot name="optionsAfter"></slot>
</select>

<style scoped lang="scss">
.select {
  width: 100%;
}
</style>
