<select class="select" :disabled="!enabled"
  :size="size"
  :name="id" :id="id"
  @click.stop="toggle()"
  @keyup.enter.space.stop="toggle()"
  v-model="selectedData" @change="onUserChange()">
  <option v-if="placeholder != null" value="" disabled hidden>{{ placeholder }}</option>
  <slot name="optionsBefore"></slot>
  <option v-for="Object option in optionsData.values()"
    :value="formatKey(option)">
    <slot v-bind:option="option">{{ formatName(option) }}</slot>
  </option>
  <slot name="optionsAfter"></slot>
</select>

<style scoped lang="scss">
.select {
  width: 100%;
}
</style>
