<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmLodging"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.AdditionalLodgingSystem"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.ReductiveLodgingSystem"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.LodgingFodderMeasure"/>

<div>
  <div class="detailRows" v-debug:farmLodgingDetailStandardRows>
    <div class="detailRow"
      v-debug='"farmLodgingDetailStandardRow-" + index'>
      <div v-debug:farmLodgingDetailStandardLodgingCode>{{ source.getFarmLodgingCode() }}</div>
      <div v-debug:farmLodgingDetailStandardNumberOfAnimals>{{ source.getNumberOfAnimals() }}</div>
      <div v-debug:farmLodgingDetailStandardEmissionFactor>
        <div v-if="constrained" class="unconstrained">{{ farmLodgingUnconstrainedEmissionFactor }}{{ i18n.footNoteRef() }}</div>
        <div>{{ farmLodgingEmissionFactor }}</div>
      </div>
      <div v-if="hasFarmReductiveLodgingSystemCategories()"
        v-debug:farmLodgingDetailStandardReduction>-</div>
      <div v-else
        v-debug:farmLodgingDetailStandardNumberOfDays>{{ farmLodingNumberOfDays }}</div>
      <div class="emission" v-debug:farmLodgingDetailStandardEmission>
        <div v-if="constrained" class="unconstrained">{{ unconstrainedEmission }}</div>
        <div>{{ emission }}</div>
      </div>
    </div>
    <div class="detailRow" v-for="(AdditionalLodgingSystem row, index) in source.getAdditionalLodgingSystems()"
      v-debug='"farmLodingDetailAdditionalLodgingRow-" + index'>
      <div v-debug:farmLodgingDetailAdditionalLodgingCode>{{ row.getLodgingSystemCode() }}</div>
      <div v-debug:farmLodgingDetailAdditionalNumberOfAnimals>{{ row.getNumberOfAnimals() }}</div>
      <div v-debug:farmLodgingDetailAdditionalFactor>{{ additionalFactor(row.getLodgingSystemCode()) }}</div>
      <div v-debug:farmLodgingDetailAdditionalReduction>-</div>
      <div class="emission" v-debug:farmLodgingDetailAdditionalEmission>{{ additionalEmission(row) }}</div>
    </div>
    <div class="detailRow" v-for="(ReductiveLodgingSystem row, index) in source.getReductiveLodgingSystems()"
      v-debug='"farmLodgingDetailStandardReductiveRow-" + index'>
      <div v-debug:farmLodgingDetailReductiveLodgingCode>{{ row.getLodgingSystemCode() }}</div>
      <div v-debug:farmLodgingDetailReductiveAmount>-</div>
      <div v-debug:farmLodgingDetailReductiveFactor>-</div>
      <div v-debug:farmLodgingDetailReductiveReduction>{{ reductiveReduction(row.getLodgingSystemCode()) }}</div>
      <div class="emission" v-debug:farmLodgingDetailReductiveEmission>{{ reductiveEmission(row) }}</div>
    </div>
    <div class="detailRow" v-for="(LodgingFodderMeasure row, index) in source.getFodderMeasures()"
      v-debug='"farmLodgingDetailStandardFodderMeasureRow-" + index'>
      <div v-debug:farmLodgingDetailFodderMeasureCode>{{ row.getFodderMeasureCode() }}</div>
      <div v-debug:farmLodgingDetailFodderMeasureAmount>-</div>
      <div v-debug:farmLodgingDetailFodderMeasureFactor>-</div>
      <div v-debug:farmLodgingDetailFodderMeasureReduction>{{ fodderReduction(row.getFodderMeasureCode()) }}</div>
      <div class="emission" v-debug:farmLodgingDetailFodderMeasureEmission>{{ fodderEmission(row) }}</div>
    </div>
  </div>

  <div class="detail-description" v-if="detail != null"
    v-debug:farmLodgingDetailDescription>{{ source.getFarmLodgingCode() }} {{ detail }}</div>
  <div class="detail-description" v-if="constrained"
    v-debug:farmLodgingConstrainedFootNote>{{ i18n.footNoteRef() }}{{ i18n.esFarmLodgingConstrainedFootNote() }}</div>
</div>
<style scoped lang="scss">
@import "../farmlodging.scss";

.detail-description {
  font-size: 11px;
}
</style>
