<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.FarmLodgingCategory"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.FarmLodgingSystemDefinition"/>

<div>
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <div class="row header" :class='map("isNumberOfDaysEnabled", isNumberOfDaysEnabled)'>
    <div id="farmLodgingStandardLodgingCode">{{ i18n.esFarmLodgingStandardLodgingCode() }}</div>
    <div id="farmLodgingStandardNumberOfAnimals">{{ i18n.esFarmLodgingStandardNumberOfAnimals() }}</div>
    <div id="farmLodgingStandardNumberOfDays" v-if="isNumberOfDaysEnabled">{{ i18n.esFarmLodgingStandardNumberOfDays() }}</div>
    <div id="farmLodgingStandardSystemDefinitionCode">{{ i18n.esFarmLodgingStandardSystemDefinitionCode() }}</div>
  </div>

  <minimal-input>
    <div class="row" :class='map("isNumberOfDaysEnabled", isNumberOfDaysEnabled)'>
      <suggest-listbox
        :class='map(e("warning-input", standardLodgingCodeWarningEnabled), e("error-input", v.farmLodgingCodeV.error))'
        :modal-width="350"
        :modal-offset="0"
        :options="lodgingCodes"
        :selectedValue="standardFarmLodging.getFarmLodgingCode()"
        :placeholder="i18n.esFarmLodgingStandardLodgingCodePlaceholder()"
        labelledBy="farmlandStandardCategoryCode"
        debugId="lodgingCodes"
        @empty-select="unselectFarmLodgingCode()"
        @select-value='selectFarmLodgingCode((String) $event)' />
      <div :class='map(e("error-input", v.numberOfAnimalsV.error))'>
        <input v-debug:numberOfAnimals
          class="input"
          id="numberOfAnimals"
          type="number"
          aria-labelledby="farmLodgingStandardNumberOfAnimals"
          v-validate:numberOfAnimalsV.input
          min="0"
          v-model="numberOfAnimals" />
      </div>
      <div :class='map(e("error-input", v.numberOfDaysV.error))' v-if="isNumberOfDaysEnabled">
        <input v-debug:numberOfDays
          class="input"
          id="numberOfDays"
          type="number"
          aria-labelledby="farmLodgingStandardNumberOfDays"
          v-validate:numberOfDaysV.input
          min="0"
          v-model="numberOfDays" />
      </div>
      <div :class='map(e("error-input", v.systemDefinitionCodeV.error && !farmLodgingSystemDefinitions.isEmpty()))'
        class="bwlContainer">
        <simple-listbox v-debug:bwlCodeListBox
          class="input"
          id="bwlCodeListBox"
          v-if="!farmLodgingSystemDefinitions.isEmpty()"
          :options="farmLodgingSystemDefinitions"
          labelledBy="farmLodgingStandardSystemDefinitionCode"
          :keyFunction="func(v -> ((FarmLodgingSystemDefinition) v).getCode())"
          :nameFunction="func(v -> ((FarmLodgingSystemDefinition) v).getName())"
          :selectedKey="lodgingSystemDefinitionCode"
          @select='selectLodgingSystemDefinition((FarmLodgingSystemDefinition) $event)' />
          <p v-else
            class="bwlUnavailable">{{ i18n.esFarmLodgingBWLUnavailable() }}</p>
      </div>
    </div>
    <template slot="error">
      <div class="problemsContainer">
        <input-error
          :showError="v.farmLodgingCodeV.error"
          :errorMessage="() -> i18n.validationRequired()" />
        <input-error
          :showError="v.numberOfAnimalsV.error"
          :errorMessage="() -> numberOfAnimalsError()" />
        <input-error
          :showError="isInvalidNumberOfDays"
          :errorMessage="() -> numberOfDaysError()" />
        <input-error
          :showError="!farmLodgingSystemDefinitions.isEmpty() && v.systemDefinitionCodeV.error"
          :errorMessage="() -> i18n.validationRequired()" />
        <input-warning
          :showWarning="standardLodgingCodeWarningEnabled"
          :warningMessage="() -> i18n.esFarmLodgingStandardLodgingCodeCheckWarning()" />
      </div>
    </template>
  </minimal-input>

  <aer-farmlodging-measure-editor
    @errors='trackChildError("measures", (boolean) $event)'
    @warnings='trackChildWarning("measures", (boolean) $event)'
    :standardFarmLodging="standardFarmLodging"
    :farmLodgingCategory="selectedFarmLodgingCategory" />
  <div class="detailHeader">{{ i18n.esLodgingDetailEmission() }}</div>
  <aer-farmlodging-detail-header :hasFarmReductiveLodgingSystemCategories="hasFarmReductiveLodgingSystemCategories()" />
  <aer-farmlodging-detail-standard :source="standardFarmLodging"
    :farmLodgingCategories="getCategories()" />
</div>

<style scoped lang="scss">
@import "../farmlodging.scss";

.problemsContainer {
  padding: var(--spacer) 0px;
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

</style>
