<div class="idColumn"
  :style='map(e("background", backColor), e("color", foreColor), e("border-radius", borderRadius), e("border-width", borderWidth),
  e("height", height), e("width", width))'>
  {{ id }}
</div>

<style scoped lang="scss">
.idColumn {
  user-select: none;
  border-radius: 8px;
  background-color: #699DCD;
  padding: 2px 0;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  width: 2em;
  font-size: 1.15em; /* about 15px */
}
</style>
