<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.FarmlandActivity"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.StandardFarmlandActivity"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.CustomFarmlandActivity"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.FarmlandActivityType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div>
  <divider type="big" />
  <div class="margin">
    <h3>{{ i18n.esFarmlandDetailTitle() }}</h3>
    <div v-for="(FarmlandActivity row, index) in source.getSubSources()">
      <divider type="small" />
      <div v-debug='"farmlandDetailActivity-" + row.getActivityCode() + "-" + index'>
        {{ description(row.getActivityCode()) }}
      </div>
      <aer-farmland-standard-detail v-if="row.getActivityType() == FarmlandActivityType.STANDARD"
        :source="(StandardFarmlandActivity) row"
        :idx="index" />
      <aer-farmland-custom-detail v-if="row.getActivityType() == FarmlandActivityType.CUSTOM"
        :source="(CustomFarmlandActivity) row"
        :substances="substances"
        :idx="index"/>
      <br />
    </div>
  </div>
  <divider type="big" />
  <div class="margin">
    <h3>{{ totalEmissionTitle }}</h3>
    <divider type="small" />
    <div class="detail-emission-container">
      <div>{{ i18n.esTitle() }}</div>
      <div class="detail-emission-subcontainer">
        <div class="detail-emission-substance" v-for="Substance substance in substances">
          <div class="detail-label" v-debug='"farmlandTotalSubstance-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
          <div v-debug='"farmlandTotalEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";

.margin {
  margin: 10px;
  margin-top: 0;
}
</style>
