<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.VehicleType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.StandardVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.ColdStartStandardVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.CustomVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.SpecificVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadTypeMode" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.road.standard.StandardRoadCategoryUtil" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.SimpleCategory" />

<table :aria-label="i18n.pdfEmissionSourceDetailsSRM2RoadDetailsTableDescription()">
  <template v-if="hasVehicleType(VehicleType.STANDARD)">
    <thead>
      <tr class="road">
        <th scope="col">{{ i18n.esRoadDetailTrafficTitle(mode) }}</th>
        <th scope="col">{{ i18n.esRoadDetailStandardVehiclesSpeedTitle() }}</th>
        <th scope="col">{{ i18n.esRoadDetailStandardVehiclesTitle(mode) }}</th>
        <th scope="col" class="numberColumn">{{ i18n.esRoadDetailStandardStagnationTitle() }}</th>
      </tr>
    </thead>
    <template v-for="(StandardVehicles standardVehicle, idx) in getVehiclesByType(VehicleType.STANDARD)"
      :key="idx">
      <tbody class="grouped">
        <tr v-for="(SimpleCategory vehicleType, typeIdx) in vehicleTypes">
          <td>{{ vehicleType.getDescription() }}</td>
          <td>{{ StandardRoadCategoryUtil.roadCategoryDisplayText(i18n, standardVehicle) }}</td>
          <td>{{ getStandardVehiclesPerTimeUnit(standardVehicle, vehicleType) + " " + i18n.unitTime(standardVehicle.getTimeUnit()) }}</td>
          <td class="numberColumn">{{ getStandardStagnationPerTimeUnit(standardVehicle, vehicleType) }}</td>
        </tr>
      </tbody>
    </template>
  </template>
  <template v-if="hasVehicleType(VehicleType.STANDARD_CS)">
    <thead>
      <tr class="road">
        <th scope="col">{{ i18n.esRoadDetailTrafficTitle(mode) }}</th>
        <th scope="col">{{ i18n.esRoadDetailStandardVehiclesTitle(mode) }}</th>
      </tr>
    </thead>
    <template v-for="(ColdStartStandardVehicles standardVehicle, idx) in getVehiclesByType(VehicleType.STANDARD_CS)"
      :key="idx">
      <tbody class="grouped">
        <tr v-for="(SimpleCategory vehicleType, typeIdx) in vehicleTypes">
          <td>{{ vehicleType.getDescription() }}</td>
          <td>{{ getColdStartStandardVehiclesPerTimeUnit(standardVehicle, vehicleType) + " " + i18n.unitTime(standardVehicle.getTimeUnit()) }}</td>
        </tr>
      </tbody>
    </template>
  </template>
  <template v-if="hasVehicleType(VehicleType.CUSTOM)">
    <thead>
      <tr class="road seperator">
        <th scope="col">{{ i18n.esRoadCustomDescription() }}</th>
        <th scope="col" v-if="includeVehicleType">{{ i18n.esRoadVehicleTypeLabel() }}</th>
        <th scope="col">{{ i18n.esRoadCustomNumberOfVehicles(mode) }}</th>
        <th scope="col" colspan="2">{{ i18n.esRoadDetailCustomEmissionPerVehicle() }}</th>
      </tr>
    </thead>
    <tbody class="grouped">
      <template v-for="(CustomVehicles customVehicle, idx) in getVehiclesByType(VehicleType.CUSTOM)"
        :key="idx">
        <tr v-for="(Substance substance, index) in substances">
          <td>{{ index == 0 ? customVehicle.getDescription() : "" }}</td>
          <td v-if="includeVehicleType">{{ index == 0 ? getColdStartVehicleType(customVehicle) : "" }}</td>
          <td>{{ index == 0 ? customVehicle.getVehiclesPerTimeUnit() + " " + i18n.unitTime(customVehicle.getTimeUnit()) : "" }}</td>
          <td>{{ i18n.pollutant(substance) }}</td>
          <td class="numberColumn">{{ getEmissionFactorWithUnit(customVehicle, substance) }}</td>
        </tr>
      </template>
    </tbody>
  </template>
  <template v-if="hasVehicleType(VehicleType.SPECIFIC)">
    <thead>
      <tr class="road seperator">
        <th scope="col">{{ i18n.esRoadCustomDescription() }}</th>
        <th scope="col">{{ i18n.esRoadDetailVehicleTypeTitle() }}</th>
        <th scope="col">{{ i18n.esRoadCustomNumberOfVehicles(mode) }}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="grouped">
      <tr v-for="(SpecificVehicles specificVehicle, idx) in getVehiclesByType(VehicleType.SPECIFIC)"
        :key="idx">
        <td>{{ getSpecificVehicleDescription(specificVehicle.getVehicleCode()) }}</td>
        <td>{{ i18n.esRoadEuroClass() + ' ' + specificVehicle.getVehicleCode() }}</td>
        <td>{{ specificVehicle.getVehiclesPerTimeUnit() + " " + i18n.unitTime(specificVehicle.getTimeUnit()) }}</td>
        <td></td>
      </tr>
    </tbody>
  </template>
</table>

<style lang="scss" scoped>
@import "../../pdf-table.scss";

table {
  width: var(--page-max-width);
  border-top: 1px solid $pdf-table-border-color;
  border-bottom: 1px solid $pdf-table-border-color;
}

tr.road  {
 background-color: $pdf-table-background-color;
}

tr.seperator {
  border-top: 1px solid $pdf-table-border-color;
}
</style>
