<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadTypeMode" />

<div class="road-detail">
  <table :aria-label="i18n.pdfEmissionSourceDetailsSRM2RoadTableDescription()">
    <tr>
      <th scope="col">{{ i18n.esRoadDetailLabel() }}</th>
      <td colspan="2">{{ source.getLabel() }}</td>
      <th scope="col">{{ i18n.sourceRoadBarrierLeftTitle() }}</th>
      <th scope="col">{{ i18n.sourceRoadBarrierRightTitle() }}</th>
      <th scope="col">{{ i18n.pollutant(Substance.NOX) }}</th>
      <td class="numberColumn">{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(Substance.NOX)) }}</td>
    </tr>
    <tr>
      <th scope="col">{{ i18n.esLocation() }}</th>
      <td>{{ location }}</td>
      <th scope="col">{{ i18n.esRoadDetailBarrierType() }}</th>
      <td>{{ barrierType(source.getBarrierLeft()) }}</td>
      <td>{{ barrierType(source.getBarrierRight()) }}</td>
      <th scope="col">{{ i18n.pollutant(Substance.NO2) }}</th>
      <td class="numberColumn">{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(Substance.NO2)) }}</td>
    </tr>
    <tr>
      <th scope="col">{{ locationStatisticLabel }}</th>
      <td>{{ locationStatisticValue }}</td>
      <th scope="col">{{ i18n.esRoadDetailBarrierHeight() }}</th>
      <td><min-max-label-print v-debug:srm2DetailBarrierHeightLeft
        :label="barrierHeight(source.getBarrierLeft())"
        :correctionLabel="barrierHeightCorrected(source.getBarrierLeft())" /></td>
      <td><min-max-label-print v-debug:srm2DetailBarrierHeightRight
        :label="barrierHeight(source.getBarrierRight())"
        :correctionLabel="barrierHeightCorrected(source.getBarrierRight())" /></td>
      <th scope="col">{{ i18n.pollutant(Substance.NH3) }}</th>
      <td class="numberColumn">{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(Substance.NH3)) }}</td>
    </tr>
    <tr>
      <th scope="col">{{ i18n.esRoadDetailRoadType() }}</th>
      <td>{{ roadTypeDescription }}</td>
      <th scope="col">{{ i18n.esRoadDetailBarrierDistanceToRoad() }}</th>
      <td><min-max-label-print v-debug:srm2DetailBarrierDistanceLeft
        :label="barrierDistance(source.getBarrierLeft())"
        :correctionLabel="barrierDistanceCorrected(source.getBarrierLeft())" /></td>
      <td><min-max-label-print v-debug:srm2DetailBarrierDistanceRight
        :label="barrierDistance(source.getBarrierRight())"
        :correctionLabel="barrierDistanceCorrected(source.getBarrierRight())" /></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="col">{{ i18n.esRoadDetailDrivingDirection() }}</th>
      <td colspan="6">{{ i18n.esRoadDrivingDirection(source.getTrafficDirection()) }}</td>
    </tr>
    <tr>
      <th scope="col">{{ i18n.esRoadDetailTunnelFactor() }}</th>
      <td colspan="6">{{ source.getTunnelFactor() }}</td>
    </tr>
    <tr>
      <th scope="col">{{ i18n.esRoadDetailElevation() }}</th>
      <td colspan="6">{{ i18n.sourceRoadElevationType(source.getElevation()) }}</td>
    </tr>
    <tr>
      <th scope="col">{{ i18n.esRoadDetailElevationHeight() }}</th>
      <td><min-max-label-print v-debug:srm2DetailElevationHeight
        class="road-detail-elevation-height"
        :label="i18n.unitM(i18n.decimalNumberFixed(source.getElevationHeight(), 0))"
        :correctionLabel="elevationHeightCorrected(source.getElevationHeight())"/>
      </td>
      <td colspan="5"></td>
    </tr>
  </table>
  <road-vehicles-print
    :source="source"
    :substances="substances"
    :stagnationEnabled="(boolean) true"
    :mode="RoadTypeMode.ROAD"
     />
</div>

<style scoped lang="scss">
@import "../../pdf-table.scss";

.road-detail {
  border-top: 1px solid $pdf-table-border-color;
  margin: var(--half-spacer) 0;
}
.road-detail-elevation-height {
  padding-right: 60%;
}

table {
  width: var(--page-max-width);
  td {
    padding: 0px;
  }
  th {
    text-align:left
  }
}

</style>
