<vue-gwt:import class="nl.overheid.aerius.wui.application.context.ExternalContentContext" />

<div
  class="overlay"
  v-if="context.isActive()">
  <panelized-modal
    debugId="cookie-notice-modal"
    :canResize="false"
    :eventBus="eventBus"
    :context="context"
    class="cookie-modal"
    @close="toggleCookieNotice()">
    <div class="cookie-modal-content">
      <external-content
        :href="ExternalContentContext.COOKIE_POLICY"
        :eventBus="eventBus" />
    </div>
  </panelized-modal>
</div>

<style
  scoped
  lang="scss">
  .cookie-modal-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
  }

  .cookie-modal {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
