<template>
  <div v-if="logo == null"
    class="empty"></div>
  <img v-else
    :src="logo"
    :alt="i18n.ariaMainLogo()" />
</template>

<style scoped lang="scss">
.logo {
  flex-shrink: 0;

  box-sizing: border-box;

  img {
    transition: filter 0.15s ease-out;

    &:hover {
      filter: saturate(1.5);
    }
  }

  &.empty {
    height: 0px;
  }
}
</style>
