<results-wrapper>
  <vertical-collapse>
    <div v-if="!jobProgress.getState().isFailureState() && situations != null"
      class="section">
      <calculated-situations-table />
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="!jobProgress.getState().isFailureState() && archiveMetaData != null"
      class="section">
      <archive-projects-table />
    </div>
  </vertical-collapse>
</results-wrapper>

<style lang="scss" scoped>
@import "../../../vertical-collapse.scss";

</style>
