<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.summary.AssessmentAreaThresholdResults"/>

<div class="decisionFrameworkContainer">
  <vertical-collapse>
    <div v-if="jobProgress.getState().isSuccessState() && results == null"
      class="section">
      <div class="results-loading">
        <div>{{ i18n.resultsBeingLoaded() }}</div>
        <div class="loading-spinner" alt="Loading..." v-vector="img.loadingSpinner()" />
      </div>
    </div>
  </vertical-collapse>

  <vertical-collapse>
    <div v-if="jobProgress.getState().isSuccessState() && results != null"
      class="section">
      <h3>{{ i18n.decisionFrameworkDMTTitle() }}</h3>

      <div v-if="isNorthernIreland">
        <input-notice
          :type='aboveDecisionMakingThreshold ? "hint" : "success"'
          :showNotice="true"
          :noticeMessage="decisionMakingThresholdMessage"
          :round="true" />

        <decision-thresholds-table v-if="hasAnyResults"
          :results="results.getDecisionMakingThresholdResults()"
          debugId="dmt"
          :thresholdHeader="i18n.decisionFrameworkTableHeaderThresholdDMT()" />

        <div v-if="!aboveDecisionMakingThreshold"> 
          <div class="nextStepExplanation">
            {{ i18n.decisionFrameworkNextExplanation() }}
          </div>
          <button class="exportButton"
            @click="onExportResultsClick()"
            v-debug:decisionFrameworkExport>{{ i18n.decisionFrameworkExport() }}</button>
        </div>

        <div v-if="aboveDecisionMakingThreshold">
          <h3>{{ i18n.decisionFrameworkSRTTitle() }}</h3>

          <input-notice
            :type='aboveSiteRelevantThresholds ? "hint" : "success"'
            :showNotice="true"
            :noticeMessage="siteRelevantThresholdsMessage"
            :round="true" />

          <div class="classification">{{ i18n.decisionFrameworkClassificationLabel() }}: {{ results.getDevelopmentPressureClassification() }}</div>

          <vertical-collapse-group>
            <site-relevant-thresholds-table
              v-for="(AssessmentAreaThresholdResults areaThresholdResults, idx) in results.getAssessmentAreaThresholdResults()"
              :key="areaThresholdResults.getAssessmentArea().getId()"
              :areaThresholdResults="areaThresholdResults"
              :eventBus="eventBus" />
          </vertical-collapse-group>
        </div>
      </div>

      <input-notice v-else
        type="warning"
        :showNotice="true"
        :noticeMessage="() -> i18n.decisionFrameworkNotImplementedCountry()"
        :round="true" />
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";

.section {
  padding: var(--spacer);
}

.nextStepExplanation,
.classification {
  padding: var(--spacer) 0;
}

.exportButton {
  @include button;
  min-width: 140px;
  align-self: flex-start;
}

</style>
