<table :aria-label="i18n.decisionFrameworkTableAriaLabel()">
  <thead>
    <tr>
      <th class="check"/>
      <th class="pollutant"/>
      <th class="distance">
        {{ i18n.decisionFrameworkTableHeaderDistance() }}
      </th>
      <th class="contribution align-right">
        {{ i18n.decisionFrameworkTableHeaderContribution() }}
      </th>
      <th class="threshold align-right">
        {{ thresholdHeader }}
      </th>
    </tr>
  </thead>
  <tbody v-debug:site-relevant-threshold-row-container>
    <tr
      v-for="(EmissionResultKey key, idx) in emissionResultKeys"
      v-debug='debugId + "-" + key'>
      <td class="align-center"
        v-debug:site-relevant-threshold-checked>
        <template v-if="isPollutantAboveThreshold(key).isPresent()">
          <i v-if="isPollutantAboveThreshold(key).get()"
            class="icon-close"/>
          <i v-else
            class="icon-checked"/>
        </template>
      </td>
      <td v-debug='"site-relevant-threshold-" + debugId + "-pollutant-" + idx'>
        {{ i18n.pollutantErk(key) }} ({{ getPollutantUnit(key) }})
      </td>
      <td>
        <threshold-indicator-component v-if="getPollutantPercentage(key).isPresent()"
          :percentage="getPollutantPercentage(key).get()"
          :colorOverThreshold='"#e67700"'
          :colorUnderThreshold='"#00703c"'
          :locale="locale" />
      </td>
      <td class="align-right"
        v-debug='"site-relevant-threshold-" + debugId + "-contribution-" + idx'>
        {{ getPollutantContribution(key) }}
      </td>
      <td class="align-right"
        v-debug='"site-relevant-threshold-" + debugId + "-threshold-" + idx'>
        {{ getPollutantThreshold(key) }}
      </td>
    </tr>
  </tbody>
</table>

<style lang="scss" scoped>
@import "result-view.scss";

table {
  margin: var(--spacer) 0;
  border-collapse: collapse;
  width: 100%;
}

thead {
  background: #0000000e;
}

thead tr {
  font-weight: bold;
  user-select: none;
}

tbody tr:nth-child(odd) {
  background: white;
}

th, td {
  padding: var(--quarter-spacer) var(--half-spacer);
}

th {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

</style>
