<panelized-modal
  :visible="dock != null"
  ref="modal"
  debugId="legend-panel-modal"
  :context="context"
  :eventBus="eventBus"
  :title="i18n.exportProcessContributionsLegendTitle()"
  :canResize="false"
  class="modal"
  @close="close()">
  <process-contributions-legend-panel class="content"/>
</panelized-modal>

<style scoped lang="scss">
.modal {
  width: var(--info-panel-width);

  --modal-top: 70px;
  --modal-right: 80px;

  top: var(--modal-top);
  right: var(--modal-right);

  .content {
    padding: 10px;
  }
}
</style>
