<vue-gwt:import class="nl.overheid.aerius.wui.application.context.calculation.CalculationJobContext" />

<div class="resultContainer">
  <div class="warning-container" v-if="isQuickRun">
    <icon class="icon warning" icon="icon-alert" />
    <div class="warning-text">{{ i18n.warningQuickRun() }}</div>
  </div>
  <div class="headingContainer">
    <h1 class="visually-hidden">{{ i18n.resultsTitle() }}</h1>
    <simple-listbox id="selectedCalculation"
      v-debug:selectedCalculation
      class="selectedCalculation"
      :options="jobs"
      :keyFunction="jobToKey"
      :selected="prepContext.getActiveJob()"
      :placeholder="i18n.dropdownPlaceholder()"
      @select='selectActiveJob((CalculationJobContext) $event)'>
      <template slot-scope="{ Object option }">{{ ((CalculationJobContext) option).getName() }}</template>
    </simple-listbox>
    <vertical-collapse>
      <div v-if="hasCalculationSelected && (jobProgress.getState().isSuccessState() || hasResults())"
        class="tabContainer"
        role="tablist">
        <div v-for="MainTab tab in availableTabs"
          :class='map("selected", isSelected(tab))'
          class="tab"
          :id='"results-tab-" + tab.name()'
          role="tab"
          tabindex="0"
          @keyup.enter.space="selectMainTab(tab)"
          @click="selectMainTab(tab)">{{ i18n.resultsViewMainTabLabel(tab) }}</div>
      </div>
    </vertical-collapse>
  </div>

  <vertical-collapse>
    <div v-if="!hasCalculationJobSelected">
      <div class="noCalculationNotice">
        <div>{{ i18n.resultsNoCalculationSelected() }}</div>
      </div>
    </div>
  </vertical-collapse>

  <vertical-collapse>
    <div v-if="hasCalculationJobSelected && !hasCalculationSelected">
      <div class="noCalculationNotice">
        <div>{{ i18n.resultsNoCalculationJobSelected() }}</div>
        <div>
          <button @click="calculateJob()">{{ i18n.calculateFromResultsRepeat() }}</button>
        </div>
      </div>
    </div>
  </vertical-collapse>

  <vertical-collapse>
    <div v-if="hasCalculationSelected && isCalculationSourceDiscrepancy">
      <div class="discrepancyWarning">
        <div>{{ i18n.resultsDiscrepancyWarningText() }}</div>
        <div>
          <button @click="calculateJob()">{{ i18n.calculateFromResultsRepeat() }}</button>
        </div>
      </div>
    </div>
  </vertical-collapse>

  <vertical-collapse target="400">
    <calculation-progress-view v-if="hasCalculationSelected && !jobProgress.getState().isSuccessState()"
      :eventBus="eventBus"
      :job="calculationJob"
      :jobState="jobProgress.getState()"
      :calculationInfo="calculationInfo" />
  </vertical-collapse>

  <div role="tabpanel"
    :aria-labelledby='"results-tab-" + selectedTab.name()'
    v-if="hasCalculationSelected">
    <component :is="selectedView"
      :eventBus="eventBus"
      class="content" />
  </div>

  <floating-utility :eventBus="eventBus" />
</div>

<style lang="scss" scoped>
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";

.warning-container {
  display: flex;
  align-items: center;
  padding: var(--spacer);
  padding-right: calc(var(--anchor-right) + var(--row-height-generous));
  background-color: var(--warning-color-light);

  .icon {
    height: 24px;
    width: 24px;
    margin: 6px;
    font-size: 24px;

    color: var(--warning-color);
  }

  .warning-text {
    padding: var(--half-spacer);
  }
}

h1 {
  padding: 0px var(--spacer);
  padding-right: 0;
}

.discrepancyWarning, .noCalculationNotice {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: var(--spacer);
  margin: var(--spacer);
  color: var(--text-color);
  border: 1px solid;

  button {
    @include button;
  }
}
.discrepancyWarning {
  border-color: var(--warning-color);
  background-color: var(--warning-color-light);
}
.noCalculationNotice {
  border-color: var(--theme-color);
  background-color: var(--theme-color-light);
}

.resultContainer {
  flex-grow: 1;
}

.selectedCalculation {
  padding: var(--half-spacer) var(--spacer);
  margin-left: var(--spacer);
  width: initial;
}

.headingContainer {
  display: flex;
  align-items: center;
  background: white;
  flex-wrap: wrap;
  gap: var(--spacer);
  min-height: 45px;

  h1 {
    margin: 0;
  }
}

.tabContainer {
  display: flex;
  gap: var(--spacer);
  background: white;
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-start;

  .tab {
    align-self: stretch;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    transition: all var(--anim);
    padding: var(--half-spacer) var(--spacer);
    cursor: pointer;
    user-select: none;
    color: var(--theme-color);
    margin: 0px;

    &.selected {
      background: var(--back-color);
      color: var(--text-color);
      cursor: default;
    }

    &:hover {
      background: var(--theme-color);
      color: white;
    }
  }
}
</style>
