<div class="resultsContainer">
  <slot></slot>
  <vertical-collapse>
    <div v-if="jobProgress.getState().isSuccessState() && !hasResults() && !resultContext.isLoading()">
      <div class="no-results">
        <div>{{ noResultsText() }}</div>
      </div>
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../vertical-collapse.scss";

.placeholder {
  margin: var(--spacer);
  padding: var(--spacer);
  background: var(--theme-color-light);
}

.resultsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .section {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
    padding: 0px var(--spacer);
  }

  .no-results {
    margin: var(--spacer);
    padding: var(--spacer);

    background: var(--notice-color-light);
    border: 1px solid var(--notice-color);
    color: var(--text-color);
  }
}
</style>
