@import "../../../vertical-collapse.scss";

.collapsible-container {
  display: flex;
  flex-direction: column;
  margin: 0px var(--spacer);

  .collapsible-panel {
    .zoomToArea {
      min-width: 0px;
      align-self: auto;
      padding: 4px;
    }

    &.open {
      background: white;
    }
  }
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

.tab-content-title-main {
  flex-grow: 1;
}

.tab-content-title-header {
  flex-grow: 0;
  text-align: right;
}

.tab-content-title {
  padding: 0px var(--spacer);
}
