<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsKey" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.ResultView" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.calculation.JobState" />

<div class="resultsContainer">
  <vertical-collapse>
    <situation-result-key-compositor
      v-if="showSituationResults"
      :resultContext="resultContext"
      :calculationJob="calculationJob"
      @select="selectSituationResultKey((SituationResultsKey) $event)" />
  </vertical-collapse>

  <vertical-collapse>
    <results-statistics-view v-if="hasAnyResultValue()"
      :statistics="resultsSummary.getStatistics()"
      :context="resultContext" />
  </vertical-collapse>

  <vertical-collapse>
    <div v-if="jobProgress.getState().isSuccessState() && resultContext.isLoading()">
      <div class="results-loading">
        <div>{{ i18n.resultsBeingLoaded() }}</div>
        <div class="loading-spinner" alt="Loading..." v-vector="img.loadingSpinner()" />
      </div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="jobProgress.getState().isSuccessState() && !hasResults() && !resultContext.isLoading()">
      <div class="no-results">
        <div>{{ noResultsText() }}</div>
      </div>
    </div>
  </vertical-collapse>

  <vertical-collapse>
    <tab-view v-if="hasResults()"
      :selected="viewContext.getResultViewTab()"
      :options="resultsViewTabs"
      @select="selectTab((ResultView) $event)">
      <template slot-scope="{ ResultView option }">{{ i18n.resultsViewTabLabel(option) }}</template>
    </tab-view>
  </vertical-collapse>
  <component v-if="hasResults()"
    role="tabpanel"
    class="tabPanel"
    :aria-labelledby='"tab-" + viewContext.getResultViewTab().name()'
    :is="getResultViewComponent(viewContext.getResultViewTab())"
    :eventBus="eventBus"
    :context="resultContext" />
  <omitted-areas-view v-if="hasOmittedAreas()"
    :omittedAreas="omittedAreas"/>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";

h1 {
  padding: 0px var(--spacer);
}

.loading-spinner {
  width: 40px;
  height: 40px;
}

.table-statistics {
  flex-grow: 1;
}

.resultsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tabPanel {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: var(--spacer) 0px;
}

.results-view-top {
  margin: var(--spacer);
}

.results-loading {
  display: flex;
  margin: var(--spacer);
  padding: var(--spacer);
  background: var(--theme-color-light);
  height: var(--row-height);
  align-items: center;
  gap: var(--spacer);

  img {
    height: var(--row-height);
  }
}

.main-selection-row .container {
  width: 30%;
}

.no-results {
  margin: var(--spacer);
  padding: var(--spacer);

  background: var(--notice-color-light);
  border: 1px solid var(--notice-color);
  color: var(--text-color);
}

.results-view-bottom {
  background: white;
}

.button {
  @include button;
}

.collapsible-container {
  display: flex;
  flex-direction: column;
  margin: 0px var(--spacer);

  .collapsible-panel {
    .zoomToArea {
      min-width: 0px;
      align-self: auto;
      padding: 4px;
    }

    &.open {
      background: white;
    }
  }
}
</style>
