<collapsible-panel
  class="collapsible-panel"
  :key="areaThresholdResults.getAssessmentArea().getId()"
  :title="getAreaTitle()"
  :open="isOpen()"
  @user-open="openPanel()"
  @user-close="closePanel()">
  <div slot="aux"
    class="area-buttons">
    <icon v-if="aboveSiteRelevantThreshold"
      icon="icon-alert" 
      class="icon alert" />
    <button-icon
      :titleText="i18n.resultsZoomToAreaTitle()"
      @click.native.stop='zoomToArea()'
      iconClass="icon-map-zoom-to-extend"
      class="zoomToArea"
      v-debug:resultsZoomToArea />
  </div>
  <decision-thresholds-table
    :results="areaThresholdResults.getResults()"
    :debugId="areaThresholdResults.getAssessmentArea().getId()"
    :thresholdHeader="i18n.decisionFrameworkTableHeaderThresholdSRT()" />
</collapsible-panel>

<style lang="scss" scoped>
.area-buttons {
  display: flex;
  align-items: center;
  
  .alert {
    color: var(--warning-color);
    padding: 4px;
  }
  
  .zoomToArea {
    min-width: 0;
    padding: 4px;
  }
}
</style>
