<results-wrapper>
  <vertical-collapse>
    <div v-if="!jobProgress.getState().isFailureState() && situations != null && situations.length > 0"
      class="section">
      <h2>{{ i18n.resultsSummaryScenarioContributions() }}</h2>
      <situation-summary-table
        :jobContext="calculationJob"
        :situations="situations" />
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="!jobProgress.getState().isFailureState() && projectRecords != null && projectRecords.length > 0"
      class="section">
      <div class="title-with-legend-container">
        <h2>{{ i18n.resultsSummaryProcessContributions() }}</h2>
        <button ref="toggleLegendPanelButton" @click="toggleLegendPanel()" class="legend-button">
          <i class="icon icon-btn-details"></i>
          <div class="label">{{ i18n.exportProcessContributionsLegend() }}</div>
        </button>
      </div>
      <project-summary-table
        :jobContext="calculationJob"
        :projects="projectRecords" />
    </div>
  </vertical-collapse>
  <process-contributions-legend-panel-modal
    :eventBus="eventBus" />
</results-wrapper>

<style lang="scss" scoped>
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";

h2 {
  color: var(--text-color);
}

.section {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.title-with-legend-container {
  display: flex;
  justify-content: space-between;
}

.legend-button {
  background: white;
  width: 48px;
  border: 2px solid var(--grey);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    font-size: 32px;
  }

  .label {
    font-size: 11px;
  }

  &:hover {
    background: var(--theme-color);
    color: white;
  }
}
</style>
