<vue-gwt:import class="elemental2.dom.Event" />

<!-- a html button has keydown events (rather than keyup) - change with div and add accessibility? (role, aria etc.) -->
<button class="btn--icon"
  @click.stop="select()"
  @keydown.enter="prevent((Event) $event)"
  @keyup.enter.space.stop="select()"
  :class='map(e("active", pressed), e("inline", inline), e("disabled", disabled), e("hard-border", hardBorder))'
  :disabled="disabled"
  :title="titleText"
  tabindex="0">
  <i class="icon"
    :style='map("font-size", fontSize)'
    :class="iconClass"
    aria-hidden="true"></i><slot />
</button>

 <style scoped lang="scss">
 @import "../../variables.scss";

 .disabled {
 }

.btn--icon {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--icon-color);
  padding: 0px;
  outline-offset: 3px;
  min-width: 50px;
  transition: color var(--anim), background var(--anim);
  align-self: stretch;
  display: grid;
  place-items: center;
  border-radius: var(--default-radius);

  i {
    font-size: 20px;
  }

  &:disabled {
    color: var(--disabled-color) !important;
    cursor: auto !important;
  }

  &:focus:enabled:not(.active) {
    background: var(--theme-color);
  }
  &:hover:enabled, &.active {
    color: white;
    background: var(--theme-color) !important;
  }
  &:focus:enabled:not(:hover) {
    background: none;
  }
  &.hard-border {
    border: 1px solid var(--dark-grey);

    &:hover {
      border-color: transparent;
    }
 }
  &.inline {
    /** Don't remove, this is for an explicit _inline_ button */
    border-radius: 0px !important;
  }
}
</style>
