<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.farmland.standard.FarmlandStandardValidators" />

<div class="farmlandCustomContainer">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="categoryLabel"
    name="emissionSourceFarmlandStandardCategory"
    :showError="v.farmlandCategoryCodeV.error"
    :errorMessage="() -> i18n.validationRequired()"
    v-validate:farmlandCategoryCodeV.input>
    <suggest-listbox
      :class='map(e("error-input", v.farmlandCategoryCodeV.error))'
      :modal-width="350"
      :modal-offset="0"
      :options="farmlandCategoryCodes"
      :selectedValue="standardFarmlandActivity.getFarmSourceCategoryCode()"
      :placeholder="i18n.esFarmlandStandardPlaceholder()"
      labelledBy="emissionSourceFarmlandStandardCategory"
      debugId="farmlandCategoryCodes"
      @empty-select="unselectFarmlandCategoryCode()"
      @select-value='selectFarmlandCategoryCode((String) $event)'/>
  </labeled-input>
  <vertical-collapse>
    <labeled-input
      v-if="expectsNumberOfAnimals()"
      :label="i18n.esFarmlandStandardNumberOfAnimals()"
      name="numberOfAnimalsInput"
      :showError="v.numberOfAnimalsV.error"
      :errorMessage="this::numberOfAnimalsConversionError">
      <input id="numberOfAnimalsInput"
        type="number"
        :min="FarmlandStandardValidators.MIN_NUMBER_OF_ANIMALS"
        :max="FarmlandStandardValidators.MAX_NUMBER_OF_ANIMALS"
        step="1"
        v-validate:numberOfAnimalsV.input
        v-model="numberOfAnimals"
        :placeholder="0"
        :aria-label="i18n.ariaNumberOfAnimals()"
        v-debug:numberOfAnimalsInput>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input
      v-if="expectsNumberOfDays()"
      :label="i18n.esFarmlandStandardNumberOfDays()"
      name="numberOfDaysInput"
      :showError="v.numberOfDaysV.error"
      :errorMessage="this::numberOfDaysConversionError">
      <input id="numberOfDaysInput"
        type="number"
        :min="FarmlandStandardValidators.MIN_NUMBER_OF_DAYS"
        :max="FarmlandStandardValidators.MAX_NUMBER_OF_DAYS"
        step="1"
        v-validate:numberOfDaysV.input
        v-model="numberOfDays"
        :placeholder="0"
        :aria-label="i18n.ariaNumberOfDays()"
        v-debug:numberOfDaysInput>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input
      v-if="expectsTonnes()"
      :label="i18n.esFarmlandStandardTonnes()"
      :unit="i18n.unitSingularTonnes()"
      :unitDescription="i18n.unitSingularTonnesDescription()"
      name="tonnesInput"
      :showError="v.tonnesV.error"
      :errorMessage="this::tonnesConversionError">
      <input id="tonnesInput"
        type="number"
        :min="FarmlandStandardValidators.MIN_TONNES"
        :max="FarmlandStandardValidators.MAX_TONNES"
        step="0.01"
        v-validate:tonnesV.input
        v-model="tonnes"
        :placeholder="0"
        :aria-label="i18n.ariaTonnes()"
        v-debug:tonnesInput>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input
      v-if="expectsMetersCubed()"
      :label="i18n.esFarmlandStandardMetersCubed()"
      :unit="i18n.unitSingularMetersCubed()"
      :unitDescription="i18n.unitSingularMetersCubedDescription()"
      name="metersCubedInput"
      :showError="v.metersCubedV.error"
      :errorMessage="this::metersCubedConversionError">
      <input id="metersCubedInput"
        type="number"
        :min="FarmlandStandardValidators.MIN_METERS_CUBED"
        :max="FarmlandStandardValidators.MAX_METERS_CUBED"
        step="0.01"
        v-validate:metersCubedV.input
        v-model="metersCubed"
        :placeholder="0"
        :aria-label="i18n.ariaMetersCubed()"
        v-debug:metersCubedInput>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input
      v-if="expectsNumberOfApplications()"
      :label="i18n.esFarmlandStandardNumberOfApplications()"
      name="numberOfApplicationsInput"
      :showError="v.numberOfApplicationsV.error"
      :errorMessage="this::numberOfApplicationsConversionError">
      <input id="numberOfApplicationsInput"
        type="number"
        :min="FarmlandStandardValidators.MIN_NUMBER_OF_APPLICATIONS"
        :max="FarmlandStandardValidators.MAX_NUMBER_OF_APPLICATIONS"
        step="1"
        v-validate:numberOfApplicationsV.input
        v-model="numberOfApplications"
        :placeholder="0"
        :aria-label="i18n.ariaNumberOfApplications()"
        v-debug:numberOfApplicationsInput>
    </labeled-input>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";

.farmlandCustomContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
.strong {
  font-weight: bold;
}
</style>
