<div class="farmlandStandardContainer">
  <detail-stat
    :label="categoryLabel"
    :value="description"
    :debugId='"farmlandStandardDetailDescription" + idx' />
  <detail-stat
    :show="source.getNumberOfAnimals() != null"
    :label="i18n.esFarmlandStandardDetailNumberOfAnimals()"
    :value="source.getNumberOfAnimals()"
    :debugId='"farmlandStandardDetailNumberOfAnimals" + idx' />
  <detail-stat
    :show="source.getNumberOfDays() != null"
    :label="i18n.esFarmlandStandardDetailNumberOfDays()"
    :value="source.getNumberOfDays()"
    :debugId='"farmlandStandardDetailNumberOfDays" + idx' />
  <detail-stat
    :show="source.getTonnes() != null"
    :label="i18n.esFarmlandStandardDetailTonnes()"
    :value="source.getTonnes()"
    :debugId='"farmlandStandardDetailTonnes" + idx' />
  <detail-stat
    :show="source.getMetersCubed() != null"
    :label="i18n.esFarmlandStandardDetailMetersCubed()"
    :value="metersCubed"
    :debugId='"farmlandStandardDetailMetersCubed" + idx' />
  <detail-stat
    :show="source.getNumberOfApplications() != null"
    :label="i18n.esFarmlandStandardDetailNumberOfApplications()"
    :value="source.getNumberOfApplications()"
    :debugId='"farmlandStandardDetailNumberOfApplications" + idx' />
  <div v-for="Substance substance in substances">
    <detail-stat
      :show="source.getEmission(substance) > 0"
      :label='i18n.esFarmlandStandardDetailEmission() + " " + i18n.pollutant(substance)'
      :value="emission(substance)"
      :debugId='"farmlandStandardDetailEmission" + substance.name() + idx' />
  </div>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";
</style>
