<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter" />

  <!-- Note: defaultContentContainer is part of a UK override -->
<div class="situationsContainer defaultContentContainer">
  <h2>{{ i18n.calculateScenarioSummaryTitle() }}</h2>
  <table class="grid"
    :class='map("withZoomButton", showZoomButton)'
    :aria-label="i18n.ariaCalculateScenarioSummaryTable()"
    :style='map("--substance-columns", substances.size())'
    v-debug:situationSummaryTable>
    <thead>
      <tr>
        <th class="idx" scope="col">{{ i18n.calculateScenarioIndexHeader() }}</th>
        <th scope="col">{{ i18n.calculateScenarioHeader() }}</th>
        <th scope="col">{{ i18n.calculateScenarioTypeHeader() }}</th>
        <th scope="col" class="col-center">{{ i18n.calculateYearHeader() }}</th>
        <th scope="col" class="col-center">{{ i18n.calculateNettingHeader() }}</th>
        <th scope="col" class="col-center">{{ i18n.calculateEmissionSourcesHeader() }}</th>
        <th scope="col" v-for="Substance substance in substances"
          class="col-right">{{ i18n.esEmissionLabel(i18n.pollutant(substance)) }}</th>
        <th scope="col"
          v-if="showZoomButton"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(SituationContext situation, index) in situations"
        :class='map("highlighted", isActiveSituation(situation))'
        v-debug='"situationRow-" + index'>
        <td class="idx" v-debug:situationNumber>{{ situation.getSituationNumber() }}</td>
        <td v-debug:situationName>{{ situation.getName() }}</td>
        <td v-debug:situationType>{{ i18n.situationType(situation.getType()) }}</td>
        <td class="col-center" v-debug:situationYear>{{ situation.getYear() }}</td>
        <td class="col-center" v-debug:situationOffSiteReduction>{{ isOffSiteReduction(situation) ? i18n.decimalNumberFixed(situation.getNettingFactor(), 2) : "" }}</td>
        <td class="col-center" v-debug:situationNumberOfEmissionSources>{{ situation.getSources().size() }}</td>
        <td v-for="Substance substance in substances"
          class="col-right" v-debug='"situationEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(situation.getTotalEmission(substance)) }}</td>
        <td class="col-button" v-debug:situationZoomToContainer
          v-if="showZoomButton">
          <button-icon v-debug:situationZoomToButton
            v-if="hasSources(situation) && isActiveSituation(situation)"
            class="zoom-to-button"
            :titleText="i18n.zoomToScenario()"
            @select="zoomToSituation(situation)"
            iconClass="icon-map-zoom-to-extend" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<style scoped lang="scss">
@import "../../variables.scss";

.grid {
  background-color: white;

  display: grid;
  grid-template-rows: var(--row-height-generous) repeat(auto-fill, minmax(var(--row-height), auto));
  grid-template-columns: repeat(6, auto) repeat(var(--substance-columns), auto);

  align-items: center;
  
  &.withZoomButton {
    grid-template-columns: repeat(6, auto) repeat(var(--substance-columns), auto) fit-content(50px);
  }
}

.situationsContainer {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  padding-bottom: var(--large-spacer);

  overflow-x: auto;
}

.detail {
  background-color: white;
  height: var(--row-height);
}

tr, tbody, thead {
  display: contents;
}

.highlighted .idx {
  border-color: var(--theme-color);
}

tr {
  th {
    background-color: var(--lighter-grey);
  }

  .idx {
    border-left: 10px solid transparent;
  }

  td, th {
    padding: var(--half-spacer) var(--spacer);
    display: flex;
    align-items: center;
    align-self: stretch;
    transition: all var(--anim);
  }

  &:not(:last-child)
  &:not(.header) {
    td {
      border-bottom: 1px solid var(--light-grey);
    }
  }
}

.col-center {
  justify-content: center;
}

.col-right {
  justify-content: flex-end;
  text-align: right;
}

.col-button {
  padding: 4px;
}
</style>
