<div>
  <input-error v-if="hasError"
    class="error"
    :showError="hasError"
    :errorMessage="() -> i18n.externalContentFetchError()"
    v-debug:externalContentFetchError />
  <html-output v-if="content != null"
    :path="activePath"
    :base="base"
    :html="content"
    @scroll="onScrollInternal((String) $event)"
    @navigate="onNavigateRelative((String) $event)" />
</div>
