<div class="manualContainer">
  <div class="headerBar">
    <button @click="goToTableOfContents()">{{ i18n.manualAllTopics() }}</button>
    <!--
    <a class="openInNewWindowLink"
      target="_blank"
      rel="noreferrer noopener"
      :href="currentPage">{{ i18n.manualOpenInNewWindow() }}<i class="icon-arrow-new-window" aria-hidden="true"></i></a>
     -->
    <div
      v-vector="img.iconClose()"
      tabindex="0"
      role="button"
      :aria-label="i18n.ariaLabelClose()"
      @click="closeManual()"
      @keyup.enter.space="closeManual()"
      class="exit"></div>
  </div>
  <div class="manualContentContainer">
    <input-error
      v-if="manualContext.hasError()"
      class="error"
      :showError="manualContext.hasError()"
      :errorMessage="() -> i18n.manualFetchPageError()"
      v-debug:manualFetchPageError />
    <div v-else-if="activePath == null">
      <p>{{ i18n.manualNoPageLoaded() }}</p>
    </div>
    <html-output
      v-else
      :html="activeContent"
      :path="activePath"
      :base="base"
      :showScrollToTop="true"
      @navigate="onNavigateRelative((String) $event)"
      @scroll="onScrollInternal((String) $event)"
      class="contentTarget" />
  </div>
</div>

<style
  lang="scss"
  scoped>
  @import "../../variables.scss";

  button {
    @include button;
  }
  .error {
    margin: var(--spacer);
    align-self: flex-start;
  }

  .contentTarget {
    display: flex;
    overflow: auto;
  }

  .openInNewWindowLink {
    @include button-anchor;
    display: flex;
    gap: var(--spacer);
    align-items: center;
  }

  .headerBar {
    background: var(--theme-color-light);
    padding: var(--spacer);
    display: flex;
    gap: var(--spacer);
    align-items: center;
  }

  .manualContentContainer {
    overflow: auto;
    display: flex;
    flex-grow: 1;
  }

  .manualContainer {
    position: relative;
    height: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
  }

  .exit {
    padding: var(--spacer);
    margin-left: auto;
    cursor: pointer;
    background: transparent;
    transition: background var(--anim);

    svg {
      width: 12px;
      height: 12px;
      transition: fill var(--anim);
    }

    &:hover {
      background: var(--theme-color);

      svg {
        fill: white;
      }
    }
  }
</style>
