<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />

<div class="manureStorageStandardContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label='i18n.esManureStorageStandardType()'
    name="emissionSourceManureStorageStandardCategory"
    v-validate:manureStorageCodeV.input
    :showError="v.manureStorageCodeV.error"
    :errorMessage="() -> i18n.validationRequired()">
      <suggest-listbox
        :class='map(e("error-input", v.manureStorageCodeV.error))'
        :modal-width="350"
        :modal-offset="0"
        :options="categoryCodes"
        :selectedValue="standardManureStorage.getManureStorageCode()"
        :placeholder="i18n.esManureStorageStandardPlaceholder()"
        labelledBy="emissionSourceManureStorageStandardCategory"
        debugId="categoryCodes"
        @empty-select="unselectCategoryCode()"
        @select-value='selectCategoryCode((String) $event)'/>
  </labeled-input>
  <manure-storage-base-emission
      :manureStorage="standardManureStorage"
      :emissionFactorType="farmEmissionFactorType"
      @errors='trackChildError("manureStorage", (boolean) $event)'
      @warnings='trackChildWarning("manureStorage", (boolean) $event)' />
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";

.manureStorageStandardContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
.strong {
  font-weight: bold;
}
</style>
