<div class="modal" v-show="isShowing"
  ref="modal"
  :id="debugId"
  :class='map("active", context.isActive())'
  @click="setActive()">
  <div class="headerContainer">
    <div class="dragger" ref="dragHandle"
      tabindex="0"
      @keyup.enter.space="setActive()">{{ activeText }}</div>
    <button-icon :aria-label="i18n.ariaLabelClose()"
      @select="close()"
      iconClass="icon-close"
      fontSize="16px"
      class="close"
      v-debug:panel-close />
  </div>
  <div v-show="!isPanelInactive"
    ref="panel"
    class="panelContainer">
    <div class="content">
      <slot></slot>
    </div>
    <div v-show="canResize"
      ref="resizer"
      class="sizer">
      <hr />
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../variables.scss";

.panelContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.modal {
  border-radius: 4px;
  border: 1px solid #ccc;
  position: fixed;
  z-index: 9998;
  max-width: calc(90vw - 80px);
  background-color: #fff;
  box-sizing: border-box;
  min-height: 50px;
  max-height: calc(100vh - max(1px, var(--top, var(--modal-top))) - var(--spacer) * 2);
  overflow: auto;
  display: flex;
  flex-direction: column;

  border-bottom: none;

  &.active {
    z-index: 9999;
    border-bottom: 1px solid #ccc;
  }

  &:hover {
    z-index: 10000;
  }

  &:active {
    z-index: 10001;
  }
}

.inactive {
  display: flex;
  height: var(--row-height-generous);

  .text {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 var(--spacer);
    cursor: move;
    flex-grow: 1;
    transition: background var(--anim);
  }
}

.headerContainer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: var(--row-height-generous);
  border-bottom: 1px solid #ccc;

  .dragger {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0px var(--spacer);
    cursor: move;
    flex-grow: 1;
    transition: background 0.1s ease-out;

    &:hover {
      background: #f5f5f5;
    }
  }
}

.close {
  margin-right: var(--spacer);
  align-self: unset;
  min-width: unset;
  padding: 5px;

  &:hover {
    background: var(--back-color);

    svg {
      fill: var(--theme-color);
    }
  }
}

.sizer {
  height: var(--row-height);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  cursor: row-resize;

  &:hover {
    background: var(--back-color);
  }

  hr {
    width: 15%;
    border: 1px solid black;
    border-radius: 1px;
    background: black;
  }
}
</style>
