<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ScenarioResultType" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultDisplaySet" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.context.calculation.SituationHandle" />

<div class="results-view-container">
  <div class="dropdown-container">
    <label for="resultsSituation"
      class="title">{{ i18n.resultsScenarioLabel() }}</label>
    <simple-listbox id="resultsSituation"
      :options="calculationContext.getActiveCalculation().getSituations()"
      :selectedKey="resultContext.getSituationHandle().getId()"
      :keyFunction="func(v -> ((SituationHandle) v).getId())"
      @select='selectSituation((SituationHandle) $event)'>
      <template slot-scope="{ SituationHandle option }">{{ option.getName() }} - {{ i18n.situationType(option.getType()) }}</template>
    </simple-listbox>
  </div>

  <div class="dropdown-container">
    <label for="resultsResultType"
      class="title">{{ i18n.resultsResultLabel() }}</label>
    <simple-listbox id="resultsResultType"
      :options="resultTypes"
      :selected="resultContext.getResultType()"
      @select='selectResultType((ScenarioResultType) $event)'>
      <template slot-scope="{ ScenarioResultType option }">{{ i18n.resultsDropdown(option) }}</template>
    </simple-listbox>
  </div>

  <div class="dropdown-container">
    <label for="resultsEmission"
      class="title">{{ i18n.resultsSubstanceLabel() }}</label>
    <simple-listbox id="resultsEmission"
      :options="getEmissionResultKeys()"
      :selected="resultContext.getEmissionResultKey()"
      @select='selectEmissionResultKey((EmissionResultKey) $event)'>
      <template slot-scope="{ EmissionResultKey option }">{{ i18n.calculateEmissionResultKey(option) }}</template>
    </simple-listbox>
  </div>

  <div class="dropdown-container">
    <label for="resultsHexagonType"
      class="title">{{ i18n.resultsHexagonTypeLabel() }}</label>
    <simple-listbox id="resultsHexagonType"
      :options="getAvailableResultDisplaySets()"
      :selected="getSelectedResultDisplaySet()"
      :keyFunction="resultDisplaySetToKey"
      @select='selectResultDisplaySet((ResultDisplaySet) $event)'>
      <template slot-scope="{ ResultDisplaySet option }">
        {{ getResultDisplaySetName(option) }}
      </template>
    </simple-listbox>
  </div>
</div>

<style lang="scss" scoped>
.results-view-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacer);
  margin: var(--spacer);
}

.dropdown-container {
  .title {
    height: var(--row-height);
    display: flex;
    align-items: center;
  }
}
</style>
