<div v-vector="icon"
  tabindex="0"
  class="button"
  :class='map("active", active)'>
</div>

<style scoped lang="scss">
@import "../../variables.scss";

.button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: white;
  border: 1px solid #157CB1;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &:hover, &.active {
    color: white;
    background: #157CB1;

    svg {
      fill: white;
    }
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #157CB1;
    transition: fill .15s ease-out;
  }
}

</style>