<div class="tabContainer">
  <div class="toggleButtons"
    :class='map("margin", buttonMargin)'
    :style='map("--num-elements", options.size())'
    role="tablist">
    <div class="toggleButton"
      v-for="Object option in options"
      :id="idFunc.apply(option)"
      tabindex="0"
      role="tab"
      :class='map("active", selected == option)'
      :aria-selected="selected == option"
      @keyup.enter.space='selectTab(option)'
      @click='selectTab(option)'>
      <slot v-bind:option="option">{{ option }}</slot>
    </div>
  </div>
  <div role="tabpanel"
    class="tabPanel"
    v-if="hasContent"
    :aria-labelledby="idFunc.apply(selected)">
    <slot name="tabs"></slot>
  </div>
</div>

<style lang="scss" scoped>
@import "../../variables.scss";

.tabContainer {
  display: flex;
  flex-direction:column;
  gap: var(--spacer);
}

.margin {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.tabPanel {
  display: flex;
  flex-direction: column;
}

.toggleButtons {
  display: grid;
  grid-template-columns: repeat(var(--num-elements), 1fr);

  .toggleButton {
    @include button-toggle;
    align-items: center;
    align-self: center;
    text-align: center;

    &:focus {
      outline-offset: 2px;
      outline: 2px dotted var(--theme-color);
      z-index: 1;
    }
  }
}
</style>
