<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.offroad.OffRoadMobileSource"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div>
  <div class="margin">
    <h3>{{ i18n.esMobileEquipmentDetailTitle() }}</h3>
    <vertical-collapse>
      <vertical-collapse-group>
        <div v-for="(OffRoadMobileSource row, index) in source.getSubSources()" :key="index">
          <divider type="small" />
          <h4 v-debug='"offroadDetailDescription-" + index'>{{ row.getDescription() }}</h4>
          <div class="detail-grid-row-full">
            <div class="detail-label">{{ i18n.esMobileEquipmentDetailCategory() }}</div>
            <div class="detail-label">{{ i18n.esMobileEquipmentDetailFuelUsage() }}</div>
            <div class="detail-label">{{ i18n.esMobileEquipmentDetailOperatingHours() }}</div>
            <div class="detail-label" v-if="hasAdblueUsage(row)">{{ i18n.esMobileEquipmentDetailAdblueUsage() }}</div>
          </div>
          <div class="detail-grid-row-full">
            <div v-debug='"offroadDetailCategory-" + index' class="padding-right">{{ getOffRoadMobileSourceCode(row) }}</div>
            <div v-debug='"offroadDetailFuelUsage-" + index'>{{ i18n.unitLiterPerY(i18n.decimalNumberFixed(row.getFuelUsage(), 0)) }}</div>
            <div v-debug='"offroadDetailOperatingHours-" + index'>{{ i18n.unitHourPerY(i18n.decimalNumberFixed(row.getOperatingHours(), 0)) }}</div>
            <div v-debug='"offroadDetailAdBlueUsage-" + index' v-if="hasAdblueUsage(row)">{{ i18n.unitLiterPerY(i18n.decimalNumberFixed(row.getAdBlueUsage(), 0)) }}</div>
          </div>
          <divider type="sub" />
          <div class="detail-emission-container">
            <div>{{ i18n.esTitle() }}</div>
            <div class="detail-emission-subcontainer">
              <div class="detail-emission-substance" v-for="Substance substance in substances">
                <div class="detail-label" v-debug='"offroadDetail-" + index + "-Substance-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
                <div v-debug='"offroadDetailEmission-" + index + "-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</div>
              </div>
            </div>
          </div>
        </div>
      </vertical-collapse-group>
    </vertical-collapse>
  </div>
  <divider type="big" />
  <div class="margin">
    <h3>{{ totalEmissionTitle }}</h3>
    <divider type="small" />
    <div class="detail-emission-container">
      <div>{{ i18n.esTitle() }}</div>
      <div class="detail-emission-subcontainer">
        <div class="detail-emission-substance" v-for="Substance substance in substances">
          <div class="detail-label" v-debug='"offroadDetailTotalSubstance-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
          <div v-debug='"offroadDetailTotalEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../vertical-collapse.scss";

.margin {
  margin: 10px;
  margin-top: 0;
}

.padding-right {
  padding-right: var(--half-spacer)
}
</style>
