<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsAreaSummary" />

<div>
  <h2 class="tab-content-title" id="marker-table-header">{{ i18n.resultsNatureAreaTitle() }}</h2>
  <table class="table" aria-labelledby="marker-table-header"
    :style='map("--result-amount", scenarioResultTypes.size())'>
    <tr class="header">
      <th class="cell-area"></th>
      <th class="cell-value"><span>{{ i18n.resultsStatistic(emissionResultType, surfaceStatisticType, displayType, i18n.resultsTotalName(applicationContext.getTheme())) }}</span></th>
      <th v-for="ResultStatisticType type of scenarioResultTypes"
        class="header-item"
        :key="type.name()">
        <img width="40" height="70"
          :src="getCalculationMarker(type).getSafeUri().asString()"
          :alt="i18n.resultsStatistic(emissionResultType, type, displayType, i18n.resultsTotalName(applicationContext.getTheme()))"/>
        <span>{{ i18n.resultsStatistic(emissionResultType, type, displayType, i18n.resultsTotalName(applicationContext.getTheme())) }}</span>
      </th>
      <th></th>
    </tr>

    <tr class="row"
      v-for="(SituationResultsAreaSummary d, areaIdx) in areaStatistics"
      :key="d.getAssessmentArea().getId()">
      <td class="cell-area" v-debug='"area-title-" + areaIdx'><div>{{ getTitle(d) }}</div></td>
      <td class="cell-value" v-debug='"area-surface-" + areaIdx'><div>{{ formatSurfaceOrPointsValue(d) }}</div></td>
      <td class="cell-value"
        v-for="(ResultStatisticType type, resultTypeIdx) of scenarioResultTypes"
        :key="type.name()"
        v-debug='"area_statistics-" + areaIdx + "-resulttype-" + resultTypeIdx'><div>{{ formatValueFor(d.getStatistics(), type) }}</div></td>
      <td class="cell-button">
        <button-icon :titleText="i18n.resultsZoomToAreaTitle()"
          @select="zoomToArea(d)"
          iconClass="icon-map-zoom-to-extend"
          class="zoom-button"
          v-debug:resultsZoomToArea/>
      </td>
    </tr>
  </table>
</div>

<style lang="scss" scoped>
@import "../result-view.scss";

.table {
  padding: var(--spacer);
  width: 100%;
  border-spacing: 0px;
  display: grid;
  grid-template-columns: auto 100px repeat(var(--result-amount), auto) 30px;
}

th {
  margin-bottom: var(--half-spacer);
  gap: var(--half-spacer);

  &.cell-value {
    display: flex;

    span {
      align-self: flex-end;
    }
  }
}

tr {
  display: contents;
}

tr:not(.header) {
  td {
    background: white;
    display: flex;
    align-items: center;
  }
}

.header-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell-area > div {
  flex-grow: 1;
  padding: 0px var(--half-spacer);
  font-weight: bold;
}

.cell-value > div {
  flex-grow: 1;
  padding: 0px var(--half-spacer);
  text-align: center;
}

.zoom-button {
  min-width: 30px;
  height: 30px;
}
</style>
