<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.geo.LabelDisplayMode"/>

<panelized-modal
  :visible="dock != null"
  ref="modal"
  debugId="labels-panel-modal"
  :context="context"
  :eventBus="eventBus"
  :title="i18n.labelsPanelTitle()"
  class="modal"
  :canResize="false"
  @close="close()">
  <toggle-buttons groupId="labelDisplayMode"
    class="toggle-buttons"
    :buttonMargin="true"
    :selected="labelDisplayMode"
    :options="availableLabelDisplayModes"
    @select="selectLabelDisplayMode((LabelDisplayMode) $event)">
    <template slot-scope="{ LabelDisplayMode option }">{{ i18n.labelDisplayMode(option) }}</template>
  </toggle-buttons>
</panelized-modal>

<style scoped lang="scss">
.modal {
  width: var(--info-panel-width);

  --modal-top: 70px;
  --modal-right: 80px;

  top: var(--modal-top);
  right: var(--modal-right);
}

.toggle-buttons {
  margin-top: var(--spacer);
}
</style>
