<div class="mapContainer">
  <img class="loading"
    :class='map("showing", loading)'
    :alt="i18n.ariaLabelSpinner()"
    width="50" height="50"
    :src="img.loadingSpinner().getSafeUri().asString()" />

  <div class="buttons"
    :class='map(e("loginEnabled", isLoginPanelActive), e("isLeft", isLeft))'>
    <notification-button ref="notificationButton"
      v-if="!isLeft"
      class="notification"
      :eventBus="eventBus" />
    <stateful-icon-button ref="loginButton"
      v-show="isLoginPanelActive"
      :title="i18n.ariaLoginPanelLabel()"
      :open="loginContext.isShowing()"
      @toggle="onLoginPanelClick()"
      @reset="onLoginPanelReset()"
      icon="icon-menu-temporary" />
    <stateful-icon-button ref="layerButton"
      :title="i18n.ariaLayerLabel()"
      :open="layerContext.isShowing()"
      @toggle="onLayerPanelClick()"
      @reset="onLayerPanelReset()"
      icon="icon-menu-maplayers" />
    <stateful-icon-button ref="labelsButton"
      :title="i18n.labelsPanelTitle()"
      :open="labelsContext.isShowing()"
      @toggle="onLabelsPanelClick()"
      @reset="onLabelsPanelReset()"
      icon="icon-btn-namelabels" />
    <stateful-icon-button ref="infoButton"
      :title="i18n.ariaInfoLabel()"
      :open="infoContext.isShowing()"
      @toggle="onInfoPanelClick()"
      @reset="onInfoPanelReset()"
      icon="icon-menu-help" />
    <popout-search :eventBus="eventBus"
      v-style
      class="search">
      <stateful-icon-button
        ref="searchButton"
        :title="i18n.ariaSearchLabel()"
        :open="isSearchShowing()"
        @toggle="onSearchPanelClick()"
        icon="icon-map-search-icon" />
    </popout-search>
    <stateful-icon-button :title="i18n.ariaMeasureLabel()"
      :open="measureContext.isActive()"
      @toggle="onMeasureClick()"
      icon="icon-map-measure-icon" />
  </div>

  <ol3-map :eventBus="eventBus" ref=olMap class="container" />
</div>

<style scoped lang="scss">
.loading {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  z-index: 1;
  transition: opacity .5s ease;
  margin-left: 5px;

  &.showing {
    opacity: 1;
    transition: opacity .5s ease .1s;
  }
}

.buttons {
  top: var(--anchor-top);
  right: var(--anchor-right);
  z-index: 999;
  position: absolute;
  border: 1px solid var(--grey);
}

.loginEnabled {
  --search-top: 200px;
}

.isLeft {
  --search-top: 120px;
}

.search {
  .searchPopout {
    top: var(--search-top, 160px);
    height: var(--row-height-generous);
    right: calc(50px);
  }
}

.mapContainer {
  height: 100%;
  width: 100%;
}
</style>
