<div class="button"
  role="button" tabindex="0"
  :class='map("open", open)'
  :aria-label="title"
  :title="title"
  @click.exact="toggle()"
  @keyup.enter.space="toggle()"
  @click.shift.exact="reset()">
  <icon :icon="icon"
    class="icon" />
  <slot />
</div>

<style lang="scss" scoped>
.button {
  height: var(--row-height-generous);
  aspect-ratio: 1 / 1;
  cursor: pointer;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: var(--icon-color);
  transition: background var(--anim), border var(--anim);

  .icon {
    color: inherit;
    font-size: 30px;
    transition: color var(--anim);
  }

  &:hover {
    background: var(--theme-color);
    color: white;
  }

  &.open {
    background: var(--theme-color);
    color: white;
    filter: brightness(1.05);
  }

  &:focus {
    outline: 2px dotted var(--theme-color);

    &.open {
      outline-color: white;
    }
  }
}
</style>
