<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>

<div class="detailRow"
  v-debug='"farmAnimalHousingCustomDetailRow-" + index'
  :style='map("--columns-without-emission", columnsWithoutEmission)'>
  <div v-debug:farmAnimalHousingCustomDetailDescription>{{ source.getDescription() }}</div>
  <div v-debug:farmAnimalHousingCustomDetailNumberOfAnimals>{{ source.getNumberOfAnimals() }}</div>
  <div v-debug:farmAnimalHousingCustomDetailEmissionFactor>{{ farmAnimalHousingEmissionFactor }}</div>
  <div v-if="hasReductionFactorColumn"
    v-debug:farmAnimalHousingCustomDetailReduction>-</div>
  <div v-if="hasNumberOfDaysColumn"
    v-debug:farmAnimalHousingDetailCustomDetailNumberOfDays>{{ hasNumberOfDays ? numberOfDays : "-" }}</div>
  <div v-debug:farmAnimalHousingCustomDetailEmission>{{ emission }}</div>
</div>

<style scoped lang="scss">
@import "../farmanimalhousing.scss";
</style>
