<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.AnimalType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.emissions.FarmEmissionFactorType"/>

<div class="farmAnimalHousingCustomContainer">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.esFarmAnimalHousingCustomDescription()"
    name="emissionSourceFarmAnimalHousingCustomDescription"
    v-validate:descriptionV.input
    :showError="v.descriptionV.error"
    :errorMessage="() -> i18n.validationRequired()">
    <input id="emissionSourceFarmAnimalHousingCustomDescription"
      type="text"
      v-model="description"
      :aria-label="i18n.ariaDescription()"
      v-debug:emissionSourceFarmAnimalHousingCustomDescription/>
  </labeled-input>
  <labeled-input :label="i18n.esAnimalTypeLabel()"
    name="animalType">
    <select id="animalType"
      v-model="animalType"
      v-debug:animalType>
      <option v-for="AnimalType at in AnimalType.values()"
        :value="at.name()">{{ i18n.esAnimalType(at) }}
      </option>
    </select>
  </labeled-input>
  <labeled-input
    :label="i18n.esFarmAnimalHousingCustomNumberOfAnimals()"
    name="numberOfAnimalsInput"
    :showError="v.numberOfAnimalsV.error"
    :errorMessage="this::numberOfAnimalsConversionError">
    <input id="numberOfAnimalsInput"
      type="number"
      min="0"
      step="1"
      v-validate:numberOfAnimalsV.input
      v-model="numberOfAnimals"
      :placeholder="0"
      v-debug:numberOfAnimalsInput>
  </labeled-input>
  <labeled-input :label="i18n.esFarmEmissionFactorTypeLabel()"
    name="farmEmissionFactorType">
    <select id="farmEmissionFactorType"
      v-model="farmEmissionFactorType"
      v-debug:farmEmissionFactorType>
      <option v-for="FarmEmissionFactorType type in farmEmissionFactorTypes"
        :value="type.name()">{{ i18n.esFarmEmissionFactorType(type) }}
      </option>
    </select>
  </labeled-input>
  <labeled-input :label="i18n.esFarmAnimalHousingCustomFactor()"
    name="emissionFactorInput"
    :unit="i18n.esFarmEmissionFactorType(farmEmissionFactorTypeV)"
    :unitDescription="i18n.esFarmEmissionFactorTypeDescription(farmEmissionFactorTypeV)"
    :errorValidation="v.emissionFactorV"
    :errorMessage="this::emissionFactorConversionError">
    <input id="emissionFactorInput"
      type="number"
      min="0.0"
      step="any"
      v-validate:emissionFactorV.input
      v-model="emissionFactor"
      :placeholder="0.0"
      v-debug:emissionFactorInput>
  </labeled-input>
  <vertical-collapse>
    <labeled-input
      v-if="expectsNumberOfDays()"
      :label="i18n.esFarmAnimalHousingStandardNumberOfDays()"
      name="numberOfDaysInput"
      :showError="v.numberOfDaysV.error"
      :errorMessage="this::numberOfDaysConversionError">
      <input id="numberOfDaysInput"
        type="number"
        min="0"
        step="1"
        v-validate:numberOfDaysV.input
        v-model="numberOfDays"
        :placeholder="0"
        v-debug:numberOfDaysInput>
    </labeled-input>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";

.farmAnimalHousingCustomContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
