<template>
  <div
    v-if="isEasterAvailable()"
    aria-hidden="true"
    @click="activateEaster"
    class="easter-activator">
    {{ easterActive ? "!!!" : counter == 0 ? "-" : counter }}
  </div>
</template>

<style
  lang="scss"
  scoped>
  .easter-activator {
    opacity: 0;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacer);
    font-weight: bold;
    color: var(--grey);
    transition: opacity 5s ease-out;

    &:hover {
      opacity: 0.2;
    }
  }
</style>
