<vue-gwt:import class="elemental2.dom.Event" />

<header>
  <a
    :aria-label="i18n.ariaSkipLinkLabel()"
    class="skipLink"
    tabindex="0"
    href="#main-content"
    @keyup.enter.space="skipLinkClick((Event) $event)"
    @click="skipLinkClick((Event) $event)">
    {{ i18n.ariaSkipLink() }}
  </a>

  <nav
    :aria-label="i18n.ariaMainNavigation()"
    :class='map(e("collapsed", preferencesContext.isCollapsedMenu()))'>
    <aerius-logo
      class="logo"
      @click.native="goHome()" />

    <navigation-item
      class="menu-collapse"
      :item="menuCollapseItem" />

    <navigation-item
      v-for="NavigationItem item in topItems"
      :eventBus="eventBus"
      :item="item"
      :place="place" />

    <div class="spacer"></div>

    <easter-activator :eventBus="eventBus" />

    <navigation-item
      v-for="NavigationItem item in bottomItems"
      :eventBus="eventBus"
      :item="item"
      :config="context" />
  </nav>
</header>

<style
  scoped
  lang="scss">
  @import "../../variables.scss";

  .skipLink {
    opacity: 0;
    width: 79px;
    height: 80px;
    margin: 5px;
    position: absolute;
    padding: 5px;
    display: grid;
    place-items: center;
    text-align: center;
    pointer-events: none;

    background: white;
  }

  .skipLink:focus {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .logo {
    cursor: pointer;
  }

  header {
    display: flex;
  }

  nav {
    background-color: var(--back-color);
    width: 150px;

    display: flex;
    flex-direction: column;

    overflow: auto;
    height: 100%;
    overflow-x: clip;

    .spacer {
      flex: 1;
    }

    &.collapsed {
      width: 46px;
    }
  }

  @media (max-height: 680px) {
    nav {
      .logo {
        display: none;
      }
    }
  }
</style>
