<component class="item"
  :is="appropriateElement"
  v-debug='"NAV_" + toMachineReadable()'
  :tabindex="isEnabled ? 0 : -1"
  :class='map(e("disabled", !isEnabled), e("active", isActive), e("collapsed", isCollapsed), e("label-first", isLeftLabel))'
  :aria-label="item.getName()"
  :aria-disabled="!isEnabled"
  :aria-controls='item.hasPopout() ? "popout-component" : null'
  :aria-haspopup="item.hasPopout()"
  @keyup.enter.space="click()"
  @click.prevent="click()"
  :title="isCollapsed && isEnabled ? item.getName() : null"
  :href="isEnabled ? item.getHref() : null">
    <div
      v-if="!isCollapsed && isLeftLabel"
      class="label">{{ item.getName() }}</div>
    <i class="icon" :class="item.getIcon()"></i>
    <div
      v-if="!isCollapsed && !isLeftLabel"
      class="label">{{ item.getName() }}</div>
</component>

<style scoped lang="scss">
.item {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  align-content: center;
  padding: var(--half-spacer);
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  width: 150px;
  height: 46px;
  outline-offset: -2px;
  text-decoration: none;
  color: var(--icon-color);
  transition: background var(--anim), color var(--anim);
  box-sizing: border-box;

  .icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: inherit;
    transition: inherit;
  }

  .label {
    font-size: 13px;
    margin-left: var(--half-spacer);
    color: inherit;
    transition: inherit;
    text-align: left;
  }

  &.active, &:hover {
    background: var(--theme-color);
    color: white;
  }

  &:focus {
    outline: 2px dotted var(--theme-color);
    outline-offset: -2px;
  }

  &.active:focus {
    outline: 2px dotted white;
    outline-offset: -2px;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: var(--disabled-color);
  }
  
  &.label-first {
    grid-template-columns: auto 30px;

    .label {
      margin-left: 0px;
    }
  }

  &.collapsed {
    grid-template-columns: auto;
    width: 46px;
  }
}
</style>
