<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadTypeMode" />

<div class="coldstart-detail">
  <road-vehicles-print
    :source="source"
    :substances="substances"
    :stagnationEnabled="(boolean) false"
    :mode="RoadTypeMode.COLD_START"
    :isVehicleBasedCharacteristics="source.isVehicleBasedCharacteristics()" />
</div>

<style scoped lang="scss">
@import "../../pdf-table.scss";

.coldstart-detail {
  border-top: 1px solid $pdf-table-border-color;
  margin: var(--half-spacer) 0;
}

</style>
