<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.pages.export.types.ExportInputView.Panel" />

<div class="main">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="refreshProblems((boolean) $event)" />

  <div class="collapsibleContainer">
    <collapsible-panel :title="i18n.exportSituationSelection()"
      :open="isOpen(Panel.SITUATIONS)"
      @open="openPanel(Panel.SITUATIONS)"
      @user-close="closePanel()">
      <div class="collapsibleContent">
        <other-situation-compositor
          :situationComposition="situationComposition"
          :situations="situations" />
      </div>
    </collapsible-panel>

    <collapsible-panel debugId="additional-info"
      class="collapsible"
      :open="isOpen(Panel.META_DATA)"
      @open="openPanel(Panel.META_DATA)"
      :title="i18n.exportGMLWithMetaData()"
      debugId="includingExtraInfoToggle"
      v-if="metaDataEnabled">
      <error-warning-icon slot="aux"
        :title="i18n.sourceCharacteristicsTitle()"
        :reveal="displayProblems && !isOpen(Panel.META_DATA)"
        :showError="exportContext.isIncludeScenarioMetaData()" />
      <div class="metaDataContainer">
        <export-meta-data
          @errors='trackChildError("metadata", (boolean) $event)'
          @warnings='trackChildWarning("metadata", (boolean) $event)'
          :validationRequired="false" />
      </div>
    </collapsible-panel>
  </div>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";
@import "../../../../components/input/inputs.scss";

.main, .collapsibleContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
.collapsibleContent {
  padding: var(--spacer);
  flex-grow: 1;
}
.metaDataContainer {
  padding: var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  flex-grow: 1;
}

.collapsibleContainer {
  >* {
    border-top: var(--half-separator);
    border-bottom: var(--half-separator);

    &:first-child {
      border-top: var(--separator);
    }
    &:last-child {
      border-bottom: var(--separator);
    }
  }
}
</style>
