<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.pages.export.types.ExportCalculationView.Panel" />

<div class="main">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="refreshProblems((boolean) $event)" />

  <calculation-job-selector
    @errors='trackChildError("job-selection", (boolean) $event)'
    @warnings='trackChildWarning("job-selection", (boolean) $event)'
    :eventBus="eventBus" />

  <additional-options
    v-if="exportContext.getCalculationOptions() != null"
    :options="exportContext.getCalculationOptions()"
    @errors='trackChildError("additional-options", (boolean) $event)'
    @warnings='trackChildWarning("additional-options", (boolean) $event)' />

  <div class="collapsibleContainer">
    <collapsible-panel debugId="additional-info"
      class="collapsible"
      :open="isOpen(Panel.META_DATA)"
      @open="openPanel(Panel.META_DATA)"
      :title="i18n.exportGMLWithMetaData()"
      v-debug:includingExtraInfoToggle
      v-if="metaDataEnabled">
      <error-warning-icon slot="aux"
        :title="i18n.exportGMLWithMetaData()"
        :reveal="displayProblems && !isOpen(Panel.META_DATA)"
        :showError="exportContext.isIncludeScenarioMetaData()" />
      <div class="metaDataContainer">
        <export-meta-data
          @errors='trackChildError("metadata", (boolean) $event)'
          @warnings='trackChildWarning("metadata", (boolean) $event)'
          :validationRequired="false" />
      </div>
    </collapsible-panel>
  </div>
</div>

<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";
@import "../../../../components/input/inputs.scss";

.main, .collapsibleContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
.collapsibleContent {
  padding: var(--spacer);
  flex-grow: 1;
  max-width: calc(100% - var(--spacer) * 2);
}
.metaDataContainer {
  padding: var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  flex-grow: 1;
}

.collapsibleContainer {
  >* {
    border-top: var(--half-separator);
    border-bottom: var(--half-separator);

    &:first-child {
      border-top: var(--separator);
    }
    &:last-child {
      border-bottom: var(--separator);
    }
  }
}
</style>
