<vue-gwt:import class="nl.overheid.aerius.shared.domain.scenario.SituationType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ScenarioResultType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.export.ExportAppendix"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.ui.pages.export.types.ExportPdfView.Panel" />

<div class="main">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="refreshProblems((boolean) $event)" />

  <labeled-input :label="i18n.exportTypeCalculation()"
    class="scenarioResultType"
    name="exportOptions">
    <simple-listbox id="exportOptions"
      v-debug:exportOptions
      :options="exportReportOptions"
      :selected="exportContext.getReportType()"
      @select='selectExportReportType((CalculationJobType) $event)'>
      <template slot-scope="{ Object option }">{{ i18n.exportReportType((CalculationJobType) option) }}</template>
    </simple-listbox>
  </labeled-input>

  <calculation-job-selector
    @errors='trackChildError("job-selection", (boolean) $event)'
    @warnings='trackChildWarning("job-selection", (boolean) $event)'
    :eventBus="eventBus">
    <template
      v-if="isReportInvalid"
      slot="error">
      <input-error
        v-for="NoticeRule rule in showingReportErrors"
        :noticeRule="rule"
        :attached="true"
        :roundBottom="true">
        <button
          slot="after"
          @click='editJob()'>{{ i18n.exportPDFProjectCalculationEditJob() }}
        </button>
      </input-error>
    </template>
  </calculation-job-selector>

  <div class="collapsibleContainer">
    <collapsible-panel :title="metaDataPanelTitle"
      debugId="additional-info"
      v-if="metaDataEnabled"
      :open="isOpen(Panel.META_DATA)"
      @open="openPanel(Panel.META_DATA)"
      @user-close="closePanel()">
      <error-warning-icon slot="aux"
        :title="i18n.sourceCharacteristicsTitle()"
        :reveal="displayProblems && !isOpen(Panel.META_DATA)"
        :showError='hasInvalidMetaData()' />
      <export-meta-data class="meta"
        @errors='trackChildError("metadata", (boolean) $event)'
        @warnings='trackChildWarning("metadata", (boolean) $event)'
        :validationRequired="isMetaDataRequired" />
    </collapsible-panel>

    <collapsible-panel v-if="areAppendicesEnabled"
      :title="i18n.exportPDFAppendicesLabel()"
      debugId="panel-appendices"
      :open="isOpen(Panel.APPENDICES)"
      @open="openPanel(Panel.APPENDICES)"
      @user-close="closePanel()">
      <div class="appendicesContainer">
        <labeled-input :label="i18n.exportPDFAddAppendixName(ExportAppendix.EXTRA_ASSESSMENT_REPORT)"
          division="1fr 30px"
          name="includeExtraAssessmentReport">
          <checkbox :value="true"
            id="includeExtraAssessmentReport"
            :disabled="true" />
        </labeled-input>
        <labeled-input v-if="isEdgeEffectEnabled"
          :label="i18n.exportPDFAddAppendixName(ExportAppendix.EDGE_EFFECT_REPORT)"
          division="1fr 30px"
          name="includeEdgeEffectReport">
          <checkbox :value="getAppendixEnabled(ExportAppendix.EDGE_EFFECT_REPORT)"
            id="includeEdgeEffectReport"
            @input="setAppendixEnabled(ExportAppendix.EDGE_EFFECT_REPORT, (boolean) $event)" />
        </labeled-input>
      </div>
    </collapsible-panel>
  </div>
</div>


<style lang="scss" scoped>
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";
@import "../../../../components/input/inputs.scss";

.scenarioResultType {
  padding: 0px var(--spacer);
}

.main, .collapsibleContent {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
.collapsibleContent {
  padding: var(--spacer);
  flex-grow: 1;
  max-width: calc(100% - var(--spacer) * 2);
}
.meta {
  padding: var(--spacer);
}
.collapsibleContainer {
  >* {
    border-top: var(--half-separator);
    border-bottom: var(--half-separator);

    &:first-child {
      border-top: var(--separator);
    }
    &:last-child {
      border-bottom: var(--separator);
    }
  }
}

.appendicesContainer {
  padding: var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  flex-grow: 1;
}

button {
  @include button;
}
</style>
