<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionSourceFeature" />

<print-section>
  <template slot="thead">
    <tr><th colspan="2">
      <h3>{{ situation.getName() + " - " + i18n.situationType(situation.getType()) }}</h3>
    </th></tr>
    <tr v-if="!buildings.isEmpty()">
      <th>{{ i18n.printLabel() }}</th>
      <th>{{ i18n.printName() }}</th>
      <th>{{ i18n.printBuildingTotalSources() }}</th>
    </tr>
  </template>
  <template slot="tbody">
    <div v-if="buildings.isEmpty()">{{ i18n.printOverviewNoBuildings() }}</div>
    <template  v-else>
      <tr v-for="BuildingFeature building in buildings">
        <td class="id-column">
          <styled-point :feature="building"
            backColor="white"
            foreColor="black" />
        </td>
        <td>{{ building.getLabel() }}</td>
        <td class="source-indicators">
          <div>
            <styled-point v-for="EmissionSourceFeature source in getBuildingSources(building)"
              :feature="source"
              :backColor="getSectorColor(source)" />
          </div>
        </td>
      </tr>
    </template>
  </template>
</print-section>

<style lang="scss" scoped>
.id-column {
  width: 4rem;
}
.icon-column {
  font-size: 24pt;
  line-height: 24pt;
}

.source-indicators {
  width: 7rem;

  >div {
    display: flex;
    flex-wrap: wrap;
  }
}
</style>
