<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionSourceFeature" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />

<print-section :avoid="true">
  <template slot="thead">
    <tr><th colspan="5">
      <h3>{{ situation.getName() + " - " + i18n.situationType(situation.getType()) }}</h3>
    </th></tr>
    <tr>
      <th colspan="2">{{ i18n.printLabel() }}</th>
      <th>{{ i18n.printName() }}</th>
      <th class="emission-column">{{ i18n.pollutant(Substance.NOX) }}({{ i18n.unitSingularKgPerY() }})</th>
      <th class="emission-column">{{ i18n.pollutant(Substance.NH3) }}({{ i18n.unitSingularKgPerY() }})</th>
    </tr>
  </template>
  <template slot="tbody">
    <tr v-for="EmissionSourceFeature source in sources">
      <td class="id-column">
        <styled-point :feature="source"
          :backColor="getSectorColor(source)" />
      </td>
      <td class="icon-column" width="2rem"><i :class="getSectorFontClass(source)"></i></td>
      <td>{{ source.getLabel() }}</td>
      <td class="emission-column">{{ formatEmission(source, Substance.NOX) }}</td>
      <td class="emission-column">{{ formatEmission(source, Substance.NH3) }}</td>
    </tr>
    <tr>
      <td colspan="3" class="total-emission">{{ i18n.printSourceTotalEmission() }}</td>
      <td class="emission-column">{{ totalNOXEmission }}</td>
      <td class="emission-column">{{ totalNH3Emission }}</td>
    </tr>
  </template>
</print-section>

<style lang="scss" scoped>
.id-column {
  width: 3rem;
}
.icon-column {
  width: 2rem;
  font-size: 24pt;
  line-height: 24pt;
}
.emission-column {
  width: 6rem;
  text-align: right;
}
.total-emission {
  font-weight: bold;
}
</style>
