<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.TimeVaryingProfile" />

<div>
  <h3>{{ situation.getName() + " - " + i18n.situationType(situation.getType()) }}</h3>
  <div v-if="situation.getTimeVaryingProfiles().isEmpty()">{{ i18n.printOverviewNoTimeVaryingProfiles() }}</div>
  <template v-else>
    <div v-for="TimeVaryingProfile profile in situation.getTimeVaryingProfiles()" class="avoid">
      <div>{{ i18n.timeVaryingProfilePanelTitle(profile.getType()) }} - {{ profile.getLabel() }}</div>
      <div class="time-varying-profile-table">
        <div>
          <time-varying-profile-graph-component
            class="graph"
            width="250"
            height="150"
            :locale="locale"
            :data="getTimeVaryingProfileData(profile)"
            :type="getTimeVaryingProfileType(profile)" />
        </div>
        <div>
          <three-day-profile-stats-view v-if="isThreeDayProfile(profile)" :timeVaryingProfile="profile" />
          <monthly-profile-stats-view v-else-if="isMonthlyProfile(profile)" :timeVaryingProfile="profile" />
        </div>
      </div>
    </div>
  </template>
</div>

<style lang="scss" scoped>
.icon-column {
  font-size: 24pt;
  line-height: 24pt;
}

.time-varying-profile-table {
  display: grid;
  grid-template-columns: calc(65% - var(--spacer) / 2) calc(35% - var(--spacer) / 2);
  gap: var(--spacer);
  margin-bottom: var(--spacer);
}

.avoid {
  page-break-inside: avoid;
}
</style>
