<template>
  <h2>2. Meteorological (Met) Data Information</h2>
  <div class="page placeholder-1">Meteo placeholder</div>
</template>

<style lang="scss" scoped>
.page {
  position: relative;
  width: var(--page-max-width);
  height: var(--page-max-height);
  page-break-after: always;
}
</style>
