<div>
  <div v-if="legend.getUnit() != null" class="unit">{{ legend.getUnit() }}</div>
  <div class="colorLabelContainer">
    <div v-for="(String label, index) in getTranslatedLabels()"
      class="row">
      <div v-if="useFontIcon"
        class='fontContainer'
        :class='map(e("lineDashFontContainer", iconClass.equals("linedash")))'>

        <i class="iconBorder"
          :style='map(e("--outline-color", getOutlineColor(index)), e("color", getColor(index)))'
          :class='getFontIconLegend()'></i>
      </div>
      <div v-if="!useFontIcon"
        class="colorContainer">
        <div class="color"
          :style='getIconStyle(index)'
          :class='iconClass'></div>
      </div>
      <div v-if="isFilterable"
        class="filter">
        <label
          :for='"filterLegend" + index'
          class="label">{{ label }}</label>
        <div @click.stop="toggleFilterSelection(index)"
          @keyup.enter.space="toggleFilterSelection(index)"
          tabindex="0"
          class="toggle">
          <div v-show="!getFilteredOut(index)"
            v-vector="img.toggleLayerOn()"></div>
          <div v-show="getFilteredOut(index)"
            v-vector="img.toggleLayerOff()"></div>
        </div>
      </div>
      <div v-else>
        <div class="label">{{ label }}</div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
  .unit {
    font-weight: normal;
    margin-bottom: 5px;
  }

  .colorLabelContainer {
    columns: 1;
  }

  .row {
    display: inline-flex;
    align-items: center;
    margin: 3px 0;
    width: 100%;
    gap: 10px;
  }

  .filter {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .toggle {
    width: 34px;
    height: 34px;
    padding: 2px 0px;
    padding-right: 10px;
    outline-offset: -2px;
    margin-right: -10px;
    margin-top: -5px;
    margin-bottom: -5px;

    div {
      width: 34px;
      height: 34px;
      svg {
        fill: var(--theme-color);
      }
    }
  }

  .colorContainer {
    border: 2px solid white;
    background-color: white;
    align-self: flex-start;
    margin-top: 3px;
  }

  .color {
    width: 20px;
    height: 20px;
    align-self: center;
  }

  .color.line {
    height: 10px;
  }

  .color.road::after {
    content: '';
    align-self: center;
    width: 100%;
    height: 1px;
    background: #8CB4D6;
  }

  .color.road {
    display: flex;
  }

  .fontContainer {
    font-size: 18px;
    align-self: flex-start;
  }

  .lineDashFontContainer {
    font-size: 5px;
    line-height: 19px;
   }

  .iconBorder {
    filter: drop-shadow(1px 0 0 var(--outline-color)) drop-shadow(-1px 0 0  var(--outline-color)) drop-shadow(0 -1px 0  var(--outline-color)) drop-shadow(0 1px 0  var(--outline-color));
  }

  .label {
    min-width: 35%;
    font-weight: normal;
  }
</style>
