<vue-gwt:import class="nl.overheid.aerius.wui.application.geo.layers.LegendPair" />

<div class="markerLabelContainer">
  <div v-for="LegendPair pair in legend.getPairs()"
    class="row">
    <img width="30"
      :src="getMarker(pair).getSafeUri().asString()"
      :alt="getLabel(pair)"/>
    <div class="label">{{ getLabel(pair) }}</div>
  </div>
</div>

<style scoped lang="scss">
.markerLabelContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.row {
  display: flex;
  gap: var(--spacer);
  align-items: center;
}
</style>
