<div>
  <div class="itemLabelContainer">
    <div v-for="(String item, index) in legend.getItems()"
      class="row">
      <div class="item">{{ item }}</div>
      <div class="label">{{ legend.getLabels()[index] }}</div>
    </div>
  </div>
</div>

<style scoped lang="scss">
  .itemLabelContainer {
    columns: 1;
  }

  .row {
    display: inline-flex;
    align-items: center;
    margin: 3px 0;
    min-height: 24px;
    width: 100%;
    gap: 10px;
  }

  .item {
    font-weight: bold;
  }

  .label {
    min-width: 35%;
    font-weight: normal;
  }
</style>
