<div class="row" v-debug='"calculationPoint-" + calculationPoint.getId() + "-row"'
  :tabindex="0">
  <styled-point :feature="calculationPoint"
    borderRadius="50%"
    backColor="var(--light-yellow)"
    foreColor="black"
    width="30px"
    v-debug='"calculationPointListButtonZoomToPoint-" + calculationPoint.getId()' />
  <div class="labelColumn" v-debug='"calculationPoint-" + calculationPoint.getId() + "-label"'>
    {{ calculationPoint.getLabel() }}
  </div>
</div>

<style lang="scss" scoped>
@import "../../../row-item.scss";

.row {
  grid-template-columns: 30px 1fr;
}
</style>
