<vue-gwt:import className="nl.overheid.aerius.wui.application.domain.source.CalculationPointFeature"/>
<vue-gwt:import class="elemental2.dom.MouseEvent" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.point.AssessmentCategory"/>

<!-- Note: defaultContentContainer is part of a UK override -->
<div class="defaultContentContainer">
  <vertical-collapse>
    <div v-if="hasCalculationPoints">
      <modify-list
        class="toolbox"
        @new-entity="newCalculationPoint()"
        @edit-entity="editCalculationPoint()"
        @delete-entity="deleteCalculationPoint()"
        @automatic-placement="openAutomaticPlacementView()"
        :typeText="i18n.esModifyTypeCalculationPoint()"
        newIconClass="icon-btn-new-assessment-point"
        :selected="listContext.hasSelection()"
        :singleSelected="listContext.hasSingleSelection()"
        :multiSelected="listContext.hasMultiSelection()"
        :enableNameLabels="false"
        :enableEdit="true"
        :enableAutomaticPlacement="true"
        :enableCopy="false"/>
      <div class="calculationpoints" v-debug:calculationPoints>
        <vertical-collapse-group>
          <calculation-point-row
            v-for="CalculationPointFeature calculationPoint in calculationPoints"
            :key="calculationPoint.getId()"
            @click.native="clickPoint(calculationPoint, (MouseEvent) $event)"
            @keyup.enter.space.native="selectPoint(calculationPoint)"
            :aria-selected="listContext.isSelected(calculationPoint)"
            :class='map("selected", listContext.isSelected(calculationPoint))'
            :calculationPoint="calculationPoint"/>
        </vertical-collapse-group>
      </div>
      <button v-debug:calculationPointsListButtonDeleteAll
        class="buttonDeleteAll"
        @click="deleteAllCalculationPoints()">{{ i18n.calculationPointsDeleteButton() }}
      </button>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="!hasCalculationPoints" class="emptyCalculationPoints" v-debug:emptyCalculationPoints>
      <p v-html="i18n.calculationPointsEmptyInfo()"></p>
    </div>
  </vertical-collapse>

  <div class="calculationPointsContainer">
    <div v-if="areCategoriesEnabled">
      <labeled-input :label="i18n.calculationPointsCharacteristicsCategoryTitle()"
        name="sourceListCategory"
        :transparant="true">
        <simple-listbox id="sourceListCategory"
          :options="assessmentCategories"
          :selected="assessmentCategory"
          :strict="false"
          v-debug:pointCategory
          @select="selectAssessmentCategory((AssessmentCategory) $event)"
          @select-unknown="selectAssessmentCategory(null)">
          <option slot="optionsBefore" value="null">{{ i18n.calculationPointsCharacteristicsCategoryNone() }}</option>
          <template slot-scope="{ AssessmentCategory option }">{{ i18n.calculationPointsCharacteristicsCategory(option) }}</template>
        </simple-listbox>
      </labeled-input>
    </div>
    <p v-if="areCategoriesEnabled">{{ i18n.calculationPointsCharacteristicsCategoryExplainText() }}</p>

    <div class="buttons">
      <button-icon class="button"
        :hardBorder="true"
        @select="newCalculationPoint()"
        iconClass="icon-btn-new-assessment-point"
        v-debug.calculationPointsListNewPoint>
        <span class="label">{{ i18n.clButtonNewCalculationPoint() }}</span>
      </button-icon>
      <button-icon class="button"
        :hardBorder="true"
        @select="openAutomaticPlacementView()"
        iconClass="icon-btn-automatic-assessment-points"
        v-debug.calculationPointsListAutomaticPlacement>
        <span class="label">{{ i18n.clButtonAutomaticallyPlacePoints() }}</span>
      </button-icon>
    </div>
  </div>
</div>

<style lang="scss" scoped>
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";

.buttonDeleteAll {
  @include button;
  flex-grow: 3;
  align-self: center;
  margin: var(--spacer);
}

.selected {
  background-color: var(--theme-color);
}

.emptyCalculationPoints {
  padding: 0px var(--spacer);
}

.calculationpoints {
  max-height: calc(100vh - var(--calculation-points-list-buffer, 310px));
  overflow: auto;
}

.calculationPointsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  margin-top: var(--spacer);
  padding: var(--spacer);

  border-top: 2px solid white;
}

.buttons {
  display: flex;

  justify-content: center;
  gap: var(--spacer);

  .button {
    padding: var(--spacer);
    height: initial;

    display: flex;
    align-items: center;

    .label {
      padding: 0px var(--spacer);
    }
  }
}
</style>
