<!-- Note: defaultContentContainer is part of a UK override -->
<div class="calc-points defaultContentContainer">
  <vertical-collapse>
    <div v-if="!editorContext.isEditing() && !automaticPlacementContext.isAutomaticPlacementOpen()">
      <h1>{{ i18n.menuCalculationPoints() }}</h1>
      <div class="collapsibles">
        <collapsible-panel :title="i18n.calculationPointsCustomLabel()"
          :open="true"
          class="collapsible-item">
          <calculation-points-list :eventBus="eventBus"
            class="collapsible-content"/>
        </collapsible-panel>
      </div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <calculation-point-editor v-if="editorContext.isEditing()"
      :eventBus="eventBus"
      :calculationPoint="editorContext.getCalculationPoint()"/>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="automaticPlacementContext.isAutomaticPlacementOpen()">
      <h1>{{ i18n.calculationPointsPlacementTitle() }}</h1>
      <calculation-point-placement
        :eventBus="eventBus" />
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";

.calc-points {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  h1 {
    margin-left: var(--spacer);
    margin-right: var(--spacer);
  }
}

.collapsibles {
  overflow: auto;

  .collapsible-item {
    border-top: var(--half-separator);
    border-bottom: var(--half-separator);

    &:first-child {
      border-top: var(--separator);
    }
    &:last-child {
      border-bottom: var(--separator);
    }

    .collapsible-content {
      padding: var(--half-spacer) 0px;
      flex-grow: 1;
    }
  }
}
</style>
