<label class="container">
  <input type="checkbox"
    :id="id"
    v-model="checked"
    :disabled="disabled">
  <span class="checkmark"
    :class='map(e("icon-checked", checked), e("icon-disabled-unchecked", disabled && !checked))'></span>
  <span :class='map("visually-hidden", accessibleLabel)'>{{ label }}</span>
</label>

<style scoped lang="scss">
input {
  height: 0px;
  min-height: 0px;
  margin: 0px;
  width: 35px;
}

/* Customize the label (the container) */
.container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  min-height: 26px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  box-sizing: content-box;
  border-radius: 3px;
  transition: border var(--anim);
  border: 1px solid var(--grey);
  padding: 3px;
}
</style>
