<div class="input">
  <div class="label">
    <label>{{ label }}</label>
  </div>
  <div class="content">
    <slot></slot>
  </div>
</div>

<style scoped lang="scss">
.input {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 5px 0px;
  border-radius: 2px;
  min-height: 36px;

  .label {
    color: #333;
    flex-basis: 40%;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;

    label {
      line-height: 36px;
      padding: 0px 5px;
      flex-grow: 1;
    }
  }

  .content {
    margin: 0px;
    line-height: 36px;
    flex-basis: 60%;
    align-self: stretch;
    max-width: 60%;
    min-width: 60%;
  }
}
</style>
