input[type="date"] {
  height: 12px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}
input[type="date"]:before {
  background: none;
  display: block;
  font-family: 'icoaerius';
  content: '\e9d0';
  width: 15px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 6px;
}
input {
  transition: background var(--anim);
}
input:disabled {
  background: var(--light-grey);
  pointer-events: none;
}
textarea {
  min-height: 36px;
  min-width: 100%;
  max-width: 100%;
  line-height: 24px;
  resize: vertical;
}

.numberInput {
  text-align: right;
}

.noticeContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: 0px var(--half-spacer);

  div {
    word-wrap: break-word;
  }

  &.attached {
    border-radius: var(--default-radius);
    border-top-right-radius: 0px;
  }
  &.round-bottom {
    border-radius: var(--default-radius);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  &.round {
    border-radius: var(--default-radius);
  }
  >:first-child {
    margin-top: var(--spacer);
  }
  >:last-child {
    margin-bottom: var(--spacer);
  }
}

.success {
  color: white;
  background-color: var(--success-color);
  border: 1px solid black;
}

.notice {
  color: var(--text-color);
  background-color: var(--notice-color-light);
  border: 1px solid var(--notice-color);
}

.hint {
  color: var(--text-color);
  background-color: var(--hint-color);
  border: 1px solid black;
}

.error {
  color: var(--text-color);
  background-color: var(--error-color-light);
  border: 1px solid var(--error-color);
}

.warning {
  color: var(--text-color);
  background-color: var(--warning-color-light);
  border: 1px solid var(--warning-color);
}
