<vertical-collapse>
  <div v-if="rule.showing()"
    class="noticeContainer"
    :class='map(e("attached", attached), e("round", round), e("round-bottom", roundBottom), e(type, true))'
    role="alert" aria-live="polite">
    <p v-debug:inputNoticeMessage>{{ rule.message() }}</p>
    <slot name="aux"></slot>
  </div>
</vertical-collapse>

<style scoped lang="scss">
@import "inputs.scss";
@import "../../vertical-collapse.scss";
</style>
