<div :class='map(e("error-input", inputStyles && showError), e("warning-input", inputStyles && showWarning))'>
  <label class="slot">
    <abbr class="unit"
      :style="unitStyle"
      :title="unitDescription">{{ unit }}</abbr>
    <slot />
  </label>
</div>

<style scoped lang="scss">
.slot {
  position: relative;
}

.unit {
  color: var(--grey);
  position: absolute;
  right: 5px;
  line-height: var(--row-height);
}
</style>
