<vertical-collapse>
  <div v-if="rule.showing()"
    class="noticeContainer warning"
    :class='map(e("attached", attached), e("round", round), e("round-bottom", roundBottom))'
    role="alert" aria-live="polite">
    <p v-debug:inputWarningMessage>{{ rule.message() }}</p>
    <slot name="after"></slot>
  </div>
</vertical-collapse>

<style scoped lang="scss">
@import "inputs.scss";
@import "../../vertical-collapse.scss";
</style>
