<div class="inputContainer"
  :class='map("gaps", errorGaps)'>
  <div class="row"
    :class='map(e("background", !transparent), e("gap", gap))'
    :style='map("grid-template-columns", division)'
    ref="contentContainer">
    <slot name="label">
      <div class="column"
        :class='map("align-top", alignTop)'>
        <label class="label"
          :class='map("label-right", labelRight)'
          :for="name">{{ label }}</label>
      </div>
    </slot>
    <div v-if="unit == null"
      class="slot"
      :class='map(e("error-input", inputStyles && showErrorComputed), e("warning-input", inputStyles && showWarning))'>
      <slot />
    </div>
    <input-with-unit v-else
      :inputStyles="inputStyles"
      :unit="unit"
      :unitDescription="unitDescription"
      :showWarning="showWarning"
      :showError="showErrorComputed">
      <slot />
    </input-with-unit>
  </div>

  <slot name="error">
    <smart-notice v-if="errorNotices != null"
      :name="name"
      :label="label"
      :validation="errorNotices"
      :attached="true" />
    <input-error v-else
      :id='name + "_error"'
      :attached="true"
      :showError="showErrorComputed"
      :errorMessage="errorMessage" />
  </slot>

  <slot name="warning">
    <input-warning v-debug='name + "_warning"'
      :attached="true"
      :showWarning="showWarning"
      :warningMessage="warningMessage" />
  </slot>

  <slot name="notice">
    <input-notice v-debug='name + "_notice"'
      :attached="true"
      :showNotice="showNotice"
      :noticeMessage="noticeMessage" />
  </slot>
</div>

<style scoped lang="scss">
@import "inputs.scss";
@import "../../vertical-collapse.scss";

.inputContainer {
  &.gaps {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
  }

  .row {
    color: var(--text-color);
    display: grid;
    align-items: center;
    min-height: var(--row-height);

    .column {
      display: flex;
      height: 100%;
      align-items: center;
      align-self: flex-start;

      .label {
        flex-grow: 1;

        &.label-right {
          text-align: right;
        }
      }

      &.align-top {
        align-self: flex-start;
        height: var(--row-height);
        align-items: center;
      }
    }

    &.gap {
      gap: var(--half-spacer);
    }

    &.background {
      background: #0000000e;

      .label {
        padding-left: var(--half-spacer);
      }
    }

    .slot {
      position: relative;
    }

    .unit {
      color: var(--grey);
      position: absolute;
      right: 5px;
      pointer-events: none;
      line-height: var(--row-height);
    }
  }
}
</style>
