<div class="input">
  <div class="content"
    :class='map(e("error-input", inputStyles && showError), e("warning-input", inputStyles && showWarning))'
    ref="inputContainer">
    <slot />
  </div>
  <div class="problems">
    <slot name="error">
      <input-error :showError="showError"
        :roundBottom="true"
        :errorMessage="errorMessage" />
    </slot>
    <slot name="warning">
      <input-warning :showWarning="showWarning"
        :roundBottom="true"
        :warningMessage="warningMessage" />
    </slot>
  </div>
</div>

<style scoped lang="scss">
@import "inputs.scss";
@import "../../variables.scss";
@import "../../vertical-collapse.scss";

.problems {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 2px;

  .content {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
  }
}
</style>
