.errorContainer, .warningContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 0px var(--half-spacer);
  border: 1px solid;
  border-radius: var(--default-radius);
  margin: 0px var(--spacer);

  .label {
    color: var(--text-color);
    margin-top: var(--spacer);
    margin-bottom: var(--spacer);
  }
}

.warningContainer {
  background: var(--warning-color-light);
  border-color: var(--warning-color);

  .close {
    fill: var(--warning-color);
  }
}
.errorContainer {
  background: var(--error-color-light);
  border-color: var(--error-color);

  .close {
    fill: var(--error-color);
  }
}

.close {
  width: 14px;
  height: 14px;
  padding: 2.5px var(--half-spacer);
  margin: var(--spacer) 0px;

  align-self: flex-start;
  cursor: pointer;
  transition: all var(--anim);
  background: #ffffff00;

  &:hover {
    fill: var(--text-color) !important;
  }
}
