<vue-gwt:import class="nl.overheid.aerius.shared.domain.scenario.SituationType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.util.FileUploadStatus" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.importer.domain.ImportAction" />

<file-upload :showInvalid="isInvalid && displayProblems"
  :loading="!file.isComplete() && !file.isFailed()"
  :completeRatio="file.getPercentage()"
  :pending="file.isPending()"
  :valid="!file.hasErrors() && !file.isFailed() && !file.hasWarnings() && file.isValidated()"
  :showErrors="file.hasErrors() || file.isFailed()"
  :showWarnings="file.hasWarnings()"
  @remove-file="removeFile()"
  @display-errors="displayErrors()"
  @display-warnings="displayWarnings()">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <div class="line">
    <div class="lineName" :class='map("clickable", hasContent(file))'
      @keyup.enter.space.stop="contentVisible = !contentVisible"
      @click.stop="toggleContent()">
      <horizontal-collapse :seek="(boolean) false">
        <collapsible-button v-if="hasContent(file)"
          :expanded="contentVisible"
          class="collapsible"
          tabindex="0" />
      </horizontal-collapse>
      <i class="icon" :class="getIconForFile(file)"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i><i class="path5"></i><i class="path6"></i></i>
      <div class="name"
        :title="file.getFile().name">{{ file.getFile().name }}</div>
      <inline-file-settings :file="file"
        @errors='trackChildError("settings", (boolean) $event)'
        @warnings='trackChildWarning("settings", (boolean) $event)'
        :eventBus="eventBus" />
    </div>
    <div class="situationName"
      :title="file.getSituationName()">{{ file.getSituationName() }}</div>
    <div>
      <horizontal-collapse :seek="(boolean) false">
        <complex-listbox v-if="canHaveFileAction"
          id="importActions"
          class="importActions"
          v-debug:importActions
          :groupFunction="v -> getLabelFromType((ImportAction) v)"
          :options="importActions"
          :keyFunction="importActionToKey"
          :selected="selectedImportAction"
          :placeholder="i18n.dropdownPlaceholder()"
          :aria-label="i18n.importFileImportAction()"
          @select="selectImportAction((ImportAction) $event)">
          <template slot-scope="{ Object option }">{{ formatImportActionLabel((ImportAction) option) }}</template>
        </complex-listbox>
      </horizontal-collapse>
    </div>
    <div>
      <horizontal-collapse>
        <div v-if="canHaveSituationSelection || finalSituationType != null">
          <simple-listbox v-if="canHaveSituationSelection"
            id="situationSelection"
            class="situationSelection"
            v-debug:situationSelection
            :options="situationOptions"
            :selected="situationType"
            :placeholder="i18n.dropdownPlaceholder()"
            @select="selectFileSituationType((SituationType) $event)">
            <template slot-scope="{ Object option }">{{ i18n.situationType((SituationType) option) }}</template>
          </simple-listbox>
          <div v-else-if="finalSituationType != null"
            class="situationLabel">{{ i18n.situationType(finalSituationType) }}</div>
        </div>
      </horizontal-collapse>
    </div>
  </div>

  <template slot="content">
    <vertical-collapse>
      <single-file-contents v-if="contentVisible"
        :file="file"
        :eventBus="eventBus"
        :stats="file.getSituationStats()" />
    </vertical-collapse>
  </template>
</file-upload>

<style lang="scss" scoped>
@import "../../fade-transition.scss";
@import "../../vertical-collapse.scss";
@import '../../horizontal-collapse.scss';

.miniStatsContainer {
  .miniStats {
    padding: var(--spacer);
  }
}

.line {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(150px, auto) minmax(150px, auto) minmax(120px, auto);
  align-items: center;
  user-select: none;
  position: relative;
  transition: all var(--anim);
  gap: var(--half-spacer);
  height: var(--row-height-generous);

  .lineName {
    display: flex;
    padding: 0px var(--half-spacer);
    align-items: center;
    gap: var(--half-spacer);

    .icon {
      height: 24px;
      width: 24px;
      font-size: 24px;
    }

    .name {
      flex-grow: 1;
      padding: 0px 7px;
      flex-basis: 25%;
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .situation {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .importActions {
    width: 150px;
  }

  .situationName {
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .situationSelection {
    width: 120px;
  }

  .situationLabel {
    padding: 0px 6px;
  }

  .clickable {
    cursor: pointer;

    &:hover {
      background: var(--theme-color-light);
    }
  }

  .collapsible {
    margin: var(--half-spacer) 0px;

    .expanded {
      background: var(--theme-color);
    }
  }
}
</style>
