<vue-gwt:import class="nl.overheid.aerius.wui.application.components.importer.ApplicationImportView.Tab" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.importer.ApplicationImportView.ImportFilter" />

<!-- Note: textContentContainer is part of a UK override -->
<div class="importContainer textContentContainer">
  <div class="contentContainer">
    <div>
      <h2>{{ i18n.importTitle() }}</h2>
      <h3>{{ i18n.importCreateNewScenarioTitle() }}</h3>
      <p>{{ i18n.importCreateNewScenarioText() }}</p>
    </div>
    <button class="createNewButton"
      @click="onCreateNewSituationClick()"
      iconClass="icon-btn-new"
      v-debug:calculationLaunchButtonNewSituation>{{ i18n.clButtonNewSituation() }}</button>

    <div>
      <h3 class="extraTop">{{ i18n.importGeneralTitle() }}</h3>
      <div class="importText" v-html="i18n.importGeneralDescription()"></div>
    </div>
  </div>

  <div class="tabContainer"
    :class='map(e("simple", !isAdvanced || isEmpty), e("advanced", isAdvanced && !isEmpty))'>
    <div class="tabs"
      role="tablist">
      <div v-debug='"tab-" + Tab.FILES.name()'
        tabindex="0"
        role="tab"
        :id='"tab-" + Tab.FILES.name()'
        class="tab"
        :class='map("selected", tab == Tab.FILES)'
        :aria-selected="tab == Tab.FILES"
        @click="tab = Tab.FILES"
        @keyup.enter.space="tab = Tab.FILES">{{ i18n.importFileTab() }}</div>
      <div v-debug='"tab-" + Tab.ERRORS.name()'
        tabindex="0"
        role="tab"
        :id='"tab-" + Tab.ERRORS.name()'
        class="tab"
        :class='map("selected", tab == Tab.ERRORS)'
        :aria-selected="tab == Tab.ERRORS"
        @click="tab = Tab.ERRORS"
        @keyup.enter.space="tab = Tab.ERRORS">
        <div class="iconContainer">
          <i class="icon icon-error"><i class="path1"></i><i class="path2"></i></i>
        </div>
        <span class="tab-text">{{ i18n.importErrorTab(errorCountText) }}</span>
      </div>
      <div v-debug='"tab-" + Tab.WARNINGS.name()'
        tabindex="0"
        role="tab"
        :id='"tab-" + Tab.WARNINGS.name()'
        class="tab"
        :class='map("selected", tab == Tab.WARNINGS)'
        :aria-selected="tab == Tab.WARNINGS"
        @click="tab = Tab.WARNINGS"
        @keyup.enter.space="tab = Tab.WARNINGS">
        <div class="iconContainer">
          <i class="icon icon-alert-default-values"><i class="path1"></i><i class="path2"></i></i>
        </div>
        <span class="tab-text">{{ i18n.importWarningTab(warningCountText) }}</span>
      </div>

      <button-icon :titleText="i18n.importDownloadLog()"
        class="downloadLog"
        v-if="hasFiles && (hasErrors || hasWarnings)"
        @select="downloadLog()"
        iconClass="icon-download">{{ i18n.importDownloadLog() }}</button-icon>
    </div>

    <files-errors v-if="tab == Tab.ERRORS"
      class="tabContent"
      :class='map("simpleTabContent", !isAdvanced || isEmpty)'
      :files="fileContext.getFiles()" />
    <files-warnings v-if="tab == Tab.WARNINGS"
      class="tabContent"
      :class='map("simpleTabContent", !isAdvanced || isEmpty)'
      :files="fileContext.getFiles()" />

    <div class="contentContainer files" v-if="tab == Tab.FILES">
      <input-error :round="true"
        :showError="!hasFiles && displayProblems"
        :errorMessage='() -> i18n.importNoFilesAdded()' />

      <!-- File pane -->
      <vertical-collapse>
        <div class="headerBar" v-if="!isEmpty && !isDragging && isAdvanced">
          <div>{{ i18n.importFileName() }}</div>
          <div>{{ i18n.importFileSituationName() }}</div>
          <div>{{ i18n.importFileUsage() }}</div>
          <div>{{ i18n.importFileScenarioType() }}</div>
        </div>
      </vertical-collapse>
      <div class="dropbox"
        :class='map(e("focus", focusFileInput), e("no-files", isEmpty || isDragging), e("dragging", isDragging), e("interactive", isEmpty), e("simple", !isAdvanced || isEmpty))'
        @dragenter="isDragging = true" @dragend="isDragging = false">
        <div v-show="isEmpty || isDragging" class="upload">
          <input type="file"
            multiple
            v-debug:fileInput
            id="fileInput"
            :aria-label="i18n.importFileInputLabel()"
            @dragend="isDragging = false"
            @dragleave="isDragging = false"
            @change="filesChange((Event) $event)"
            @focus="onFocus()" @blur="onBlur()"
            :accept="acceptedFileTypes" />
        </div>
        <div class="dropzone"
          v-if="isEmpty || isDragging">
          <p v-if="isEmpty && !isDragging">{{ i18n.importTextDrag() }}</p>
          <p v-if="isDragging">{{ i18n.importTextDragging() }}</p>
        </div>
        <div class="tabContentContainer" role="tabpanel"
          :class='map("hide", isDragging)'
          :aria-labelledby='"tab-" + tab.name()'>
          <files-list
            :advanced="isAdvanced"
            class="tabContent"
            :files="fileContext.getFiles()"
            :eventBus="eventBus"
            @errors='trackChildError("files", (boolean) $event)'
            @warnings='trackChildWarning("files", (boolean) $event)'
            @remove-file="removeFile"
            @display-errors="tab = Tab.ERRORS"
            @display-warnings="tab = Tab.WARNINGS" />
        </div>
      </div>
    </div>

    <template>
      <div class="footer">
        <div class="buttons">
          <button v-debug:removeAll-import
            :disabled="!hasFiles"
            class="removeAll" @click="removeAll()">{{ i18n.importRemoveAll() }}</button>
          <button @click="onOpenFileInputClick()"
            class="addMore" v-debug:buttonOpenFileDialog>{{ i18n.importOpenFileDialog() }}</button>
          <img v-if="isImporting"
            :alt="i18n.ariaLabelSpinner()"
            class="importing"
            :src="img.loadingSpinner().getSafeUri().asString()"></img>
          <modify-cancel-save
            debugId="import"
            :prevented="isInvalid"
            :confirm="displayProblems"
            :noPadding="true"
            :hasCancel="false"
            :saveText="i18n.clButtonImportFile()"
            :saveDisabled="isImporting || isUploading || isValidating || isInvalid"
            @confirm="setNotificationState((boolean) $event)"
            @save="submit()">
          </modify-cancel-save>
        </div>
      </div>

      <vertical-collapse>
        <div v-if="isInvalid && displayProblems"
          class="errorContainer"
          role="alert"
          aria-live="polite"
          v-debug:importErrorContainer>
          <div class="label">{{ i18n.esButtonSavePreventedText() }}</div>
          <div @click="closeError()" class="close"
            v-vector="img.iconClose()"></div>
        </div>
      </vertical-collapse>
    </template>
  </div>

  <floating-utility :eventBus="eventBus" />
</div>

<style lang="scss" scoped>
@import '../../variables.scss';
@import '../../fade-transition.scss';
@import '../../vertical-collapse.scss';
@import '../../horizontal-collapse.scss';
@import "../../components/input/validations.scss";

.createNewButton {
  align-self: flex-start;
}
.importContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  max-width: 1150px;
  min-width: 800px;
}

.importText {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.extraTop {
  margin-top: var(--spacer);
}

.importing {
  aspect-ratio: 1 / 1;
  height: 33px;
}
.footer {
  padding: 0px var(--spacer);

  .buttons {
    display: flex;
    align-items: flex-start;
    gap: var(--spacer);
    margin: var(--spacer) 0px;

    .addMore {
      margin-right: auto;
    }
  }
}

.headerBar {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(150px, auto) minmax(150px, auto) minmax(120px, auto) calc(90px + var(--half-spacer) * 3);
  gap: var(--half-spacer);
  font-weight: bold;
}

.tabContentContainer {
  flex-grow: 1;

  &.hide {
    opacity: 0;
  }
}

.contentContainer {
  padding: 0px var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.tabContainer {
  display: flex;
  flex-direction: column;
}

.errorContainer {
  margin: 0px;
  max-width: 300px;
  margin-left: auto;
}

.conditions {
  margin: 0px;
}

.downloadLog {
  margin: 3px;
  padding: 0px var(--half-spacer);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--half-spacer);
  margin-left: auto;
}

.tabs {
  display: flex;
  gap: var(--spacer);
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  align-self: stretch;
  margin: 0 var(--spacer);
  transition: all var(--anim);

  .tab {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: var(--half-spacer) var(--spacer);
    cursor: pointer;
    user-select: none;
    color: var(--theme-color);
    margin: 0px;
    border: 1px dashed var(--grey);
    border-bottom: 1px dashed transparent;
    transition: all var(--anim);

    &.selected {
      background: white;
      color: var(--text-color);
      border-bottom: 1px dashed white;
    }

    &:hover {
      background-color: var(--theme-color);
      color: white;
    }

    &:focus {
      border-color: transparent;
    }

    .iconContainer {
      width: 24px;
      margin-right: 10px;
      display: flex;
      align-items: center;

      .icon {
        font-size: 24px;
      }

      .errorIcon {
        background: var(--error-color);
      }

      .warningIcon {
        background: var(--warning-color);
      }
    }

    &.disabled {
      pointer-events: none;
      cursor: auto;
      color: var(--disabled-color);
    }

    &.selected {
      color: var(--theme-color);
      background: white;
      cursor: default;
    }
  }
}

.simpleTabContent {
  margin-top: -1px !important;
}

.advanced .files {
  padding: var(--spacer) 0 0;
  background: white;
  margin: -1px var(--spacer) 0;
  border: 1px dashed var(--grey);

  .headerBar {
    margin-left: var(--spacer);
  }

  .dropbox {
    border: 1px dashed transparent;
  }
}

.tab-text {
  display: flex;
  align-items: center;
  gap: var(--half-spacer);
}

.dropbox {
  position: relative;
  background: white;
  box-sizing: border-box;
  display: flex;
  transition: all var(--anim);
  outline: 0px dashed transparent;
  outline-offset: 0px;
  border: 1px dashed var(--grey);

  &.simple {
    margin-top: -1px;
  }

  &.no-files {
    min-height: 350px;
  }

  &.focus {
    outline: 2px dashed var(--theme-color);
    outline-offset: -8px;
    border-color: transparent;
  }
  &.dragging {
    border-color: transparent;
    background: var(--theme-color);
    outline: 4px dashed white;
    outline-offset: -12px;
    color: white;
  }
  &.interactive:hover {
    background-color: var(--theme-color-light);
  }

  .upload {
    z-index: 3;
  }

  .dropzone {
    position: absolute;
    width: 100%;
    height: 100%;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 2;
    transition: all var(--anim);

    p {
      text-align: center;
    }
  }

  input[type=file] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  >p {
    pointer-events: none;
    color: var(--text-color);
  }
}

button {
  @include button;
  min-width: 140px;
}
</style>
