<div :class='map("error", showInvalid)'
  class="fileContainer">
  <div class="lineContainer" :class='map("loading", loading)'>
    <transition name="fade">
      <div v-if="loading"
        class="loader with-background"
        :style='map("width", completePercentage)'>
      </div>
    </transition>

    <slot></slot>

    <!-- Notification states -->
    <div class="iconSection">
      <horizontal-collapse :seek="false">
        <div class="iconContainer spinner" v-if="pending">
          <img :alt="i18n.ariaLabelSpinner()"
            class="icon"
            :src="img.loadingSpinner().getSafeUri().asString()"></img>
        </div>
      </horizontal-collapse>
      <horizontal-collapse :seek="false">
        <div v-if="showErrors" class="errorsContainer">
          <tooltip :title="i18n.importErrorOpenLabel()"
            class="iconContainer pointer">
            <button-icon :titleText="i18n.importWarningOpenLabel()"
              :aria-label="i18n.importErrorOpenLabel()"
              @select="displayErrors()"
              iconClass="icon-error"
              v-debug:fileErrorIconButton>
              <i class="icon icon-error"><i class="path1"></i><i class="path2"></i></i>
            </button-icon>
          </tooltip>
        </div>
      </horizontal-collapse>
      <horizontal-collapse :seek="false">
        <div v-if="valid"
        class="iconContainer">
          <i class="icon icon-valid"></i>
        </div>
      </horizontal-collapse>
      <horizontal-collapse :seek="false">
        <div v-if="showWarnings" class="warningsContainer" v-debug:warningsContainer>
          <tooltip :title="i18n.importWarningOpenLabel()"
            class="iconContainer pointer">
            <button-icon :titleText="i18n.importWarningOpenLabel()"
              :aria-label="i18n.importWarningOpenLabel()"
              @select="displayWarnings()"
              iconClass="icon-alert-default-values"
              v-debug:fileWarningIconButton>
              <i class="icon icon-alert-default-values"><i class="path1"></i><i class="path2"></i></i>
            </button-icon>
          </tooltip>
        </div>
      </horizontal-collapse>
      <div class="removeContainer">
        <tooltip :title="i18n.importFileDelete()">
          <button-icon :titleText="i18n.importFileDelete()"
            @select="removeFile()"
            class="remove-btn"
            iconClass="icon-btn-delete"
            v-debug:sourceListButtonImport />
        </tooltip>
      </div>
    </div>

    <transition name="fade">
      <div v-if="loading"
        class="loader"
        :style='map("width", completePercentage)'>
        <div v-if="loading && completeRatio < 1 && completeRatio > 0"
          class="percentage">{{ completePercentage }}</div>
      </div>
    </transition>
  </div>

  <slot name="content"></slot>
</div>

<style lang="scss" scoped>
@import "../../fade-transition.scss";
@import '../../horizontal-collapse.scss';

.lineContainer {
  display: grid;
  grid-template-columns: 1fr calc(90px + var(--half-spacer) * 3);
  align-items: center;
  user-select: none;
  position: relative;
  transition: all var(--anim);
  gap: var(--half-spacer);
  height: var(--row-height-generous);
  color: black;
}

.fileContainer {
  display: flex;
  flex-direction: column;
  background: white;
  position: relative;

  &.error {
    border-top: 2px solid var(--error-color) !important;
    border-bottom: 2px solid var(--error-color) !important;
    padding: 2px;
    margin: var(--half-spacer) 0px;
    background: var(--error-color-light);
  }
}

.loader {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: background var(--anim), width 0.25s ease-in-out, opacity 0.5s ease-out 0.2s;

  &.with-background {
    background: var(--theme-color-light);
  }

  &.error {
    background: #a008;
  }
}

.percentage {
  display: flex;
  position: absolute;
  color: var(--text-color);
  left: 100%;
  height: 100%;
  align-items: center;
  padding: 0px var(--half-spacer);
  pointer-events: none;
  background: var(--theme-color-light);
  transition: opacity .5s ease-out;
}

.iconSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px var(--half-spacer);
  gap: var(--half-spacer);

  .errorsContainer, .warningsContainer, .removeContainer {
    width: 30px;
    .btn--icon {
      min-width: 30px;
      height: var(--row-height);
    }
  }

  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
      outline: 2px dashed var(--theme-color);
    }

    &.pointer {
      cursor: pointer;

      &:hover {
        background: var(--theme-color);
        border-radius: var(--default-radius);
      }
    }

    &.spinner {
      width: 24px;
      padding: 0px;
      display: grid;
      place-items: center;

      img {
        width: var(--row-height-generous);
        height: var(--row-height-generous);
      }
    }
    .icon {
      margin: 0px;
      height: 24px;
      width: 24px;
      font-size: 24px;
    }
    .errorIcon {
      background: var(--error-color);
    }
    .warningIcon {
      background: var(--warning-color);
    }
  }
}
</style>
