<vue-gwt:import class="nl.overheid.aerius.wui.application.util.FileUploadStatus" />
<vue-gwt:import class="nl.overheid.aerius.shared.config.ApplicationConfiguration" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.importer.ImportType" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.scenario.SituationType" />
<vue-gwt:import class="java.util.Map.Entry"/>

<div class="listContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />
  <template v-if="advanced">
    <advanced-file v-for="(FileUploadStatus file, idx) in sortedFiles"
      class="item"
      :file="file"
      :key="file.getKey()"
      :eventBus="eventBus"
      @errors='trackChildError(file.getKey(), (boolean) $event)'
      @warnings='trackChildWarning(file.getKey(), (boolean) $event)'
      @remove-file="removeFile"
      @display-errors="displayErrors"
      @display-warnings="displayWarnings" />
  </template>
  <template v-else>
    <simple-file v-for="(Entry entry, idx) in fileGroups"
      class="item"
      :key="((List<FileUploadStatus>) entry.getValue()).get(0).getKey()"
      :originalFile="(File) entry.getKey()"
      :files="(List<FileUploadStatus>) entry.getValue()"
      :eventBus="eventBus"
      @errors='trackChildErrors((List<FileUploadStatus>) entry.getValue(), (boolean) $event)'
      @warnings='trackChildWarnings((List<FileUploadStatus>) entry.getValue(), (boolean) $event)'
      @remove-file="removeFile"
      @display-errors="displayErrors"
      @display-warnings="displayWarnings" />
  </template>
</div>

<style lang="scss" scoped>
@import "../../vertical-collapse.scss";

.listContainer {
  flex-grow: 1;
  overflow: auto;

  .item {
    transition: all var(--anim);
    border-top: var(--half-separator);
    border-bottom: var(--half-separator);
    border-color: var(--light-grey) !important;

    &:first-child {
      border-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}
</style>
