<vue-gwt:import class="nl.overheid.aerius.shared.domain.scenario.SituationType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.util.FileUploadStatus" />

<file-upload :showInvalid="isInvalid && displayProblems"
  :loading="!file.isComplete() && !file.isFailed()"
  :completeRatio="file.getPercentage()"
  :pending="file.isPending()"
  :valid="isValid"
  :showErrors="showErrors"
  :showWarnings="showWarnings"
  @remove-file="removeFile()"
  @display-errors="displayErrors()"
  @display-warnings="displayWarnings()">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <div class="line">
    <div class="lineName" :class='map("clickable", hasContent(file))'
      @keyup.enter.space.stop="contentVisible = !contentVisible"
      @click.stop="toggleContent()">
      <horizontal-collapse :seek="(boolean) false">
        <collapsible-button v-if="hasContent(file)"
          :expanded="contentVisible"
          class="collapsible"
          tabindex="0" />
      </horizontal-collapse>
      <i class="icon" :class="getIconForFile(file)"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i><i class="path5"></i><i class="path6"></i></i>
      <div class="name"
        :title="file.getFile().name">{{ file.getFile().name }}</div>
      <inline-file-settings :file="files.get(0)"
        @errors='trackChildError("settings", (boolean) $event)'
        @warnings='trackChildWarning("settings", (boolean) $event)'
        :eventBus="eventBus" />
    </div>
  </div>

  <template slot="content">
    <vertical-collapse>
      <multiple-file-contents v-if="contentVisible"
        :files="files" />
    </vertical-collapse>
  </template>
</file-upload>

<style lang="scss" scoped>
@import "../../fade-transition.scss";
@import "../../vertical-collapse.scss";
@import '../../horizontal-collapse.scss';

.line {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  user-select: none;
  position: relative;
  transition: all var(--anim);
  gap: var(--half-spacer);
  height: var(--row-height-generous);

  .lineName {
    display: flex;
    padding: 0px var(--half-spacer);
    align-items: center;
    gap: var(--half-spacer);

    .icon {
      height: 24px;
      width: 24px;
      font-size: 24px;
    }

    .name {
      flex-grow: 1;
      padding: 0px 7px;
      flex-basis: 25%;
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .clickable {
    cursor: pointer;

    &:hover {
      background: var(--theme-color-light);
    }
  }

  .collapsible {
    margin: var(--half-spacer) 0px;

    .expanded {
      background: var(--theme-color);
    }
  }
}
</style>
