<div class="minMaxContainer">
  <div>{{ label }}</div>
  <template v-if="isCorrected">
    <div>(<span class="label">{{ correctionLabel }}</span>)</div>
  </template>
</div>

<style lang="scss" scoped>

.minMaxContainer, .minMaxContainer {
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;

   div {
    display: flex;
    align-items: center;
    /* ..... want to remove this */
    font-size: 8pt;
  }
}

.label {
  text-decoration: underline;
}

</style>
