<vue-gwt:import class="nl.aerius.geo.domain.LayerItem" />

<div class="layerContainer">
  <component v-for="LayerItem item in layers"
    class="layer"
    :is="getComponentType(item)"
    :eventBus="eventBus"
    :item="item">
  </component>
</div>

<style lang="scss" scoped>
.layerContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* Add a padding to make a scrollbar not appear */
  padding: var(--spacer) 0px;

  .layer {
    border-bottom: 1px solid #ccc;

    &:first-child {
      border-top: 1px solid #ccc;
    }
  }
}
</style>
