<dialog class="hotKeyContainer"
  :class='map("open", displayHelp)'
  ref="modal">
  <div class="header">
    <h2>{{ i18n.hotkeyTitle() }}</h2>
  </div>
  <div class="controlPanel"
    aria-live="polite"
    :class='map("disabled", !hotkeyContext.isEnabled())'>
    <div>{{ i18n.hotkeyEnabledState(hotkeyContext.isEnabled()) }}</div>
    <button :aria-label="i18n.hotkeyEnabledStateToggleAria(hotkeyContext.isEnabled())"
      @click="toggleHotkeysEnabled()">{{ i18n.hotkeyEnabledStateToggle(hotkeyContext.isEnabled()) }}</button>
  </div>
  <div class="panels">
    <div class="left">
      <div class="table nav">
        <key-line>
          <h3>{{ i18n.hotkeyNavigationTitle() }}</h3>
        </key-line>
        <key-line :keys="i18n.hotkeyNavigateHomeKeys()"
          :explain="i18n.hotkeyNavigateHomeExplain()" />
        <key-line :keys="i18n.hotkeyNavigateSourcesKeys()"
          :explain="i18n.hotkeyNavigateSourcesExplain()" />
        <key-line :keys="i18n.hotkeyNavigateAssessmentPointsKeys()"
          :explain="i18n.hotkeyNavigateAssessmentPointsExplain()" />
        <key-line :keys="i18n.hotkeyNavigateCalculateKeys()"
          :explain="i18n.hotkeyNavigateCalculateExplain()" />
        <key-line :keys="i18n.hotkeyNavigateResultsKeys()"
          :explain="i18n.hotkeyNavigateResultsExplain()" />
        <key-line :keys="i18n.hotkeyNavigateExportKeys()"
          :explain="i18n.hotkeyNavigateExportExplain()" />
      </div>
      <div class="table select">
        <key-line>
          <h3>{{ i18n.hotkeySelectTitle() }}</h3>
        </key-line>
        <key-line :keys="i18n.hotkeySelectFeatureKeys()"
          :explain="i18n.hotkeySelectFeatureExplain()" />
        <key-line :keys="i18n.hotkeySelectSituationKeys()"
          :explain="i18n.hotkeySelectSituationExplain()" />
        <key-line :keys="i18n.hotkeyCreateCurrentKeys()"
          :explain="i18n.hotkeyCreateCurrentExplain()" />
        <key-line :keys="i18n.hotkeyCreateSituationKeys()"
          :explain="i18n.hotkeyCreateSituationExplain()" />
        <key-line :keys="i18n.hotkeyCreateSourceKeys()"
          :explain="i18n.hotkeyCreateSourceExplain()" />
        <key-line :keys="i18n.hotkeyCreateAssessmentPointKeys()"
          :explain="i18n.hotkeyCreateAssessmentPointExplain()" />
        <key-line :keys="i18n.hotkeyCreateBuildingKeys()"
          :explain="i18n.hotkeyCreateBuildingExplain()" />
        <key-line :keys="i18n.hotkeySelectedEditKeys()"
          :explain="i18n.hotkeySelectedEditExplain()" />
        <key-line :keys="i18n.hotkeySelectedDuplicateKeys()"
          :explain="i18n.hotkeySelectedDuplicateExplain()" />
        <key-line :keys="i18n.hotkeySelectedRemoveKeys()"
          :explain="i18n.hotkeySelectedRemoveExplain()" />
        <key-line :keys="i18n.hotkeySelectedZoomKeys()"
          :explain="i18n.hotkeySelectedZoomExplain()" />
        <key-line :keys="i18n.hotkeyDeselectAllKeys()"
          :explain="i18n.hotkeyDeselectAllExplain()" />
      </div>
    </div>
    <div class="right">
      <div class="table tools">
        <key-line>
          <h3>{{ i18n.hotkeyToolsTitle() }}</h3>
        </key-line>
        <key-line :keys="i18n.hotkeyNotificationPopupKeys()"
          :explain="i18n.hotkeyNotificationPopupExplain()" />
        <key-line :keys="i18n.hotkeyLayerPopupKeys()"
          :explain="i18n.hotkeyLayerPopupExplain()" />
        <key-line :keys="i18n.hotkeyInfoPopupKeys()"
          :explain="i18n.hotkeyInfoPopupExplain()" />
        <key-line :keys="i18n.hotkeySearchPopupKeys()"
          :explain="i18n.hotkeySearchPopupExplain()" />
        <key-line :keys="i18n.hotkeyMeasureToolKeys()"
          :explain="i18n.hotkeyMeasureToolExplain()" />
        <key-line :keys="i18n.hotkeyLeftPanelToggleKeys()"
          :explain="i18n.hotkeyLeftPanelToggleExplain()" />
        <key-line :keys="i18n.hotkeyManualPanelToggleKeys()"
          :explain="i18n.hotkeyManualPanelToggleExplain()" />
        <key-line :keys="i18n.hotkeyHotKeyPanelToggleKeys()"
          :explain="i18n.hotkeyHotKeyPanelToggleExplain()" />
        <key-line :keys="i18n.hotkeyEscapeFocusKeys()"
          :explain="i18n.hotkeyEscapeFocusExplain()" />
        <key-line :keys="i18n.hotkeyTurnOffHotKeysKeys()"
          :explain="i18n.hotkeyTurnOffHotKeysExplain()" />
      </div>
      <div class="table map">
        <key-line>
          <h3>{{ i18n.hotkeyMapTitle() }}</h3>
        </key-line>
        <key-line :keys="i18n.hotkeyMapZoomInKeys()"
          :explain="i18n.hotkeyMapZoomInExplain()" />
        <key-line :keys="i18n.hotkeyMapZoomOutKeys()"
          :explain="i18n.hotkeyMapZoomOutExplain()" />
        <key-line :keys="i18n.hotkeyMapPanLeftKeys()"
          :explain="i18n.hotkeyMapPanLeftExplain()" />
        <key-line :keys="i18n.hotkeyMapPanRightKeys()"
          :explain="i18n.hotkeyMapPanRightExplain()" />
        <key-line :keys="i18n.hotkeyMapPanDownKeys()"
          :explain="i18n.hotkeyMapPanDownExplain()" />
        <key-line :keys="i18n.hotkeyMapPanUpKeys()"
          :explain="i18n.hotkeyMapPanUpExplain()" />
        <key-line :keys="i18n.hotkeyMapLabelDisplayModeKeys()"
          :explain="i18n.hotkeyMapLabelDisplayModeExplain()" />
        <key-line :keys="i18n.hotkeyMapResetButtonKeys()"
          :explain="i18n.hotkeyMapResetButtonExplain()" />
        <key-line :keys="i18n.hotkeyMapDragToZoomKeys()"
          :explain="i18n.hotkeyMapDragToZoomExplain()" />
      </div>
    </div>
  </div>

  <div class="versions">
    <div>{{ i18n.hotkeyPanelApplicationVersion(applicationVersion) }}</div>
    <div>{{ i18n.hotkeyPanelDatabaseVersion(databaseVersion) }}</div>
  </div>
  <div v-vector="img.iconClose()"
    tabindex="0"
    role="button"
    :aria-label="i18n.ariaLabelClose()"
    @click="closeHelp()"
    @keyup.enter.space="closeHelp()"
    class="exit"></div>
</dialog>

<style scoped lang="scss">
@import "../../variables.scss";

h3 {
  font-weight: bold;
}

.versions {
  padding: var(--half-spacer);
  color: var(--grey);
  border-top: 1px solid var(--light-grey);

  div {
    font-size: 0.8em;
  }
}

.hotKeyContainer {
  background: white;
  padding: 0px;
  max-width: 90vw;
  border: 1px solid var(--grey);
}

.controlPanel {
  display: flex;
  align-items: center;
  background: var(--theme-color-light);
  padding: var(--spacer);
  gap: var(--spacer);
  border: 1px solid var(--theme-color);
  border-right: none;
  border-left: none;
  transition: all var(--anim);
  max-height: 90vh;
  overflow: auto;

  &.disabled {
    color: var(--text-color);
    background-color: var(--warning-color-light);
    border: 1px solid var(--warning-color);
    border-right: none;
    border-left: none;
  }

  button {
    @include button;
  }
}

.panels {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "left right";
  padding: var(--half-spacer) var(--spacer);
  gap: var(--spacer);
  overflow: auto;

  .left {
    grid-area: left;
  }
  .right {
    grid-area: right;
  }
  .left, .right {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacer) * 2)
  }
}

.table {
  display: grid;
  grid-template-columns: 100px auto;
  grid-auto-rows: min-content;
  gap: var(--half-spacer) var(--spacer);
}

h2,h3 {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-grey);
  padding: var(--half-spacer) var(--spacer);
}

.exit {
  padding: var(--spacer);
  line-height: 0px;
  cursor: pointer;
  background: transparent;
  transition: background var(--anim);
  position: absolute;
  right: var(--half-spacer);
  top: var(--half-spacer);

  svg {
    width: 12px;
    height: 12px;
    transition: fill var(--anim);
    fill: black;
  }

  &:hover {
    background: var(--theme-color);

    svg {
      fill: white;
    }
  }
}
</style>
