<vue-gwt:import class="nl.overheid.aerius.wui.application.components.divider.DividerType" />

<hr :class='map(
  e("big-divider", DividerType.safeValueOf(type) == DividerType.BIG),
  e("small-divider", DividerType.safeValueOf(type) == DividerType.SMALL),
  e("subdivider", DividerType.safeValueOf(type) == DividerType.SUB))' />

<style lang="scss" scoped>
.big-divider {
  margin: 0;
  width: 100%;
  border-top: 3px solid var(--light-grey);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.small-divider {
  width: 100%;
  border-top: 2px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.subdivider {
  width: 100%;
  border-top: 2px dotted white;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
</style>
