<div class="tab-header-container"
  role="tablist">
  <div class="tab-header"
    v-for="Object option in options"
    :id="idFunc.apply(option)"
    tabindex="0"
    role="tab"
    @keydown.enter.space="selectTab(option)"
    @click="selectTab(option)"
    :class='map("selected", selected == option)'>
    <slot v-bind:option="option">{{ option }}</slot>
  </div>
</div>

<style lang="scss" scoped>
.tab-header-container {
  display: flex;
  flex-direction: row;
  background: white;
}

.tab-header {
  padding: var(--half-spacer) var(--spacer);
  transition: all var(--anim);

  &:hover {
    background: var(--back-color);
    cursor: pointer;
  }

  &.selected {
    background: var(--back-color);
  }
}

</style>
