<div class="tooltipContainer">
  <div ref="container"
    class="container"
    @mouseover="showing = true"
    @mouseout="showing = false">
    <slot></slot>
  </div>
  <div v-show="showing && !disabled"
    ref="tooltip"
    class="tooltip"
    :style='map(e("left", tooltipLeft), e("top", tooltipTop))'>
    {{ title }}</div>
</div>

<style lang="scss" scoped>
.tooltipContainer {
  display: grid;
  place-items: stretch;
  align-self: stretch;

  .container {
    display: grid;
    place-items: stretch;
  }
}

.tooltip {
  border-radius: 4px;
  border: 1px solid var(--back-color);

  position: fixed;
  pointer-events: none;
  padding: 0 var(--spacer);
  background: var(--theme-color);
  color: white;
  z-index: 5000;
  line-height: 30px;
}
</style>
