<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.offroad.OffRoadType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.offroad.StandardOffRoadMobileSource"/>

<div v-if="isSourceAvailable()" class="combustionPlantContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.esOffRoadMobileStandardDescription()"
    name="combustionPlantActivityDescription"
    :errorValidation="v.descriptionV"
    :errorMessage="this::descriptionError">
    <input type="text"
      id="combustionPlantActivityDescription"
      v-validate:descriptionV.input
      v-model="description"
      :aria-label="i18n.ariaDescription()"
      v-debug:combustionPlantActivityDescription />
  </labeled-input>
  <labeled-input label="Type of plant"
    name="plantType">
    <simple-listbox id="plantType"
      v-debug:plantType
      :options="plantTypes"
      :selected="plantType"
      :placeholder="i18n.dropdownPlaceholder()"
      @select='selectPlantType((String) $event)'>
      <template slot-scope="{ String option }">{{ option }}</template>
    </simple-listbox>
  </labeled-input>
  <labeled-input label="Fuel type"
    name="fuelType">
    <simple-listbox id="fuelType"
      v-debug:fuelType
      :options="fuelTypes"
      :selected="fuelType"
      :placeholder="i18n.dropdownPlaceholder()"
      @select='selectFuelType((String) $event)'>
      <template slot-scope="{ String option }">{{ option }}</template>
    </simple-listbox>
  </labeled-input>
  <labeled-input label="Put into operation"
    name="startDate">
    <input type="date"
      id="startDate"
      v-model="startDate">
  </labeled-input>
  <labeled-input label="Operating hours per year"
    name="operatingHours"
    :unit="i18n.unitSingularHourPerYear()">
    <input type="number"
      id="operatingHours"
      v-model="operatingHours">
  </labeled-input>
  <labeled-input label="Rated thermal input"
    name="thermalInput"
    :unit="i18n.unitSingularMW()">
    <input type="number"
      id="thermalInput"
      v-model="thermalInput">
  </labeled-input>
  <labeled-input label="Applicable ELV"
    name="applicableELV"
    :unit="i18n.unitSingularMgPerNmCubed()">
    <input type="number"
      id="applicableELV"
      v-model="applicableELV">
  </labeled-input>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";

.combustionPlantContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
