<vue-gwt:import class="java.util.Map" />

<div class="singleColumn">
  <sub-source-validation-behaviour
    :errors="true"
    :warnings="false"
    :selectedIndex="selectedIndex"
    :subSources="source.getSubSources()"
    @subSourceErrors="setSubSourceErrors((Map) $event)"
    @subSourceWarnings="setSubSourceWarnings((Map) $event)"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <div class="notice">Note: This source type is currently preview-only, it does not have any emissions, and will not be included in any calculations or exports</div>

  <labeled-input label="Area"
    class="areaField"
    name="area">
    <simple-listbox id="area"
      v-debug:area
      :options="areas"
      :selected="area"
      :placeholder="i18n.dropdownPlaceholder()"
      @select='selectArea((String) $event)'>
      <template slot-scope="{ String option }">{{ option }}</template>
    </simple-listbox>
  </labeled-input>

  <modify-list :presenter="presenter"
    :selected="selected()"
    :enableNameLabels="false"
    :enableEdit="false"
    :typeText="i18n.esModifyTypeSubSource()"
    class="modifyToolbox" />

  <sub-source-empty-error
    :displayProblems="displayProblems"
    :subSources="source.getSubSources()" />

  <!-- Wrap in another div so :first-child and :last-child dynamic works -->
  <div>
    <vertical-collapse-group>
      <sub-source-validated-row v-for="(CombustionPlantActivity subSource, idx) in source.getSubSources()"
        :key="idx"
        :title="i18n.esModifyTypeSubSourceNumbered(idx + 1)"
        :selected="isSelected(idx)"
        :errors="hasErrors(idx)"
        :warnings="hasWarnings(idx)">
        <combustion-plant-emission-editor-row v-debug='"sourcelistRow" + idx'
          @select="selectSource(idx, subSource)"
          :source="subSource"
          :sectorId="source.getSectorId()"
          :selected="isSelected(idx)" />
      </sub-source-validated-row>
    </vertical-collapse-group>
  </div>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";
@import "../../modify/styles.scss";

.areaField {
  margin: 0px var(--spacer);
}
.notice {
  margin: 0px var(--spacer);
  background: var(--warning-color);
  color: white;
  padding: var(--spacer);
}
</style>
