<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.combustion.CombustionPlantActivity"/>

<div v-if="source != null" class="combustionContainer">
  <h3 class="header">Medium combustion plant</h3>
  <detail-stat
    label="Jurisdiction"
    :value="source.getArea()" />
  <template v-for="(CombustionPlantActivity activity, idx) in source.getSubSources()">
    <h4>Activity {{ idx + 1 }}</h4>
    <detail-stat
      label="Description"
      :value="activity.getDescription()" />
    <detail-stat
      label="Plant type"
      :value="activity.getPlantType()" />
    <detail-stat
      label="Fuel type"
      :value="activity.getFuelType()" />
    <detail-stat
      label="Start date"
      :value="activity.getStartDate()" />
    <detail-stat
      label="Operating hours"
      :value="activity.getOperatingHours()" />
    <detail-stat
      label="Thermal input"
      :value="activity.getThermalInput()" />
    <detail-stat
      label="Applicable ELV"
      :value="activity.getApplicableELV()" />
  </template>
</div>

<style scoped lang="scss">
h4 {
  margin: 0px;
}
.combustionContainer {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}
</style>
