<div class="legend">
  <div class="legend-column">
    <div v-for="(String label, index) in getTranslatedLabels()"
      class="nature-area-legend-item">
      <div class="color" :style="getBackgroundColorStyle(index)"></div>
      <div class="label">{{ label }}</div>
    </div>
  </div>

  <div class="legend-column">
    <div v-for="LegendPair src in markerLegend" class="marker-legend-item">
      <img v-bind:src="src.getMarker().getSafeUri().asString()" v-bind:alt="src.getText()"/>
      <span>{{ src.getText() }}</span>
    </div>
  </div>
</div>

<style scoped lang="scss">
.legend {
  width: 100%;
  display: flex;
  gap: 0;
  font-size: 9pt;

  &-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.nature-area-legend-item {
  width: 100%;
  height: 24pt;
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.marker-legend-item {
  width: 100%;
  height: 36pt;
  display: inline-flex;
  align-items: center;
  gap: 9pt;

  img {
    height: 25pt;
  }

  span {
    height: 100%;
  }
}

.color {
  width: 12pt;
  height: 12pt;
  align-self: center;
  border: .75pt solid #58595b;
}

.label {
  min-width: 35%;
  font-weight: normal;
  font-size: 9pt;
  padding-left: 6pt;
}
</style>
