<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ProcurementPolicy"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultType"/>

<div :id="this.ID" class="procurement-policy-results">

  <div v-for="ProcurementPolicy policy in ProcurementPolicy.values()">
    <h3>{{ i18n.pdfResultsProcurementHeader(policy) }}</h3>
    <procurement-policy-thresholds-table
      class="threshold-table"
      v-if="getResultsSummary(policy) != null"
      :situationResultsSummary="getResultsSummary(policy)"
      :procurementPolicy="policy"
      :emissionResultType="EmissionResultType.DEPOSITION"/>
  </div>
</div>

<style scoped lang="scss">
div.procurement-policy-results {
  page-break-before: always;
  page-break-after: always;

  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}


h3 {
  font-size: 9pt;
  font-weight: 500;
  margin-bottom: 12pt;
}

.threshold-table {
  margin: 0;
  width: var(--page-max-width);
}
</style>
