<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ProcurementPolicy"/>

<table aria-describedby="pdfOverviewResults" class="with-header">
  <tr>
    <th scope="row"><h3 id="pdfOverviewResults">{{ i18n.pdfOverviewResults() }}</h3></th>
    <th scope="col" v-for="ProcurementPolicy procurementPolicy in procurementPolicies">
      {{ i18n.resultsProcurementPolicy(procurementPolicy) }}
    </th>
  </tr>
  <tr>
    <th scope="row">{{ i18n.pdfOverviewResultsProcurementPolicyAboveThreshold() }}</th>
    <td v-for="ProcurementPolicy procurementPolicy in procurementPolicies">
      {{ isThresholdExceeded(procurementPolicy) }}
      <template v-if="procurementPolicy == ProcurementPolicy.WNB_LBV">
        {{ i18n.pdfOverviewResultsProcurementPolicyNumberOfAreas(getNumberOfAreasAboveThresholdValue(procurementPolicy)) }}
      </template>
    </td>
  </tr>
  <tr>
    <th scope="row">{{ i18n.pdfOverviewResultsProcurementPolicySumContribution() }}</th>
    <td v-for="ProcurementPolicy procurementPolicy in procurementPolicies">
      {{ getSumContribution(procurementPolicy) }}
    </td>
  </tr>
  <tr>
    <th scope="row">{{ i18n.pdfOverviewResultsProcurementPolicyMaxContribution() }}</th>
    <td v-for="ProcurementPolicy procurementPolicy in procurementPolicies">
      {{ getMaxContribution(procurementPolicy) }}
    </td>
  </tr>
  <tr>
    <th scope="row">{{ i18n.pdfOverviewResultsProcurementPolicyHexagonSet() }}</th>
    <td v-for="ProcurementPolicy procurementPolicy in procurementPolicies">
      {{ i18n.resultsHexagonType(procurementPolicy.getTheme(), procurementPolicy.getSummaryHexagonType()) }}
    </td>
  </tr>
  <tr>
    <th scope="row">{{ i18n.pdfOverviewResultsProcurementPolicyCountReceptors() }}</th>
    <td v-for="ProcurementPolicy procurementPolicy in procurementPolicies">
      {{ getCountReceptors(procurementPolicy) }}
    </td>
  </tr>
</table>

<style lang="scss" scoped>
h3 {
  margin-bottom: 0;
  font-size: 9pt;
  font-weight: 500;
}

table {
  max-width: var(--page-max-width);

  &.with-header {
    margin-top: 1em;
  }

  tr {
    min-height: 12pt;
    line-height: 12pt;
  }

  th {
    color: #808183;
    text-align: left;

    h3 {
      color: var(--text-color);
    }

    &[scope='row'] {
      min-width: 65mm;
      vertical-align: top;
    }

    &[scope='col'] {
      width: 3.3cm;
      vertical-align: bottom;
    }
  }

  td {
    text-align: left;
    word-wrap: normal;
  }
}
</style>
