<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.AssessmentArea"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType"/>

<div>
  <div v-if="render">
    <h3 id="results-summary-table-intro">{{ intro }}</h3>

    <table aria-describedby="results-summary-table-intro"
      v-if="!isPdfOwN2000Permit() && areas.length > 0">
      <thead>
      <tr>
        <th scope="col"></th>
        <th v-for="ResultStatisticType type of resultStatisticTypes"
            :key="type.name()" class="statistic" scope="col">
          {{ i18n.resultsStatistic(emissionResultType, type, displayType, i18n.resultsTotalName(applicationContext.getTheme())) }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ i18n.pdfResultSummaryTableTotal() }}</td>
        <td v-for="ResultStatisticType type of resultStatisticTypes"
            :key="type.name()"
            class="resultNumberColumn">{{ formatValueFor(getSummary().getStatistics(), type) }}</td>
      </tr>
      </tbody>
    </table>
    <div v-else>
      {{ noResultsText() }}
    </div>

    <table aria-describedby="results-summary-table-intro" v-if="areas.length > 0">
      <thead>
      <tr>
        <th scope="col">{{ i18n.pdfResultSummaryTablePerArea() }}</th>
        <th v-for="ResultStatisticType type of resultStatisticTypes"
            :key="type.name()" class="statistic" scope="col">
          {{ i18n.resultsStatistic(emissionResultType, type, displayType, i18n.resultsTotalName(applicationContext.getTheme())) }}
        </th>
        <th v-if="isPdfOwN2000Permit()" scope="col">{{ i18n.pdfPermitDemandCheckColumtitle() }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="SituationResultsAreaSummary area of areas">
        <td>{{ area.getAssessmentArea().getName() }} ({{ area.getAssessmentArea().getId() }})</td>
        <td v-for="ResultStatisticType type of resultStatisticTypes"
            :key="type.name()"
            class="resultNumberColumn">
          {{ formatValueFor(area.getStatistics(), type) }}
        </td>
        <td v-if="isPdfOwN2000Permit()">
          <i v-if="isDemandCheck(area.getStatistics())" class="icon icon-available"><i class="path1"></i><i class="path2"></i></i>
          <i v-else class="icon icon-not-available"><i class="path1"></i><i class="path2"></i></i>
        </td>
      </tr>
      </tbody>
    </table>

    <div v-if="omittedAreas.length > 0">
      <h4 id="results-omitted-areas">{{ i18n.resultsSummaryTableOmittedAreaTitle(theme) }}</h4>
      <table aria-describedby="results-omitted-areas">
        <tbody>
          <tr v-for="AssessmentArea area in omittedAreas">
            <td>{{ area.getName() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style lang="scss" scoped>
  @import "../pdf-table.scss";

  table {
    margin-top: 30px;
    width: 100%;
  }

  .statistic {
    width: calc(100% / 7);
  }
  .resultNumberColumn {
    text-align: right;
    padding-right: 1.4rem;
  }
</style>
