<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsAreaSummary"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsEdgeReceptor"/>

<div v-if="render">
  <span :id="this.ID"/>
  <h3 id="results-edge-effects">{{ intro }}</h3>
  <p v-if="getSummary().getAreaStatistics().length == 0">{{ noResultsText() }}</p>
  <div v-for="SituationResultsAreaSummary d in getSummary().getAreaStatistics()">
    <h4>{{ d.getAssessmentArea().getName() }}</h4>
    <table aria-describedby="results-edge-effects">
      <thead>
      <tr>
        <th scope="col">{{ i18n.resultsEdgeEffectReceptorId() }}</th>
        <th scope="col">{{ i18n.resultsScenarioResultType(getResultContext().getGeneralizedEmissionResultType(), getResultContext().getResultType(), depositionType) }}</th>
        <th scope="col">{{ i18n.resultsEdgeEffectReceptorReference(depositionType) }}</th>
        <th scope="col" v-if="showOffSiteReductionResultsColumn">{{ i18n.resultsEdgeEffectReceptorOffSiteReduction(depositionType) }}</th>
        <th scope="col">{{ i18n.resultsEdgeEffectReceptorProposed(getResultContext().getResultType(), depositionType) }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="SituationResultsEdgeReceptor receptor in d.getEdgeReceptors()">
        <td v-debug:edgeEffectReceptorId>{{ receptor.getReceptorId() }}</td>
        <td v-debug:edgeEffectReceptorResult>{{ formatValueFor(receptor.getResult()) }}</td>
        <td v-debug:edgeEffectReceptorReferenceResult>{{ formatValueFor(receptor.getReferenceResult()) }}</td>
        <td v-if="showOffSiteReductionResultsColumn" v-debug:edgeEffectReceptorOffSiteReductionResult>{{ formatValueFor(receptor.getOffSiteReductionResult()) }}</td>
        <td v-debug:edgeEffectReceptorProposedResult>{{ formatValueFor(receptor.getProposedResult()) }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<style lang="scss" scoped>
@import "../pdf-table.scss";

h3 {
  margin-bottom: 4mm;
}
h4 {
  font-weight: normal;
}

table {
  width: var(--page-max-width);
  margin-bottom: 4mm;
}
</style>
