<vue-gwt:import class="com.google.gwt.resources.client.DataResource"/>

<div>
  <h3>{{ i18n.pdfResultSummaryMapIntro(printOwN2000Context.getPdfProductType()) }}</h3>

  <div class="container">
    <ol3-map :eventBus="eventBus" ref="map"/>
  </div>
  <color-labels-legend-print v-if="legend != null" :legend="legend" :markerLegend="markerLegend" class="legend"/>
  <p>{{ i18n.pdfResultSummaryMapOutro() }}</p>
</div>


<style lang="scss" scoped>
.container {
  border: solid 1px #000000;
  width: var(--page-max-width);
  height: calc(var(--page-max-height) * 0.7);
  margin-bottom: var(--spacer);
}

.legend {
  width: var(--page-max-width);
}
</style>
