<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ScenarioResultType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.CustomCalculationPointResult"/>

<table aria-describedby="results-calculation-points-intro" v-if="render">
  <thead>
  <tr>
    <th scope="col" id="results-calculation-points-intro">{{ i18n.pdfResultSummaryTablePerCalculationPoint() }}</th>
    <th scope="col">{{ i18n.calculationPointName() }}</th>
    <th scope="col">{{ i18n.infoPanelCoordinateLabel() }}</th>
    <th scope="col">
      {{ i18n.resultsScenarioResultType(getResultContext().getGeneralizedEmissionResultType(), getResultContext().getResultType(), depositionType) }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr v-for="CustomCalculationPointResult p in getCalculationPoints()"
    :key="p.getCustomPointId()">
    <td>{{ p.getCustomPointId() }}</td>
    <td>{{ getCustomPointName(p.getCustomPointId()) }}</td>
    <td>{{ getCustomPointLocation(p.getCustomPointId()) }}</td>
    <td>{{ formatValueFor(p.getResult()) }}
      <div class="cell-range-indicator" v-if="p.hasResult()" :style='map(e("background", getColorForValue(p.getResult())))'></div>
    </td>
  </tr>
  </tbody>
</table>

<style lang="scss" scoped>
@import "../pdf-table.scss";

table {
  width: var(--page-max-width);
}

.cell-range-indicator {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  margin: 1px 1px 1px 5px;
}
</style>
