<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.EmissionSourceType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.InlandShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.InlandShippingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.MooringInlandShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.MooringInlandShippingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.StandardInlandShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.StandardMooringInlandShipping"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.shipping.inland.inland.InlandMovementComponent.InlandMovementType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<table class="details" v-if="hasSubSources()"
  :aria-label="i18n.pdfEmissionSourceDetailsShippingTableDescription()">
  <thead v-if="isESType(EmissionSourceType.SHIPPING_INLAND_DOCKED)">
  <tr>
    <th scope="col">{{ i18n.esShipDescription() }}</th>
    <th scope="col">{{ i18n.esShippingStandardShipCode() }}</th>
    <th scope="col">{{ i18n.esShipPercentageLoad() }}</th>
    <th scope="col">{{ i18n.esShipsVisitsPerTimeUnit() }}</th>
    <th scope="col">{{ i18n.esShipAverageResidenceTime() }}</th>
    <th scope="col">{{ i18n.esShippingShorePowerFactor() }}</th>
    <th scope="col">{{ i18n.esSubstance() }}</th>
    <th scope="col">{{ i18n.esTitle() }}</th>
  </tr>
  </thead>

  <thead v-if="isESType(EmissionSourceType.SHIPPING_INLAND)">
  <tr>
    <th scope="col">{{ i18n.esShipDescription() }}</th>
    <th scope="col">{{ i18n.esShippingStandardShipCode() }}</th>
    <th scope="col">{{ i18n.esMovement(InlandMovementType.A_TO_B) }}</th>
    <th scope="col">{{ i18n.esShipPercentageLoad()}}</th>
    <th scope="col">{{ i18n.esMovement(InlandMovementType.B_TO_A) }}</th>
    <th scope="col">{{ i18n.esShipPercentageLoad()}}</th>
    <th scope="col">{{ i18n.esSubstance() }}</th>
    <th scope="col">{{ i18n.esTitle() }}</th>
  </tr>
  </thead>

  <template v-if="isESType(EmissionSourceType.SHIPPING_INLAND_DOCKED)">
    <tbody class="grouped" v-for="(MooringInlandShipping row, index) in mooringInlandSource.getSubSources()">
    <template v-if="row.getMooringInlandShippingType() == MooringInlandShippingType.STANDARD">
      <tr v-for="(Substance substance, index) in substances">
        <td v-if="index == 0">{{ row.getDescription() }}</td>
        <td v-else></td>
        <td v-if="index == 0">{{ getDescriptionFromCode(((StandardMooringInlandShipping) row).getShipCode()) }}</td>
        <td v-else></td>
        <td v-if="index == 0">{{ MessageFormatter.formatPercentageWithUnit(row.getPercentageLaden(), 1) }}</td>
        <td v-else></td>
        <td v-if="index == 0">{{ row.getShipsPerTimeUnit() }} {{ i18n.unitTime(row.getTimeUnit()) }}</td>
        <td v-else></td>
        <td v-if="index == 0">{{ row.getAverageResidenceTime() }}{{ i18n.unitSingularHour() }}</td>
        <td v-else></td>
        <td v-if="index == 0">{{ MessageFormatter.formatPercentageWithUnit(row.getShorePowerFactor() * 100, 1) }}</td>
        <td v-else></td>
        <td>{{ i18n.pollutant(substance) }}</td>
        <td class="numberColumn">{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</td>
      </tr>
    </template>
    </tbody>
  </template>

  <template v-if="isESType(EmissionSourceType.SHIPPING_INLAND)">
    <tbody class="grouped" v-for="(InlandShipping row, index) in inlandSource.getSubSources()">
    <template v-if="row.getInlandShippingType() == InlandShippingType.STANDARD">
      <tr v-for="(Substance substance, index) in substances">
        <td v-if="index == 0">{{ row.getDescription() }}</td>
        <td v-else></td>
        <td v-if="index == 0">{{ getDescriptionFromCode(((StandardInlandShipping) row).getShipCode()) }}</td>
        <td v-else></td>
        <td v-if="index == 0">{{ row.getMovementsAtoBPerTimeUnit() }} {{ i18n.unitTime(row.getTimeUnitAtoB()) }}</td>
        <td v-else></td>
        <td v-if="index == 0">{{ MessageFormatter.formatPercentageWithUnit(row.getPercentageLadenAtoB(), 0) }}</td>
        <td v-else></td>
        <td v-if="index == 0">{{ row.getMovementsBtoAPerTimeUnit() }} {{ i18n.unitTime(row.getTimeUnitBtoA()) }}</td>
        <td v-else></td>
        <td v-if="index == 0">{{ MessageFormatter.formatPercentageWithUnit(row.getPercentageLadenBtoA(), 0) }}</td>
        <td v-else></td>
        <td>{{ i18n.pollutant(substance) }}</td>
        <td class="numberColumn">{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</td>
      </tr>
    </template>
    </tbody>
  </template>
</table>

<style lang="scss" scoped>
  @import "../../pdf-table.scss";
</style>
