<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.manure.ManureStorage"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.manure.StandardManureStorage"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.manure.CustomManureStorage"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.manure.ManureStorageType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div>
  <div class="margin">
    <h3>{{ i18n.esManureStorageDetailTitle() }}</h3>
    <div v-for="(ManureStorage row, index) in source.getSubSources()">
      <divider type="small" />
      <aer-manure-storage-standard-detail v-if="row.getManureStorageType() == ManureStorageType.STANDARD"
        :source="(StandardManureStorage) row"
        :idx="index" />
      <aer-manure-storage-custom-detail v-if="row.getManureStorageType() == ManureStorageType.CUSTOM"
        :source="(CustomManureStorage) row"
        :idx="index"/>
    </div>
  </div>
  <divider type="big" />
  <div class="margin">
    <h3>{{ totalEmissionTitle }}</h3>
    <divider type="small" />
    <div class="detail-emission-container">
      <div>{{ i18n.esTitle() }}</div>
      <div class="detail-emission-subcontainer">
        <div class="detail-emission-substance" v-for="Substance substance in substances">
          <div class="detail-label" v-debug='"manureDetailTotalSubstance-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
          <div v-debug='"manureDetailTotalEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
.margin {
  margin: 10px;
  margin-top: 0px;
}
</style>
