<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.VehicleType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.StandardVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.ColdStartStandardVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.CustomVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.SpecificVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.road.standard.StandardRoadCategoryUtil" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.SimpleCategory" />

<div class="vehicles-container">
  <h3>{{ i18n.esRoadDetailTrafficTitleExtended(mode) }}</h3>
  <vertical-collapse>
    <div v-if="hasVehicleType(VehicleType.STANDARD)">
      <vertical-collapse-group>
        <div v-for="(StandardVehicles standardVehicle, idx) in getVehiclesByType(VehicleType.STANDARD)"
          :key="idx">
          <divider type="small" />
          <h4 v-debug='"detailRoadStandardVehicleTitle-" + idx'>{{ i18n.esRoadSelectType(VehicleType.STANDARD) }}</h4>
          <detail-stat :show="StandardRoadCategoryUtil.hasMaximumSpeed(standardVehicle.getMaximumSpeed())"
            :debugId='"detailRoadStandardVehicleMaxSpeed-" + idx'
            :label="i18n.esRoadStandardRoadSpeed()"
            :value="StandardRoadCategoryUtil.roadCategoryDisplayText(i18n, standardVehicle)" />
          <detail-stat :show="!StandardRoadCategoryUtil.hasMaximumSpeed(standardVehicle.getMaximumSpeed())"
            division="1fr 0px"
            :debugId='"detailRoadStandardVehicleMaxSpeed-" + idx'
            :label="StandardRoadCategoryUtil.roadCategoryDisplayText(i18n, standardVehicle)" />
          <detail-stat :label="i18n.esRoadDetailTrafficTitle(mode)">
            <detail-stat :division="getDetailStatDivision()">
              <div slot="label" v-debug='"detailRoadStandardVehicleTraffic-" + idx'>{{ i18n.esRoadDetailStandardVehiclesTitle(mode) }} {{ i18n.unitTime(standardVehicle.getTimeUnit()) }}</div>
              <div v-if="stagnationEnabled" class="label">{{ i18n.esRoadDetailStandardStagnationTitle() }}</div>
            </detail-stat>
          </detail-stat>
          <detail-stat v-for="(SimpleCategory vehicleType, typeIdx) in vehicleTypes"
            v-debug='"detailRoadStandardVehicleTypeDescription-" + idx + "-" + typeIdx'
            :label="vehicleType.getDescription()">
            <detail-stat v-debug:values debugId="stagnation"
              :division="getDetailStatDivision()">
              <div slot="label">{{ getStandardVehiclesPerTimeUnit(standardVehicle, vehicleType) }}</div>
              <div>{{ stagnationEnabled ? getStandardStagnationPerTimeUnit(standardVehicle, vehicleType) : "" }}</div>
            </detail-stat>
          </detail-stat>
        </div>
      </vertical-collapse-group>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="hasVehicleType(VehicleType.STANDARD_CS)">
      <vertical-collapse-group>
        <div v-for="(ColdStartStandardVehicles standardVehicle, idx) in getVehiclesByType(VehicleType.STANDARD_CS)"
          :key="idx">
          <divider type="small" />
          <h4 v-debug='"detailRoadStandardVehicleTitle-" + idx'>{{ i18n.esRoadSelectType(VehicleType.STANDARD_CS) }}</h4>
          <detail-stat :debugId='"detailColdStartStandardVehicleTraffic-" + idx'
            :label="i18n.esRoadDetailTrafficTitle(mode)"
            :value='i18n.esRoadDetailStandardVehiclesTitle(mode) + " " + i18n.unitTime(standardVehicle.getTimeUnit())' />
          </detail-stat>
          <detail-stat v-for="(SimpleCategory vehicleType, typeIdx) in vehicleTypes"
            :debugId='"detailColdStartStandardVehicleTypeDescription-" + idx + "-" + typeIdx'
            :label="vehicleType.getDescription()"
            :value="getColdStartStandardVehiclesPerTimeUnit(standardVehicle, vehicleType)" />
        </div>
      </vertical-collapse-group>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="hasVehicleType(VehicleType.CUSTOM)">
      <vertical-collapse-group>
        <div v-for="(CustomVehicles customVehicle, idx) in getVehiclesByType(VehicleType.CUSTOM)"
          :key="idx">
          <divider type="small" />
          <h4 v-debug='"detailRoadCustomVehicleTitle-" + idx'>{{ i18n.esRoadSelectType(VehicleType.CUSTOM) }}</h4>
          <detail-stat :debugId='"detailRoadCustomVehicleDescription-" + idx'
            :label="i18n.esRoadDetailCustomLabel()"
            :value="customVehicle.getDescription()" />
          <detail-stat :debugId='"detailRoadCustomVehicleAmount-" + idx'
            :label="i18n.esRoadCustomNumberOfVehicles(mode)"
            :value='i18n.decimalNumberFixed(customVehicle.getVehiclesPerTimeUnit(), 0) + " " + i18n.unitTime(customVehicle.getTimeUnit())' />
          <detail-stat v-if="includeVehicleType"
            :label="i18n.esRoadVehicleTypeLabel()"
            :value="getColdStartVehicleType(customVehicle)" />
          <div class="detail-emission-container padding-top">
            <div class="detail-label">{{ i18n.esRoadDetailCustomEmissionPerVehicle() }}</div>
            <div class="detail-emission-subcontainer">
              <div v-for="(Substance substance, index) in substances" class="detail-emission-substance">
                <div class="detail-label">{{ i18n.pollutant(substance) }}</div>
                <div v-debug='"detailRoadCustomVehicleSubstance-" + idx + "-" + substance.name()'>{{ getEmissionFactorWithUnit(customVehicle, substance) }}</div>
              </div>
            </div>
          </div>
        </div>
      </vertical-collapse-group>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="hasVehicleType(VehicleType.SPECIFIC)">
      <vertical-collapse-group>
        <div v-for="(SpecificVehicles specificVehicle, idx) in getVehiclesByType(VehicleType.SPECIFIC)"
          :key="idx">
          <divider type="small" />
          <h4 v-debug='"detailRoadSpecificVehicleTitle-" + idx'>{{ i18n.esRoadSelectType(VehicleType.CUSTOM) }}</h4>
          <detail-stat
            :debugId='"detailRoadSpecificVehicleCode-" + idx'
            :label="i18n.esRoadDetailEuroClass()"
            :value="getSpecificVehicleEuroClass(specificVehicle)" />
          <detail-stat
            :debugId='"detailRoadSpecificVehicleAmount-" + idx'
            :label="i18n.esRoadCustomNumberOfVehicles(mode)"
            :value='i18n.decimalNumberFixed(specificVehicle.getVehiclesPerTimeUnit(), 0) + " " + i18n.unitTime(specificVehicle.getTimeUnit())' />
        </div>
      </vertical-collapse-group>
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../road.scss";
@import "../../../../vertical-collapse.scss";

.vehicles-container {
  display: flex;
  flex-direction: column;

  padding: 10px;
  padding-top: 0;
}

.padding-top {
  padding-top: 10px;
}

h4 {
  margin-bottom: 0;
}
</style>
