<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsAreaSummary" />

<div>
  <div class="tab-content-title">
    <h2 class="tab-content-title-main" id="habitat-table-title">{{ i18n.resultsHabitatsTitle() }}</h2>
    <div class="tab-content-title-header">{{ i18n.resultsStatistic(emissionResultType, surfaceStatisticType, unitDisplayType, i18n.resultsTotalName(applicationContext.getTheme())) }}</div>
    <div class="tab-content-title-header">{{ i18n.resultsHabitatMinimumCriticalLevel(theme, emissionResultType, unitDisplayType) }}</div>
    <simple-listbox v-debug:resultsHabitatStatisticType
      class="tab-content-title-header header-statistic"
      :aria-label="i18n.resultsTableColumnSelection()"
      :options="habitatStatisticTypes"
      :selected="selectionContext.getHabitatStatisticType()"
      @select='selectHabitatStatisticsType((ResultStatisticType) $event)'>
      <template slot-scope="{ ResultStatisticType option }">{{ i18n.resultsStatistic(emissionResultType, option, unitDisplayType, i18n.resultsTotalName(applicationContext.getTheme())) }}</template>
    </simple-listbox>
  </div>
  <div class="collapsible-container"
    role="group"
    :aria-label="i18n.resultsHabitatsGroupLabel()">
    <vertical-collapse-group>
      <collapsible-panel
        class="collapsible-panel"
        v-for="SituationResultsAreaSummary d in context.getActiveResultSummary().getAreaStatistics()"
        :key="d.getAssessmentArea().getId()"
        :title="getTitle(d)"
        :open="isOpen(d.getAssessmentArea().getId())"
        @user-open="openPanel(d)"
        @user-close="closePanel()">
        <button-icon slot="aux"
          :titleText="i18n.resultsZoomToAreaTitle()"
          @click.native.stop='zoomToArea(d)'
          iconClass="icon-map-zoom-to-extend"
          class="zoomToArea"
          v-debug:resultsZoomToArea />
        <results-habitat-list-view
          :context="context"
          :data="d.getHabitatSummaries()"
          :statisticsType="selectionContext.getHabitatStatisticType()"
          :summaryContext="context"
          @toggle-habitat-selection="toggleHabitatSelection((String) $event)"
          @habitat-highlight-active="setHabitatHighlightActive((String) $event)"
          @habitat-highlight-inactive="setHabitatHighlightInactive((String) $event)" />
      </collapsible-panel>
    </vertical-collapse-group>
  </div>
</div>

<style lang="scss" scoped>
@import "../result-view.scss";

.tab-content-title {
  display: grid;
  grid-template-columns: 55fr 10fr 10fr 25fr;
  gap: var(--spacer);
  align-items: center;
}
</style>
