<vue-gwt:import class="nl.overheid.aerius.shared.domain.summary.ResultStatisticType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsHabitatSummary" />

<table class="select-view-container"
  :aria-label="i18n.resultsHabitatTable()">
  <thead>
    <tr>
      <th><span>{{ i18n.resultsHabitatTypeCode() }}</span></th>
      <th><span>{{ i18n.resultsHabitatTypeName() }}</span></th>
      <th><span>{{ i18n.resultsStatistic(emissionResultType, surfaceStatisticType, unitDisplayType, i18n.resultsTotalName(applicationContext.getTheme())) }}</span></th>
      <th><span>{{ i18n.resultsHabitatMinimumCriticalLevel(theme, emissionResultType, unitDisplayType) }}</span></th>
      <th><span>{{ i18n.resultsStatistic(emissionResultType, statisticsType, unitDisplayType, i18n.resultsTotalName(applicationContext.getTheme())) }}</span></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(SituationResultsHabitatSummary row, idx) in data"
      class="select-view-row"
      :class='map("selected", isSelected(row))'
      tabindex="0"
      @mouseover="rowHighlightActive(row)"
      @mouseout="rowHighlightInactive(row)"
      @keyup.enter.space="rowSelectToggle(row)"
      @click="rowSelectToggle(row)">
      <td v-debug='"habitatcode-" + idx'>{{ row.getHabitatType().getCode() }}</td>
      <td v-debug='"habitatname-" + idx'>{{ row.getHabitatType().getName() }}</td>
      <td class="column-right" v-debug='"surfaceOrPointsValue-" + idx'>{{ formatSurfaceOrPointsValue(row) }}</td>
      <td class="column-right" v-debug='"minimum_CL-" + idx'>{{ formatMinimumCriticalLevel(row) }}</td>
      <td class="column-right" v-debug='"depositionValue-" + idx'>{{ formatDepositionValue(row) }}</td>
    </tr>
  </tbody>
</table>

<style scoped lang="scss">
.select-view-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20fr 35fr 10fr 10fr 25fr;
}

th {
  span {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
  }
}

thead,tbody,tr {
  display: contents;
}

.select-view-row {
  &:hover, &.selected {
    td {
      background: var(--theme-color-light);
    }
  }

  td {
    padding: var(--half-spacer) var(--half-spacer);
    cursor: pointer;
    transition: all var(--anim);
  }
}

.column-right {
  text-align: right;
}
</style>
