<div class="confirmContainer"
  :class='map("noPadding", noPadding)'
  v-debug:modifyCancelSaveContainer>
  <vertical-collapse>
    <slot v-if="encumbered && confirm && !prevented" name="encumbered"></slot>
  </vertical-collapse>
  <div class="buttonBar">
   <button v-debug='"buttonCancel" + debugId'
      v-if="hasCancel"
      class="buttonCancel"
      @click='vue().$emit("cancel")'>{{ i18n.esButtonCancel() }}</button>
    <button v-debug='"buttonSave" + debugId'
      v-if="!hideSaveButton"
      class="buttonSave"
      :class='map(e("encumbered", encumbered && !confirm), e("prevented", prevented && confirm), e("float-right", !hasCancel))'
      :disabled="saveDisabled"
      @click='save()'>{{ confirm && !prevented ? i18n.esButtonConfirm() : saveTextData }}</button>
  </div>
  <vertical-collapse>
    <slot v-if="prevented && confirm" name="prevented"></slot>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../variables.scss";
@import "../../vertical-collapse.scss";

.confirmContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  &.noPadding {
    .buttonBar {
      padding: 0px;
    }
  }
}

.float-right {
  margin-left: auto;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: var(--spacer);
  padding-right: var(--spacer);

  .buttonCancel {
    @include button-minimal;
    min-width: 110px;
    align-self: center;

    margin-right: auto;
  }

  .spacer {
    flex-grow: 1;
  }

  .buttonSave {
    @include button;
    min-width: 110px;
    align-items: center;
    transition: color 0.1s ease-out, background 0.1s ease-out, border 0.1s ease-out;

    &.encumbered {
      border-color: var(--warning-color);
      color: var(--text-color);
      background: var(--warning-color-light);
      outline-color: var(--warning-color);

      &:hover {
        background: var(--warning-color);
        color: white !important;
      }
    }

    &.prevented {
      border-color: var(--error-color) !important;
      color: var(--text-color);
      background: var(--error-color-light) !important;
      outline-color: var(--error-color) !important;

      &:hover {
        background: var(--error-color) !important;
        color: white !important;
      }
    }
  }
}
</style>
