<vue-gwt:import class="nl.overheid.aerius.wui.application.components.modify.ModifyListCustomButton" />
<div class="buttons">
  <tooltip :title="i18n.esButtonNewSource(typeText)">
    <button-icon :aria-label="i18n.esButtonNewSource(typeText)"
      @select="newEntity()"
      class="btn"
      :iconClass="newIconClass"
      :fontSize="iconFontSize"
      v-debug='debugId + "sourceListButtonNewSource"' />
  </tooltip>
  <tooltip v-for="ModifyListCustomButton cb in customButtonsLeft"
    :title="cb.title()">
    <button-icon :aria-label="cb.ariaLabel()"
      class="btn"
      @select="cb.select()"
      :iconClass="cb.iconClass()"
      :fontSize="iconFontSize"
      v-debug='cb.debugId()' />
  </tooltip>
  <tooltip :title="i18n.clButtonAutomaticallyPlacePoints()">
    <button-icon :aria-label="i18n.clButtonAutomaticallyPlacePoints()"
      class="btn"
      v-if="enableAutomaticPlacement"
      @select="automaticPlacement()"
      iconClass="icon-btn-automatic-assessment-points"
      :fontSize="iconFontSize"
      v-debug='debugId + "sourceListButtonAutomaticPlacement"' />
  </tooltip>

  <div style="width: 100%"></div>

  <tooltip :title="i18n.esButtonEdit(typeText)"
    :disabled="!selected">
    <button-icon :aria-label="i18n.esButtonEdit(typeText)"
      v-show="enableEdit"
      :disabled="!selected || multiSelected"
      @select="editEntity()"
      class="btn"
      iconClass="icon-btn-edit"
      :fontSize="iconFontSize"
      v-debug='debugId + "sourceListButtonEditSource"' />
  </tooltip>
  <tooltip v-for="ModifyListCustomButton cb in customButtonsRight"
    :title="cb.title()"
    :disabled="cb.canBeDisabled() && !selected">
    <button-icon :aria-label="cb.ariaLabel()"
      class="btn"
      :disabled="cb.canBeDisabled() && !selected"
      @select="cb.select()"
      :iconClass="cb.iconClass()"
      :fontSize="iconFontSize"
      v-debug='cb.debugId()' />
  </tooltip>
  <tooltip :title="i18n.esButtonCopy(typeText)"
    :disabled="!selected">
    <button-icon v-if="enableCopy"
      :aria-label="i18n.esButtonCopy(typeText)"
      :disabled="!selected"
      @select="duplicateEntity()"
      class="btn"
      iconClass="icon-btn-duplicate"
      :fontSize="iconFontSize"
      v-debug='debugId + "sourceListButtonCopySource"' />
  </tooltip>
  <tooltip :title="i18n.esButtonDelete(typeText)"
    :disabled="(!selected && !enableDelete) || disableDelete">
    <button-icon :aria-label="i18n.esButtonDelete(typeText)"
      :disabled="(!selected && !enableDelete) || disableDelete"
      @select="deleteEntity()"
      class="btn"
      iconClass="icon-btn-delete"
      :fontSize="iconFontSize"
      v-debug='debugId + "sourceListButtonDeleteSource"' />
  </tooltip>
</div>

<style scoped lang="scss">
@import "../../variables.scss";

.buttons {
  display: flex;
  flex-direction: row;
  min-height: var(--row-height-generous);
}

.btn {
  align-self: stretch;
}
</style>
