.modifyToolbox {
  border-radius: var(--default-radius);
  background-color: var(--back-color);
  margin: 0px var(--spacer);
}

.singleColumn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: var(--spacer);
}
