<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionSourceFeature" />

<div>
  <h3>{{ situation.getName() + " - " + i18n.situationType(situation.getType()) }}</h3>
  <div v-for="EmissionSourceFeature source in situation.getSources()"
    class="source-details">
    <div class="basics-header header">
      <styled-point :feature="source"
        :backColor="getSectorColor(source)" />
      <div>{{ source.getLabel() }}</div>
    </div>
    <div class="characteristics-header header">{{ i18n.printSourceCharacteristics() }}</div>
    <div class="profiles-header header">{{ i18n.printSourceProfiles() }}</div>
    <div class="emissions header">{{ i18n.printSourceEmission() }}</div>
    <print-source-basics class="basics" />
    <print-source-characteristics class="characteristics" />
    <print-source-profiles class="profiles" />
    <print-source-emissions class="emissions" />
    <print-source-details class="details" />
  </div>
</div>

<style lang="scss" scoped>
.source-details {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr 1fr;
  grid-template-areas: "basics-header characteristics-header profiles-header emission-header"
                       "basics characteristics profiles emission"
                       "details details details details";

  padding-bottom: var(--spacer);
  width: 100%;

  .header {
    font-weight: bold;
    border-bottom: 2px solid var(--light-grey);

    display: flex;
    align-items: center;
  }

  .basics-header {
    grid-area: basics-header;

    display: flex;
    align-items: center;
    gap: var(--spacer);
  }
  .characteristics-header {
    grid-area: characteristics-header;
  }
  .profiles-header {
    grid-area: profiles-header;
  }
  .emission-header {
    grid-area: emission-header;
  }

  .basics {
    grid-area: basics;
  }
  .characteristics {
    grid-area: characteristics;
  }
  .profiles {
    grid-area: profiles;
  }
  .emission {
    grid-area: emission;
  }
  .details {
    grid-area: details;
  }
}
</style>
