<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.BuildingFeature" />

<div>
  <h3>{{ situation.getName() + " - " + i18n.situationType(situation.getType()) }}</h3>
  <div v-if="situation.getBuildings().isEmpty()">{{ i18n.printOverviewNoBuildings() }}</div>
  <print-section v-else>
    <template slot="header-row">
      <th>{{ i18n.printLabel() }}</th>
      <th>{{ i18n.printName() }}</th>
      <th>{{ i18n.buildingLocationDimensionsLength() }} ({{ i18n.unitSingularMeter() }})</th>
      <th>{{ i18n.buildingLocationDimensionsWidth() }} ({{ i18n.unitSingularMeter() }})</th>
      <th>{{ i18n.buildingLocationDiameter() }} ({{ i18n.unitSingularMeter() }})</th>
      <th>{{ i18n.buildingLocationDimensionsHeight() }} ({{ i18n.unitSingularMeter () }})</th>
      <th>{{ i18n.buildingLocationDimensionsOrientation() }} ({{ i18n.unitSingularOrientation() }})</th>
    </template>
    <template slot="tbody">
      <tr v-for="BuildingFeature building in situation.getBuildings()"
        class="building-details">
        <td>
          <styled-point :feature="building"
            backColor="white"
            foreColor="black" />
        </td>
        <td>{{ building.getLabel() }}</td>
        <td>{{ isPolygon(building) ? getUsedBuildingLengthStr(building) : "-" }}</td>
        <td>{{ isPolygon(building) ? getUsedBuildingWidthStr(building) : "-" }}</td>
        <td>{{ isPoint(building) ? getBuildingDiameter(building) : "-" }}</td>
        <td>{{ getUsedBuildingHeightStr(building) }}</td>
        <td>{{ isPolygon(building) ? getUsedBuildingOrientationStr(building) : "-" }}</td>
      </tr>
    </template>
  </print-section>
</div>

<style lang="scss" scoped>
.building-details {

}
</style>
