.collapse-enter-active, .collapse-leave-active {
  transition: all .15s ease-out;
  overflow: hidden;
}
.collapse-enter,
.collapse-leave-to {
  margin-right: 0px !important;
  margin-left: 0px !important;
  width: 0 !important;
}
