.rowContainer {
  border-top: var(--half-separator);
  border-bottom: var(--half-separator);
  transition: background var(--anim);

  &:first-child {
    border-top: var(--separator);
  }
  &:last-child {
    border-bottom: var(--separator);
  }

  &:hover {
    background: var(--theme-color);
    color: white;
  }

  &.selected {
    background: var(--theme-color);
    color: white;
  }

  &.selected:hover {
    filter: brightness(105%);
  }

  .iconColumn {
    font-size: 34px;
    min-width: 34px;
    line-height: 34px;
  }

  .amountColumn {
    text-align: right;
    color: inherit;
  }

  .labelColumn {
    color: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .emissionColumn {
    text-align: right;

    color: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.innerRow, .row {
  display: grid;
  grid-template-columns: 36px 36px 1fr;
  grid-template-rows: var(--row-height-generous);
  align-items: center;
  gap: var(--spacer);
  padding: 0px var(--spacer);

  cursor: pointer;
  user-select: none;
  transition: all var(--anim);
}

.row {
  border-top: var(--half-separator);
  border-bottom: var(--half-separator);

  &:first-child {
    border-top: var(--separator);
  }
  &:last-child {
    border-bottom: var(--separator);
  }

  &:hover {
    background: var(--theme-color);
    color: white;
  }

  &.selected {
    background: var(--theme-color);
    color: white;
  }

  .iconColumn {
    font-size: 34px;
    min-width: 34px;
    line-height: 34px;
  }

  .amountColumn {
    text-align: right;
    color: inherit;
  }

  .labelColumn {
    color: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .emissionColumn {
    text-align: right;

    color: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
