/**
* NOTE: Consider using base.css instead of variables.scss; variables.scss will be phased out
*
* Some guidelines for css variables:
* - Try to define as few css colors/variables as possible, don't try to define everything globally
* - If defining colors for a specific component or unique feature, don't define them here
* - Keep it simple, complexity ensures it is impossible to take advantage of reuse
* - Use variables that align with their abstract intent, not their specific meaning
* - It should always be possible to change the value of few main variables (retaining things like contrast for things like colors, of course)
*   and not change a million other things to make the resulting style changes a cohesive whole again.
* - If more than, say, 3 shades of grey are defined here, rethink.
* - When naming or finding things with/by markers such as 'border' or 'hover' or 'active' etc., read and try to better understand the above
*
* For example:
* When coming here to look for some shade of grey for some border or background or whatever,
* don't call it $esoteric-feature-background|border-color, but $light-grey
*/
/**
* TODO: Most of the below should not be defined globally, or specifically
*/
$back-color: #F5F5F5;
$back-color-hover: #D0E5EF;
$back-color-active: #AACEE0;
$back-color-disabled: #F9F9F9 !important;
$back-color-field-labels: #E8E8E8;

$face-color: #4D4E4E;
$face-color-hover: var(--theme-color);
$face-color-active: #056192;
$face-color-disabled: #989898 !important;
$face-color-warning: #FFA500;

$button-color: #4D4E4E;
$button-color-active: var(--theme-color);
$button-color-disabled: grey;
$button-color-hover: white;
$button-border-radius: var(--default-radius);

$collapsible-panel-hover: #D0E5EF;
$collapsible-panel-active: #D0E5EF;

$table-row-height: 36px;

/** Animation time for random non-critical elements **/
$animation-time: 0.15s;

/** Animation time for function-critical elements, should be quick; the experience is not that important **/
$animation-time-primary: 0.1s;

@mixin clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  transition: background $animation-time-primary ease-out, color $animation-time-primary ease-out;
  cursor: pointer;

  &:hover {
    background: $back-color-hover;
  }
  &.active, &:hover {
    color: $face-color-hover;
  }
  &:active {
    background: $back-color-active;
    color: $face-color-active;
  }
}

@mixin item {
  flex-direction: column;
  text-align: center;
  @include clickable;
  color: $face-color;
  background: $back-color;

  .icon {
    background: $face-color;
    transition: background $animation-time ease-out;
  }

  &.disabled {
    user-select: none;
    cursor: not-allowed;
    background: $back-color-disabled;
    color: $face-color-disabled;
    .icon {
      background: $face-color-disabled;
    }
  }

  &.active, &:hover {
    background: $back-color-hover;
    .icon {
      background: $face-color-hover;
    }
  }
  &:active {
    background: $back-color-hover;
    .icon {
      background: $face-color-active;
    }
  }
}

@mixin button {
  background: white;
  border: 1px solid $button-color-active;
  border-radius: $button-border-radius;
  padding: 6px;
  color: $button-color-active;
  cursor: pointer;
  outline: 0;
  min-width: 100px;
  transition: color 0.1s ease-out, background 0.1s ease-out;

  &:disabled {
    border-color: var(--disabled-color) !important;
    color: var(--disabled-color) !important;
    cursor: auto !important;
  }

  &:focus:enabled:not(.active) {
    outline: 2px dotted var(--theme-color);
    outline-offset: 3px;
  }
  &:hover:enabled, &.active {
    color: white;
    background: $button-color-active !important;
  }
}

@mixin button-anchor {
  background: white;
  border: 1px solid $button-color-active;
  border-radius: $button-border-radius;
  padding: 6px;
  text-decoration: none;
  color: $button-color-active;
  cursor: pointer;
  outline: 0;
  min-width: 100px;
  transition: color 0.1s ease-out, background 0.1s ease-out;

  &:disabled {
    border-color: var(--disabled-color) !important;
    color: var(--disabled-color) !important;
    cursor: auto !important;
  }

  &:focus:not(.active) {
    outline: 2px dotted var(--theme-color);
    outline-offset: 3px;
  }
  &:hover, &.active {
    color: white;
    background: $button-color-active !important;
  }
}

@mixin button-minimal {
  background: white;
  border: 1px solid var(--theme-color);
  border-radius: $button-border-radius;
  padding: 6px;
  color: $button-color-active;
  cursor: pointer;
  outline: 0;
  transition: color 0.1s ease-out, background 0.1s ease-out;
  &:disabled {
    border-color: gray !important;
    color: gray !important;
    cursor: auto !important;
  }

  &:focus:enabled:not(.active) {
    outline: 2px dotted var(--theme-color);
    outline-offset: 3px;
  }
  &:hover:enabled, &.active {
    color: white;
    background: $button-color-active !important;
  }
}

@mixin button-secondary {
  padding: 15px 15px;
  color: $button-color-active;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: $button-border-radius;
  outline: 0;

  &:hover {
    text-decoration: underline;
  }
}

@mixin button-toggle {
  background: white;
  border: 1px solid #B3B3B3;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  padding: 6px 5px;
  color: var(--text-color);
  cursor: pointer;
  min-width: 50px;
  user-select: none;
  transition: color 0.1s ease-out, background 0.1s ease-out;

  &:first-child {
    border-left-width: 1px;
    border-top-left-radius: $button-border-radius;
    border-bottom-left-radius: $button-border-radius;
  }

  &:last-child {
    border-right-width: 1px;
    border-bottom-right-radius: $button-border-radius;
    border-top-right-radius: $button-border-radius;
  }

  &:disabled {
    border-color: gray !important;
    color: gray !important;
    cursor: auto !important;
  }

  &:hover, &.active {
    background: var(--theme-color);
    color: white;
    border-color: var(--theme-color);
  }
}
