.height-enter-active,
.height-leave-active {
  transition: height var(--animation-time) ease-out;
  overflow: hidden;
}
.height-enter,
.height-leave-to {
  height: 0px;
}

.list-enter-active,
.list-leave-active {
  transition: height var(--animation-time) ease-out;
  overflow: hidden;
}
.list-enter,
.list-leave-to{
  height: 0;
}
