<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmLodgingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.CustomFarmLodging"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.StandardFarmLodging"/>

<div v-if="isSourceAvailable()" class="detailContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />

  <toggle-buttons groupId="farmLodgingType"
    :selected="toggleSelect"
    :options="farmLodgingTypes"
    @select="selectTab((FarmLodgingType) $event)">
    <template slot-scope="{ FarmLodgingType option }">{{ i18n.esFarmLodgingSelectType(option) }}</template>
    <template slot="tabs">
      <farm-lodging-standard-emission v-if='toggleSelect == FarmLodgingType.STANDARD'
        @errors='trackChildError("housing", (boolean) $event)'
        @warnings='trackChildWarning("housing", (boolean) $event)'
        :standardFarmLodging="(StandardFarmLodging) subSource" />
      <farm-lodging-custom-emission v-if='toggleSelect == FarmLodgingType.CUSTOM'
        @errors='trackChildError("housing", (boolean) $event)'
        @warnings='trackChildWarning("housing", (boolean) $event)'
        :customFarmLodging="(CustomFarmLodging) subSource" />
    </template>
  </toggle-buttons>
</div>

<style scoped lang="scss">
.detailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
