<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmLodging" />
<vue-gwt:import class="java.util.Map" />

<div class="singleColumn">
  <sub-source-validation-behaviour
    :errors="false"
    :warnings="hasAnyIncompatibleCombinations()"
    :selectedIndex="selectedIndex"
    :subSources="farmSource.getSubSources()"
    @subSourceErrors="setSubSourceErrors((Map) $event)"
    @subSourceWarnings="setSubSourceWarnings((Map) $event)"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <modify-list :presenter="presenter"
    :selected="selected()"
    :enableNameLabels="false"
    :enableEdit="false"
    :typeText="i18n.esModifyTypeSubSource()"
    class="modifyToolbox" />

  <sub-source-empty-error
    :displayProblems="displayProblems"
    :subSources="source.getSubSources()" />

  <div>
    <vertical-collapse-group>
      <sub-source-validated-row v-for="(FarmLodging source, idx) in farmSource.getSubSources()"
        :key="idx"
        :title="i18n.esModifyTypeSubSourceNumbered(idx + 1)"
        :selected="isSelected(idx)"
        :errors="hasErrors(idx)"
        :warnings="hasWarnings(source, idx)">
        <farm-lodging-emission-editor-row v-debug='"sourcelistRow" + idx'
          @select="selectSource(idx, source)"
          :selected="isSelected(idx)"
          :source="source" />
      </sub-source-validated-row>
    </vertical-collapse-group>
  </div>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";
@import "../../modify/styles.scss";

.errors {
  outline: 2px solid var(--error-color);
  outline-offset: -2px;
}

.warnings {
  outline: 2px solid var(--warning-color);
  outline-offset: -2px;
}
</style>
