@import "../../../variables.scss";

.header {
  background: $back-color-field-labels;
  height: 36px;
  align-items: center;

  div {
    padding: 0px 10px;
  }
}

.bwlContainer {
  display: flex;
  align-items: center;
}
.bwlUnavailable {
  padding: 0px var(--half-spacer);
  color: var(--grey);
}

.row {
  display: grid;
  grid-template-rows: var(--row-height-generous);
  grid-template-columns: 1fr 1fr 1fr;
  &.isNumberOfDaysEnabled {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  gap: 4px;
  flex-grow: 1;

  border-top: var(--half-separator);
  border-bottom: var(--half-separator);

  &:first-child {
    border-top: var(--separator);
  }
  &:last-child {
    border-bottom: var(--separator);
  }

  border-color: var(--back-color) !important;

  input {
    width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
  }
}

.measure-row {
  grid-template-columns: 36px 1fr 1fr 2fr;
}

.deleteButton {
  min-width: 0px;
  background: white;
  border: 1px solid var(--light-grey);
  border-radius: var(--default-radius);
}

.numberInput {
  text-align: right;
  border: 1px solid var(--light-grey);
}

.suggestionWarningInput {
  border: solid 1px var(--warning-color) !important;
}

.detailHeader {
  margin-top: 12px;
  font-weight: bold;
}

.error-input, .warning-input {
  border-bottom: 1px solid var(--border-color);
}

.subSources {
  display: flex;
  flex-direction: column;
}

.subSource {
  margin: 0 0 1em 0;
}

.detailRow {
  display: grid;
  grid-template-columns: 15fr 15fr 15fr 15fr 16fr;
}

div.detailRows {
  :not(:last-child) .emission, .unconstrained {
    text-decoration: line-through;
  }
}

.input {
  width: 100%;
  height: 100%;
}
