<div>
  <slot name="pre"></slot>
  <table :class='map(e("avoid", avoid), e("no-border", !borders))'>
    <thead>
      <slot name="thead">
        <tr>
          <slot name="header-row">
            <th>
              <slot name="header">
                <heading :n="headingNumber" :text="headingTitle" />
              </slot>
            </th>
          </slot>
        </tr>
      </slot>
    </thead>
    <tbody>
      <slot name="tbody">
        <tr>
          <slot name="body-row">
            <td>
              <slot></slot>
            </td>
          </slot>
        </tr>
      </slot>
    </tbody>
    <tfoot>
      <slot name="tfoot">
        <tr>
          <slot name="footer-row">
            <td>
              <slot name="footer"></slot>
            </td>
          </slot>
        </tr>
      </slot>
    </tfoot>
  </table>
</div>

<style scoped lang="scss">
.avoid {
  page-break-inside: avoid;
}
</style>
