<div>
  <developer-panel v-if="flags.hasDeveloperPanel()"
    :eventBus="eventBus" />
  <slot />
  <print-complete-indicator
    :debug="true"
    :failure="context.isFailure()"
    :complete="context.isComplete()" />
</div>

<style lang="scss" scoped>
</style>
