<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.EmissionSourceType" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.shipping.MooringType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.InlandShipping" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.InlandShippingType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.MooringInlandShipping" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.MooringInlandShippingType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.StandardInlandShipping" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.shipping.inland.StandardMooringInlandShipping" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.shipping.inland.inland.InlandMovementComponent.InlandMovementType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div>
  <div class="margin">
    <h3>{{ i18n.esInlandShippingDetailTitle() }}</h3>
    <vertical-collapse>
      <div v-if="isESType(EmissionSourceType.SHIPPING_INLAND)">
        <div>
          <detail-stat
            debugId="inlandShippingWaterwayCode"
            :label="i18n.esWaterwayCategory()"
            :value="inlandSource.getWaterway().getWaterwayCode()" />
          <detail-stat
            debugId="inlandShippingWaterwayDirectionType"
            :label="i18n.esWaterwayDirectionDetail()"
            :value="i18n.esWaterwayDirectionType(inlandSource.getWaterway().getDirection())" />
          <vertical-collapse>
            <detail-stat v-if="inlandSource.getMooringAId() != null"
              debugId="inlandShippingMooringAId"
              :label="i18n.mooringType(MooringType.A)"
              :value="getSourceLabel(inlandSource.getMooringAId())" />
          </vertical-collapse>
          <vertical-collapse>
            <detail-stat v-if="inlandSource.getMooringBId() != null"
              debugId="inlandShippingMooringBId"
              :label="i18n.mooringType(MooringType.B)"
              :value="getSourceLabel(inlandSource.getMooringBId())" />
          </vertical-collapse>
        </div>
      <vertical-collapse-group>
        <div v-for="(InlandShipping row, index) in inlandSource.getSubSources()" :key="index">
          <div v-if="row.getInlandShippingType() == InlandShippingType.STANDARD">
            <divider type="small" />
            <h4 v-debug='"inlandStandardShippingCode-" + index' class="inland-header">{{ getDescriptionFromCode(((StandardInlandShipping) row).getShipCode()) }}</h4>
            <detail-stat
              :debugId='"inlandStandardShippingDescription-" + index'
              :label="i18n.esShipDescription()"
              :value="row.getDescription()" />
            <h4 class="inland-header">{{ i18n.esMovement(InlandMovementType.A_TO_B) }}</h4>
            <detail-stat
              :debugId='"inlandStandardShippingMovementsAtoB-" + index'
              :label="i18n.esShipsMovementsPerTimeUnit()"
              :value="row.getMovementsAtoBPerTimeUnit()" />
            <detail-stat
              :debugId='"inlandStandardShippingTimeUnitAtoB-" + index'
              :label="i18n.esShipTimeunit()"
              :value="i18n.unitTime(row.getTimeUnitAtoB())" />
            <detail-stat
              :debugId='"inlandStandardShippingPercentageLadenAtoB-" + index'
              :label="i18n.esShipPercentageLoad()"
              :value="i18n.unitPercentage(i18n.decimalNumberFixed(row.getPercentageLadenAtoB(), 1))" />
            <h4 class="inland-header">{{ i18n.esMovement(InlandMovementType.B_TO_A) }}</h4>
            <detail-stat
              :debugId='"inlandStandardShippingMovementsBtoA-" + index'
              :label="i18n.esShipsMovementsPerTimeUnit()"
              :value="row.getMovementsBtoAPerTimeUnit()" />
            <detail-stat
              :debugId='"inlandStandardShippingTimeUnitBtoA-" + index'
              :label="i18n.esShipTimeunit()"
              :value="i18n.unitTime(row.getTimeUnitBtoA())" />
            <detail-stat
              :debugId='"inlandStandardShippingPercentageLadenBtoA-" + index'
              :label="i18n.esShipPercentageLoad()"
              :value="i18n.unitPercentage(i18n.decimalNumberFixed(row.getPercentageLadenBtoA(), 1))" />
            <divider type="sub" />
            <div class="detail-emission-container">
              <div>{{ i18n.esTitle() }}</div>
              <div class="detail-emission-subcontainer">
                <div class="detail-emission-substance" v-for="Substance substance in substances">
                  <div class="detail-label" v-debug='"inlandStandardShippingSubstance-" + index + "-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
                  <div v-debug='"inlandStandardShippingEmission-" + index + "-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </vertical-collapse-group>
    </div>
    </vertical-collapse>
    <vertical-collapse>
      <div v-if="isESType(EmissionSourceType.SHIPPING_INLAND_DOCKED)">
        <div v-for="(MooringInlandShipping row, index) in mooringInlandSource.getSubSources()">
          <div v-if="row.getMooringInlandShippingType() == MooringInlandShippingType.STANDARD">
            <divider type="small" />
            <h4 v-debug='"inlandDockedShippingCode-" + index' >{{ getDescriptionFromCode(((StandardMooringInlandShipping) row).getShipCode()) }}</h4>
            <div class="detail-grid-row-full">
              <div class="detail-label">{{ i18n.esShipDescription() }}</div>
              <div class="detail-label">{{ i18n.esShipsVisitsPerTimeUnit() }}</div>
              <div class="detail-label">{{ i18n.esShipTimeunit() }}</div>
              <div class="detail-label">{{ i18n.esShipAverageResidenceTime() }}</div>
            </div>
            <div class="detail-grid-row-full">
              <div v-debug='"inlandDockedShippingDescription-" + index'>{{ row.getDescription() }}</div>
              <div v-debug='"inlandDockedShippingMovements-" + index'>{{ row.getShipsPerTimeUnit() }}</div>
              <div v-debug='"inlandDockedShippingTimeUnit-" + index'>{{ i18n.unitTime(row.getTimeUnit()) }}</div>
              <div v-debug='"inlandDockedShippingAverageResidenceTime-" + index'>{{ row.getAverageResidenceTime() }} {{ i18n.unitSingularHour() }}</div>
            </div>
            <div class="detail-grid-row">
              <div></div>
              <div>
                <div class="detail-grid-row-right">
                  <div class="detail-label">{{ i18n.esShipShorePowerFactor() }}</div>
                  <div class="detail-label">{{ i18n.esShipPercentageLoad() }}</div>
                </div>
                <div class="detail-grid-row-right">
                  <div v-debug='"inlandDockedShippingShorePowerFactor-" + index'>{{ i18n.unitPercentage(i18n.decimalNumberFixed(row.getShorePowerFactor() * 100.0, 1)) }}</div>
                  <div v-debug='"inlandDockedShippingPercentageLaden-" + index'>{{ i18n.unitPercentage(i18n.decimalNumberFixed(row.getPercentageLaden(), 1)) }}</div>
                </div>
              </div>
            </div>
            <divider type="sub" />
            <div class="detail-emission-container">
              <div>{{ i18n.esTitle() }}</div>
              <div class="detail-emission-subcontainer">
                <div class="detail-emission-substance" v-for="Substance substance in substances">
                  <div class="detail-label" v-debug='"inlandDockedShippingSubstance-" + index + "-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
                  <div v-debug='"inlandDockedShippingEmission-" + index + "-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(row.getEmission(substance)) }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </vertical-collapse>
  </div>
  <divider type="big" />
  <div class="margin">
    <h3>{{ totalEmissionTitle }}</h3>
    <divider type="small" />
    <div class="detail-emission-container">
      <div>{{ i18n.esTitle() }}</div>
      <div class="detail-emission-subcontainer">
        <div class="detail-emission-substance" v-for="Substance substance in substances">
          <div class="detail-label" v-debug='"inlandShippingDetailTotalSubstance-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
          <div v-debug='"inlandShippingDetailTotalEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../../../../vertical-collapse.scss";

.margin {
  margin: 10px;
  margin-top: 0px;
}

.inland-header {
  margin-bottom: 0;
}
</style>
