<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance" />

<div class="content">
  <validation-behaviour
    :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />

  <emission-row v-for="Substance item in substances"
    @errors='trackChildError(item.name(), (boolean) $event)'
    @warnings='trackChildWarning(item.name(), (boolean) $event)'
    :substance="item"
    :source="source" />
</div>

<style scoped lang="scss">
.content {
  padding: var(--spacer);
  gap: var(--half-spacer);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
</style>
