<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmLodging"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.FarmLodgingType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.StandardFarmLodging"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.CustomFarmLodging"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.i18n.MessageFormatter"/>

<div>
  <divider type="big" />
  <div class="margin">
    <h3>{{ i18n.esLodgingDetailTitle() }}</h3>
    <divider type="small" />
    <aer-farmlodging-detail-header :hasFarmReductiveLodgingSystemCategories="hasFarmReductiveLodgingSystemCategories()" />
    <div class="subSources" v-debug:farmLodgingSubSources>
      <div class="subSource" v-for="(FarmLodging row, index) in source.getSubSources()" v-debug='"farmLodgingSubSource-" + index'>
        <divider v-if="index != 0" type="small" />
        <aer-farmlodging-detail-standard v-if="row.getFarmLodgingType() == FarmLodgingType.STANDARD"
          :source="(StandardFarmLodging) row"
          :hasFarmReductiveLodgingSystemCategories="hasFarmReductiveLodgingSystemCategories()"
          :hideDescription="true"
          :index="index"
        />
        <aer-farmlodging-detail-custom v-if="row.getFarmLodgingType() == FarmLodgingType.CUSTOM"
          :source="(CustomFarmLodging) row"
          :hasFarmReductiveLodgingSystemCategories="hasFarmReductiveLodgingSystemCategories()"
          :index="index" />
      </div>
    </div>
  </div>
  <divider type="big" />
  <div class="margin">
    <h3>{{ totalEmissionTitle }}</h3>
    <divider type="small" />
    <div class="detail-emission-container">
      <div>{{ i18n.esTitle() }}</div>
      <div class="detail-emission-subcontainer">
        <div class="detail-emission-substance" v-for="Substance substance in substances">
          <div class="detail-label" v-debug='"farmLodgingTotalSubstance-" + substance.name()'>{{ i18n.pollutant(substance) }}</div>
          <div v-debug='"farmLodgingTotalEmission-" + substance.name()'>{{ MessageFormatter.formatEmissionWithUnitSmart(source.getEmission(substance)) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../farmlodging.scss";

.margin {
  margin: 10px;
  margin-top: 0;
}
</style>
