<div class="detailRow">
  <div class="detail-label">{{ i18n.esLodgingDetailFarmSystem() }}</div>
  <div class="detail-label">{{ i18n.esLodgingDetailAmount() }}</div>
  <div class="detail-label">{{ i18n.esLodgingDetailFactor() }}</div>
  <div v-if="hasFarmReductiveLodgingSystemCategories"
    class="detail-label">{{ i18n.esLodgingDetailReductionFactor() }}</div>
  <div v-else
    class="detail-label">{{ i18n.esLodgingDetailNumberOfDays() }}</div>
  <div class="detail-label">{{ i18n.esLodgingDetailReductionReduction() }}</div>
</div>

<style scoped lang="scss">
@import "../farmlodging.scss";

</style>
