<div v-if="isCalculating"
  class="lineContainer">
  <transition name="fade">
    <div
      class="loader"
      :style='map(e("width", completePercentage), e("backgroundColor", color))'>
    </div>
  </transition>
  <slot></slot>
</div>

<style lang="scss" scoped>
@import "../../fade-transition.scss";
@import '../../horizontal-collapse.scss';
@import 'progress.scss';

.loader {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: width 0.25s ease-in-out, opacity 0.5s ease-out 0.2s;
}
</style>
