<div class="lineContainer"
  :class="getCssServerUsage()"
  v-debug:job-progress-status >
  {{ text }}
</div>

<style lang="scss" scoped>
@import "../../fade-transition.scss";
@import '../../horizontal-collapse.scss';
@import 'progress.scss';

.lineContainer {
  border: 1px solid var(--theme-color);
  height: var(--row-height);
}

.warning-usage-high {
  animation: blinker 1.3s linear infinite;
  background-color: var(--warning-color);
}

.warning-usage-very-high {
  animation: blinker 1.3s linear infinite;
  background-color: var(--error-color);
}

</style>
