.lineContainer {
  display: grid;
  align-items: center;
  user-select: none;
  position: relative;
  transition: all var(--anim);
  gap: var(--half-spacer);
  height: var(--row-height-generous);
  color: black;
  padding-left: var(--spacer);
  box-sizing: border-box;
  width: 100%;
}
