<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.Vehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadTypeMode" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.OnRoadMobileSourceCategory" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.Substance"/>

<div class="customContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input
    v-if="isShowEuroclass"
    :label="i18n.esRoadEuroClass()"
    name="euroclass">
    <select v-model="specificVehicleCode"
      id="euroclass"
      v-debug:euroclass>
      <option value="" disabled>{{ i18n.esRoadMobileSourceCategoriesPlaceHolder() }}</option>
      <option v-for="OnRoadMobileSourceCategory rms in categories"
        :value="rms.getCode()">{{ rms.getDescription() }}</option>
    </select>
  </labeled-input>
  <labeled-input :label="i18n.esRoadCustomDescription()"
    name="emissionSourceRoadCustomDescription"
    :errorValidation="v.descriptionV"
    :errorMessage="this::descriptionError">
    <input type="text"
      id="emissionSourceRoadCustomDescription"
      v-validate:descriptionV.input
      v-model="description"
      :aria-label="i18n.ariaDescription()"
      v-debug:emissionSourceRoadCustomDescription />
  </labeled-input>
  <labeled-input v-if="includeVehicleType"
    name="emissionSourceVehicleType"
    :label="i18n.esRoadVehicleTypeLabel()"
    :errorValidation="v.vehicleTypeCodeV"
    :errorMessage="() -> i18n.validationRequired()">
    <select id="emissionSourceVehicleType"
      v-model="vehicleTypeCode"
      v-debug:emissionSourceVehicleType
      v-validate:vehicleTypeCodeV.input>
      <option value="" disabled>{{ i18n.dropdownPlaceholder() }}</option>
      <option v-for="SimpleCategory vehicleType in vehicleTypes" :value="vehicleType.getCode()">{{ vehicleType.getDescription() }}</option>
    </select>
  </labeled-input>
  <road-number-of-vehicles ref="roadNumberOfVehicles"
    :mode="mode"
    @errors='trackChildError("roadNumberOfVehicles", (boolean) $event)'
    @warnings='trackChildWarning("roadNumberOfVehicles", (boolean) $event)'
    :vehicles="(Vehicles)customVehicles" />
  <h4>{{ i18n.esRoadCustomEmissionFactorTitle() }}</h4>
  <emission-factor-row v-for="Substance substance in substances"
    @errors='trackChildError(substance.name(), (boolean) $event)'
    @warnings='trackChildWarning(substance.name(), (boolean) $event)'
    :mode="mode"
    :substance="substance"
    :emissionFactors="emissionFactors" />
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";

.customContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

h4 {
  margin-bottom: 0;
}
</style>
