<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.Vehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.VehicleType" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.CustomVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.ColdStartStandardVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.SpecificVehicles" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionFactors" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.RoadTypeMode" />

<div v-if="isSourceAvailable()" class="coldStartContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <toggle-buttons groupId="vehicleType"
    :selected="correctedSelectedVehicleType"
    :options="vehicleTypes"
    @select="selectTab((VehicleType) $event)">
    <template slot-scope="{ VehicleType option }">{{ i18n.esRoadSelectType(option) }}</template>
    <template slot="tabs">
      <vertical-collapse>
        <road-custom-emission
          v-if='selectedVehicleType == VehicleType.CUSTOM'
          :mode="RoadTypeMode.COLD_START"
          :includeVehicleType="includeVehicleType"
          @errors='trackChildError("detail", (boolean) $event)'
          @warnings='trackChildWarning("detail", (boolean) $event)'
          :customVehicles="(CustomVehicles) subSource"
          @switchVehicleType="switchVehicleTypeSpecific((String) $event)" />
      </vertical-collapse>
      <vertical-collapse>
        <cold-start-specific-emission
          v-if='selectedVehicleType == VehicleType.SPECIFIC'
          @errors='trackChildError("detail", (boolean) $event)'
          @warnings='trackChildWarning("detail", (boolean) $event)'
          :specificVehicles="(SpecificVehicles) subSource"
          :year="year"
          @switchVehicleType="switchVehicleTypeCustom((EmissionFactors) $event)" />
      </vertical-collapse>
      <vertical-collapse>
        <cold-start-standard-emission
          v-if='selectedVehicleType == VehicleType.STANDARD_CS'
          @errors='trackChildError("detail", (boolean) $event)'
          @warnings='trackChildWarning("detail", (boolean) $event)'
          :standardVehicles="(ColdStartStandardVehicles) subSource" />
      </vertical-collapse>
    </template>
  </toggle-buttons>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";

.coldStartContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.toggleButtons {
  display: flex;
  height: var(--row-height);
  margin-bottom: var(--spacer);

  .toggleButton {
    @include button-toggle;
    align-items: center;
    align-self: center;
    flex-basis: 50%;
    text-align: center;
  }
}

</style>
