<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.info.AssessmentArea"/>

<div class="content">
  <h2 v-debug:resultsSummaryOmittedAreaTitle>{{ i18n.resultsSummaryTableOmittedAreaTitle(theme) }}</h2>
  <div class="body">
    <div class="row" v-debug:omittedAreasList
      v-for="AssessmentArea area in omittedAreas">
      <div>{{ area.getName() }}</div>
    </div>
  </div>
</div>

<style lang="scss" scoped>
@import "../result-view.scss";

.content {
  margin-left: 10px;
  margin-right: 10px;
}

.body {
  background: white;
}

.row {
  display: flex;
  padding: 3px var(--half-spacer);
}
</style>
