<div class="collapsible-item" :class='map("open", openData)'
  :id='getDebugId("")'>
  <div class="background">
     <slot name="background"></slot>
  </div>
  <div class="line"
    :id='getDebugId("-line")'
    tabindex="0"
    role="button"
    :aria-expanded="openData && contentVisible"
    :aria-controls='getDebugId("-content")'
    @keyup.enter.space="toggleOpen()"
    @click="toggleOpen()">
    <collapsible-button :expanded="openData" />
    <slot name="title">
      <div class="title"
        :title="title"
        :id='getDebugId("-title")'>{{ title }}</div>
    </slot>
    <slot name="aux"></slot>
  </div>
  <vertical-collapse>
    <div v-show="openData && contentVisible"
      role="region"
      :id='getDebugId("-content")'
      :aria-labelledby='labelKey + "-title"'
      class="content">
      <slot></slot>
    </div>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../vertical-collapse.scss";
@import "../../variables.scss";

.collapsible-item {
  position: relative;
  transition: background var(--anim);

  .background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: var(--row-height-generous);
  }

  .line {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background var(--anim);
    padding: 0px var(--spacer);
    min-height: var(--row-height-generous);
    gap: var(--spacer);

    .title {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.open, .inner, &:hover {
    background: var(--theme-color-light);
  }

  &.open .title {
    font-weight: bold;
  }
}

.content {
  display: flex;
  transition: height var(--animation-time) ease-out;

  .inner {
    padding: 0px 5px 0px 34px;
    flex-grow: 1;
  }
}
</style>
