<div class="expand"
  :class='map("expanded", expanded)'
  v-vector="img.arrowRightButton()">
</div>

<style scoped lang="scss">
@import "../../variables.scss";

.expand {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  transition: all var(--anim);

  svg {
    transition: transform 0.15s ease-out, fill 0.15s ease-out;
    fill: $button-color-active;
  }
}

.expanded {
  background: $button-color-active;

  svg {
    transform: rotate(90deg);
    fill: white
  }
}
</style>
