<vue-gwt:import class="nl.overheid.aerius.wui.application.components.input.suggest.SuggestListBoxData" />

<div class="container" ref="elem" v-debug='debugId'>
  <input type="text"
    @click="toggle()"
    @keyup="emptySelect()"
    class="item"
    :class='map(e("suggestionWarningInput", isWarn()), e("disabled", !enabled))'
    v-model="value"
    :aria-labelledby="labelledBy"
    :placeholder="placeholder"
    :title="valueData"
    autocomplete="off"
    v-debug='debugId + "Item"' />
  <suggest-dropdown-modal
    :modal-offset="modalOffset"
    :modal-width="modalWidth"
    :host="ref"
    :showing="showing"
    :options="filterOptions"
    :selected="selectedData"
    @select="select((SuggestListBoxData) $event)"
    @exit="showing = false" />
</div>

<style scoped lang="scss">
@import "../../../variables.scss";

.suggestionWarningInput {
  border: 1px solid var(--warning-color) !important;
}
.suggestionWarningInput:focus {
  border-color: transparent !important;
  outline-color: var(--warning-color);
}

.container {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background: white;
  flex-grow: 1;
  width: 100%;

  &:hover:not(:focus) {
    border-color: var(--dark-grey);
  }
}
</style>
