<vue-gwt:import class="nl.overheid.aerius.wui.application.components.input.suggest.SuggestListBoxData" />

<transition name="modal">
  <div class="glass" @click="autoClose()" v-if="showing">
    <div @click.stop="dummy()"
      class="modalContainer"
      :style='map(e("minWidth", minWidth), e("maxWidth", maxWidth), e("top", top), e("left", left))'>
      <div :style='map("height", height)' @click="autoClose()"></div>
      <vertical-collapse>
        <div class="modal">
          <vertical-collapse-group target="35" tag="ul">
            <li v-for="SuggestListBoxData item in options"
              tabindex="0"
              @keyup.enter.space="select(item)"
              @click="select(item)" :key="item.getCode()">
              <div class="item"
                v-debug="item.getName()"
                :class='map(e("selected", item.equals(selected)), e("warning", item.isWarn()))'
                :title="item.getDescription()">{{ item.getDescription() }}</div>
            </li>
          </vertical-collapse-group>
        </div>
      </vertical-collapse>
    </div>
  </div>
</transition>

<style lang="scss" scoped>
@import "../../../vertical-collapse.scss";

.glass {
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 500;
  width: 100vw;
  height: 100vh;

  opacity: 1;
  transition: opacity .2s ease-out;
}

.modalContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.modal {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-grey);
  background: white;
  overflow: auto;
  max-height: 300px;
  width: clamp(45ch, 100%, 75ch);
}

.item {
  padding: 10px;
  cursor: pointer;
  background: white;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.15s ease-out;
  user-select: none;
  width: clamp(45ch, 100%, 75ch);

  &.warning {
    color: var(--text-color);
    background: var(--warning-color-light);
    border: 1px solid var(--warning-color);
    border-bottom: none;
  }
  &:hover, &.selected {
    background: var(--theme-color);
    color: white;

    &.warning {
      outline: 2px solid var(--warning-color);
      outline-offset: -2px;
    }
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal,
.modal-leave-active .modal {
}
</style>
