<vue-gwt:import class="nl.overheid.aerius.shared.domain.ServerUsage" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.calculation.JobState" />

<div class="calculation-container">
  <div class="calculation">
    <vertical-collapse>
      <job-progress-bar class="job-progress-bar" :jobProgress="jobProgress">
        <div class="progress-text">{{ job.getJobContext().getName() }}</div>
      </job-progress-bar>
    </vertical-collapse>
    <vertical-collapse>
      <div class="progress-container" v-if="!state.isFailureState()"
        role="progressbar"
        aria-valuemin="1"
        :aria-valuemax="JobState.STEPS"
        :aria-valuenow="state.getStatePosition()"
        aria-describedby="calculator-progress-description">
        <job-progress-status
          class="job-progress-status"
          :jobProgress="jobProgress" />
        <div class="last-update">{{ lastUpdate }}</div>
        <vertical-collapse>
          <div class="warning"
            role="alert" aria-live="polite"
            v-if="isWarning">{{ i18n.calculationWarning(serverUsage) }}</div>
        </vertical-collapse>
        <div class="main">
          <icon v-if="state == JobState.QUEUING" icon="icon-queue" class="job-state-image" />
          <div v-else class="job-state-image" alt="loader" v-vector="img.loadingSpinner()" />
        </div>
        <button @click="stopCalculation()"
          class="button"
          v-debug:resultsButtonStopCalculation>{{ i18n.calculationStop() }}</button>
      </div>
    </vertical-collapse>
  </div>
  <vertical-collapse>
    <div v-if="state.isFailureState()" class="error-container">
      <div class="error-results">
        <div v-html="i18n.resultsErrorOccurred(jobProgress.getErrorMessage())"></div>
      </div>

      <button @click="resetCalculation()"
        class="button"
        v-debug:resultsButtonResetCalculation>{{ i18n.calculationReset() }}</button>
    </div>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../variables.scss";
@import "../../../../vertical-collapse.scss";

.job-progress-bar, .job-progress-status {
  border: 1px solid var(--theme-color);
  height: 30px;
  max-width: 400px;
  box-sizing: border-box;
}

.job-progress-bar {
  background: white;
}

.job-progress-status {
  border-radius: var(--default-radius);
  background: var(--theme-color-light);
}

.last-update {
  width: 100%;
  text-align: right;
  font-size: 8px;
  font-style: italic
}

.progress-text {
  font-weight: bold;
  font-size: 1.1em;
  z-index: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.error-container, .progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-results {
  padding: var(--spacer);
  margin: var(--spacer);
  color: var(--text-color);
  background-color: var(--error-color-light);
  border: 1px solid var(--error-color);
}

.calculation-container {
  height: 220px;
  flex-direction: column;
  display: flex;
  place-items: center;
  padding: 0 var(--spacer);
  justify-content: center;
  gap: var(--half-spacer);
}

.calculation {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  max-width: 400px;
  width: 100%;
}

.warning {
  background: var(--warning-color-light);
  border: 1px solid var(--warning-color);
  color: var(--text-color);
  padding: var(--spacer);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-calculation-name {
  height: 30px;
  width: 35%;
  margin-right: 5px;
  margin-left: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
}

.job-state-image {
  width: 40px;
  height: 40px;
  margin-top: -5px;
  margin-right: 5px;
  font-size: 24px;
  line-height: 40px;
}

.button {
  @include button;
}
</style>
