<div>
  <div class="container">
    <p>{{ message }}</p>
    <input type="text" v-model="message">

    <p>{{ count }}</p>
    <button @click.prevent="count = count + 1">Click me!</button>
  </div>
</div>

<style scoped lang="scss">
.container {
  min-width: 200px;
  padding: 20px;
  background: pink;
}
</style>
