<div v-if="hasMessage" class="panel" v-debug:systemInfoCenter>
  <div class="infoLabel" v-html="message" v-debug:systemInfoMessage></div>
</div>

<style scoped lang="scss">
.panel {
  background-color: #F6F4AB;
  height: 60px;
  display: grid;
  padding-right: 60px;
  place-items: center;
}

.infoLabel {
  text-align: center;
}
</style>
