<div>
  <project-calculation-cover-page :printOwN2000Context="context"/>
  <overview :eventBus="eventBus" :includeResults="true" :includeActivity="true" :includeAppendix="false" />
  <situation-summaries/>
  <results :eventBus="eventBus" />
  <emission-sources/>
</div>
