<div>
  <project-calculation-cover-page :printOwN2000Context="context"/>
  <overview :eventBus="eventBus" :includeResults="false" :includePolicyResults="true" :includeActivity="true" :includeAppendix="false"/>
  <situation-summaries/>
  <procurement-policy-results :eventBus="eventBus"/>
  <emission-sources/>
</div>
