<div>
  <project-calculation-cover-page :printOwN2000Context="context"/>
  <overview :eventBus="eventBus" :includeResults="false" :includeAppendix="true" :includeActivity="false"/>
  <results :eventBus="eventBus" :includeMap="false" :includeCalculationPoints="false"/>
</div>
