@page {
  size: A4;

  /* Keep these margins consistent with variables below, since we can't use variables in @page directive */
  margin: 32mm 16mm 16mm 41mm;
}

@media print {
  .print-hidden {
    display: none !important;
  }

  body {
    margin: 0;
    min-width: auto;
  }
}

:root {
  font-size: var(--font-size);

  /* Redefine page margin left, because we can't use variables in @page directive. */
  --page-margin-left: 41mm;
  --page-margin-right: 16mm;

  /* A4 width (210mm) minus left and right margins */
  --page-max-width: 153mm;

  /* A4 height (297mm) minus top and bottom margins */
  --page-max-height: 249mm;
}

/* Never allow special styling for anchors */
a {
  text-decoration: inherit;
  color: #194474;
}

.ol-zoom {
  display: none;
}
.ol-zoomslider {
  display: none;
}
