<vue-gwt:import class="java.util.Map" />

<div class="singleColumn">
  <sub-source-validation-behaviour
    :errors="false"
    :warnings="false"
    :selectedIndex="selectedIndex"
    :subSources="source.getSubSources()"
    @subSourceErrors="setSubSourceErrors((Map) $event)"
    @subSourceWarnings="setSubSourceWarnings((Map) $event)"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <modify-list :presenter="presenter"
    :selected="selected()"
    :enableNameLabels="false"
    :enableEdit="false"
    :typeText="i18n.esModifyTypeSubSource()"
    class="modifyToolbox" />

  <sub-source-empty-error
    :displayProblems="displayProblems"
    :subSources="source.getSubSources()" />

  <!-- Wrap in another div so :first-child and :last-child dynamic works -->
  <div>
    <vertical-collapse-group>
      <sub-source-validated-row v-for="(FarmlandActivity subSource, idx) in source.getSubSources()"
        :key="idx"
        :title="i18n.esModifyTypeSubSourceNumbered(idx + 1)"
        :selected="isSelected(idx)"
        :errors="hasErrors(idx)"
        :warnings="hasWarnings(idx)">
        <aer-farmland-emission-row-editor @select="selectSource(idx, subSource)"
          v-debug='"sourcelistRow" + idx'
          :source="subSource"
          :selected="isSelected(idx)" />
      </sub-source-validated-row>
    </vertical-collapse-group>
  </div>
</div>

<style scoped lang="scss">
@import "../../../variables.scss";
@import "../../../vertical-collapse.scss";
@import "../../modify/styles.scss";

</style>
