<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.EmissionSourceFeature" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.FarmlandActivityType"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.StandardFarmlandActivity"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farmland.CustomFarmlandActivity"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.FarmlandCategory" />

<div v-if="hasActivity()" class="farmlandContainer">
  <validation-behaviour :errors="v.selectedFarmlandCategoryV.invalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <minimal-input
    :showError="v.selectedFarmlandCategoryV.error"
    :errorMessage="() -> i18n.validationRequired()"
    v-validate:selectedFarmlandCategoryV.input
    :class='map(e("error-input", v.selectedFarmlandCategoryV.error))'>
    <simple-listbox id="emissionSourceFarmlandCategory"
      class="farmlandSelect"
      v-debug:emissionSourceFarmlandCategory
      :optionsArr="farmlandCategories"
      :keyFunction="entryKey"
      :selected="subSource.getActivityCode()"
      :placeholder="i18n.dropdownPlaceholder()"
      @select='selectFarmland((FarmlandCategory) $event)'>
      <template slot-scope="{ FarmlandCategory option }">{{ option.getDescription() }}</template>
    </simple-listbox>
  </minimal-input>
  <aer-farmland-standard-emission v-if="isSelected(FarmlandActivityType.STANDARD)"
     @errors='trackChildError("farmland", (boolean) $event)'
     @warnings='trackChildWarning("farmland", (boolean) $event)'
    :standardFarmlandActivity="(StandardFarmlandActivity) subSource"
    :farmSourceCategories="farmSourceCategories" />
  <aer-farmland-custom-emission v-if="isSelected(FarmlandActivityType.CUSTOM)"
     @errors='trackChildError("farmland", (boolean) $event)'
     @warnings='trackChildWarning("farmland", (boolean) $event)'
    :customFarmlandActivity="(CustomFarmlandActivity) subSource"
    :substances="substances" />
</div>

<style scoped lang="scss">
@import "../../../vertical-collapse.scss";
@import "../../../variables.scss";

.farmlandContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.farmlandSelect {
  flex-grow: 1;
}
</style>
