<div class="additionalOptionsContainer"
  v-show="flags.isAdmsExport() || flags.isOpsExport()">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input v-if="flags.isAdmsExport()"
    :label="i18n.exportAsADMS()"
    division="1fr 30px"
    name="ADMSExport">
    <checkbox
      v-model="ADMSExport"
      id="ADMSExport" />
  </labeled-input>
  <labeled-input v-if="flags.isOpsExport()"
    :label="i18n.exportAsOPS()"
    division="1fr 30px"
    name="OPSExport">
    <checkbox
      v-model="OPSExport"
      id="exportOPS" />
  </labeled-input>
</div>

<style lang="scss" scoped>
.additionalOptionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: 0px var(--spacer);
}
</style>
