<div class="exportOptions">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input :label="i18n.calculateType()"
    name="scenarioResultType"
    division="1fr 1fr"
    :transparent="true">
    <simple-listbox id="scenarioResultType"
      v-debug:scenarioResultType
      :options="calculationMethods"
      :selected="calculationMethod"
      :placeholder="i18n.dropdownPlaceholder()"
      @select="selectCalculationMethod((CalculationMethod) $event)">
      <template slot-scope="{ Object option }">{{ i18n.calculationMethod(applicationContext.getTheme(), (CalculationMethod) option) }}</template>
    </simple-listbox>
  </labeled-input>
  <calculation-job-meteorological-settings
    :options="exportContext.getCalculationOptions()"
    :composition="exportContext.getSituationComposition()"
    :calculation-method="calculationMethod"
    v-if="isNCA"
    @errors='trackChildError("calculation-options", (boolean) $event)'
    @warnings='trackChildWarning("calculation-options", (boolean) $event)' />
</div>

<style lang="scss" scoped>
.exportOptions {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
</style>
