<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.adms.ADMSLimits"/>
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.ADMSCharacteristics"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.adms.BuoyancyType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.adms.EffluxType"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.adms.SourceType"/>

<div class="mainContent">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasWarnings || hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <vertical-collapse>
    <labeled-input v-if="hasGeometry && availableSourceTypes.size() > 1"
      :label="i18n.sourceADMSSourceTypeLabels()"
      name="sourceType"
      :transparent="true">
      <simple-listbox id="sourceType"
        :options="availableSourceTypes"
        :confirmation="sourceTypeConfirmationMessage"
        v-debug:sourceType
        :selected="sourceType"
        :placeholder="i18n.dropdownPlaceholder()"
        @select="selectSourceType((SourceType) $event)">
        <template slot-scope="{ SourceType option }">{{ i18n.sourceADMSSourceType(option) }}</template>
      </simple-listbox>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <building-selector
      @errors='trackChildError("building", (boolean) $event)'
      @warnings='trackChildWarning("building", (boolean) $event)'
      :show="isPointSource && !isJetSource"
      :eventBus="eventBus"
      :source="source" />
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="isJetSource"
      :label="i18n.sourceADMSElevationAngle()"
      name="elevationAngle"
      :transparent="true"
      :unit="i18n.unitSingularDegrees()"
      :unitDescription="i18n.unitSingularDegreesDescription()"
      :errorValidation="v.elevationAngleV"
      :errorMessage="() -> getElevationAngleValidationError()">
      <input id="elevationAngle"
        type="number"
        v-validate:elevationAngleV.input
        v-model="elevationAngle"
        :min="ADMSLimits.ELEVATION_ANGLE_MIN"
        :max="ADMSLimits.ELEVATION_ANGLE_MAX"
        step="any"
        :placeholder="ADMSLimits.ELEVATION_ANGLE_DEFAULT"
        v-debug:elevationAngle>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="isJetSource"
      :label="i18n.sourceADMSHorizontalAngle()"
      name="horizontalAngle"
      :transparent="true"
      :unit="i18n.unitSingularDegrees()"
      :unitDescription="i18n.unitSingularDegreesDescription()"
      :errorValidation="v.horizontalAngleV"
      :errorMessage="() -> getHorizontalAngleValidationError()">
      <input id="horizontalAngle"
        type="number"
        v-validate:horizontalAngleV.input
        v-model="horizontalAngle"
        :min="ADMSLimits.HORIZONTAL_ANGLE_MIN"
        :max="ADMSLimits.HORIZONTAL_ANGLE_MAX"
        step="any"
        :placeholder="ADMSLimits.HORIZONTAL_ANGLE_DEFAULT"
        v-debug:horizontalAngle>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="isVolumeSource"
      :label="i18n.sourceADMSVerticalDimension()"
      name="sourceVerticalDimension"
      :transparent="true"
      :unit="i18n.unitSingularMeter()"
      :unitDescription="i18n.unitSingularMeterDescription()"
      :errorValidation="v.verticalDimensionV"
      :errorMessage="() -> getVerticalDimensionValidationError()">
      <input id="sourceVerticalDimension"
        type="number"
        step="any"
        v-validate:verticalDimensionV.input
        v-model="verticalDimension"
        :placeholder="ADMSLimits.SOURCE_L1_DEFAULT"
        v-debug:sourceVerticalDimension>
    </labeled-input>
  </vertical-collapse>
  <labeled-input
    :label="i18n.sourceADMSHeight()"
    name="sourceHeight"
    :transparent="true"
    :unit="i18n.unitSingularMeter()"
    :unitDescription="i18n.unitSingularMeterDescription()"
    :showError="shouldShowHeightError()"
    :errorMessage="() -> getHeightValidationError()"
    :showWarning="shouldShowHeightWarning()"
    :warningMessage="() -> getHeightValidationWarning()">
    <input id="sourceHeight"
      type="number"
      :min="ADMSLimits.SOURCE_HEIGHT_MINIMUM"
      :max="ADMSLimits.SOURCE_HEIGHT_MAXIMUM"
      step="any"
      v-validate:heightV.input
      v-model="height"
      :placeholder="ADMSLimits.SOURCE_HEIGHT_MINIMUM"
      v-debug:sourceHeight>
  </labeled-input>
  <vertical-collapse>
    <labeled-input
      v-if="isLineSource"
      :label="i18n.sourceADMSWidth()"
      name="sourceWidth"
      :transparent="true"
      :unit="i18n.unitSingularMeter()"
      :unitDescription="i18n.unitSingularMeterDescription()"
      :errorValidation="v.widthV"
      :errorMessage="() -> getWidthValidationError()">
      <input id="sourceWidth"
        type="number"
        :min="ADMSLimits.SOURCE_WIDTH_MINIMUM"
        :max="ADMSLimits.SOURCE_WIDTH_MAXIMUM"
        step="any"
        v-validate:widthV.input
        v-model="width"
        :placeholder="ADMSLimits.SOURCE_WIDTH_INITIAL"
        v-debug:sourceWidth>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="isPointSource"
      :label="i18n.sourceADMSDiameter()"
      name="sourceDiameter"
      :transparent="true"
      :unit="i18n.unitSingularMeter()"
      :unitDescription="i18n.unitSingularMeterDescription()"
      :errorValidation="v.diameterV"
      :errorMessage="() -> getDiameterValidationError()">
      <input id="sourceDiameter"
        type="number"
        :min="ADMSLimits.SOURCE_DIAMETER_MINIMUM"
        :max="ADMSLimits.SOURCE_DIAMETER_MAXIMUM"
        step="any"
        v-validate:diameterV.input
        v-model="diameter"
        :placeholder="ADMSLimits.SOURCE_DIAMETER_MINIMUM"
        v-debug:sourceDiameter>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="!isVolumeSource"
      :label="i18n.sourceADMSBuoyancyTypeLabels()"
      name="buoyancyType"
      :transparent="true">
      <select
        id="buoyancyType"
        v-model="buoyancyType"
        v-debug:buoyancyType>
        <option v-for="BuoyancyType bt in BuoyancyType.values()"
          :value="bt.name()"> {{ i18n.sourceADMSBuoyancyType(bt) }}</option>
      </select>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="isBuoyancyType(BuoyancyType.TEMPERATURE) && !isVolumeSource"
      :label="i18n.sourceADMSTemperature()"
      name="sourceTemperature"
      :transparent="true"
      :unit="i18n.unitSingularCelsius()"
      :unitDescription="i18n.unitSingularCelsiusDescription()"
      :errorValidation="v.temperatureV"
      :errorMessage="() -> getTemperatureValidationError()">
      <input id="sourceTemperature"
        type="number"
        :min="ADMSLimits.SOURCE_TEMPERATURE_MINIMUM"
        :max="ADMSLimits.SOURCE_TEMPERATURE_MAXIMUM"
        step="any"
        v-validate:temperatureV.input
        v-model="temperature"
        :placeholder="ADMSLimits.SOURCE_TEMPERATURE_DEFAULT"
        v-debug:sourceTemperature>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="isBuoyancyType(BuoyancyType.DENSITY)"
      :label="i18n.sourceADMSDensity()"
      name="sourceDensity"
      :transparent="true"
      :unit="i18n.unitSingularKgPerCubicMeter()"
      :unitDescription="i18n.unitSingularKgPerCubicMeterDescription()"
      :errorValidation="v.densityV"
      :errorMessage="() -> getDensityValidationError()">
      <input id="sourceDensity"
        type="number"
        step="any"
        :min="ADMSLimits.SOURCE_DENSITY_MINIMUM"
        :max="ADMSLimits.SOURCE_DENSITY_MAXIMUM"
        v-validate:densityV.input
        v-model="density"
        :placeholder="ADMSLimits.SOURCE_DENSITY_DEFAULT"
        v-debug:sourceDensity>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="!isJetSource && !isVolumeSource"
      :label="i18n.sourceADMSEffluxTypeLabels()"
      name="effluxType"
      :transparent="true">
      <select
        id="effluxType"
        v-model="effluxType"
        v-debug:effluxType>
        <option v-for="EffluxType et in effluxTypes"
          :value="et.name()"> {{ i18n.sourceADMSEffluxType(et) }}</option>
      </select>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="isVerticalVelocity() && !isVolumeSource"
      :label="i18n.sourceADMSVerticalVelocity()"
      name="sourceVerticalVelocity"
      :transparent="true"
      :unit="i18n.unitSingularMeterPerSecond()"
      :unitDescription="i18n.unitSingularMeterPerSecondDescription()"
      :errorValidation="v.verticalVelocityV"
      :errorMessage="() -> getVerticalVelocityValidationError()">
      <input id="sourceVerticalVelocity"
        type="number"
        :min="ADMSLimits.SOURCE_VERTICAL_VELOCITY_MINIMUM"
        :max="ADMSLimits.SOURCE_VERTICAL_VELOCITY_MAXIMUM"
        v-validate:verticalVelocityV.input
        v-model="verticalVelocity"
        step="any"
        :placeholder="ADMSLimits.SOURCE_VERTICAL_VELOCITY_DEFAULT"
        v-debug:sourceVerticalVelocity>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="isVolumetricFlowRate()"
      :label="i18n.sourceADMSVolumetricFlowRate()"
      name="sourceVolumetricFlowRate"
      :transparent="true"
      :unit="i18n.unitSingularCubicMeterPerSecond()"
      :unitDescription="i18n.unitSingularCubicMeterPerSecondDescription()"
      :errorValidation="v.volumetricFlowRateV"
      :errorMessage="() -> getVolumetricFlowRateValidationError()">
      <input id="sourceVolumetricFlowRate"
        type="number"
        :min="ADMSLimits.SOURCE_VOLUMETRIC_FLOW_RATE_MINIMUM"
        :max="ADMSLimits.SOURCE_VOLUMETRIC_FLOW_RATE_MAXIMUM"
        step="any"
        v-validate:volumetricFlowRateV.input
        v-model="volumetricFlowRate"
        :placeholder="ADMSLimits.SOURCE_VOLUMETRIC_FLOW_RATE_DEFAULT"
        v-debug:sourceVolumetricFlowRate>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="isMassFlux()"
      :label="i18n.sourceADMSMassFlux()"
      name="sourceMassFlux"
      :transparent="true"
      :unit="i18n.unitSingularKgPerS()"
      :unitDescription="i18n.unitSingularKgPerSDescription()"
      :errorValidation="v.massFluxV"
      :errorMessage="() -> getMassFluxValidationError()">
      <input id="sourceMassFlux"
        type="number"
        :min="ADMSLimits.SOURCE_MASS_FLUX_MINIMUM"
        :max="ADMSLimits.SOURCE_MASS_FLUX_MAXIMUM"
        step="any"
        v-validate:massFluxV.input
        v-model="massFlux"
        :placeholder="ADMSLimits.SOURCE_MASS_FLUX_DEFAULT"
        v-debug:sourceMassFlux>
    </labeled-input>
  </vertical-collapse>
  <vertical-collapse>
    <labeled-input v-if="!isVolumeSource"
      :label="i18n.sourceADMSSpecificHeatCapacity()"
      name="sourceSpecificHeatCapacity"
      :transparent="true"
      :unit="i18n.unitSingularJoulePerKPerKg()"
      :unitDescription="i18n.unitSingularJoulePerKPerKgDescription()"
      :errorValidation="v.specificHeatCapacityV"
      :errorMessage="() -> getSpecificHeatCapacityValidationError()">
      <input id="sourceSpecificHeatCapacity"
        type="number"
        :min="ADMSLimits.SOURCE_SPECIFIC_HEAT_CAPACITY_MINIMUM"
        :max="ADMSLimits.SOURCE_SPECIFIC_HEAT_CAPACITY_MAXIMUM"
        step="any"
        v-validate:specificHeatCapacityV.input
        v-model="specificHeatCapacity"
        :placeholder="ADMSLimits.SOURCE_SPECIFIC_HEAT_CAPACITY_DEFAULT"
        v-debug:sourceSpecificHeatCapacity>
    </labeled-input>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
@import "../../../../vertical-collapse.scss";

.mainContent {
  flex-grow: 1;
  padding: var(--spacer);

  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
