<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.characteristics.adms.BuoyancyType"/>

<div v-if="characteristics != null" class="admsContainer">
  <h3>{{ i18n.sourceCharacteristicsTitle() }}</h3>
  <divider type="small" />
  <detail-stat
    debugId="sourceADMSSourceTypeLabels"
    :label="i18n.sourceADMSSourceTypeLabels()"
    :value="i18n.sourceADMSSourceType(sourceType)" />
  <detail-stat
    debugId="sourceADMSBuildingInfluence"
    :label="i18n.sourceBuildingInfluenceLabel()"
    :value="characteristics.isBuildingInfluence() ? getBuildingName() : i18n.sourceNoBuildingInFluence()" />

  <detail-stat :show="isJetSource"
    debugId="sourceADMSElevationAngle"
    :label="i18n.sourceADMSElevationAngle()"
    :value="i18n.unitDegrees(i18n.decimalNumberFixed(chars.getElevationAngle(), 2))" />
  <detail-stat :show="isJetSource"
    debugId="sourceADMSHorizontalAngle"
    :label="i18n.sourceADMSHorizontalAngle()"
    :value="i18n.unitDegrees(i18n.decimalNumberFixed(chars.getHorizontalAngle(), 2))" />
  <detail-stat :show="isVolumeSource"
    debugId="sourceADMSVerticalDimension"
    :label="i18n.sourceADMSVerticalDimension()"
    :value="i18n.unitM(i18n.decimalNumberFixed(chars.getVerticalDimension(), 2))" />

  <detail-stat
    debugId="sourceADMSHeight"
    :label="i18n.sourceADMSHeight()"
    :value="i18n.unitM(i18n.decimalNumberFixed(chars.getHeight(), 2))" />
  <detail-stat :show="isLineSource"
    debugId="sourceADMSWidth"
    :label="i18n.sourceADMSWidth()"
    :value="i18n.unitM(i18n.decimalNumberFixed(chars.getWidth(), 2))" />
  <detail-stat :show="isPointSource"
    debugId="sourceADMSDiameter"
    :label="i18n.sourceADMSDiameter()"
    :value="i18n.unitM(i18n.decimalNumberFixed(chars.getDiameter(), 2))" />

  <detail-stat :show="!isVolumeSource"
    debugId="sourceADMSBuoyancyTypeDetailLabel"
    :label="i18n.sourceADMSBuoyancyTypeDetailLabel()"
    :value="i18n.sourceADMSBuoyancyType(buoyancyType)" />

  <detail-stat :show="isBuoyancyType(BuoyancyType.TEMPERATURE)"
    debugId="sourceADMSTemperature"
    :label="i18n.sourceADMSTemperature()"
    :value="i18n.unitC(i18n.decimalNumberFixed(chars.getTemperature(), 2))" />
  <detail-stat :show="isBuoyancyType(BuoyancyType.DENSITY)"
    debugId="sourceADMSDensity"
    :label="i18n.sourceADMSDensity()"
    :value="i18n.unitKgPerCubicMeter(i18n.decimalNumberFixed(chars.getDensity(), 2))" />

  <detail-stat :show="!isVolumeSource"
    debugId="sourceADMSEffluxTypeLabels"
    :label="i18n.sourceADMSEffluxTypeLabels()"
    :value="i18n.sourceADMSEffluxType(chars.getEffluxType())" />

  <detail-stat :show="isVerticalVelocity"
    debugId="sourceADMSVerticalVelocity"
    :label="i18n.sourceADMSVerticalVelocity()"
    :value="i18n.unitMPerS(i18n.decimalNumberFixed(chars.getVerticalVelocity(), 2))" />
  <detail-stat :show="isVolumetricFlowRate"
    debugId="sourceADMSVolumetricFlowRate"
    :label="i18n.sourceADMSVolumetricFlowRate()"
    :value="i18n.unitCubicMPerS(i18n.decimalNumberFixed(chars.getVolumetricFlowRate(), 2))" />
  <detail-stat :show="isMassFlux"
    debugId="sourceADMSMassFlux"
    :label="i18n.sourceADMSMassFlux()"
    :value="i18n.unitKgPerS(i18n.decimalNumberFixed(chars.getMassFlux(), 2))" />

  <detail-stat :show="!isVolumeSource"
    debugId="sourceADMSSpecificHeatCapacity"
    :label="i18n.sourceADMSSpecificHeatCapacity()"
    :value="i18n.unitJoulePerKPerKg(i18n.decimalNumberFixed(chars.getSpecificHeatCapacity(), 3))" />
</div>
