<div class="inputContainer">
  <input-error :id='name + "_error"'
    :attached="true"
    :showError="isDisplayNotice"
    :errorMessage="noticeMessage" />
</div>

<style scoped lang="scss">
</style>
