<vue-gwt:import class="elemental2.dom.FocusEvent" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.calculationpoint.CalculationPointEditorComponent.CalculationPointPanel" />

<div class="content">
  <feature-heading
    :feature="calculationPoint"
    :eventBus="eventBus"
    backColor="var(--light-yellow)"
    foreColor="black"
    borderRadius="50%"
    width="30px"
    :title="calculationPointTitle" />
  <div class="nameBlock">
    <labeled-input :label="i18n.esLabelName()" name="label"
      tabindex="-1"
      :showError="validationContext.getNameError()"
      :errorMessage="() -> i18n.validationRequired()"
      @focusout.native="onLabelNameFocusOut((FocusEvent) $event)">
      <input type="text"
        v-debug:label
        v-model="label"
        @focus="onLabelNameFocus()"
        :placeholder="i18n.esLabelName()" />
      <privacy-warning slot="warning"
        :eventBus="eventBus"
        v-if="nameLabelFocused" />
    </labeled-input>
  </div>
  <div>
    <collapsible-panel :title="i18n.esLocation()"
      :open="isOpen(CalculationPointPanel.LOCATION)"
      @open="openPanel(CalculationPointPanel.LOCATION)"
      @user-close="closePanel()">
      <error-warning-icon slot="aux"
        :title="i18n.esLocation()"
        :reveal="displayFormProblems && !isOpen(CalculationPointPanel.LOCATION)"
        :showError="validationContext.getLocationError() || validationContext.getLocationNotUnique()" />
      <div class="location-container">
        <calculation-point-location-editor
          @errors="onLocationErrorsChange((boolean) $event)"
          @calculationPointLocationUpdated="updateLocationNotUnique()"
          :showErrors="displayFormProblems"
          :eventBus="eventBus"
          :calculationPoint="calculationPoint"
          :open="isOpen(CalculationPointPanel.LOCATION)" />
        <input-error class="location-error"
          :round="true"
          :showError="validationContext.getLocationNotUnique()"
          :errorMessage="() -> getLocationNotUniqueErrorMessage()" />
      </div>
    </collapsible-panel>
    <collapsible-panel v-if="isNcaPoint"
      :title="i18n.calculationPointsCharacteristicsTitle()"
      :open="isOpen(CalculationPointPanel.ROAD_FRACTION_NO2)"
      @open="openPanel(CalculationPointPanel.ROAD_FRACTION_NO2)"
      @user-close="closePanel()">
      <error-warning-icon slot="aux"
        :title="i18n.calculationPointsCharacteristicsTitle()"
        :reveal="displayFormProblems && !isOpen(CalculationPointPanel.ROAD_FRACTION_NO2)"
        :showError="validationContext.getCharacteristicsError()" />
      <calculation-point-characteristics-editor
        @errors="onPointCharacteristicsErrorsChange((boolean) $event)"
        :showErrors="displayFormProblems"
        :eventBus="eventBus"
        :calculationPoint="(NcaCustomCalculationPointFeature) calculationPoint" />
    </collapsible-panel>
    <collapsible-panel v-if="isNcaPoint"
      :title="i18n.calculationPointAssignHabitatTitle()"
      :open="isOpen(CalculationPointPanel.ASSIGN_HABITAT)"
      @open="openPanel(CalculationPointPanel.ASSIGN_HABITAT)"
      @user-close="closePanel()">
      <error-warning-icon slot="aux"
        :title="i18n.calculationPointAssignHabitatTitle()"
        :reveal="displayFormProblems && !isOpen(CalculationPointPanel.ASSIGN_HABITAT)"
        :showError="validationContext.getDetailError()" />
      <calculation-point-habitats-editor
        :calculationPoint="(NcaCustomCalculationPointFeature) calculationPoint" :eventBus="eventBus" />
    </collapsible-panel>
  </div>
  <modify-cancel-save
    :prevented="validationContext.hasErrors()"
    :confirm="displayFormProblems"
    debugId="AssessmentPoint"
    @cancel="cancel()"
    @confirm="setNotificationState((boolean) $event)"
    @save="save()"
    @try-save="trySave()">
    <div class="errorContainer"
      slot="prevented"
      role="alert"
      aria-live="polite"
      v-debug:calculationPointErrorContainer>
      <div class="label">{{ i18n.esButtonSavePreventedText() }}</div>
      <div @click="closeError()" class="close"
        v-vector="img.iconClose()"></div>
    </div>
  </modify-cancel-save>
</div>

<style lang="scss" scoped>
@import "../input/validations.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.nameBlock {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
  padding: 0 var(--spacer);
}

.location-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.location-error {
  margin: var(--spacer);
  margin-top: 0;
}
</style>
