<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext"/>
<vue-gwt:import class="java.lang.String"/>

<div class="placementComponent">
  <p>{{ i18n.calculationPointsPlacementType() }}</p>

  <div class="pointTypes"
    v-debug:pointTypes>
    <div class="rowPointType"
      v-if="showAbroadOption">
      <checkbox :value="pointsAbroad"
        @input="pointsAbroad = (boolean) $event"
        id="checkPointsAbroad" />
      <label for="checkPointsAbroad">{{ i18n.calculationPointsPlacementTypeAbroad() }}</label>
    </div>

    <div class="rowPointType">
      <checkbox :value="pointsInland"
        @input="pointsInland = (boolean) $event"
        id="checkPointsInland" />
      <label for="checkPointsInland">{{ i18n.calculationPointsPlacementTypeInland() }}</label>
      <input-with-unit
        :showError="isRadiusInvalid"
        :unit="i18n.unitSingularMeter()"
        :unitDescription="i18n.unitSingularMeterDescription()">
        <input id="radiusPointsInland"
          type="number"
          min="0"
          step="1"
          :max="maxInlandRadius"
          v-model="inlandRadius" />
      </input-with-unit>
    </div>
    <input-error
      :attached="true"
      :showError="isRadiusInvalid"
      :errorMessage="this::getInlandRadiusValidationError" />
  </div>

  <div class="situationSelector">
    <labeled-input :label="i18n.calculationPointsPlacementSituation()"
      division="4fr 6fr">
      <simple-listbox
        :options="situations"
        :keyFunction="situationToKey"
        :selected="selectedSituation"
        name="calculationPointsPlacementSituation"
        v-debug:calculationPointsPlacementSituation
        @select='selectedSituation = (SituationContext) $event'>
        <template slot-scope="{ Object option }">{{ SituationContext.formatName((SituationContext) option) }}</template>
      </simple-listbox>
    </labeled-input>
  </div>

  <div class="rowCancelAccept">
    <button
      class="btnCancel"
      v-debug:calculationPointPlacementBtnCancel
      @click="clickCancel()">{{ i18n.calculationPointsPlacementButtonCancel() }}</button>
    <img v-if="isDetermining"
      :alt="i18n.ariaLabelSpinner()"
      class="spinner"
      :src="img.loadingSpinner().getSafeUri().asString()" />
    <button
      :disabled="isDetermining || isRadiusInvalid"
      class="btnDetermine"
      v-debug:calculationPointPlacementBtnDetermine
      @click="determinePlacement()">{{ i18n.calculationPointsPlacementButtonDetermine() }}</button>
  </div>

  <div v-if="messageClass != null" :class="messageClass" class="messageContainer noticeContainer">
      <div class="label">{{ message }}</div>
  </div>

  <button
    v-if="!placementContext.getPlacementResult().getComputedCalculationPoints().isEmpty()"
    class="btnAccept"
    v-debug:calculationPointPlacementBtnAccept
    @click="clickAccept()">{{ i18n.calculationPointsPlacementButtonAccept() }}</button>
</div>

<style lang="scss" scoped>
@import "../input/inputs.scss";
@import "../../variables.scss";

.placementComponent {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.spinner {
  margin-left: auto;
  aspect-ratio: 1 / 1;
  height: 33px;
}

.rowCancelAccept, .rowSituationDetermine {
  display: flex;
  justify-content: space-between;
}

.rowPointType {
  display: grid;
  grid-template-columns: auto 1fr 80px;
  align-items: center;
  height: 30px
}

.situationSelector, .message {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

.btnDetermine, .btnAccept, .btnCancel {
  @include button;
}

.messageContainer {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

</style>
