<div class="middleContainer">
  <horizontal-collapse :seek="(boolean) false">
    <calculation-point-habitat-detail-view v-if="isHabitatAvailable()"
      class="container"
      :habitat="habitat"
      :eventBus="eventBus"/>
  </horizontal-collapse>
</div>

<style scoped lang="scss">
@import '../../horizontal-collapse.scss';

.middleContainer {
  flex-grow: 1;
  display: flex;
}
</style>
