<div class="row" :class='map("selected", selected)' tabindex="0">
  <div class="iconColumn">
    <i class="icon-habitat-specie" />
  </div>
  <div class="labelColumn">{{ habitat.getDescription() }}</div>
</div>

<style scoped lang="scss">
@import "../../variables.scss";
@import "../../row-item.scss";

.row {
  display: grid;
  grid-template-columns: 36px 1fr;

  &:first-child {
    border-top: var(--half-separator);
  }

  &:last-child {
    border-bottom: var(--half-separator);
  }
}

.selected {
  background-color: var(--theme-color);
}
</style>
