<div class="habitat-detail-container">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="onDetailEditorErrorChange((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <div class="header">
    <h2 class="title">{{ i18n.calculationPointHabitatDetailTitle() }}</h2>
    <button-icon v-debug:assessmentPointHabitatDetailButtonClose
      class="buttonClose"
      fontSize="16px"
      :titleText="i18n.ariaLabelClose()"
      @select="close()"
      iconClass="icon-close" />
  </div>
  <div class="content">
    <labeled-input
      :label="i18n.calculationPointHabitatDetailName()"
      name="name"
      :errorValidation="v.nameV"
      :errorMessage="() -> i18n.validationRequired()">
      <input type="text"
        v-debug:calculationPointHabitatNameInput
        v-model="name"
        :placeholder="i18n.calculationPointHabitatDetailName()"
        :aria-label="i18n.calculationPointHabitatDetailName()">
    </labeled-input>
    <div class="end">{{ i18n.calculationPointHabitatDetailInclude() }}</div>

    <div class="criticalLevelRow">
      <labeled-input
        :label="i18n.calculationPointHabitatDetailCLNOx()"
        name="criticalLevelNOx"
        :unit="i18n.unitCriticalLevel()"
        :unitDescription="i18n.unitCriticalLevelDescription()"
        :showError="criticalLevelNOxEnabled && v.criticalLevelNOxV.error"
        :errorMessage="() -> getCriticalLevelInputError(i18n.calculationPointHabitatDetailCLNOx())">
        <input type="number"
          v-debug:calculationPointHabitatNOxInput
          v-model="criticalLevelNOx"
          min="0"
          :placeholder="0"
          :aria-label="i18n.calculationPointHabitatDetailCLNOx()"
          :disabled="!criticalLevelNOxEnabled">
      </labeled-input>
      <checkbox class="checkboxContainer"
        v-model=criticalLevelNOxEnabled
        v-debug:calculationPointHabitatNOxCheckbox />
    </div>

    <div class="criticalLevelRow">
      <labeled-input
        :label="i18n.calculationPointHabitatDetailCLNH3()"
        name="criticalLevelNH3"
        :unit="i18n.unitCriticalLevel()"
        :unitDescription="i18n.unitCriticalLevelDescription()"
        :showError="criticalLevelNH3Enabled && v.criticalLevelNH3V.error"
        :errorMessage="() -> getCriticalLevelInputError(i18n.calculationPointHabitatDetailCLNH3())">
        <input type="number"
          v-debug:calculationPointHabitatCLNH3Input
          v-model="criticalLevelNH3"
          min="0"
          :placeholder="0"
          :aria-label="i18n.calculationPointHabitatDetailCLNH3()"
          :disabled="!criticalLevelNH3Enabled">
      </labeled-input>
      <checkbox class="checkboxContainer"
        v-model=criticalLevelNH3Enabled
        v-debug:calculationPointHabitatNH3Checkbox />
    </div>

    <div class="criticalLevelRow">
      <labeled-input
        :label="i18n.calculationPointHabitatDetailCL()"
        name="criticalLoad"
        :unit="i18n.unitCriticalLoad()"
        :unitDescription="i18n.unitCriticalLoadDescription()"
        :showError="criticalLoadEnabled && v.criticalLoadV.error"
        :errorMessage="() -> getCriticalLoadInputError(i18n.calculationPointHabitatDetailCL())">
        <input type="number"
          v-debug:calculationPointHabitatCLInput
          v-model="criticalLoad"
          min="0"
          :placeholder="0"
          :aria-label="i18n.calculationPointHabitatDetailCL()"
          :disabled="!criticalLoadEnabled">
      </labeled-input>
      <checkbox class="checkboxContainer"
        v-model=criticalLoadEnabled
        v-debug:calculationPointHabitatCLCheckbox />
    </div>
  </div>
</div>

<style scoped lang="scss">
@import "../../variables.scss";
@import "../input/inputs.scss";

.habitat-detail-container {
  overflow: hidden;
  width: var(--middle-section-width);
  padding: 0px var(--spacer);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      flex-grow: 1;
    }

    .buttonClose {
      margin-top: var(--spacer);
      height: var(--row-height-generous);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--half-spacer);

    .end {
      text-align: right;
    }

    .criticalLevelRow {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: var(--half-spacer);
    }

    .container {
      align-items: flex-start;
    }
  }
}
</style>
