<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.calculationpoint.CalculationPointEntityReference"/>

<div class="content">
  <vertical-collapse>
    <div v-if="hasHabitatTypes" class="habitatsContainer">
      <div>
        <modify-list
          class="toolbox"
          debugId="calculation-point-habitat-"
          newIconClass="icon-btn-new-habitat-specie"
          :typeText="i18n.calculationPointHabitat()"
          :selected="listContext.hasSelection()"
          :singleSelected="listContext.hasSingleSelection()"
          :multiSelected="listContext.hasMultiSelection()"
          @new-entity="createNewHabitatType()"
          @duplicate-entity="duplicateHabitatType()"
          @delete-entity="deleteHabitatType()" />
        <div class="habitats">
          <vertical-collapse-group>
            <aer-habitat-row :habitat="habitat"
              v-for="(CalculationPointEntityReference habitat, idx) in habitats"
              :key="idx"
              :selected="isSelected(habitat)"
              v-debug='"CalculationPointHabitatRow-" + idx'
              @keyup.enter.space.native="selectHabitat(habitat)"
              @click.native="selectHabitat(habitat)" />
          </vertical-collapse-group>
        </div>
      </div>
    </div>
  </vertical-collapse>
  <vertical-collapse>
    <div v-if="!hasHabitatTypes" class="emptyHabitats" v-debug:emptyHabitats>
      <p v-html="i18n.calculationPointsHabitatEmptyInfo()"></p>
      <div class="buttons">
        <button-icon class="button"
          :hardBorder="true"
          @select="createNewHabitatType()"
          iconClass="icon-btn-new-habitat-specie"
          v-debug:assessmentPointNewHabitatButtonEmpty>
          <span class="label">{{ i18n.calculationPointsNewHabitatTitle() }}</span>
        </button-icon>
      </div>
    </div>
  </vertical-collapse>
</div>

<style lang="scss" scoped>
@import "../../vertical-collapse.scss";

.content {
  padding: var(--spacer);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  .selected {
    background-color: var(--theme-color-light);
  }

  .emptyHabitats {
    padding: 0px var(--spacer);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
    justify-content: center;

    .buttons {
      display: flex;
      gap: var(--spacer);
      justify-content: center;

      .button {
        padding: var(--spacer);
        height: initial;

        display: flex;
        align-items: center;

        .label {
          padding: 0px var(--spacer);
        }
      }
    }
  }
}

</style>
