<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.point.AssessmentCategory"/>

<div class="content">
  <validation-behaviour :errors="v.roadLocalFractionNO2V.invalid || v.heightV.invalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input
    :label="i18n.calculationPointsCharacteristicsCategoryTitle()"
    name="sourceListCategory"
    :transparent="true">
    <simple-listbox id="sourceListCategory"
      v-debug:sourceListCategory
      :options="assessmentCategories"
      :selected="assessmentCategory"
      :strict="false"
      @select="selectAssessmentCategory((AssessmentCategory) $event)"
      @select-unknown="selectAssessmentCategory(null)">
      <option slot="optionsBefore" value="null">{{ i18n.calculationPointsCharacteristicsCategoryNone() }}</option>
      <template slot-scope="{ AssessmentCategory option }">{{ i18n.calculationPointsCharacteristicsCategory(option) }}</template>
    </simple-listbox>
  </labeled-input>
  <labeled-input
    :label="i18n.calculationPointsCharacteristicsHeight()"
    name="pointRoadHeight"
    :unit="i18n.unitSingularMeter()"
    :unitDescription="i18n.unitSingularMeterDescription()"
    :transparent="true"
    :errorValidation="v.heightV"
    :errorMessage="() -> getHeightValidationError()">
    <input id="pointRoadHeight"
      type="number"
      :step="0.01"
      v-validate:heightV.input
      v-model="height"
      v-debug:pointRoadHeight>
  </labeled-input>
  <labeled-input
    :label="i18n.calculationPointsCharacteristicsFractionNO2()"
    name="pointRoadFractionNO2"
    :transparent="true"
    :errorValidation="v.roadLocalFractionNO2V"
    :errorMessage="() -> getRoadLocalFractionNO2ValidationError()">
    <input id="pointRoadFractionNO2"
      type="number"
      min="0.0"
      :step="0.001"
      v-validate:roadLocalFractionNO2V.input
      v-model="roadLocalFractionNO2"
      v-debug:pointRoadFractionNO2>
  </labeled-input>
</div>

<style lang="scss" scoped>

.content {
  padding: var(--spacer);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

</style>
