<vue-gwt:import class="ol.geom.GeometryType"/>

<div class="content">
  <validation-behaviour :errors="isInvalidWktGeometry || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <div class="explain">
    <span>{{ i18n.calculationPointsLocationDrawExplain() }}</span>
  </div>

  <div class="select-geometry-type">
    <span class="geometry-type">{{ i18n.calculationPointsLocation() }}</span>
    <tooltip :title="i18n.calculationPointsLocationButtonTitle()">
      <button-icon :aria-label="i18n.calculationPointsLocation()"
        @click.native="addPoint()"
        class="active"
        iconClass="icon-btn-draw-point"
        fontSize="26px"
        :inline="true"
        v-debug:calculationPointButtonAddPoint />
    </tooltip>
  </div>

  <label for="calculationPointGeometryInput"
    class="explain"
    v-html="i18n.calculationPointsLocationDirectExplain()" />

  <smart-wkt-input :geometry="geometry"
    :geometryType="GeometryType.Point"
    :showErrors="showErrors"
    id="calculationPointGeometryInput"
    :validGeometryTypes="validGeometryTypes"
    @errors='trackChildError("geometry", (boolean) $event)'
    @warnings='trackChildWarning("geometry", (boolean) $event)'
    @geometry-change="saveGeometry((Geometry) $event)">
    <input-error slot="error"
      :showError="isInvalidWktGeometry && drawingGeometry != null"
      :errorMessage="geometryInvalidErrorMessage" />
  </smart-wkt-input>
</div>

<style lang="scss" scoped>

.content {
  padding: var(--spacer);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.select-geometry-type {
  display: flex;
  align-items: center;
  min-height: var(--row-height-generous);

  .geometry-type {
    display: flex;
    flex-grow: 1;
  }
}

.explain {
  font-style: italic;
}
</style>
