<vue-gwt:import class="nl.overheid.aerius.wui.application.context.calculation.CalculationJobContext" />

<div class="jobSelectorContainer">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input name="selectedJob"
    :showError="displayProblems && isInvalidCalculationJob"
    :errorMessage="() -> i18n.exportCalculationJobSelectionRequired()"
    :label="i18n.exportOwnExportLabel()">
    <simple-listbox id="selectedJob"
      v-debug:selectedJob
      class="selectedJob"
      :options="jobs"
      :selectedKey="activeKey"
      :keyFunction="v -> getJobKey((CalculationJobContext) v)"
      :placeholder="i18n.dropdownPlaceholder()"
      :strict="false"
      @select="selectJob((CalculationJobContext) $event)">
      <option slot="optionsBefore" :value="NO_JOB_SELECTED" hidden>{{ i18n.exportOwnExportLabel() }}</option>
      <template slot-scope="{ Object option }">{{ formatJobName((CalculationJobContext) option) }}</template>
    </simple-listbox>
  </labeled-input>

  <div v-if="isInvalid"
    v-for="NoticeRule rule in calculationJobErrorsShowing">
    <vertical-collapse>
      <input-error class="margin"
        :noticeRule="rule"
        :round="true">
        <button
          class="jobButton"
          @click="editJob(exportContext.getCalculationJob())"
          slot="after">{{ i18n.exportCalculationJobsEditJob() }}</button>
      </input-error>
    </vertical-collapse>
  </div>

  <input-notice
    :showNotice="jobs.isEmpty()"
    :noticeMessage="() -> i18n.exportCalculationJobsEmpty()">
    <button
      class="jobButton"
      @click="createNewJob()"
      slot="aux">{{ i18n.exportCalculationJobsCreateNew() }}</button>
  </input-notice>
</div>

<style lang="scss" scoped>
@import "../../../../../variables.scss";
@import "../../../../../vertical-collapse.scss";

.jobSelectorContainer {
  padding: 0px var(--spacer);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.jobButton {
  @include button;
  margin-left: auto;
  margin-bottom: var(--spacer);
}
</style>
