<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext" />

<div class="situationSelection"
  v-if="!situations.isEmpty()">
  <h2>{{ i18n.calculateIncludedScenario() }}</h2>
  <div>
    <labeled-input v-for="(SituationContext situation, index) in situations"
      :label='situation.getName() + " - " + i18n.situationType(situation.getType())'
      :transparent="true"
      :name='"otherSituation-" + situation.getType().name() + "-" + index'>
      <checkbox
        :id='"otherSituation-" + situation.getType().name() + "-" + index'
        :value="isActiveSituation(situation)"
        @input="updateIncludingSituation((boolean) $event, situation)" />
    </labeled-input>
  </div>
</div>

<style lang="scss" scoped>
h2 {
  margin: 0px;
  font-size: 1em;
  font-weight: bold;
}

.situationSelection {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}
</style>
