<div>
  <template v-if="!isCorrected">
    <div v-debug:minMaxLabel>{{ label }}</div>
  </template>
  <template v-if="isCorrected && !isSingleColumn">
    <div class="min-max-container">
      <div v-debug:noSingleColumnMinMaxLabel>{{ label }}</div>
      <vertical-collapse>
        <div class="corrected" :title="correctionTitle">
          <icon icon="icon-alert" class="icon" />
          <div>
            (<span class="detail-label correction-label"
              v-debug:noSingleColumnMinMaxLabelCorrected>{{
              correctionLabel }}</span>)
          </div>
        </div>
      </vertical-collapse>
    </div>
  </template>
  <template v-if="isCorrected && isSingleColumn">
    <div v-debug:singleColumnMinMaxLabel>{{ label }}</div>
    <div class="corrected single-column" :title="correctionTitle">
      <icon icon="icon-alert margin-right" class="icon" />
      (<span class="detail-label correction-label" v-debug:singleColumnMinMaxLabelCorrected>{{
        correctionLabel }}</span>)
    </div>
  </template>
</div>

<style lang="scss" scoped>
@import "../../../vertical-collapse.scss";

.min-max-container {
  display: grid;
  grid-template-columns: 15fr 31fr;
}

.corrected {
  text-decoration: none;
  padding: 0px var(--half-spacer);
  display: flex;
  align-items: center;
  gap: var(--half-spacer);
  cursor: default;
  border: 1px solid transparent;
  transition: all var(--anim);
  white-space: nowrap;

  .correction-label {
    text-decoration: underline;
  }

  &:hover {
    border: 1px solid var(--warning-color);
    background: var(--warning-color-light);
  }

  &.single-column {
    padding: 0;
    gap: 0;
  }
}

.icon {
  color: var(--warning-color);
  display: block;
}

.margin-right {
  margin-right: var(--half-spacer);
}
</style>
