<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.OPSCharacteristics"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OPSLimits"/>

<div v-if="characteristics != null" class="opsContainer">
  <h3>{{ i18n.sourceCharacteristicsTitle() }}</h3>
  <divider type="small" />
  <detail-stat
    :label="i18n.sourceHeatContentTypeLabel()"
    :value="i18n.heatContentType(characteristics.getHeatContentType())"
    debugId="sourcelistDetailVentilation" />
  <detail-stat :show="isFarmAnimalHousing"
    :label="i18n.sourceEstablished()"
    :value="established"
    debugId="sourcelistDetailEstablishedDate" />
  <detail-stat
    :label="i18n.sourceBuildingInfluenceLabel()"
    :value="characteristics.isBuildingInfluence() ? getBuildingName() : i18n.sourceNoBuildingInFluence()"
    debugId="sourcelistDetailBuilding" />
  <detail-stat :label="i18n.sourceEmissionHeightLabel()">
    <min-max-label v-debug:sourcelistDetailEmissionHeight
      :title="getDefaultValueLabel(isEmissionHeightDefault())"
      :class='map("default-value", isEmissionHeightDefault())'
      :label="inputEmissionHeight"
      :correctionLabel="usedEmissionHeight"
      :correctionTitle="i18n.sourceCalculationValue()" />
  </detail-stat>
  <detail-stat :show="isUserdefinedHeatContent()"
    :label="i18n.sourceHeatContentLabel()">
    <min-max-label v-debug:sourcelistDetailHeatContent
      :title="getDefaultValueLabel(isHeatContentDefault())"
      :class='map("default-value", isHeatContentDefault())'
      :label="inputHeatContent"
      :correctionLabel="usedHeatContent"
      :correctionTitle="i18n.sourceCalculationValue()" />
  </detail-stat>
  <detail-stat :show="!isUserdefinedHeatContent()"
    :label="i18n.sourceEmissionTemperatureLabel()">
    <min-max-label v-if="characteristics.isBuildingInfluence()" v-debug:sourcelistDetailEmissionTemperature
      :title="getDefaultValueLabel(isEmissionTemperatureDefault())"
      :class='map("defaultValue", isEmissionTemperatureDefault())'
      :label="i18n.unitC(i18n.decimalNumberFixed(characteristics.getEmissionTemperature(), 2))"
      :correctionLabel="i18n.unitC(i18n.decimalNumberFixed(OPSLimits.AVERAGE_SURROUNDING_TEMPERATURE, 2))"
      :correctionTitle="i18n.sourceCalculationValue()"/>
    <div v-else v-debug:sourcelistDetailEmissionTemperature>{{ i18n.unitC(i18n.decimalNumberFixed(characteristics.getEmissionTemperature(), 2)) }}</div>
  </detail-stat>
  <detail-stat :show="!isUserdefinedHeatContent()"
    :label="i18n.sourceOutflowDiameterLabel()">
    <min-max-label :title="getDefaultValueLabel(isOutflowDiameterDefault())"
      :class='map("default-value", isOutflowDiameterDefault())'
      v-debug:sourcelistDetailOutflowDiameter
      :label="inputOutflowDiameter"
      :correctionLabel="usedOutflowDiameter"
      :correctionTitle="i18n.sourceCalculationValue()" />
  </detail-stat>
  <detail-stat :show="!isUserdefinedHeatContent()"
    :label="i18n.sourceOutflowDirectionLabel()">
    <div v-debug:sourcelistDetailOutflowDirection
      :title="getDefaultValueLabel(isOutflowDirectionDefault())">{{ i18n.sourceOutflowDirectionType(characteristics.getOutflowDirection()) }}</div>
  </detail-stat>
  <detail-stat :show="!isUserdefinedHeatContent()"
    :label="i18n.sourceOutflowVelocityLabel()">
    <min-max-label v-debug:sourcelistDetailOutflowVelocity
      :title="getDefaultValueLabel(isOutflowVelocityDefault())"
      :class='map("default-value", isOutflowVelocityDefault())'
      :label="inputOutflowVelocity"
      :correctionLabel="usedOutflowVelocity"
      :correctionTitle="i18n.sourceCalculationValue()" />
  </detail-stat>
  <detail-stat :show="spreadVisible()"
    :label="i18n.sourceSpreadLabel()">
    <div v-debug:sourcelistDetailSpread
      :title="getDefaultValueLabel(isSpreadDefault())"
      :class='map("default-value", isSpreadDefault())'>{{ i18n.unitM(i18n.decimalNumberFixed(characteristics.getSpread(), 0)) }}</div>
  </detail-stat>
  <detail-stat
    :label="i18n.sourceDiurnalVariationLabel()"
    :value="i18n.sourceDiurnalVariation(characteristics.getDiurnalVariation())"
    debugId="sourcelistDetailDiurnalVariation" />
  <detail-stat :show="particleSizeDistributionVisible"
    :label="i18n.sourceParticleSizeDistributionLabel()">
    <div v-debug:sourcelistDetailParticlesizeDistribution
      :title="getDefaultValueLabel(isParticleSizeDistributionDefault())"
      :class='map("default-value", isParticleSizeDistributionDefault())'>{{ particleSizeDistribution }}</div>
  </detail-stat>
</div>

<style scoped lang="scss">
.default-value {
  text-decoration: underline;
}
</style>
