<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.DiurnalVariation"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.ops.OPSLimits"/>

<div class="mainContent">
  <validation-behaviour :errors="(isPolygon && v.spreadV.invalid) || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <vertical-collapse>
    <labeled-input
      v-if="isFarmAnimalHousing"
      :label="i18n.sourceEstablished()"
      name="established"
      :transparent="true">
      <input type="date"
        id="established"
        v-model="established" />
    </labeled-input>
  </vertical-collapse>
  <outflow-editor :source="source"
    @errors='trackChildError("outflow", (boolean) $event)'
    @warnings='trackChildWarning("outflow", (boolean) $event)'
    :eventBus="eventBus"
    :buildingInfluence="buildingInfluence"
    ref="outflowEditorComponent" />

  <labeled-input v-if="isPolygon"
    :label="i18n.sourceSpreadLabel()"
    name="sourceSpread"
    :transparent="true"
    :unit="i18n.unitSingularMeter()"
    :unitDescription="i18n.unitSingularMeterDescription()"
    :errorValidation="v.spreadV"
    :errorMessage="() -> getSpreadValidationError()">
    <input id="sourceSpread"
      type="number"
      min="0.0"
      step="any"
      v-validate:spreadV.input
      v-model="spread"
      :placeholder="0.0"
      v-debug:sourceSpread>
  </labeled-input>

  <vertical-collapse>
    <labeled-input :label="i18n.sourceDiurnalVariationLabel()"
      name="diurnalVariationType"
      :transparent="true">
      <select v-if="isEditDiurnalVariation"
        id="diurnalVariationType"
        v-model="diurnalVariationType"
        v-debug:diurnalVariationType>
        <option v-for="DiurnalVariation dv in diurnalVariations"
          :value="dv.name()"> {{ i18n.sourceDiurnalVariation(dv) }}</option>
      </select>
      <span v-else
        id="diurnalVariationType"
        v-debug:diurnalVariationType>{{ i18n.sourceDiurnalVariation(characteristics.getDiurnalVariation()) }}</span>
    </labeled-input>
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../components/input/inputs.scss";
@import "../../../vertical-collapse.scss";

.mainContent {
  flex-grow: 1;
  padding: var(--spacer);

  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

</style>
