<div class="inlineContainer">
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <horizontal-collapse>
    <simple-listbox id="substanceListInline"
      v-if="requiresSubstanceSelector"
      v-debug:substanceListInline
      :options="substances"
      :selected="selectedSubstance"
      :placeholder="i18n.dropdownPlaceholder()"
      @select="selectSubstance((Substance) $event)">
      <template slot-scope="{ Object option }">{{ i18n.pollutant((Substance) option) }}</template>
    </simple-listbox>
  </horizontal-collapse>
</div>

<style lang="scss" scoped>
@import "../../../horizontal-collapse.scss";

.inlineContainer {
  display: flex;
  gap: var(--spacer);
}
</style>
