<vue-gwt:import class="nl.overheid.aerius.wui.application.util.FileUploadStatus" />

<div class="statsContainer" v-if="files != null">
  <div v-for="(FileUploadStatus status, idx) in files"
    class="section">
    <template v-if="status.getSituationStats() != null">
      <h3 v-if="hasSectionTitle(status, idx)">{{ getSectionTitle(status, idx) }}</h3>
      <div v-if="status.getSituationStats().getSources() > 0">{{ i18n.situationViewSources(status.getSituationStats().getSources()) }}</div>
      <div v-if="status.getSituationStats().getBuildings() > 0">{{ i18n.situationViewBuildings(status.getSituationStats().getBuildings()) }}</div>
      <div v-if="status.getSituationStats().getTimeVaryingProfiles() > 0">{{ i18n.situationViewTimeVaryingProfiles(status.getSituationStats().getTimeVaryingProfiles()) }}</div>
      <div v-if="status.getSituationStats().getCalculationPoints() > 0">{{ i18n.situationViewCalculationPoints(status.getSituationStats().getCalculationPoints()) }}</div>
      <div v-if="status.getSituationStats().getCalculationResults() > 0 && canHaveCalculationJobImport(status)">{{ i18n.situationViewCalculationResults(status.getSituationStats().getCalculationResults()) }}</div>
    </template>
  </div>
</div>

<style scoped lang="scss">
.section {
  padding: var(--spacer) var(--half-spacer);
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);

  margin-left: calc(24px + var(--spacer));
}
</style>
