<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.importer.ImportFilter" />

<div class="statsContainer" v-if="stats != null">
  <div class="section">
    <h3 v-if="hasSectionTitle">{{ sectionTitle }}</h3>
    <checkbox v-if="stats.getSources() > 0"
      :label="i18n.situationViewSources(stats.getSources())"
      :value="getFilter(ImportFilter.SOURCES)"
      @input="selectFilter(ImportFilter.SOURCES, (boolean) $event)" />
    <checkbox v-if="stats.getCalculationPoints() > 0"
      :label="i18n.situationViewCalculationPoints(stats.getCalculationPoints())"
      :value="getFilter(ImportFilter.CALCULATION_POINTS)"
      @input="selectFilter(ImportFilter.CALCULATION_POINTS, (boolean) $event)" />
    <checkbox v-if="stats.getBuildings() > 0"
      :label="i18n.situationViewBuildings(stats.getBuildings())"
      :value="getFilter(ImportFilter.BUILDINGS)"
      @input="selectFilter(ImportFilter.BUILDINGS, (boolean) $event)" />
    <checkbox v-if="stats.getTimeVaryingProfiles() > 0"
      :label="i18n.situationViewTimeVaryingProfiles(stats.getTimeVaryingProfiles())"
      :value="getFilter(ImportFilter.TIME_VARYING_PROFILES)"
      @input="selectFilter(ImportFilter.TIME_VARYING_PROFILES, (boolean) $event)" />
    <checkbox v-if="canHaveCalculationJobImport"
      :label="i18n.situationViewCalculationJob(1)"
      :value="getFilter(ImportFilter.CALCULATION_JOB)"
      @input="selectCalculationJobFilter((boolean) $event)" />
    <checkbox v-if="canHaveCalculationJobImport && stats.getCalculationResults() > 0"
      :label="i18n.situationViewCalculationResults(stats.getCalculationResults())"
      :value="getFilter(ImportFilter.RESULTS)"
      :disabled="!getFilter(ImportFilter.CALCULATION_JOB)"
      @input="selectResultsFilter((boolean) $event)" />
  </div>
</div>

<style scoped lang="scss">
.section {
  padding: var(--spacer) var(--half-spacer);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  margin-left: calc(24px + var(--spacer));
}
</style>
