<vue-gwt:import class="nl.overheid.aerius.wui.application.context.SituationContext"/>
<vue-gwt:import class="nl.overheid.aerius.shared.domain.result.EmissionResultKey"/>

<div>
  <h4>{{ i18n.calculateInCombinationAssessment() }}</h4>

  <labeled-input
    :label="i18n.calculateInCombinationArchiveEnable()"
    :transparent="true">
    <checkbox
      id="includeArchiveProjects"
      :value="isUseArchive()"
      @input="setUseArchive((boolean) $event)"/>
  </labeled-input>

  <div v-if="hasAnyCombinationSituations()">
    <h4>{{ i18n.calculateInCombinationUserScenarios() }}</h4>

    <div v-for="SituationType situationType in inCombinationTypes">
      <h5>{{ i18n.situationTypeInCombinationBase(situationType) }}</h5>
      <labeled-input v-for="(SituationContext situation, index) in getInCombinationSituations(situationType)"
        :label='situation.getName()'
        :transparent="true"
        :name='"situation-" + situation.getType().name() + "-" + index'>
        <checkbox
          :id='"situation-" + situation.getType().name() + "-" + index'
          :value="isActiveSituation(situation)"
          @input="updateIncludingSituation((boolean) $event, situation)"/>
      </labeled-input>
    </div>
  </div>
</div>

<style scoped lang="scss">
.situationTypeLabels {
  display: flex;
}

.situationTypeLabel {
  font-weight: bold;
  flex: 1;
}

.situationCheckbox {
  flex: 1;
}

h4 {
  margin-top: var(--spacer);
}
</style>
