<div
  v-if="hasCalculation"
  class="statusContainer"
  :class='map("highlight", highlight)'>
  <horizontal-collapse :seek="(boolean) false">
    <div
      v-if="staleState"
      class="iconContainer">
      <tooltip :title="i18n.calculationStaleWarning()">
        <icon
          class="icon warning"
          icon="icon-alert" />
      </tooltip>
    </div>
  </horizontal-collapse>
  <horizontal-collapse :seek="(boolean) false">
    <tooltip :title="i18n.calculationJobStatusTooltipQueued()">
      <queue-counter
        v-if="queuingState"
        :highlight="highlight"
        class="iconContainer"
        :count="queuePosition" />
    </tooltip>
  </horizontal-collapse>
  <horizontal-collapse :seek="(boolean) false">
    <div
      v-if="runningState"
      class="iconContainer">
      <tooltip :title="i18n.calculationJobStatusTooltipRunning()">
        <img
          :alt="i18n.ariaLabelSpinner()"
          class="blend loader"
          :src="img.loadingSpinner().getSafeUri().asString()" />
      </tooltip>
    </div>
  </horizontal-collapse>
  <horizontal-collapse :seek="(boolean) false">
    <div
      v-if="errorState"
      class="iconContainer">
      <tooltip :title="i18n.calculationJobStatusTooltipFailed(calculationErrorMessage)">
        <i class="icon icon-error">
          <i class="path1"></i>
          <i class="path2"></i>
        </i>
      </tooltip>
    </div>
  </horizontal-collapse>
  <horizontal-collapse :seek="(boolean) false">
    <div
      v-if="cancelledState"
      class="iconContainer cancel">
      <icon
        class="icon"
        icon="icon-warning-small" />
    </div>
  </horizontal-collapse>
  <horizontal-collapse :seek="(boolean) false">
    <div
      v-if="completedState"
      class="iconContainer complete">
      <tooltip :title="i18n.calculationJobStatusTooltipCompleted()">
        <icon
          class="icon"
          icon="icon-valid" />
      </tooltip>
    </div>
  </horizontal-collapse>
</div>

<style
  scoped
  lang="scss">
  @import "../../../../horizontal-collapse.scss";

  .statusContainer {
    display: flex;
    align-items: center;
  }

  .warning {
    color: var(--warning-color);
  }

  .iconContainer {
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      margin: 6px;
      height: 24px;
      width: 24px;
      font-size: 24px;
    }
    
    .icon-error {
      display: inline-flex;
    }

    .loader {
      height: var();
      width: 36px;
    }
  }

  .complete {
    /* Must be present */
  }

  .highlight {
    .icon,
    .blend {
      mix-blend-mode: plus-lighter;
      filter: contrast(0.1) brightness(2);
    }
    .icon-error {
      mix-blend-mode: inherit;
      filter: inherit;
    }
  }
</style>
