<vue-gwt:import class="nl.overheid.aerius.shared.domain.calculation.CalculationMethod" />

<div class="container">
  <validation-behaviour
    :errors="isInvalid || hasChildErrors"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input
    :label="i18n.calculationJobTypeLabel()"
    name="calculationJobType"
    division="1fr 1fr"
    :transparent="true">
    <simple-listbox
      id="calculationJobType"
      v-debug:calculationJobType
      :options="calculationJobTypes"
      :selected="calculationJobType"
      :placeholder="i18n.dropdownPlaceholder()"
      @select="selectCalculationJobType((CalculationJobType) $event)">
      <template slot-scope="{ Object option }">{{ i18n.calculationJobType((CalculationJobType) option) }}</template>
    </simple-listbox>
  </labeled-input>
  <p>{{ i18n.calculationJobTypeExplanation(calculationJobType) }}</p>

  <div>
    <labeled-input
      :label="i18n.calculateType()"
      name="scenarioResultType"
      division="1fr 1fr"
      :transparent="true">
      <simple-listbox
        id="scenarioResultType"
        v-debug:scenarioResultType
        :options="calculationMethods"
        :selected="calculationMethod"
        :placeholder="i18n.dropdownPlaceholder()"
        @select="selectCalculationMethod((CalculationMethod) $event)">
        <template slot-scope="{ Object option }">
          {{ i18n.calculationMethod(applicationContext.getTheme(), (CalculationMethod) option) }}
        </template>
      </simple-listbox>
    </labeled-input>
    <input-hint
      :show-notice="isShowFormalAssessmentExplanation"
      :notice-message="() -> i18n.calculationMethodFormalAssessmentExplanation()"
      :attached="true"
      :round-bottom="true" />
  </div>

  <vertical-collapse>
    <labeled-input v-if="hasPermitAreaOption"
      :label="i18n.calculatePermitAreaLabel()"
      name="permitAreaSelection"
      division="1fr 1fr"
      :errorValidation="v.permitArea"
      :errorMessage="() -> i18n.validationRequired()"
      :transparent="true">
      <simple-listbox
        id="permitAreaSelection"
        v-debug:permitAreaSelection
        :options="permitAreas"
        :selectedKey="permitArea"
        :keyFunction="categoryKeyFunction"
        :nameFunction="categoryNameFunction"
        :placeholder="i18n.dropdownPlaceholder()"
        @select-key="selectPermitArea((String) $event)"></simple-listbox>
    </labeled-input>
  </vertical-collapse>

  <vertical-collapse>
    <labeled-input v-if="hasProjectCategoryOption()"
      :label="i18n.calculationJobProjectCategory()"
      name="projectCategory"
      division="1fr 1fr"
      :transparent="true"
      :errorValidation="v.projectCategory"
      :errorMessage="() -> i18n.validationRequired()">
      <simple-listbox id="projectCategory"
        v-debug:projectCategorySelection
        :options="projectCategories"
        :selectedKey="projectCategory"
        :keyFunction="categoryKeyFunction"
        :nameFunction="categoryNameFunction"
        :placeholder="i18n.dropdownPlaceholder()"
        @select-key='selectProjectCategory((String) $event)' />
    </labeled-input>
  </vertical-collapse>

  <vertical-collapse>
    <labeled-input
      :label="i18n.calculateZoneOfInfluenceLabel()"
      v-if="hasZoneOfInfluenceOption"
      name="zoneOfInfluenceInput"
      division="1fr 1fr"
      :showError="isZoneOfInfluenceInvalid"
      :errorMessage="this::zoneOfInfluenceError"
      :transparent="true">
      <input-with-unit
        :unit="i18n.unitSingularMeter()"
        :unitDescription="i18n.unitSingularMeterDescription()">
        <input
          type="number"
          id="zoneOfInfluenceInput"
          v-model="zoneOfInfluence"
          v-debug:calculationZoneOfInfluenceInput />
      </input-with-unit>
    </labeled-input>
  </vertical-collapse>

  <template v-if="hasDropdownPerSituationType">
    <labeled-input
      v-for="SituationType st in singleSelectSituationTypes"
      :name="getName(st)"
      :label="i18n.calculateSituationSelectorLabel(st)"
      :transparent="true">
      <simple-listbox
        :id="getName(st)"
        v-debug="getName(st)"
        :options="getOptions(st)"
        :selected="getSelectedSituation(st)"
        :placeholder="i18n.dropdownPlaceholder()"
        :keyFunction="idFromSit"
        :strict="false"
        @select-unknown="selectSituation(st, null)"
        @select="selectSituation(st, (SituationContext) $event)">
        <option slot="optionsBefore" :value="null">{{ i18n.calculateEmptyListSign() }}</option>
        <template slot-scope="{ SituationContext option }">{{ option.getName() }}</template>
      </simple-listbox>
    </labeled-input>
  </template>
  <labeled-input
    v-else
    name="situation"
    :label="i18n.calculateSituationSelectorLabel(null)"
    :transparent="true">
    <simple-listbox
      id="situation"
      :options="validSituations"
      :selected="selectedSituation"
      :placeholder="i18n.dropdownPlaceholder()"
      :keyFunction="idFromSit"
      :strict="false"
      @select-unknown="selectSituation(null, null)"
      @select="selectSituation(null, (SituationContext) $event)">
      <option slot="optionsBefore" :value="null">{{ i18n.calculateEmptyListSign() }}</option>
      <template slot-scope="{ SituationContext option }">{{ option.getName() }}</template>
    </simple-listbox>
  </labeled-input>

  <calculation-job-in-combination-compositor
    v-if="isInCombination"
    :calculationOptions="calculationOptions"
    :situationComposition="composition" />

  <other-situation-compositor
    v-if="hasMultiSelect && !isInCombination"
    :situationComposition="composition"
    :situations="multiSelectSituations"/>

  <div v-if="isInvalid"
    v-for="NoticeRule rule in calculateErrorsShowing"
    class="padding-horizontally" >
    <vertical-collapse>
      <input-error class="margin"
        :noticeRule="rule"
        :round="true" />
    </vertical-collapse>
  </div>
</div>

<style lang="scss" scoped>
@import "../../../../vertical-collapse.scss";
@import "../../../../components/input/inputs.scss";

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
  padding: var(--spacer);
}
</style>
