@font-face {
  font-family: 'icoaerius';
  src:
    url('./icoaerius.woff2?9g5fbs') format('woff2'),
    url('./icoaerius.woff?9g5fbs') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoaerius' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-collapse:before {
	content: "\e91d";
}
.icon-menu-contact-us:before {
  content: "\e9f9";
}
.icon-menu-manual1:before {
  content: "\e9fa";
}
.icon-habitat-specie:before {
  content: "\e9f7";
}
.icon-btn-new-habitat-specie:before {
  content: "\e9f8";
}
.icon-cold-start-other:before {
  content: "\e9e8";
}
.icon-cold-start-parking-garage:before {
  content: "\e9f6";
}
.icon-abroad:before {
  content: "\e91f";
}
.icon-adjusted .path1:before {
  content: "\e920";
  color: rgb(0, 113, 188);
}
.icon-adjusted .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-adjusted-small:before {
  content: "\e922";
}
.icon-aggregation:before {
  content: "\e923";
}
.icon-agriculture:before {
  content: "\e924";
}
.icon-alert:before {
  content: "\e9d3";
}
.icon-alert-default-values .path1:before {
  content: "\e919";
  color: rgb(230, 119, 0);
}
.icon-alert-default-values .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-animal-chicken:before {
  content: "\e925";
}
.icon-animal-cow:before {
  content: "\e926";
}
.icon-animal-duck:before {
  content: "\e927";
}
.icon-animal-goat:before {
  content: "\e928";
}
.icon-animal-guinea-fowl:before {
  content: "\e929";
}
.icon-animal-horse:before {
  content: "\e92a";
}
.icon-animal-kangaroo:before {
  content: "\e92b";
}
.icon-animal-mink:before {
  content: "\e92c";
}
.icon-animal-mixed:before {
  content: "\e92d";
}
.icon-animal-ostrich:before {
  content: "\e92e";
}
.icon-animal-pig:before {
  content: "\e92f";
}
.icon-animal-rabbit:before {
  content: "\e930";
}
.icon-animal-sheep:before {
  content: "\e931";
}
.icon-animal-turkey:before {
  content: "\e932";
}
.icon-arrow-new-window:before {
  content: "\e9f0";
}
.icon-available .path1:before {
  content: "\e9d8";
  color: rgb(30, 93, 47);
}
.icon-available .path2:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-aviation:before {
  content: "\e933";
}
.icon-aviation-aerodrome:before {
  content: "\e934";
}
.icon-aviation-take-off:before {
  content: "\e935";
}
.icon-aviation-taxi:before {
  content: "\e936";
}
.icon-aviation-touch-down:before {
  content: "\e937";
}
.icon-background-deposition:before {
  content: "\e938";
}
.icon-btn-automatic-assessment-points:before {
  content: "\e9e4";
}
.icon-btn-building-circular:before {
  content: "\e9d1";
}
.icon-btn-delete:before {
  content: "\e900";
}
.icon-btn-details:before {
  content: "\e901";
}
.icon-btn-draw-line:before {
  content: "\e902";
}
.icon-btn-draw-point:before {
  content: "\e903";
}
.icon-btn-draw-polygone:before {
  content: "\e904";
}
.icon-btn-duplicate:before {
  content: "\e905";
}
.icon-btn-edit:before {
  content: "\e906";
}
.icon-btn-edit-location:before {
  content: "\e907";
}
.icon-btn-import:before {
  content: "\e908";
}
.icon-btn-namelabels:before {
  content: "\e909";
}
.icon-btn-new:before {
  content: "\e90a";
}
.icon-btn-new-assessment-point:before {
  content: "\e9e5";
}
.icon-btn-new-building:before {
  content: "\e9ea";
}
.icon-btn-new-calculation-job:before {
  content: "\e9e7";
}
.icon-btn-new-diurnal-profile:before {
  content: "\e9f2";
}
.icon-btn-new-monthly-profile:before {
  content: "\e9f3";
}
.icon-btn-new-source:before {
  content: "\e9e6";
}
.icon-calendar-small:before {
  content: "\e9d0";
}
.icon-checked:before {
  content: "\e91b";
}
.icon-close:before {
  content: "\e91c";
}
.icon-construction:before {
  content: "\e939";
}
.icon-consumers:before {
  content: "\e93a";
}
.icon-deposition-space-addition:before {
  content: "\e93b";
}
.icon-disabled-unchecked:before {
  content: "\e9dc";
}
.icon-diurnal-profile:before {
  content: "\e9f4";
}
.icon-doc-brn .path1:before {
  content: "\e9a4";
  color: rgb(255, 255, 255);
}
.icon-doc-brn .path2:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(78, 79, 79);
}
.icon-doc-brn .path3:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(241, 90, 36);
}
.icon-doc-brn .path4:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-brn .path5:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-brn .path6:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-csv .path1:before {
  content: "\e9aa";
  color: rgb(255, 255, 255);
}
.icon-doc-csv .path2:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-doc-csv .path3:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(14, 119, 56);
}
.icon-doc-csv .path4:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-csv .path5:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-csv .path6:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-gml .path1:before {
  content: "\e9b0";
  color: rgb(255, 255, 255);
}
.icon-doc-gml .path2:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-doc-gml .path3:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(32, 119, 188);
}
.icon-doc-gml .path4:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-gml .path5:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-gml .path6:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-pdf .path1:before {
  content: "\e9b6";
  color: rgb(255, 255, 255);
}
.icon-doc-pdf .path2:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-doc-pdf .path3:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(249, 29, 10);
}
.icon-doc-pdf .path4:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-pdf .path5:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-pdf .path6:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-rcp .path1:before {
  content: "\e9bc";
  color: rgb(255, 255, 255);
}
.icon-doc-rcp .path2:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(78, 79, 79);
}
.icon-doc-rcp .path3:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(147, 39, 143);
}
.icon-doc-rcp .path4:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-rcp .path5:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-rcp .path6:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-doc-text:before {
  content: "\e9c2";
}
.icon-doc-zip .path1:before {
  content: "\e9c3";
  color: rgb(255, 255, 255);
}
.icon-doc-zip .path2:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-doc-zip .path3:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(255, 221, 21);
}
.icon-doc-zip .path4:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-doc-zip .path5:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-doc-zip .path6:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.icon-download:before {
  content: "\e99b";
}
.icon-energy:before {
  content: "\e93c";
}
.icon-energy-generator-specified:before {
  content: "\e9ee";
}
.icon-energy-large-combustion-plant:before {
  content: "\e9ec";
}
.icon-energy-medium-combustion-plant:before {
  content: "\e9ed";
}
.icon-energy-power-plant:before {
  content: "\e93d";
}
.icon-energy-production-distribution:before {
  content: "\e93e";
}
.icon-error .path1:before {
  content: "\e9c9";
  color: rgb(207, 19, 23);
}
.icon-error .path2:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-farm:before {
  content: "\e982";
}
.icon-farm-lodge:before {
  content: "\e941";
}
.icon-farm-manure-storage:before {
  content: "\e985";
}
.icon-farm-other:before {
  content: "\e986";
}
.icon-farmland:before {
  content: "\e983";
}
.icon-farmland-fertilizer:before {
  content: "\e93f";
}
.icon-farmland-field-emissions:before {
  content: "\e940";
}
.icon-farmland-lodge:before {
  content: "\e984";
}
.icon-farmland-manure:before {
  content: "\e942";
}
.icon-farmland-organic-processes:before {
  content: "\e943";
}
.icon-farmland-other:before {
  content: "\e944";
}
.icon-farmland-outdoor-yards:before {
  content: "\e9e2";
}
.icon-farmland-pasture:before {
  content: "\e945";
}
.icon-greenhouse:before {
  content: "\e946";
}
.icon-hdo:before {
  content: "\e947";
}
.icon-hexagon-legend:before {
  content: "\e9de";
}
.icon-industry:before {
  content: "\e948";
}
.icon-industry-base-material:before {
  content: "\e949";
}
.icon-industry-building-materials:before {
  content: "\e94a";
}
.icon-industry-chemical-industry:before {
  content: "\e94b";
}
.icon-industry-food-industry:before {
  content: "\e94c";
}
.icon-industry-metal-industry:before {
  content: "\e94d";
}
.icon-industry-other:before {
  content: "\e94e";
}
.icon-map-infomarker .path1:before {
  content: "\e9d5";
  color: rgb(21, 124, 177);
}
.icon-map-infomarker .path2:before {
  content: "\e9d6";
  margin-left: -0.8125em;
  color: rgb(255, 255, 255);
}
.icon-map-infomarker .path3:before {
  content: "\e9d7";
  margin-left: -0.8125em;
  color: rgb(255, 255, 255);
}
.icon-map-measure-icon:before {
  content: "\e9d4";
}
.icon-map-minus:before {
  content: "\e913";
}
.icon-map-notification:before {
  content: "\e914";
}
.icon-map-plus:before {
  content: "\e915";
}
.icon-map-search:before {
  content: "\e916";
}
.icon-map-search-icon:before {
  content: "\e917";
}
.icon-map-zoom-to-extend:before {
  content: "\e918";
}
.icon-measurement-correction:before {
  content: "\e94f";
}
.icon-menu-about:before {
  content: "\e9e0";
}
.icon-menu-assessment-points:before {
  content: "\e9e9";
}
.icon-menu-calculate:before {
  content: "\e9cc";
}
.icon-menu-calculation-points:before {
  content: "\e90b";
}
.icon-menu-contextual-help:before {
  content: "\e9ef";
}
.icon-menu-emission-sources:before {
  content: "\e90c";
}
.icon-menu-export:before {
  content: "\e9ce";
}
.icon-menu-help:before {
  content: "\e90d";
}
.icon-menu-home:before {
  content: "\e9e3";
}
.icon-menu-hotkeys:before {
  content: "\e9e1";
}
.icon-menu-input:before {
  content: "\e9cd";
}
.icon-menu-language:before {
  content: "\e90e";
}
.icon-menu-manual:before {
  content: "\e90f";
}
.icon-menu-maplayers:before {
  content: "\e910";
}
.icon-menu-next:before {
  content: "\e9eb";
}
.icon-menu-results:before {
  content: "\e911";
}
.icon-menu-settings:before {
  content: "\e912";
}
.icon-mining:before {
  content: "\e950";
}
.icon-mobile-source:before {
  content: "\e951";
}
.icon-monthly-profile:before {
  content: "\e9f5";
}
.icon-nature-areas-legend:before {
  content: "\e9df";
}
.icon-noise-barrier-legend:before {
  content: "\e9dd";
}
.icon-not-available .path1:before {
  content: "\e9da";
  color: rgb(229, 43, 38);
}
.icon-not-available .path2:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-offices-shops:before {
  content: "\e952";
}
.icon-open-close-map-data-layer:before {
  content: "\e91d";
}
.icon-other:before {
  content: "\e953";
}
.icon-plan:before {
  content: "\e954";
}
.icon-plan-beverage-industry:before {
  content: "\e955";
}
.icon-plan-building-materials:before {
  content: "\e956";
}
.icon-plan-chemical-industry:before {
  content: "\e957";
}
.icon-plan-dairy:before {
  content: "\e958";
}
.icon-plan-energy-power-plant:before {
  content: "\e959";
}
.icon-plan-flour-production:before {
  content: "\e95a";
}
.icon-plan-general-stimulants:before {
  content: "\e95b";
}
.icon-plan-greenhouse:before {
  content: "\e95c";
}
.icon-plan-housing-appartment:before {
  content: "\e95d";
}
.icon-plan-housing-cornered-house:before {
  content: "\e95e";
}
.icon-plan-housing-detached-house:before {
  content: "\e95f";
}
.icon-plan-housing-semidetached:before {
  content: "\e960";
}
.icon-plan-housing-terraced-house:before {
  content: "\e961";
}
.icon-plan-industry:before {
  content: "\e962";
}
.icon-plan-metal-industry:before {
  content: "\e963";
}
.icon-plan-offices-shops:before {
  content: "\e964";
}
.icon-plan-oil-and-fats:before {
  content: "\e965";
}
.icon-plan-own-definition:before {
  content: "\e966";
}
.icon-plan-sugar-industry:before {
  content: "\e967";
}
.icon-plan-waste-management:before {
  content: "\e968";
}
.icon-queue:before {
  content: "\e9f1";
}
.icon-rail-emplacement:before {
  content: "\e969";
}
.icon-rail-transport:before {
  content: "\e96a";
}
.icon-recreation:before {
  content: "\e96b";
}
.icon-recreation-w:before {
  content: "\e99a";
  color: #fff;
}
.icon-returned-deposition-space:before {
  content: "\e96c";
}
.icon-returned-deposition-space-limburg:before {
  content: "\e96d";
}
.icon-road-construction-industry:before {
  content: "\e96e";
}
.icon-road-consumer:before {
  content: "\e96f";
}
.icon-road-farm:before {
  content: "\e970";
}
.icon-road-freeway:before {
  content: "\e971";
}
.icon-road-non-urban:before {
  content: "\e972";
}
.icon-road-other:before {
  content: "\e973";
}
.icon-road-urban:before {
  content: "\e974";
}
.icon-shipping:before {
  content: "\e975";
}
.icon-shipping-dock:before {
  content: "\e976";
}
.icon-shipping-fishing:before {
  content: "\e977";
}
.icon-shipping-inland:before {
  content: "\e978";
}
.icon-shipping-inland-dock:before {
  content: "\e979";
}
.icon-shipping-maritime-inland:before {
  content: "\e97a";
}
.icon-shipping-maritime-mooring:before {
  content: "\e9d2";
}
.icon-shipping-maritime-ncp:before {
  content: "\e97b";
}
.icon-shipping-recreational:before {
  content: "\e97c";
}
.icon-sort-table:before {
  content: "\e91e";
}
.icon-theme-external-safety:before {
  content: "\e99c";
}
.icon-theme-ground:before {
  content: "\e99d";
}
.icon-theme-health:before {
  content: "\e99e";
}
.icon-theme-nitrogen-deposition:before {
  content: "\e99f";
}
.icon-theme-odor:before {
  content: "\e9a0";
}
.icon-theme-particulate-matter:before {
  content: "\e9a1";
}
.icon-theme-sound:before {
  content: "\e9a2";
}
.icon-theme-water:before {
  content: "\e9a3";
}
.icon-traffic-and-transport:before {
  content: "\e97d";
}
.icon-traffic-flow-a-to-b .path1:before {
  content: "\e987";
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-a-to-b .path2:before {
  content: "\e988";
  margin-left: -4.2197265625em;
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-a-to-b .path3:before {
  content: "\e989";
  margin-left: -4.2197265625em;
  color: rgb(255, 255, 255);
}
.icon-traffic-flow-a-to-b .path4:before {
  content: "\e98a";
  margin-left: -4.2197265625em;
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-a-to-b .path5:before {
  content: "\e98b";
  margin-left: -4.2197265625em;
  color: rgb(255, 255, 255);
}
.icon-traffic-flow-a-to-b .path6:before {
  content: "\e98c";
  margin-left: -4.2197265625em;
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-b-to-a .path1:before {
  content: "\e994";
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-b-to-a .path2:before {
  content: "\e995";
  margin-left: -4.2197265625em;
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-b-to-a .path3:before {
  content: "\e996";
  margin-left: -4.2197265625em;
  color: rgb(255, 255, 255);
}
.icon-traffic-flow-b-to-a .path4:before {
  content: "\e997";
  margin-left: -4.2197265625em;
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-b-to-a .path5:before {
  content: "\e998";
  margin-left: -4.2197265625em;
  color: rgb(255, 255, 255);
}
.icon-traffic-flow-b-to-a .path6:before {
  content: "\e999";
  margin-left: -4.2197265625em;
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-both-directions .path1:before {
  content: "\e98d";
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-both-directions .path2:before {
  content: "\e98e";
  margin-left: -4.2197265625em;
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-both-directions .path3:before {
  content: "\e98f";
  margin-left: -4.2197265625em;
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-both-directions .path4:before {
  content: "\e990";
  margin-left: -4.2197265625em;
  color: rgb(255, 255, 255);
}
.icon-traffic-flow-both-directions .path5:before {
  content: "\e991";
  margin-left: -4.2197265625em;
  color: rgb(21, 124, 177);
}
.icon-traffic-flow-both-directions .path6:before {
  content: "\e992";
  margin-left: -4.2197265625em;
  color: rgb(255, 255, 255);
}
.icon-traffic-flow-both-directions .path7:before {
  content: "\e993";
  margin-left: -4.2197265625em;
  color: rgb(21, 124, 177);
}
.icon-traffic-network:before {
  content: "\e9cf";
}
.icon-valid:before {
  content: "\e9cb";
  color: #018b38;
}
.icon-warning .path1:before {
  content: "\e97e";
  color: rgb(246, 137, 34);
}
.icon-warning .path2:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-warning-small:before {
  content: "\e980";
}
.icon-waste-management:before {
  content: "\e981";
}
