/* noto-sans-tc-regular - latin */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans TC Regular'), local('NotoSansTC-Regular'),
       url('noto-sans-tc-v26-latin-regular.woff2') format('woff2'),
       url('noto-sans-tc-v26-latin-regular.woff') format('woff');
}

/* noto-sans-tc-300 - latin */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('noto-sans-tc-v26-latin-300.woff2') format('woff2'),
       url('noto-sans-tc-v26-latin-300.woff') format('woff');
}


/* noto-sans-tc-500 - latin */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('noto-sans-tc-v26-latin-500.woff2') format('woff2'),
       url('noto-sans-tc-v26-latin-500.woff') format('woff');
}

/* noto-sans-tc-700 - latin */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('noto-sans-tc-v26-latin-700.woff2') format('woff2'),
       url('noto-sans-tc-v26-latin-700.woff') format('woff');
}

* {
  font-family: var(--font-family, 'Noto Sans TC', Arial, Sans-Serif);
}
