/* noto-sans-italic - latin */
@font-face {
    font-family: 'Noto Sans Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Noto Sans Italic'), local('NotoSans-Italic'),
    url('../fonts/noto-sans-v27-latin-italic.woff2') format('woff2'),
    url('../fonts/noto-sans-v27-latin-italic.woff') format('woff');
}
