<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.AdditionalLodgingSystem" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.ReductiveLodgingSystem" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.farm.LodgingFodderMeasure" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.components.source.farmlodging.systems.LodgingStackType" />

<div class="measureContainer">
  <validation-behaviour :errors="hasChildErrors"
    :warnings="suggestionWarning"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)" />

  <div class="stackContainer">
    <vertical-collapse-group>
      <farm-additional-lodging-systems-row
        v-for="(AdditionalLodgingSystem row, idx) in additionalLodgingSystems"
        v-debug='"additional-lodging-" + idx'
        :key="idx"
        :idx="idx"
        @errors='trackChildError("additional-" + idx, (boolean) $event)'
        @warnings='trackChildWarning("additional-" + idx, (boolean) $event)'
        :lodgingSystem="row"
        :farmLodgingCategory="farmLodgingCategory"
        @delete="deleteAdditional(idx)" />
    </vertical-collapse-group>
    <vertical-collapse-group>
      <farm-reductive-lodging-systems-row
        v-for="(ReductiveLodgingSystem row, idx) in reductiveLodgingSystems"
        v-debug='"reductive-lodging-" + idx'
        :key="idx"
        :idx="idx"
        @errors='trackChildError("reductive-" + idx, (boolean) $event)'
        @warnings='trackChildWarning("reductive-" + idx, (boolean) $event)'
        :lodgingSystem="row"
        :farmLodgingCategory="farmLodgingCategory"
        @delete="deleteReductive(idx)" />
    </vertical-collapse-group>
    <vertical-collapse-group>
      <farm-fodder-measure-row
        v-for="(LodgingFodderMeasure row, idx) in fodderMeasures"
        v-debug='"fodder-measure-" + idx'
        :key="idx"
        :idx="idx"
        @errors='trackChildError("fodder-" + idx, (boolean) $event)'
        @warnings='trackChildWarning("fodder-" + idx, (boolean) $event)'
        :lodgingSystem="row"
        :farmLodgingCategory="farmLodgingCategory"
        @delete="deleteFodder(idx)" />
    </vertical-collapse-group>
  </div>

  <vertical-collapse>
    <div v-if="suggestionWarning"
      aria-live="polite" role="alert">
      <div class="suggestionWarning" v-debug:suggestionWarning><i class="icon icon-warning-small"></i>{{ i18n.esFarmLodgingStandardWarningRAVStacking() }}</div>
    </div>
  </vertical-collapse>

  <vertical-collapse>
    <simple-listbox v-debug:additionalSystemSelector
      id="additionalSystemSelector"
      class="additionalMeasures"
      v-show="!availableStackTypes.isEmpty()"
      :nameFunction="func(v -> i18n.esFarmLodgingStandardAdditionalType((LodgingStackType) v))"
      :options="availableStackTypes"
      :selected="selectedAdditionalType"
      :placeholder="i18n.esFarmLodgingStandardAdditionalStackTypePlaceholder()"
      :aria-label="i18n.ariaFarmLodgingAdditionalMeasureLabel()"
      @select='selectLodgingSystem((LodgingStackType) $event)' />
  </vertical-collapse>
</div>

<style scoped lang="scss">
@import "../../../../vertical-collapse.scss";
@import "../../../../variables.scss";
@import "../farmlodging.scss";

.measureContainer {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.stackContainer {
  display: contents;
}

.suggestionWarning {
  color: var(--text-color);
  background-color: var(--warning-color-light);
  border: 1px solid var(--warning-color);
  padding: 10px;
  border-radius: var(--default-radius);

  margin: var(--half-spacer) 0px;

  .icon {
    color: var(--warning-color);
    padding-right: 10px;
  }
}

.additionalMeasures {
  height: var(--row-height-generous);
}
</style>
