<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.result.SituationResultsAreaSummary" />
<vue-gwt:import class="elemental2.dom.CustomEvent" />

<div>
  <h2 class="tab-content-title">{{ i18n.resultsChartTitle() }}</h2>
  <div class="collapsible-container">
    <vertical-collapse-group>
      <collapsible-panel
        class="collapsible-panel"
        v-for="(SituationResultsAreaSummary d, idx) in context.getActiveResultSummary().getAreaStatistics()"
        :key="d.getAssessmentArea().getId()"
        :title="getTitle(d)"
        :open="isOpen(d.getAssessmentArea().getId())"
        @user-open="openPanel(d)"
        @user-close="closePanel()">
        <button-icon v-debug='"results-area-zoom-" + idx'
          slot="aux"
          :titleText="i18n.resultsZoomToAreaTitle()"
          class="zoomToArea"
          @click.native.stop='zoomToArea(d)'
          iconClass="icon-map-zoom-to-extend" />
        <deposition-graph-component
          class="graph-container"
          :locale="locale"
          :xaxislabel="i18n.resultsGraphXAxisLabel(displayType, resultType)"
          :yaxislabel="i18n.resultsGraphYAxisLabel(surfaceType)"
          :yaxisfactor="yAxisFactor"
          :data="getDistributionData(d)"
          :selectedranges="selectionContext.getSelectedLowerBoundValues().toString()"
          :colorRangeDefinition="getColorRangeDefinition()"
          @onBarSelect="selectBar((CustomEvent) $event)"
          @onBarDeselect="deselectBar((CustomEvent) $event)" />
      </collapsible-panel>
    </vertical-collapse-group>
  </div>
</div>

<style lang="scss" scoped>
@import "../result-view.scss";

.graph-container {
  width: 100%;
  height: 400px;
  background: white;
  overflow: auto;
}
</style>
