<div>
  <validation-behaviour :errors="isInvalid"
    :warnings="hasChildWarnings"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input
    :label="vehicleType.getDescription()"
    :name='"numberOfVehicles" + "_" + vehicleType.getCode()'>
    <div class="roadTypeRow"
      :class='map("singleColumn", !stagnationEnabled)'>
      <input
        :id='"numberOfVehiclesRow_" + vehicleType.getCode()'
        type="number"
        min="0.000000"
        step="any"
        v-validate:numberOfVehiclesV.input
        :class='map(e("error-input", isNuberOfVehiclesInvalid))'
        v-model="numberOfVehicles"
        :placeholder="0"
        :aria-label='"numberOfVehiclesInput" + "_" + vehicleType.getCode()'>
      <input-with-unit :unit="i18n.unitSingularPercentage()"
        :unitDescription="i18n.unitSingularPercentageDescription()"
        v-if="stagnationEnabled">
        <input class="numberInputUnit"
          type="number"
          min="0.0"
          max="100"
          step="0.1"
          v-validate:stagnationFractionV.input
          :class='map(e("error-input", isStagnationFractionInvalid))'
          v-model="stagnationFraction"
          :placeholder="0"
          :aria-label='"stagnation" + "_" + vehicleType.getCode()'
          v-debug='"EmissionSourceRoadStagnationRow_" + vehicleType.getCode()'>
      </input-with-unit>
    </div>
  </labeled-input>
  <input-error
    :errorValidation="v.numberOfVehiclesV"
    :errorMessage="this::errorNumberOfVehicles" />
  <input-error
    :errorValidation="v.stagnationFractionV"
    :errorMessage="this::errorStagnationFraction" />
</div>

<style scoped lang="scss">
@import "../../road.scss";
@import "../../../../components/input/inputs.scss";

.error-input {
  border: solid 1px var(--border-color);
}

.roadTypeRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--half-spacer);

  &.singleColumn {
    grid-template-columns: 1fr;
  }
}
</style>
