<vue-gwt:import class="nl.overheid.aerius.shared.domain.sector.category.SimpleCategory" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.source.road.TrafficDirection" />
<vue-gwt:import class="nl.overheid.aerius.shared.domain.v2.base.TimeUnit" />
<vue-gwt:import class="nl.overheid.aerius.wui.application.domain.source.road.ValuesPerVehicleType" />

<div class="standardEmissionsContainer">
  <validation-behaviour :errors="isInvalid || hasChildErrors"
    :warnings="false"
    @errors="emitErrors((boolean) $event)"
    @warnings="emitWarnings((boolean) $event)"
    @display-problems="displayProblems((boolean) $event)" />

  <labeled-input v-if="isSpeedCategoriesAvailable()"
    class="speedCategories"
    :label="i18n.esRoadStandardRoadSpeed()"
    name="roadSpeedInput"
    :errorValidation="v.roadSpeedV"
    :errorMessage="this::roadSpeedRequiredError">
    <select v-model="maximumSpeed"
      v-if="maximumSpeedDropDown"
      v-validate:roadSpeedV.input
      v-debug:emissionSourceRoadMaxSpeed>
      <option value="" hidden disabled>{{ i18n.dropdownPlaceholder() }}</option>
      <option v-for="String maximumSpeed in maximumSpeedCategories" :value="maximumSpeed">{{ getMaximumSpeedMessage(maximumSpeed) }}</option>
    </select>
    <input-with-unit :unit="i18n.unitSingularKmPerH()"
      :unitDescription="i18n.unitSingularKmPerHDescription()"
      v-if="!maximumSpeedDropDown">
      <input v-model="maximumSpeed"
        v-validate:roadSpeedV.input
        v-debug:emissionSourceRoadMaxSpeed
        class="numberInputUnit"
        type="number"
        min="0"
        max="200">
      </input>
    </input-with-unit>
  </labeled-input>

  <div v-if="trafficDirection == TrafficDirection.BOTH"
    class="bothDirectionWarning">{{ i18n.esRoadStandardDrivingDirectionWarning() }}</div>

  <labeled-input :label="i18n.esRoadStandardVehicles()"
    :transparent="true">
    <div class="timeUnitHeader"
      :class='map("singleColumn", !stagnationEnabled)'>
      <select slot="label" id="timeUnit"
        v-model="timeUnit">
        <option v-for="TimeUnit tu in TimeUnit.values()" :value="tu.name()">{{ i18n.unitTime(tu) }}</option>
      </select>
      <div v-if="stagnationEnabled">{{ i18n.esRoadStandardStagnation() }}</div>
    </div>
  </labeled-input>
  <road-standard-vehicle-type-row v-for="SimpleCategory item in vehicleTypes"
    @errors='trackChildError("vehicleType-" + item.getCode(), (boolean) $event)'
    @warnings='trackChildWarning("vehicleType-" + item.getCode(), (boolean) $event)'
    :stagnationEnabled="stagnationEnabled"
    :vehicleType="item"
    :valuesPerVehicleType="valuesPerVehicleType"
    :timeUnit="TimeUnit.valueOf(timeUnit)" />
</div>

<style scoped lang="scss">
@import "../../../../components/input/inputs.scss";
@import "../../road.scss";

.timeUnitHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--back-color);
  gap: var(--half-spacer);

  &.singleColumn {
    grid-template-columns: 1fr;
  }

  div {
    padding: 0px var(--half-spacer);
  }
}

.speedCategories {
  margin-bottom: var(--spacer);
}

.standardEmissionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-spacer);
}

.bothDirectionWarning {
  font-style: italic;
}

</style>
